.site-hero,
.hero-nopad {
  background-color: $gray-hero;
  background-position: 50% 50%;
  background-size: cover;
  color: $gray-lightest;
  height: 70%;
  position: relative;

  @media all and (max-width: $bp-med) {
    overflow: hidden;
  }

  .lc {
    height: 100%;
    position: relative;
  }

  .hero-text {
    background-color: rgba(#000, 0.7);
    border-radius: 4px;
    bottom: 2em;
    padding: $space;
    position: absolute;
    width: 100%;
    z-index: 5;

    @media all and (min-width: $bp-small) {
      width: 60%;
    }

    @media all and (min-width: $bp-large) {
      width: 35%;
    }

    a {
      border-bottom: 1px dotted $white;
      color: $white;

      &:hover,
      &:focus {
        border-color: $accent;
        color: $accent;
      }
    }
  }

  .attribution {
    bottom: 4px;
    position: absolute;
    right: 4px;
    z-index: 9;

    @media all and (min-width: $bp-small-2) {
      right: 0;
    }
  }

  h1,
  h2 {
    font-family: $font-secondary;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: $space-half;
    text-transform: uppercase;
  }
}

.site-hero {
  margin-top: $globalnavheight;
  @media all and (min-width: $bp-small) {
    height: 50%;
  }
}
