@import 'shared-styles/assets/sass/scss/generic/variables-colours';

.tabs li {
  &.disabled {
    background-color: $offwhite;
    pointer-events: none;
    a {
      color: $gray-lighter;
    }
  }
  a {
    cursor: auto;
  }
}
