@charset "UTF-8";

/* Variables */
@import 'shared-styles/assets/sass/scss/generic/variables';

/* Mixins */
@import 'shared-styles/assets/sass/scss/generic/mixins';

/* SITE SPECIFIC VARIABLE OVERRIDES HERE */

/* Reset */
@import 'shared-styles/assets/sass/scss/generic/reset';

/* GLOBAL ELEMENTS */
@import 'shared-styles/assets/sass/scss/base/global-classes';
@import 'shared-styles/assets/sass/scss/base/main';
@import 'shared-styles/assets/sass/scss/base/lists';
@import 'shared-styles/assets/sass/scss/base/forms';
@import 'shared-styles/assets/sass/scss/base/text';
@import 'shared-styles/assets/sass/scss/base/links';

@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

/* PAGE STRUCTURE */
@import 'shared-styles/assets/sass/scss/objects/header';
@import 'shared-styles/assets/sass/scss/objects/blocks/site-hero';

/* NAVIGATION */
@import 'shared-styles/assets/sass/scss/objects/nav';

/* Metis */
@import 'shared-styles/assets/sass/pandora/base/helpers';
@import 'shared-styles/assets/sass/pandora/settings/metis-variables';
@import 'shared-styles/assets/sass/pandora/components/dashboard-header';
@import 'shared-styles/assets/sass/pandora/components/modal';
@import 'shared-styles/assets/sass/pandora/components/status-bullet';

@import 'assets/sass/links';
@import 'assets/sass/modal';
@import 'assets/sass/orbs';
@import 'assets/sass/submit-button';

body.theme-classic {
  @import 'assets/sass/themes/theme-classic/theme-classic';
  @import 'assets/sass/focus';

  background-color: #f4f4f1;
  color: $eu-grey-dark;
}

body.theme-white {
  @import 'assets/sass/themes/theme-white/theme-white';
  @import 'assets/sass/focus';

  background-color: #fff;
  color: $black;
}

input,
label,
select {
  &.disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

.asterisked::after {
  content: ' *';
}

.bold {
  font-weight: bold;
}

.code,
.dc-field {
  font-family: Courier, courier new, serif;
}

.errors,
.error-message {
  background-color: $white;
  border: 1px solid $eu-red-error;
  color: $eu-red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.75em;
  padding: 0.5em;
}

.errors {
  .error-detail {
    font-weight: normal;
    list-style: disc;
    margin-left: 16px;
  }

  .heading {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      height: 12px;
      width: 13px;
      background: svg-url-icon-warning($eu-red-error) center no-repeat;
      margin: 2px 2px 0 0;
    }
  }
}

.field-errors,
.messages {
  display: block;
  margin-top: 1em;
}

.header-wrapper header {
  height: $fixed-header-height;
}

.hidden {
  display: none;
}

.pusher {
  display: flex;
  flex-direction: column;
}

.separator-line {
  display: block;
  height: 1px;
  margin: 1.6em 0;

  &:not(:empty) {
    margin: 50px 0;
  }

  > * {
    position: relative;
    top: -1.5em;
  }
}

.cross::after,
.tick::after {
  // the background-image is set by the theme!
  content: '';
  display: inline-block;
  position: relative;
}

.tick::after {
  transform: scale(0.8);
  height: 12px;
  left: 3px;
  width: 16px;
}

.cross::after {
  height: 16px;
  left: 0;
  width: 16px;
}

.sandbox-navigation button:not(.submit-button) {
  background: $eu-jade-classic;
  border: 1px solid $eu-jade-dark;
  border-radius: 1.5em;
  font-weight: bold;

  &.next,
  &.previous {
    padding: 0;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
    &::after {
      content: '\25B2';
      transform-origin: top;
    }
  }
  &:hover {
    background-color: $white;
    color: $eu-jade-darker;
  }

  &:active {
    border-color: $eu-light-orange;
    color: $eu-light-orange;
  }

  &:focus-visible {
    outline: 1px solid $eu-orange;
  }

  &.next::after {
    left: 1rem;
    transform: rotate(90deg);
  }
  &.previous::after {
    left: -1rem;
    transform: rotate(270deg);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.5);
  }
}

::-webkit-scrollbar-track {
  border: 1px solid $eu-green-light;
}
::-webkit-scrollbar {
  background-color: $eu-light-jade-classic;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 9px rgba(55, 185, 139, 0.75);
  border: 2px solid transparent;
  // this doesn't work due to a bug in chrome
  cursor: pointer;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 5px;
  cursor: pointer !important;
}

html {
  scrollbar-color: rgba(55, 185, 139, 0.75) $eu-green-light;
}

.capitalise {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.lowercase {
  text-transform: lowercase;
}

.semi-colon::after {
  content: ':';
}

*:focus-visible {
  outline: 0;
}

.form-group-radios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  & > * {
    width: 33.33%;
  }
}

.sub-nav-description {
  display: block;
  padding-bottom: 2em;
}

.sub-nav-header {
  display: block;
  font-weight: bold;
  margin-bottom: 12px;
}

.term-highlight {
  background-color: lemonchiffon;
  font-weight: bold;
}
