@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$unicodeArrow: '\2304';

.cell-record-id {
  margin-top: 1em;
}

.tier-data-grid {
  margin-top: 1em;
  &.hidden {
    display: none;
  }
}

.tier-data-grid,
.inner-grid {
  & > :not(.grid-header):not(.tiers-header):not(.inline) {
    display: block;
  }
}

.field-label-mobile {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.7em;

  &::after {
    content: ':';
  }
}

.line-left {
  &:not(.grid-header) {
    border-left: 1px solid #ccc;
  }
}

.no-results {
  grid-column: 1/5;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1em 4px 1em 3em !important;
  border-left: #ccc;
  margin-bottom: 1em;
  list-style: disc;
  :first-child {
    list-style: none;
  }
}

.no-results-advice {
  font-style: italic;
  margin: 1em 0 0 2em;
}

.search-header {
  align-items: center;
  display: flex;
  padding-top: 0;
  margin-top: -4px;

  input {
    padding: 4px;
    max-width: 12em;
    &:not(:focus):not(:focus-visible) {
      border: 0;
    }
  }

  .search-icon {
    background: svg-url-icon-search(#999) center no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: 4px;
    width: 20px;

    &.active {
      background: svg-url-icon-search($eu-light-orange) center no-repeat;
    }
  }
}

.sort-toggle {
  &.active {
    position: relative;
    color: $gray-light;
    &.left::before,
    &.right::after {
      position: absolute;
      top: 5px;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 0;
    }

    &.left::before {
      left: -0.9em;
    }
  }
}

.sort-asc,
.sort-desc {
  .sort-toggle.active {
    &.left::before,
    &.right::after {
      content: $unicodeArrow;
    }
  }
}

.sort-asc {
  .sort-toggle.left::before,
  .sort-toggle.right::after {
    transform: rotate(180deg);
    top: 15px;
  }
}

.grid-header {
  display: none;
  font-weight: bold;
  white-space: nowrap;

  &.child-active .sort-toggle {
    color: $gray-light !important;
  }

  &.average {
    position: relative;

    &::before {
      content: '*';
      position: absolute;
      top: 50%;
      left: 50%;
      pointer-events: none;
      transform: translate(-50%, -46%);
      font-size: 32px;
      font-weight: bold;
    }
    &.active,
    &:hover {
      color: $gray-light;
    }
    &.highlighted-sort {
      color: $eu-light-orange;
    }
  }

  &.metadata-tier-header {
    padding: 4px 6px 4px 1.75em;
  }

  &.content-tier-header {
    padding: 4px 1em 10px 6px;
  }

  &.content-tier {
    background: svg-url-icon-content-tier($eu-grey-dark);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center 5px;

    &.active,
    &:hover {
      background-image: svg-url-icon-content-tier($gray-light);
    }
    &.highlighted-sort {
      background-image: svg-url-icon-content-tier($eu-light-orange);
    }
  }

  &.license {
    background: svg-url-icon-copyright($eu-grey-dark);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center 6.5px;

    &.active,
    &:hover {
      background-image: svg-url-icon-copyright($gray-light);
    }
    &.highlighted-sort {
      background-image: svg-url-icon-copyright($eu-light-orange);
    }
  }

  &.lang {
    background: svg-url-icon-speech-bubble($eu-grey-dark) center no-repeat;
    background-size: 20px 16px;
    &.active,
    &:hover {
      background-image: svg-url-icon-speech-bubble($gray-light);
    }
    &.highlighted-sort {
      background-image: svg-url-icon-speech-bubble($eu-light-orange);
    }
  }

  &.element {
    background: svg-url-icon-xml($eu-grey-dark) center no-repeat;
    background-size: 20px 20px;
    background-position: center 9px;
    &.active,
    &:hover {
      background-image: svg-url-icon-xml($gray-light);
    }
    &.highlighted-sort {
      background-image: svg-url-icon-xml($eu-light-orange);
    }
  }

  &.class {
    background: svg-url-icon-classes($eu-grey-dark) center no-repeat;
    background-size: 24px 18px;
    background-position: center 9px;
    &.active,
    &:hover {
      background-image: svg-url-icon-classes($gray-light);
    }
    &.highlighted-sort {
      background-image: svg-url-icon-classes($eu-light-orange);
    }
  }

  &.grid-sub-header a {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
  }

  &.highlighted-sort.active::after,
  .highlighted-sort {
    color: $eu-light-orange;
  }
}

.license-locked {
  background: svg-url-icon-license-locked($eu-grey-dark) center no-repeat;
}

.license-open {
  background: svg-url-icon-license-open($eu-grey-dark) center no-repeat;
}

.license-restricted {
  background: svg-url-icon-license-restricted($eu-grey-dark) center no-repeat;
}

.license-open,
.license-restricted,
.license-locked {
  background-size: 22px;
}

.grid-sub-header {
  position: relative;
  &.active::after {
    bottom: -3px;
    color: $gray-light;
    pointer-events: none;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
  }
}

.sort-asc,
.sort-desc {
  .grid-sub-header.active::after {
    content: $unicodeArrow;
  }
  &.sort-asc .grid-sub-header.active::after {
    transform: rotate(180deg);
    bottom: -11px;
  }
}

.inner-grid {
  padding: 0;
  .tiers-header {
    height: 0;
  }
}

.summary-value-title {
  grid-column: 1/3;
  text-align: right;

  .summary-value {
    background-color: $white;
    font-weight: bold;
  }
}

.summary-value {
  display: none;
  font-weight: bold;
  height: 2em;
  padding: 4px 8px;
  margin: 0 -4px;
  position: relative;
  transform: translateY(12px);

  &:not(.long-value) {
    width: 1.5em;
  }

  &.license-locked {
    background: svg-url-icon-license-locked($white) center no-repeat;
  }

  &.license-open {
    background: svg-url-icon-license-open($white) center no-repeat;
  }

  &.license-restricted {
    background: svg-url-icon-license-restricted($white) center no-repeat;
  }
}

.summary-values-mobile {
  li {
    list-style: disc;
  }
  ul {
    margin-left: 1em;
  }
}

@media (min-width: $bp-med) {
  .center {
    text-align: center;
  }

  .cell-inner-grid {
    grid-column: 1/9;
    overflow-y: auto;
    max-height: 202px;
    max-width: 100%;
    width: 100%;
  }

  @supports (not (-moz-appearance: none)) {
    .cell-inner-grid {
      margin-right: -14px;
      max-width: none;
      width: auto;
    }
  }

  .cell-record-id {
    grid-column: 1/3;
    line-height: 2em;
    margin-top: 0;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .summary-value {
    display: inline-block;
  }
  .summary-values-mobile {
    display: none;
  }

  .tier-data-grid,
  .inner-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .tier-data-grid {
    > :not(.cell-inner-grid):not(.tiers-header) {
      padding: 4px 6px;
    }
    > .grid-header {
      padding-bottom: 0.4em;
    }
  }

  .inner-grid {
    > :not(.pie-placeholder):not(.grid-header):not(.tiers-header):not(.cell-record-id) {
      padding: 4px 6px;
    }
  }

  .field-label-mobile {
    display: none;
  }

  .grid-header {
    display: block;
    &.search-header {
      display: flex;
      grid-column: 1/3;
    }
  }

  .highlight {
    background-color: $eu-grey-light;
  }

  .nowrap {
    white-space: nowrap;
  }

  .tiers-header {
    grid-column: 3/9;
    display: flex;
  }

  .record-id-header {
    grid-column: 1/3;
  }

  .pie-placeholder {
    grid-area: 1/1/1/3;
  }

  .pie {
    grid-area: 1/1/5/3;
    text-align: center;
    padding: 10%;

    canvas {
      margin: 0 5% 2% 0;
    }
  }

  .pie-legend {
    grid-area: 1/3/2/9;
  }
}

@media (min-width: $bp-large) {
  .inner-grid,
  .tier-data-grid {
    grid-template-columns: 5fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .content-tier-header,
  .metadata-tier-header {
    width: 50%;
  }

  .metadata-tier-header {
    text-align: right;
    padding: 4px 6px 4px 1.4em;
  }

  .line-left.grid-header {
    border-left: 1px solid #ccc;
  }

  .pie-placeholder {
    grid-area: 1 / 1 / 1 / 2;
  }

  .pie {
    grid-area: 1 / 1 / 4 / 2;
  }

  .pie-legend {
    grid-area: 1 / 2 / 2 / 9;
  }

  .record-id-header {
    grid-column: 2/3;
  }

  .grid-header {
    &.content-tier-header {
      border-bottom: 1px solid #ccc;
      border-image: linear-gradient(to left, #ccc 2.9em, transparent 2.9em) 100% 1;
    }
    &.search-header {
      grid-column: 2/3;
      transform: translateX(-1.5em);
    }
  }
}
