@use 'shared-styles/assets/sass/pandora/settings/metis-variables-modal';
@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@use 'shared-styles/assets/sass/scss/mixins/btn-close';

@include btn-close.btnClose(variables-colours.$eu-grey-dark);

$debias-header-width: 40%;
$transition-time-open: 0.3s;

.debias {
  color: variables-colours.$gray-light;
  height: calc(metis-variables-modal.$modal-content-max-height - 2rem);
  margin: -1rem -1rem -1rem -1rem;
  position: relative;

  &:not(.detail-mode)::before {
    content: '';
    position: absolute;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    background: svg-icons-metis.svg-url-debias(variables-colours.$eu-jade) 50% 50% no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity linear 0.4s;
  }

  &.empty-report::before {
    opacity: 0.4;
  }

  &:has(.debias-header:not(.closed)) .csv-download {
    z-index: 0;
  }

  a {
    word-break: break-all;
  }

  .btn-close {
    position: sticky;
    right: -0.375em;
    top: -1em;
    transform: scale(0.5) translateY(-0.25em);
  }
}

.no-bias-found {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.debias-detail,
.debias-detection-grid {
  .title {
    color: variables-colours.$eu-grey-dark;
  }
}

.debias-detail {
  padding: 1.25em 2.375em 1em 2.125em;

  ul {
    list-style: disc;
    margin-left: 1.4em;
  }

  .title {
    margin-right: 0.4em;
  }

  .debias-detail-field + .debias-detail-field {
    margin-top: 1em;
  }
}

.debias-detection-grid {
  display: grid;
  grid-template-columns: 1fr 14fr;
  grid-column-gap: 1em;
  padding: 1em 0 1em 1em;
  position: relative;

  &:not(:first-of-type:last-of-type) {
    &::after {
      border-bottom: 1px solid variables-colours.$eu-grey-middle;
      bottom: 0;
      content: '';
      left: -1em;
      position: absolute;
      width: 100vw;
    }
  }

  & > :not(.title) {
    padding: 0.25em 2.25em 0.25em 0.25em;
  }

  .code {
    line-height: 1.6em;
    padding-top: 0.375em;
    padding-bottom: 0.125em;
  }

  .title {
    padding: 0.25em 0.25em 0.25em 1.125em;
  }
}

.title {
  font-weight: 600;
  &::after {
    content: ':';
  }
}

.title {
  white-space: nowrap;
}

.mini-controls {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  float: left;
  margin-bottom: -100%;
  position: sticky;
  top: -0.5em;
  width: 2em;
  z-index: 2;
}

.btn-close-detail,
.csv-download,
.open-info {
  background: #fff;
  border-radius: 50%;
  line-height: 0.825em;
  margin-bottom: 0.125em;
  height: 1em;
  width: 1em;
}

.csv-download {
  background-image: svg-icons-metis.svg-url-icon-download(#fff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px;
  border: 0.1em solid #fff;
  cursor: pointer;
  display: block;
}

.btn-close-detail {
  display: block;
  margin: 0.25em 0 0 0.125em;

  &::after {
    content: '\25b6';
    font-size: 11px;
    display: inline-block;
    transform: rotate(180deg) translate(-1.5px, 1.5px);
  }
}

.debias-header {
  background-color: variables-colours.$white;
  background-image: svg-icons-metis.svg-url-debias(variables-colours.$eu-grey-light);
  background-size: calc(100% - 3em);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 1em;
  border-right: 1px solid variables-colours.$eu-grey-middle;
  clear: both;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  margin-bottom: -1em;
  margin-right: -100%;
  max-height: calc(metis-variables-modal.$modal-content-max-height - 2rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 1.5em;
  position: relative;
  transform: translateX(0);
  transition: transform $transition-time-open linear;
  width: $debias-header-width;
  z-index: 1;

  &.closed {
    transform: translateX(-100%);
  }

  &.scrollable-upwards::before,
  &.scrollable-downwards::after {
    content: '';
    display: inline-block;
    height: 2em;
    left: 0;
    min-height: 2em;
    position: sticky;
    right: 12px;
  }

  &.scrollable-upwards::before {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    transform: translateY(-1em);
    top: 0;
    margin-bottom: -2em;
  }

  &.scrollable-downwards::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    transform: translateY(1em);
    bottom: 0;
    margin-top: -2em;
  }

  p {
    font-size: 14px;

    & + p {
      margin-top: 1em;
    }

    &:first-of-type {
      padding-top: 3em;
    }
  }
}

@media (min-width: variables-bp.$bp-med) {
  .debias-header p:first-of-type {
    padding-top: 4em;
  }
}
@media (min-width: variables-bp.$bp-xl) {
  .debias-header p:first-of-type {
    padding-top: 7em;
  }
}
@media (min-width: variables-bp.$bp-xxl) {
  .debias-header p:first-of-type {
    padding-top: 8em;
  }
}

.debias-overlay {
  background: #000;
  bottom: 0;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: left $transition-time-open linear, opacity $transition-time-open linear;
  z-index: 0;

  &.active {
    height: 100%;
    left: $debias-header-width;
    opacity: 0.5;
    z-index: 3;
  }
}
