<ng-template #tmpDetail let-model="model">
  <!--
  skos:Concept
  (model)

  A description of the issue (the value of skos:definition). Note: this will be in the language of the detected term (not necessarily English).

  Suggestion for addressing the issue (the value of skos:scopeNote). Note: there are multiple occurrences of this field. We should show the one in English if available, otherwise the one in the same language as the detected term.

  Alternative terms to use (that are not contentious). They are all the occurrences of the skos:altLabel  (there may be multiple occurrences, they are to be comma-separated).

  Literature references (all the values of skos:note). Note: there may be multiple occurrences of this field, which will then be displayed as a bulleted list.
  -->
  <div class="debias-detail">
    <span>{{ model }}</span
    ><a (click)="closeDebiasDetail()" class="btn-close"></a>
    <p class="debias-detail-field">
      <span class="title">Detected contentious term</span>
      <span>Aboriginal</span>
    </p>
    <p class="debias-detail-field">
      <span class="title">Description (in original language)</span>
      <span>
        ‘Aboriginal’ describes the original inhabitants of a place and is primarily used to refer to
        Indigenous peoples in Australia and Canada (see also ‘Indigenous’). The term does not
        adequately describe the complexity and diversity of Indigenous peoples. Many Indigenous
        peoples in both countries do not like to be referred to as ‘Aboriginal’, preferring to
        emphasise other markers of their identity such as language, land and clan relationships.
      </span>
    </p>
    <p class="debias-detail-field">
      <span class="title">Suggestion for addressing the issue</span>
      <span>
        Adopt the terminology used and accepted as respectful by people from the community
        themselves.
      </span>
    </p>
    <p class="debias-detail-field">
      <span class="title">Suggested alternative terms</span>
      <span>
        First Nation(s) people(s), Aboriginal people(s), Indigenous people(s), Aboriginal
        Australians.
      </span>
    </p>
    <p class="debias-detail-field">
      <span class="title">Source</span>
      <span>
        Tropen Museum et al., eds., “Words Matter: An Unfinished Guide to Word Choices in the
        Cultural Sector,” 2018, 90.
        https://www.materialculture.nl/sites/default/files/2018-08/words_matter.pdf.pdf.
      </span>
    </p>
  </div>
</ng-template>

<div
  class="debias"
  [ngClass]="{
    'detail-mode': debiasDetailOpen,
    'empty-report':
      !debiasReport ||
      (debiasReport &&
        debiasReport.state !== DebiasState.COMPLETED &&
        debiasReport.detections.length === 0)
  }"
>
  <ng-container *ngIf="debiasReport">
    <span
      *ngIf="debiasReport.state === DebiasState.COMPLETED && debiasReport.detections.length === 0"
      class="no-bias-found tick"
      >No Biases Found</span
    >

    <a
      class="open-info"
      (click)="toggleDebiasInfo($event)"
      (keydown.enter)="toggleDebiasInfo($event)"
      title="Debias Tool Information"
      tabindex="0"
    ></a>

    <a
      *ngIf="debiasReport.state === DebiasState.COMPLETED && debiasReport.detections.length"
      class="csv-download"
      (click)="csvDownload()"
      (keydown.enter)="csvDownload()"
      title="CSV Download"
      tabindex="0"
      [attr.inert]="debiasHeaderOpen ? true : null"
    ></a>

    <div
      class="debias-header"
      #scrollInfo="scrollInfo"
      appIsScrollable
      [ngClass]="{
        closed: !debiasHeaderOpen,
        'scrollable-downwards': scrollInfo.canScrollFwd,
        'scrollable-upwards': scrollInfo.canScrollBack
      }"
      tabindex="-1"
    >
      <p>
        This is functionality that allows you to check your dataset for biased terms after your
        dataset has finished processing.
      </p>

      <p>
        If this bias detection is triggered, the values in certain fields of each successfully
        processed record are analyzed, provided that they have a valid language qualification
        (xml:lang attribute) and that this language is one of five supported languages (Dutch,
        English, French, German and Italian).
      </p>

      <p>
        Once processing is complete, you will be able to access a full listing of any contentious
        terms that were found in the analyzed field values.
      </p>

      <p>
        This functionality is one of the results of the de-bias project (2023 - 2024) and is
        provided as-is.
      </p>

      <p *ngIf="'https://pro.europeana.eu/project/de-bias'; let linkUrl">
        For more information see:
        <a
          [href]="linkUrl"
          [attr.tabindex]="debiasHeaderOpen ? 0 : -1"
          target="_blank"
          class="external-link-debias"
          >{{ linkUrl }}</a
        >.
      </p>
    </div>

    <div
      class="debias-overlay"
      *ngIf="debiasReport.detections"
      [ngClass]="{ active: debiasHeaderOpen }"
      (click)="closeDebiasInfo($event)"
      (keydown.enter)="closeDebiasInfo($event)"
    ></div>

    <ng-container *ngIf="debiasDetailOpen">
      <ng-content *ngTemplateOutlet="tmpDetail; context: { model: 'hello' }"></ng-content>
    </ng-container>

    <ng-container *ngIf="!debiasDetailOpen && debiasReport.detections">
      <sb-skip-arrows #skipArrows>
        <div
          class="debias-detection-grid"
          *ngFor="let detection of debiasReport.detections"
          #elementList
          [attr.inert]="debiasHeaderOpen ? true : null"
        >
          <span class="title">Europeana Id</span>

          <a
            href="{{ apiSettings.previewUrlPrefix }}/item{{ detection.europeanaId }}"
            target="_blank"
            rel="opener"
            class="external-link-debias"
            [attr.data-linkText]="detection.europeanaId"
          ></a>
          <span class="title">Field</span>
          <span class="code">{{ detection.sourceField | formatDcField }}</span>
          <span class="title">Language</span>
          <span class=""
            >{{ detection.valueDetection.language }} ({{
              detection.valueDetection.language | formatLanguage
            }})</span
          >
          <span class="title">Literal</span>
          <span
            [innerHTML]="
              detection.valueDetection.literal
                | highlightMatchesAndLink: [detection.valueDetection.tags]
            "
          >
          </span>
        </div>
      </sb-skip-arrows>
    </ng-container>
  </ng-container>
</div>
