.section {
  @extend .cf;
  margin-bottom: $space-double;
}

.section-title {
  margin-bottom: $space-half;
  text-transform: uppercase;
}

.strapline {
  background-color: $blue-dark;
  color: $white;
  line-height: 1.2;
  text-align: center;

  @media all and (min-width: $bp-small) {
    @include fontSize(10px);
  }

  @media all and (min-width: $bp-med) {
    @include fontSize(16px);
  }

  a {
    border-bottom: 1px dotted $white;
    color: $white;
  }
}

// Section "More" link

.link-more {
  color: $textcolour_link;
  font-weight: bold;

  .section-title &{
    @include fontSize(14px);
    margin-left: 1em;
  }
}

.section.quickinfo {
  background-color: $offwhite;
  padding-top: $space;

  h2 {
    @include fontSize(24px);
    color: $textcolour_head;
    margin-bottom: $space-double;
  }

  .lc {
    border-bottom: 1px solid $grey3;
  }
}

.primaryaction {

  @include fontSize(18px);

  background-color: $white;
  border: 1px solid $grey3;
  margin-bottom: $space;
  padding: $space + $space-half $space;

  ul {
    margin-bottom: $space-double;

    a{
      border-bottom: 1px dotted $eu-blue;
    }
  }

  li{
    margin-bottom: $space-half;
  }
}

.usefulinfo-links {
  @include fontSize(18px);
  font-weight: bold;
  margin-bottom: $space;
  padding-bottom: 1px;

  li {
    margin-bottom: $space;
  }

  a {
    border-bottom: 1px dotted $eu-blue;
  }
}

.usefulinfo{
  padding-top: $space + $space-half;
}
.usefulinfo-item{
  margin-bottom: $space;

  h3 {
    margin-bottom: $space;
    text-transform: uppercase;
  }
}

.usefulinfo-secondary {
  .usefulinfo-item {
    border-top: 1px solid $grey3;
    padding-top: $space;
  }
}

.banner {
  @include fontSize(18px);
  background-color: $accent;
  color: $white;
  padding: $space;
  padding-top: $space-double;

  .lc > div {
    margin-bottom: $space;
  }

}
