.tabs {
  font-family: $font-secondary;
  margin-bottom: $space;
  overflow: hidden;

  a {
    background: $gray-light;
    display: block;
    padding: $pad;

    &:hover,
    &:focus,
    &:active {
      background: $black;
      color: $white;
    }

    &.active {
      background: $black;
      color: $white;
    }
  }
}

.tabs-h {
  ul {
    border-bottom: 5px solid $black;
    display: table;
    width: 100%;

    li {
      border-right: 5px solid $white;
      display: table-cell;

      &:last-child {
        border-right: 0;
      }
    }
  }

  a {
    padding-bottom: $pad-half;
    text-align: center;
  }
}

.tabs-v {
  a {
    background-color: transparent;
    border-bottom: solid 1px $gray-light;
  }
}
