%tag{
  @include fontSize(13px);
  -webkit-border-radius: 0 10em 10em 0;
  border-radius: 0 10em 10em 0;
  color: $textcolour_body;
  display: inline-block;
  font-weight: bold;
  margin: 0 .2em .5em 0;
  margin-right: .2em;
  padding: .35em 1em .35em .5em;
  position: relative;
  text-transform: uppercase;
}

.tags a{
  @extend %tag;
}

ul.tags li {
  display: inline-block;
}

.tag,
a.tag {
  @extend %tag;
  background-color: $textcolour_highlight;
  color: $white;

  &:hover,
  &.is-active {
    $i: darken($textcolour_highlight, 20);
    background-color: $i;
    text-decoration: none;
  }
}
