.font-secondary {
  font-family: $font-secondary;
}

.intro {
  font-size: 1.5625em;
}

.pullquote {
  @include font-size(2);
  border-left: 0;
  color: $textcolour_head;
  line-height: 1.2;
  padding: $space;
  position: relative;

  &::before,
  &::after {
    @include font-size(4);
    color: $textcolour_head;
  }

  &::before{
    content: '\201C';
    left: $space;
    line-height: 0.1em;
    position: absolute;
    top: 0.4em;
  }

  @media all and (min-width: $bp-small-3) {
    float: right;
    width: 45%;
  }
}

.caption{
  border-top: 1px solid $grey2;
  color: $textcolour_body;
  padding-top: 0.4em;
}

.caption-text{
  display: block;
  font-size: $font-size-sm;
  max-width: 12em;
}
