@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.view-statistics {
  .toggle-expand {
    display: none;
  }

  .view-sample-editor > div {
    height: 40vh;
    overflow: auto;
    padding: 1rem;
    text-align: left;

    > ul > li {
      margin-bottom: 1rem;
    }

    ul ul {
      margin-left: 2rem;
    }
  }
}

.view-statistics.view-sample-expanded {

  .toggle-expand {
    display: inline-block;
  }

  .view-sample-editor > div {
    height: 60vh;
  }
}

.btns-set {
  justify-content: space-between;

  &.btns-set-save {
    justify-content: flex-end;
    margin-top: -2.5rem;
  }
}

.filter {
  margin: 0;
}

.btns-set button {
  background: $gray-light;
  margin-left: 1rem;

  &:hover,
  &.active {
    background: $eu-jade;
  }
}
