@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.success-message .svg-icon-spin-inbutton {
  padding-left: 0;
  &::after {
    top: -0.1rem;
  }
}

.view-statistics {
  .toggle-expand {
    display: none;
  }

  .view-sample-editor > div {
    border-bottom: 1px solid $offwhite;
    box-sizing: border-box;
    height: 40vh;
    overflow: auto;
    padding: 1rem;
    text-align: left;

    > ul > li {
      margin-bottom: 1rem;
    }

    ul ul {
      margin-left: 2rem;
    }
  }
}

.view-statistics.view-sample-expanded {
  .toggle-expand {
    display: inline-block;
  }

  .view-sample-editor > div {
    height: 60vh;
  }
}

.view-sample-editor-codemirror {
  border-bottom: 1px solid $offwhite;
  box-sizing: border-box;
  height: 60vh;
  overflow: auto;
  width: 100%;
}

.filter {
  margin: 0;
}
