@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.success-message .svg-icon-spin-inbutton {
  padding-left: 0;
  &::after {
    top: -0.1rem;
  }
}

.filter {
  margin: 0;
}
