<div class="header-wrapper">
  <header class="header">
    <div class="cf">
      <div class="metis-logo">
        <a href="#banner" class="phase-flag beta" tabindex="-1">BETA</a>
        <a href="#" class="logo ir"></a>                
      </div>
      <!--<div class="dashboard-header">
        <form action="" class="search-multiterm">
          <div class="inputarea js-hitarea">
              <ul class="search-tags js-search-tags">
                <li class="search-input-item">
                  <input class="search-input js-search-input js-placeholder" type="text" title="Search for dataset" name="q" placeholder="Search for dataset">
                </li>
              </ul>
          </div>
          <div class="submitarea">
            <button type="submit" class="search-submit">
              <svg class="icon icon-search">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
              </svg>
              <span class="is-vishidden">Search</span>
            </button>
          </div>
          <nav role="navigation">
            <ul id="metis_search_menu" class="sm cf nav-access " data-smartmenus-id="15058145837154805">
              <li>
                <a href="#" class="has-submenu"><span class="sub-arrow" aria-hidden="true">+</span><span class="link-text">Datasets</span></a>
                  <ul class="menu-sublevel caret">
                    <li><a href="javascript:alert('images')" class="">Dataset</a></li>
                    <li><a href="javascript:alert('videos')" class="">User</a></li>
                    <li><a href="javascript:alert('sounds')" class="">Organization</a></li>
                    <li><a href="javascript:alert('texts')" class="">All</a></li>
                  </ul>
              </li>
            </ul>                            
          </nav>
        </form>

        <div class="browse-menu-mobile">
          <span class="text-mobile">or browse</span>
          <div class="browse-options">
            <div class="browse-option">
              <a href="javascript:alert('images')">
                <svg class="icon icon-image">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-image"></use>
                </svg>
                <span class="is-vishidden">Dataset</span>
              </a>
            </div>
            <div class="browse-option">
              <a href="javascript:alert('videos')">
                <svg class="icon icon-video">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-video"></use>
                </svg>
                <span class="is-vishidden">User</span>
              </a>
            </div>
            <div class="browse-option">
              <a href="javascript:alert('sounds')">
                <svg class="icon icon-music">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-music"></use>
                </svg>
                <span class="is-vishidden">Organization</span>
              </a>
            </div>
            <div class="browse-option">
              <a href="javascript:alert('texts')">
                <svg class="icon icon-openbook">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-openbook"></use>
                </svg>
                <span class="is-vishidden">All</span>
              </a>
            </div>
          </div>
        </div>
      </div>-->
      <div class="dashboard-header-links">

        <ul id="settings-menu" class="cf nav-access" *ngIf="!profileMenu">
          <li>
            <a class="signup has-submenu" (click)="toggleSignInMenu()"><span class="link-text">Sign In</span></a>
            <ul class="menu-sublevel caret" *ngIf="openSignIn">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </li>
        </ul>
        <div id="settings-menu" class="cf nav-loggedin" *ngIf="profileMenu">
            <a class="notifications" href="#">
              <span class="svg-icon-notifications"></span>
              <span class="circle">7</span>
            </a>
            <a href="#"> <span class="svg-icon-configuration"></span></a>
            <div class="metis-user">
              <a class="has-submenu" (click)="toggleSignInMenu()"><span class="svg-icon-loggedin-user"></span></a>
              <ul class="menu-sublevel caret" *ngIf="openSignIn">
                <li><a (click)="gotoProfile();">My Profile</a></li>
                <li><a (click)="logOut();">Log out</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </header>
</div>