<div class="header-wrapper">
  <header class="header">
    <div class="header-container">
      <div class="metis-logo">
        <a href="#banner" class="phase-flag beta" tabindex="-1">BETA</a>
        <a href="#" class="logo ir"></a>                
      </div>

      <div class="dashboard-header">
        <form class="search-multiterm">
          <input class="search-input" type="text" placeholder="Search for {{searchfilter}}" />        
          <ul class="search-select">
            <li>
              <a class="has-submenu" (click)="toggleSearchMenu()">{{searchfilter}}</a>
                <ul class="menu-sublevel caret" *ngIf="openSearch">
                  <li><a (click)="filterSearch('Dataset');">Dataset</a></li>
                  <li><a (click)="filterSearch('User');">User</a></li>
                  <li><a (click)="filterSearch('Organization');">Organization</a></li>
                  <li><a (click)="filterSearch('All');">All</a></li>
                </ul>
            </li>
          </ul>                            
          <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
        </form>    
      </div>

      <div class="dashboard-header-links">
        <ul id="settings-menu" class="cf nav-access" *ngIf="!profileMenu">
          <li>
            <a class="signup has-submenu" (click)="toggleSignInMenu()">Sign In</a>
            <ul class="menu-sublevel caret" *ngIf="openSignIn">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </li>
        </ul>
        <div id="settings-menu" class="cf nav-loggedin" *ngIf="profileMenu">
            <a class="notifications" href="#">
              <span class="svg-icon-notifications"></span>
              <span class="circle">7</span>
            </a>
            <a href="#"> <span class="svg-icon-configuration"></span></a>
            <div class="metis-user">
              <a class="has-submenu" (click)="toggleSignInMenu()"><span class="svg-icon-loggedin-user"></span></a>
              <ul class="menu-sublevel caret" *ngIf="openSignIn">
                <li><a (click)="gotoProfile();">My Profile</a></li>
                <li><a (click)="logOut();">Log out</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </header>
</div>
