<!-- template for preference -->

<ng-template
  #tmpConsentOption
  let-form="form"
  let-label="label"
  let-required="required"
  let-name="name"
  let-description="description"
  let-purposes="purposes"
  let-change="change"
  let-changeParam="changeParam"
>
  <div [formGroup]="form" class="eu-cm-service">
    <input
      [attr.id]="'input-' + name"
      [attr.aria-describedby]="'input-' + name + '-description'"
      class="eu-cm-input"
      type="checkbox"
      (change)="change(changeParam)"
      [formControlName]="name"
      [ngClass]="{ 'half-checked': partialConsentGiven && name === 'acceptAll' }"
    />
    <label [for]="'input-' + name" class="eu-cm-label">
      <span class="eu-cm-title"
        >{{ label }}
        <span *ngIf="required" class="always-required">({{ translations.alwaysRequired }})</span>
      </span>
      <span class="eu-cm-switch">
        <div class="eu-cm-slider round"></div>
      </span>
    </label>
    <div [attr.id]="'input-' + name + '-description'">
      <p *ngIf="description" class="eu-cm-description">{{ description }}</p>
      <ul *ngIf="purposes" class="eu-cm-purposes">
        <li *ngFor="let purpose of purposes">{{ purpose }}</li>
      </ul>
    </div>
  </div>
</ng-template>

<span tabindex="0" #firstFocusTarget (keydown.esc)="shrink()"></span>
<div
  *ngIf="visible"
  class="eu-cm-wrapper"
  [formGroup]="form"
  [ngClass]="{ 'eu-cm-mini-mode': miniMode }"
>
  <div *ngIf="!miniMode" class="eu-cm" [formGroup]="$any(form.get('consentItems'))">
    <div class="eu-cm-header">
      <h1 class="eu-cm-header-title">{{ translations.title }}.</h1>

      <p class="eu-cm-description">
        {{ translations.description }}
        <a
          *ngIf="translations.privacyPolicy"
          (keydown.esc)="shrink()"
          [attr.class]="privacyPolicyClass"
          target="_blank"
          [attr.href]="privacyPolicyUrl"
          >{{ translations.privacyPolicy }}</a
        >
      </p>
    </div>

    <div class="eu-cm-body">
      <!-- OPTIONAL -->
      <ng-container *ngIf="getServices(false); let optionalServices">
        <ng-container *ngIf="optionalServices.length">
          <div class="eu-cm-section-header">
            <ng-container
              [ngTemplateOutlet]="tmpConsentOption"
              [ngTemplateOutletContext]="{
              form: form,
              label: translations.optional.title,
              name: 'acceptAll',
              change: clickAcceptAll.bind(this),
              description: translations.optional.description,
            }"
            >
            </ng-container>
            <a
              class="eu-cm-section-opener"
              (click)="toggleSectionOptional()"
              (keydown.enter)="toggleSectionOptional()"
              [ngClass]="{ open: openSectionOptional }"
              tabindex="0"
            >
              <ng-container [ngPlural]="getServices(false).length">
                <ng-template ngPluralCase="=1">{{ translations.serviceSingle }}</ng-template>
                <ng-template ngPluralCase="other"
                  >{{ getServices(false).length }} {{ translations.servicePlural }}</ng-template
                >
              </ng-container>
            </a>
          </div>

          <div class="eu-cm-roll-down-wrapper" [ngClass]="{ 'is-open': openSectionOptional }">
            <ul class="eu-cm-roll-down">
              <ng-container *ngFor="let service of getServices(false)">
                <ng-container
                  [ngTemplateOutlet]="tmpConsentOption"
                  [ngTemplateOutletContext]="{
                  name: service.name,
                  description: translations.services[service.name].description,
                  label: service.label || service.name,
                  form: form.get('consentItems'),
                  purposes: translations.services[service.name].purposes,
                  change: updatePreference.bind(this),
                  changeParam: service.name
                }"
                >
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </ng-container>
      </ng-container>

      <!-- REQUIRED -->

      <ng-container *ngIf="getServices(true); let requiredServices">
        <ng-container *ngIf="requiredServices.length">
          <div class="eu-cm-section-header">
            <ng-container
              [ngTemplateOutlet]="tmpConsentOption"
              [ngTemplateOutletContext]="{
                form: form,
                label: translations.required.title,
                required: true,
                name: 'acceptAllRequired',
                description: translations.required.description
              }"
            >
            </ng-container>
          </div>
          <a
            class="eu-cm-section-opener"
            (click)="toggleSectionRequired()"
            (keydown.enter)="toggleSectionRequired()"
            [ngClass]="{ open: openSectionRequired }"
            tabindex="0"
          >
            <ng-container [ngPlural]="getServices(true).length">
              <ng-template ngPluralCase="=1">{{ translations.serviceSingle }}</ng-template>
              <ng-template ngPluralCase="other"
                >{{ getServices(true).length }} {{ translations.servicePlural }}</ng-template
              >
            </ng-container>
          </a>
          <div class="eu-cm-roll-down-wrapper" [ngClass]="{ 'is-open': openSectionRequired }">
            <ul class="eu-cm-roll-down">
              <ng-container *ngFor="let service of getServices(true)">
                <ng-container
                  [ngTemplateOutlet]="tmpConsentOption"
                  [ngTemplateOutletContext]="{
                    name: service.name,
                    label: service.label || service.name,
                    description: translations.services[service.name].description,
                    required: true,
                    form: form.get('consentItems'),
                    purposes: translations.services[service.name].purposes
                  }"
                >
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="eu-cm-ctrls">
      <button (click)="saveDeclineAndClose()">{{ translations.userDecline }}</button>
      <button (click)="saveSelectedAndClose()">{{ translations.userAcceptSelected }}</button>
      <button (click)="saveAllAndClose()">{{ translations.userAcceptAll }}</button>
    </div>
  </div>

  <div *ngIf="miniMode">
    <p class="eu-cm-mini-mode-text">
      {{ translations.miniMode.text }}
    </p>
    <div class="eu-cm-ctrls">
      <button (click)="openModal()" #openButton>{{ translations.miniMode.userChoose }}</button>
      <button (click)="saveDeclineAndClose()">
        {{ translations.miniMode.userDecline }}
      </button>
      <button (click)="saveAllAndClose()">{{ translations.miniMode.userAcceptAll }}</button>
    </div>
  </div>
</div>
