@use "sass:string";

svg.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.2em;
  margin-bottom: -0.25em;
  margin-right: 0.3em;
  width: 1.2em;
}

a.icon {
  background-position: 0 0.1em;
  background-size: 1em;
  padding-left: 1.4em;
}

@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}

@function url-encode-color($string) {
  $map: (
    '#': '%23'
  );
  $new: $string;
  @each $search, $replace in $map {
    $new: str-replace('#{$new}', $search, $replace);
  }
  @return $new;
}

@import '../../iconography/svg-icon-next';
@import '../../iconography/svg-icon-previous';
