@use "sass:string";
@use '../../iconography/svg-icon-next';
@use '../../iconography/svg-icon-previous';

svg.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.2em;
  margin-bottom: -0.25em;
  margin-right: 0.3em;
  width: 1.2em;
}

a.icon {
  background-position: 0 0.1em;
  background-size: 1em;
  padding-left: 1.4em;
}
