<div class="dashboard-wrapper">
  <div class="metis-welcome-message inline-flex">
    <a
      routerLink="/dataset/new"
      class="inline-flex link-new-dataset"
      target="_blank"
      rel="noopener"
    >
      <span class="svg-icon-plus"></span>
      <span>{{ 'newDataset' | translate }}</span>
    </a>
    <p i18n="welcome message|welcomes the user by name@@welcomeMessage">
      Welcome <strong>{{ userName }}</strong
      >, let's ingest a world of Culture!
    </p>
  </div>

  @if(!runningIsFirstLoading){
  <div class="metis-dashboard">
    <div class="metis-dashboard-left">
      <app-ongoingexecutions
        [runningExecutions]="runningExecutions"
        [selectedExecutionDsId]="selectedExecutionDsId"
      ></app-ongoingexecutions>
    </div>

    <div class="metis-dashboard-right">
      <app-executionsgrid (selectedSet)="setSelectedExecutionDsId($event)"></app-executionsgrid>
    </div>
  </div>
  }
</div>
