@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/generic/variables-font';

.attribution {
  background-color: rgba(#000, 0.7);
  border-radius: 4px;
  color: variables-colours.$gray-lightest;
  font-size: variables-font.$font-size-sm;
  padding: 0.4rem;

  .origin {
    display: block;
  }

  .license,
  a {
    color: variables-colours.$gray-almost-lightest;
    display: block;
  }

  &:focus {
    .attribution-content {
      display: block;
    }
    .attribution-toggle {
      display: none;
    }
  }
}

.attribution-toggle {
  color: variables-colours.$white;
  cursor: pointer;
  @media all and (min-width: variables-bp.$bp-med) {
    display: none;
  }
}

.attribution-content {
  display: none;

  @media all and (min-width: variables-bp.$bp-med) {
    display: block;
  }

  .license .svg-icon-linkout {
    height: 2em;
    margin-bottom: -0.5em;
    margin-left: -0.2em;
    margin-top: 0;
    transform: scale(0.5);
    width: 2.2em;
  }
}
