@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.btn {
  @include font-size(1);
  background: $eu-jade;
  border: 1px solid $eu-jade;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  margin: 0;
  padding: 0.8rem 5rem;
  text-transform: uppercase;

  @media (max-width: $bp-xxl) {
    padding: 0.8rem 2rem;
  }

  &:hover,
  &:focus {
    color: $white;
  }

  &.disabled,
  &.is-disabled {
    background: $eu-light-jade;
    cursor: not-allowed;
    &:hover {
      color: darken($text_secondary, 20%);
    }
  }

  &.alt {
    background-color: $black;
    border-color: $black;
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.btn.btn-left,
.btn.btn-right {
  border: solid 1px $white;
  color: $gray-light;
  font-weight: 500;
  padding: 0.5em;
  text-transform: none;

  &:focus {
    border-color: $eu-orange;
  }

  &:hover {
    background: $offwhite;
    color: $eu_jade;
    transition: 0.4s linear;
    &.btn-left::after {
      display: none;
    }
    .right-btn-under-text {
      opacity: 0;
      transition: opacity 0.4s linear;
    }
  }

  @media (min-width: $bp-small) {
    padding: 1em 2.4em;
  }
}

@media (min-width: $bp-small) {
  .btn.btn-left::after {
    background-color: #ccc;
    content: '';
    display: block;
    height: 2.6rem;
    left: 101%;
    position: absolute;
    top: 3px;
    width: 1px;
  }
}

.btn.cta,
.btn.cta_main {
  &::after,
  &::before {
    border: solid transparent;
    border-bottom-width: 15px;
    border-color: rgba(0, 0, 0, 0);
    border-top-width: 15px;
    border-width: 25px;
    content: ' ';
    height: 0;
    margin-top: -15px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
  }
}

.btn.cta,
.btn.cta_main {
  &::after {
    border-left-color: $black;
    left: 100%;
  }

  &:hover::after,
  &:focus::after {
    border-left-color: $textcolour_highlight;
  }
}

.btn.cta_main {
  &::before {
    border-right-color: $black;
    right: 100%;
  }

  &:hover::before,
  &:focus::before {
    border-right-color: $textcolour_highlight;
  }
}

.btn {
  .cta_light {
    border-color: $white;
    color: $white;
    &::after {
      border-left-color: $white;
    }
    &::before {
      border-right-color: $white;
    }

    &:hover,
    &:focus {
      background-color: $textcolour_highlight;
      color: $white;
    }
  }
}

.btn {
  .btn-light {
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $black;
      color: $white;
    }
  }
}

.pill {
  border-radius: 300px;
}

.btn-small {
  font-size: $font-size-sm;
  padding: 0.5em;
}

.btn-large {
  background: $text_secondary;
  font-size: 1.4rem;
  font-weight: normal;
  padding: $pad-half;
  text-transform: uppercase;
}

.text-btn {
  font-style: italic;
}

.btn2 {
  background-color: $gray-lightest;
  border: 1px solid $gray-almost-lightest;
  border-radius: 6px;
  color: inherit;
  cursor: pointer;
  font-size: $font-size-sm;
  padding: 0.5em 0.8em;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    border-color: $textcolour_link;
    color: $textcolour_link;
  }

  svg.icon {
    margin-right: 0;
  }
}

.btns-set {
  align-items: center;
  background-color: $white;
  border: 0;
  display: flex;
  font-size: $font-size-slightly-smaller;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;

  .btn-padding {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    .btn {
      background: transparent;
      flex-grow: 1;
      font-size: $font-size-slightly-smaller;
      position: relative;
      text-align: center;
    }

    .btn-disabled {
      background: $offwhite;
      color: $gray-lighter;
      cursor: default;
    }

    .btn:hover,
    .btn:focus {
      background: $offwhite;
    }

    i {
      padding-right: 10px;
    }

    .right-btn-under-text {
      display: block;
      font-size: 0.7em;
    }
  }

  &.btns-set-right {
    justify-content: flex-end;
  }

  @media (min-width: $bp-small) {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    .btn-padding {
      flex-direction: row;
    }
  }
}

.load-more-btn {
  background: none;
  border-radius: 0;
  color: $eu-jade;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: $font-size-slightly-smaller;
  padding-right: 0.75rem;
  position: relative;
  text-transform: uppercase;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='#{url-encode-color('#9facb3')}' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M2.48 3.803c1.046 0 1.9-.856 1.9-1.902C4.38.857 3.527 0 2.48 0 1.438 0 .583.856.583 1.9c0 1.047.855 1.903 1.9 1.903zm0 1.9c-1.043 0-1.898.857-1.898 1.902 0 1.046.855 1.902 1.9 1.902 1.044 0 1.9-.856 1.9-1.902 0-1.045-.856-1.9-1.9-1.9zm0 5.705c-1.043 0-1.898.856-1.898 1.9 0 1.047.855 1.903 1.9 1.903 1.044 0 1.9-.855 1.9-1.9 0-1.046-.856-1.902-1.9-1.902z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 5px;
  }

  &:hover {
    color: $gray-lighter;
  }

  &:hover::after {
    color: $eu-jade;
  }
}

/* from Zeplin */

.table-button {
  align-content: center;
  border: solid 1px $grey-3;
  color: $near-black;
  display: flex;
  justify-content: center;
  padding: 8px;

  &:active,
  &:hover {
    color: $near-black;
  }
  &:active {
    border: 2px solid $eu-jade;
  }
}

.button-filled,
.button-outline {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  margin: 0 0.6rem;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.button-filled {
  background: $eu-jade;
  border-color: $eu-jade;
  color: $white;

  &:hover {
    background: $eu-jade-dark;
    border-color: $eu-jade-dark;
  }

  &:active {
    border-color: $eu-jade;
  }

  &:disabled {
    background: $eu-light-jade;
  }
}

.button-outline {
  background: $white;
  border-color: $eu-jade;
  color: $eu-jade;

  &:hover {
    background: $eu-jade;
    color: $white;
  }

  &:active {
    background: $eu-jade-dark;
  }

  &:disabled {
    color: $eu-light-jade;
  }
}

.pill-xsl,
.pill-harvest,
.pill-throttle {
  background-position: 2px center;
  background-repeat: no-repeat;
  background-size: 14px;

  border: 1px solid $eu-jade;
  border-radius: 10px;
  color: $eu-jade;

  display: inline-block;
  height: 18px;
  line-height: 16px;

  margin-left: 4px;
  padding-left: 20px;
  padding-right: 4px;

  white-space: nowrap;

  &.errors {
    color: $eu-red;
    background-image: svg-url-icon-warning($eu-red);
    background-position: 4px center;
    background-size: 14px 12px;
    border-color: $eu-red;
  }

  &.full {
    background-image: svg-url-icon-harvest-full($eu-jade);
  }

  &.incremental {
    background-image: svg-url-icon-harvest-incremental($eu-jade);
  }

  &.pill-throttle.weak {
    background-image: svg-url-icon-throttle($eu-jade, $eu-jade, $eu-jade);
  }

  &.pill-throttle.medium {
    background-image: svg-url-icon-throttle($eu-jade, $eu-jade, $eu-light-jade);
  }

  &.pill-throttle.strong {
    background-image: svg-url-icon-throttle($eu-jade, $eu-light-jade, $eu-light-jade);
  }
}

.pill-throttle {
  background-position: 5px 3px;
  background-size: 12px;
}

.pill-xsl {
  background-size: 16px;
}
