@use "sass:color";
@use 'shared-styles/assets/sass/scss/mixins/icons';
@use 'shared-styles/assets/sass/scss/generic/mixins';
@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/generic/variables-font';

.btn {
  @include mixins.font-size(1);
  background: variables-colours.$eu-jade;
  border: 1px solid variables-colours.$eu-jade;
  border-radius: 2px;
  color: variables-colours.$white;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  margin: 0;
  padding: 0.8rem 5rem;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: variables-colours.$white;
  }

  &.disabled,
  &.is-disabled {
    background: variables-colours.$eu-light-jade;
    cursor: not-allowed;
    &:hover {
      color: color.adjust(variables-colours.$text_secondary, $lightness: -20%);
    }
  }

  &.alt {
    background-color: variables-colours.$black;
    border-color: variables-colours.$black;
    color: variables-colours.$white;

    &:hover {
      color: variables-colours.$white;
    }
  }
}

.btn.btn-left,
.btn.btn-right {
  border: solid 1px variables-colours.$white;
  color: variables-colours.$gray-light;
  font-weight: 500;
  padding: 0.5em;
  text-transform: none;

  &:focus {
    border-color: variables-colours.$eu-orange;
  }

  &:hover {
    background: variables-colours.$offwhite;
    color: variables-colours.$eu_jade;
    transition: 0.4s linear;
    &.btn-left::after {
      display: none;
    }
    .right-btn-under-text {
      opacity: 0;
      transition: opacity 0.4s linear;
    }
  }

  @media (min-width: variables-bp.$bp-small) {
    padding: 1em 2.4em;
  }
}

@media (min-width: variables-bp.$bp-small) {
  .btn.btn-left::after {
    background-color: #ccc;
    content: '';
    display: block;
    height: 2.6rem;
    left: 101%;
    position: absolute;
    top: 3px;
    width: 1px;
  }
}

.btns-set {
  align-items: center;
  background-color: variables-colours.$white;
  border: 0;

  display: flex;
  justify-content: center;

  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;

  .btn-padding {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    .btn {
      background: transparent;
      flex-grow: 1;
      font-size: variables-font.$font-size-slightly-smaller;
      position: relative;
      text-align: center;
    }

    .btn:hover,
    .btn:focus {
      background: variables-colours.$offwhite;
    }

    i {
      padding-right: 10px;
    }

    .right-btn-under-text {
      display: block;
      font-size: 0.7em;
    }
  }

  &.btns-set-right {
    justify-content: flex-end;
  }

  @media (min-width: variables-bp.$bp-small) {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    .btn-padding {
      flex-direction: row;
    }
  }

  &.btns-set-right {
    justify-content: flex-end;
  }

  @media (min-width: variables-bp.$bp-small) {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    .btn-padding {
      flex-direction: row;
    }
  }
}

.load-more-btn {
  background: none;
  border-radius: 0;
  color: variables-colours.$eu-jade;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: variables-font.$font-size-slightly-smaller;
  padding-right: 0.75rem;
  position: relative;
  text-transform: uppercase;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='#{url-encode-color('#9facb3')}' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M2.48 3.803c1.046 0 1.9-.856 1.9-1.902C4.38.857 3.527 0 2.48 0 1.438 0 .583.856.583 1.9c0 1.047.855 1.903 1.9 1.903zm0 1.9c-1.043 0-1.898.857-1.898 1.902 0 1.046.855 1.902 1.9 1.902 1.044 0 1.9-.856 1.9-1.902 0-1.045-.856-1.9-1.9-1.9zm0 5.705c-1.043 0-1.898.856-1.898 1.9 0 1.047.855 1.903 1.9 1.903 1.044 0 1.9-.855 1.9-1.9 0-1.046-.856-1.902-1.9-1.902z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 5px;
  }

  &:hover {
    color: variables-colours.$gray-lighter;
  }

  &:hover::after {
    color: variables-colours.$eu-jade;
  }
}

/* from Zeplin */

.table-button {
  align-content: center;
  border: solid 1px variables-colours.$grey-3;
  color: variables-colours.$near-black;
  display: flex;
  justify-content: center;
  padding: 8px;

  &:active,
  &:hover {
    color: variables-colours.$near-black;
  }
  &:active {
    border: 2px solid variables-colours.$eu-jade;
  }
}

.button-filled,
.button-outline {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  margin: 0 0.6rem;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.button-filled {
  background: variables-colours.$eu-jade;
  border-color: variables-colours.$eu-jade;
  color: variables-colours.$white;

  &:hover {
    background: variables-colours.$eu-jade-dark;
    border-color: variables-colours.$eu-jade-dark;
  }

  &:active {
    border-color: variables-colours.$eu-jade;
  }

  &:disabled {
    background: variables-colours.$eu-light-jade;
  }
}

.button-outline {
  background: variables-colours.$white;
  border-color: variables-colours.$eu-jade;
  color: variables-colours.$eu-jade;

  &:hover {
    background: variables-colours.$eu-jade;
    color: variables-colours.$white;
  }

  &:active {
    background: variables-colours.$eu-jade-dark;
  }

  &:disabled {
    color: variables-colours.$eu-light-jade;
  }
}
