@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/generic/variables-font';

.br {
  @media (min-width: variables-bp.$bp-med) {
    &::before {
      content: '\a';
      display: block;
    }
  }
}

.filter {
  border-bottom: 1px solid variables-colours.$gray-almost-lightest;
  border-top: 1px solid variables-colours.$gray-almost-lightest;
  display: flex;
  font-size: variables-font.$font-size-slightly-smaller;
  padding: 0.25rem 0;
  transition: border-color 1.5s;

  &.unbordered {
    border-color: variables-colours.$offwhite;
  }

  li {
    border-left: 1px solid variables-colours.$gray-almost-lightest;
    color: variables-colours.$gray-light;
    display: inline-block;
    padding: 0.3rem 0.625rem;
    position: relative;

    &:first-child {
      border: 0;
    }

    a {
      color: variables-colours.$gray-light;
    }

    a:hover {
      color: variables-colours.$eu-jade;
    }
  }
}

.tooltip {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.spacer {
  flex-grow: 1;
}
