.pill {
  border: 1px solid $eu-jade;
  border-radius: 10px;
  color: $eu-jade;
  display: inline-block;
  height: 18px;
  line-height: 16px;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  &:not(.depublication-status) {
    margin-left: 4px;
    &.errors {
      background-image: svg-url-icon-warning($eu-red);
      background-position: 4px center;
      background-size: 14px 12px;
      border-color: $eu-red;
      color: $eu-red;
    }
  }
}

.pill-xsl,
.pill-harvest,
.pill-throttle {
  background-repeat: no-repeat;
  padding-left: 20px;
}

.pill-harvest,
.pill-xsl {
  background-position: 2px center;
}

.pill-harvest {
  background-size: 14px;

  &.incremental {
    background-image: svg-url-icon-harvest-incremental($eu-jade);
  }

  &.full {
    background-image: svg-url-icon-harvest-full($eu-jade);
  }

  &.errors {
    color: $eu-red;
  }
}

.pill-throttle {
  background-position: 5px 3px;
  background-size: 12px;

  &.weak {
    background-image: svg-url-icon-throttle($eu-jade, $eu-jade, $eu-jade);
  }

  &.medium {
    background-image: svg-url-icon-throttle($eu-jade, $eu-jade, $eu-light-jade);
  }

  &.strong {
    background-image: svg-url-icon-throttle($eu-jade, $eu-light-jade, $eu-light-jade);
  }
}

.pill-xsl {
  background-size: 16px;
}
