@use 'shared-styles/assets/sass/scss/generic/variables-colours';

@mixin home() {
  .get-started {
    color: variables-colours.$white;
    background: variables-colours.$sandbox-colour-dark;
    border: 1px solid variables-colours.$sandbox-colour;
    border-radius: 2px;
    padding: 0.25em 0.5em;

    &:hover {
      border-color: variables-colours.$eu-grey-middle;
    }

    &:active {
      border-color: variables-colours.$sandbox-colour-active;
    }

    &:hover,
    &:active {
      background: white;
    }
  }
}
