@import '../../../assets/sass/scss/generic/variables';

.dataset-name {
  align-items: center;
  display: flex;
  padding: 0.5em 0;
}

.svg-icon-dataset {
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  background: $offwhite;

  &::before {
    top: 8px;
  }
}
