@import '../../assets/sass/scss/generic/variables';

.users-table {
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background: $gray-lighter;
      }

    }
  }
}

th, td {
  white-space: nowrap;
}

.fa-check {
  color: green;
}

.fa-close {
  color: red;
}

.center {
  text-align: center;
}
