<div class="dashboard-wrapper">
<h2>Users</h2>

<table *ngIf="!error" class="table-horizontal-layout users-table ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Organization</th>
      <th>Country</th>
      <th class="center">Member</th>
      <th class="center">Metis</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users" (click)="gotoUser(user)">
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.accountRole}}</td>
    <td>{{user.organizationName}}</td>
    <td>{{user.country}}</td>
    <td class="center">
      <i *ngIf="user.networkMember" class="fa fa-check"></i>
      <i *ngIf="!user.networkMember" class="fa fa-close"></i>
    </td>
    <td class="center">
      <i *ngIf="user.metisUserFlag" class="fa fa-check"></i>
      <i *ngIf="!user.metisUserFlag" class="fa fa-close"></i>
    </td>
  </tr>
  </tbody>
</table>
</div>
