@import '../../assets/sass/scss/generic/variables';

.users-table {
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background: $gray-lighter;
      }

    }
  }
}

th, td {
  white-space: nowrap;
  font-size: smaller;
}
