@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

h3 {
  display: flex;
  left: 0;
  margin-bottom: 0;

  @media (min-width: $bp-small-2) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.svg-icon-spin {
  height: 23px;
  margin-left: 0.5em;
}

.svg-icon-spin-inbutton {
  padding-left: 0.5rem;
  &::after {
    top: auto;
    transform: none;
  }
}
