/// Mixin to place items on a circle
@mixin on-circle($item-count, $item-size) {
  $radius: calc(100% * 50% / $item-size);
  position: relative;
  width: 100%;
  height: 0;

  border-radius: 50%;
  padding: 0 0 100% 0;

  list-style: none;

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5em;
    width: $item-size;
    height: $item-size;
    $angle: calc(360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($radius) rotate($rot * -1deg);
      }
      $rot: $rot + $angle;
    }
  }
}
