@import 'shared-styles/assets/sass/scss/generic/variables';

/// Mixin to place items on a circle
@mixin on-circle($item-count, $item-size) {
  $radius: calc(100% * 50% / $item-size);
  // offset by one for hidden home orb
  $positionOffset: 1;

  border-radius: 50%;
  height: 0;
  list-style: none;
  padding: 0 0 100% 0;
  position: relative;
  width: 100%;

  > * {
    height: $item-size;
    left: 50%;
    margin: -1.5em;
    position: absolute;
    top: 50%;
    width: $item-size;

    $angle: calc(360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i + $positionOffset}) {
        transform: rotate($rot * 1deg) translate($radius) rotate($rot * -1deg);
      }
      $rot: $rot + $angle;
    }
  }
}
