@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

@mixin layout($theme-colour, $theme-colour-active, $theme-colour-dark, $theme-colour-footer) {
  .link-locked a::after {
    background-image: svg-icons-metis.svg-url-icon-padlock(variables-colours.$black);
  }

  .locked-indicator {
    background: svg-icons-metis.svg-url-icon-padlock(variables-colours.$black) center no-repeat;
  }

  .dataset-info {
    $border-highlight-colour: variables-colours.$eu-grey-middle;

    .dataset-name.link-internal {
      &:hover .tick::after {
        background-image: svg-icons-metis.svg-url-icon-tick(variables-colours.$grey-3);
      }
      &:active .tick::after {
        background-image: svg-icons-metis.svg-url-icon-tick($theme-colour-active);
      }
    }

    .full-info-view.open {
      border-bottom-color: $border-highlight-colour;
      border-right-color: $border-highlight-colour;
    }

    .left-col .grid,
    .animate-height.expanded {
      background-color: #fff;
    }

    .left-col:not(:has(.open)):has(.title-name:hover)::before {
      border-bottom-color: $border-highlight-colour;
      border-right-color: $border-highlight-colour;
    }
  }

  .form-group {
    margin: 0 auto 37px;

    .checkbox > input[type='checkbox'],
    .radio-button > input[type='radio'] {
      &:not(:checked) + span::before {
        border-color: variables-colours.$eu-grey-middle;
      }
      &:checked + span::before {
        background-color: $theme-colour-dark !important;
      }
    }
  }

  .full-info-view {
    background: variables-colours.$white;
  }

  .inputs {
    margin-top: 1em;
  }

  .sandbox-navigation {
    background-color: variables-colours.$white;
    border: 1px solid transparent;
    box-shadow: rgba(77, 77, 77, 0.2) 0 2px 3px;
  }

  .sandbox-navigation-head .sandbox-status {
    border: 1px solid transparent;
    // use padding-box v border-box to mask a gradient
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to right, variables-colours.$eu-light-orange, $theme-colour) border-box;
  }

  .sandbox-navigation-content {
    margin: 3em 2em 2em 2em;
  }

  .footer-wrapper::before {
    background-color: $theme-colour-footer;
  }

  @media (min-width: variables-bp.$bp-small-2) {
    .sandbox-navigation {
      margin: 4.7rem auto 8rem auto;
      width: 80%;
    }
  }

  @media (min-width: variables-bp.$bp-med) {
    .dataset-info .copyable-link-item {
      right: 1.5em;
    }
  }

  @media (min-width: variables-bp.$bp-large) {
    .sandbox-navigation-content {
      margin-top: 0;
      &:not(:has(.drop-in.active)) {
        .dataset-info > * {
          position: relative;
          z-index: 3;
        }
      }
    }
  }
}
