@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/scss/objects/icons/svgicons';
@import '../../../assets/sass/pandora/settings/metis-variables';

:host {
  display: block;
}

.notification {
  color: $white;
  font-size: $font-size-slightly-smaller;
  line-height: 1.25rem;
  margin-bottom: 0.6rem;
  padding: 0.5rem 1.2rem 0.5rem 2.2rem;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.notification-hidden {
  opacity: 0;
}

.notification-sticky {
  padding-left: 1.2rem;
  cursor: auto;

  &::before {
    display: none;
  }
}

.error-notification {
  background-color: $eu-red;
}
.success-notification {
  background-color: $eu-jade;
}

.messages-small {
  .notification {
    background-color: transparent;
    padding: 0 0 0 1rem;
    margin-top: 0.6rem;
  }

  .notification-sticky {
    padding-left: 0;
  }

  .error-notification {
    color: $eu-red;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32'%3E%3Cpath fill='#{url-encode-color($eu-red)}' d='M21.71 19.044q.135.189.135.35t-.135.35l-3.421 3.421q-.189.135-.35.135t-.35-.135l-5.953-5.953-5.953 5.953q-.189.135-.35.135t-.35-.135l-3.421-3.421q-.135-.189-.135-.35t.135-.35l5.953-5.953-5.953-5.953q-.135-.189-.135-.35t.135-.35l3.421-3.421q.189-.135.35-.135t.35.135l5.953 5.953 5.953-5.953q.189-.135.35-.135t.35.135l3.421 3.421q.135.189.135.35t-.135.35l-5.953 5.953z'%3E%3C/path%3E%3C/svg%3E");
      top: -0.15rem;
      left: -0.4rem;
      padding-left: 0;
      transform: scale(0.5);
      width: 23px;
    }
  }

  .success-notification {
    color: $eu-jade;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32'%3E%3Cpath fill='#{url-encode-color($eu-jade)}' d='M21.71 19.044q.135.189.135.35t-.135.35l-3.421 3.421q-.189.135-.35.135t-.35-.135l-5.953-5.953-5.953 5.953q-.189.135-.35.135t-.35-.135l-3.421-3.421q-.135-.189-.135-.35t.135-.35l5.953-5.953-5.953-5.953q-.135-.189-.135-.35t.135-.35l3.421-3.421q.189-.135.35-.135t.35.135l5.953 5.953 5.953-5.953q.189-.135.35-.135t.35.135l3.421 3.421q.135.189.135.35t-.135.35l-5.953 5.953z'%3E%3C/path%3E%3C/svg%3E");
      top: -0.15rem;
      left: -0.4rem;
      padding-left: 0;
      transform: scale(0.5);
      width: 23px;
    }
  }
}
