<div class="header-wrapper">
  <header class="header">
    <div class="header-container">
      <a [routerLink]="logoLink()" class="logo">
        <div class="metis-logo"></div>
      </a>

      @if (isLoggedIn()) {
      <!-- Using native banana-in-a-box signal synchronization -->
      <app-search
        [placeholderKey]="'searchPlaceholder'"
        [(searchString)]="searchString"
        (onExecute)="executeSearch($event)"
      ></app-search>
      }

      <div class="dashboard-header-links">
        @if (isLoggedIn()) {
        <ng-container *ngTemplateOutlet="loggedIn"></ng-container>
        } @else {
        <ng-container *ngTemplateOutlet="loggedOut"></ng-container>
        }

        <ng-template #loggedIn>
          <div class="settings-menu cf nav-loggedin">
            <a
              routerLink="/dashboard"
              routerLinkActive="svg-icon-dashboard-active"
              class="link-to-dashboard svg-icon-dashboard"
            ></a>
            <div class="metis-user" libClickAware (clickOutside)="onClickedOutsideUser($event)">
              <a class="has-submenu" (click)="toggleSignInMenu()" role="button" tabindex="0">
                <span class="svg-icon-loggedin-user"></span>
              </a>
              @if (openSignIn()) {
              <ul class="menu-sublevel caret">
                <li>
                  <a [attr.href]="urlProfile()">{{ 'myProfile' | translate }}</a>
                </li>
                <li>
                  <a (click)="logOut()" role="button" tabindex="0">{{ 'signOut' | translate }}</a>
                </li>
              </ul>
              }
            </div>
          </div>
        </ng-template>

        <ng-template #loggedOut>
          <ul class="settings-menu cf nav-access">
            <li>
              <a
                class="signup has-submenu"
                (keyup.enter)="toggleSignInMenu()"
                (click)="toggleSignInMenu()"
                tabindex="0"
                role="button"
                >{{ 'signIn' | translate }}</a
              >
              @if (openSignIn()) {
              <ul class="menu-sublevel caret">
                <li>
                  <a (keyup.enter)="gotoLogin()" (click)="gotoLogin()" tabindex="0" role="button">{{
                    'signIn' | translate
                  }}</a>
                </li>
              </ul>
              }
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </header>
</div>
