@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.progress {
  width: 100%;

  .progressbar {
    background: $gray-lighter;
    height: 1rem;
    margin-bottom: 0;
  }

  .progressbar .progressbar-done {
    height: 1rem;
  }

  .progress-statusnumbers {
    text-transform: none;
    width: 10rem;
  }
}
