@use '../generic/variables-colours';

%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.cf {
  @extend %clearfix;
}

.errors {
  color: variables-colours.$eu-red;
}
