@use '../generic/variables-colours';

a {
  color: variables-colours.$textcolour_link;
  text-decoration: none;

  &:hover {
    color: darken(variables-colours.$textcolour_link, 15%);
    cursor: pointer;
  }
}
