@use 'shared-styles/assets/sass/scss/generic/variables-colours';

$tborder-color: variables-colours.$gray-lighter;
$thead-color: variables-colours.$offwhite;

table {
  border: 1px solid $tborder-color;
  border-collapse: collapse;
  border-spacing: 0;
  color: variables-colours.$textcolour_body;
  empty-cells: show;
  margin-bottom: 1.6rem;
  width: 100%;
}

td,
th {
  border-left: 1px solid $tborder-color;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em;
  vertical-align: top;
}

td:first-child,
th:first-child {
  border-left-width: 0;
}

thead {
  background: $thead-color;
  color: variables-colours.$black;
  text-align: left;
  vertical-align: bottom;
}

td {
  background-color: transparent;
}
