.capitalise {
  text-transform: capitalize;
}

.text-contained {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pre-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.02;
}

.small-title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.36px;
}
