@import 'shared-styles/assets/sass/scss/generic/variables-bp';
@import 'shared-styles/assets/sass/scss/generic/variables-colours';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.svg-icon-plus {
  display: inline;
  @media (min-width: $bp-small) {
    display: inline-block;
  }
}

.btns-set {
  margin-bottom: 1rem;
}

.btn:hover {
  .svg-icon-plus::before {
    background-image: svg-url-icon-plus($eu-jade);
  }
}
