@import 'shared-styles/assets/sass/scss/generic/variables';
@import './connections';
@import './home';
@import './layout';
@import './links';
@import './pop-out';
@import './report';
@import './step-problems';
@import './step-track';

input,
select {
  border: 1px solid $eu-jade-dark;
  box-shadow: unset;
}

select {
  padding: 7px;
}

.file-upload {
  border-color: $eu-jade-dark;
  .pseudo-button {
    border: 1px solid $eu-jade-dark;
    box-shadow: none;
    &:focus-visible {
      border-color: transparent;
    }
  }
}

.cross::after {
  background-image: svg-url-icon-cross($eu-jade-dark);
}

.tick::after {
  background-image: svg-url-icon-tick($eu-jade-dark);
}

.open-info {
  background: svg-url-icon-info($eu-jade-dark) center / 14px no-repeat;
}

.submit-upload {
  margin: 2em auto 0 0;
}

.tier-data-grid {
  background: $white;
  padding: 0.5em;
  padding-bottom: 2em;
  margin-bottom: 1.6em;

  .grid-header {
    &.average:hover {
      color: $eu-jade-darkest;
    }
    &.lang {
      background-image: svg-url-icon-speech-bubble($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-speech-bubble($eu-jade-darkest);
      }
    }
    &.element {
      background-image: svg-url-icon-xml($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-xml($eu-jade-darkest);
      }
    }
    &.class {
      background-image: svg-url-icon-classes($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-classes($eu-jade-darkest);
      }
    }
    &.content-tier {
      background-image: svg-url-icon-content-tier($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-content-tier($eu-jade-darkest);
      }
    }
    &.license {
      background-image: svg-url-icon-copyright($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-copyright($eu-jade-darkest);
      }
    }
    &.content-tier-header {
      border-image: linear-gradient(to left, $eu-green-light 2.9rem, transparent 2.9rem) 100% 1;
      border-bottom-color: $eu-green-light;
      border-left-color: $eu-green-light;
    }
  }

  .license-restricted {
    background-image: svg-url-icon-license-restricted($eu-jade-dark);
  }

  .license-open {
    background-image: svg-url-icon-license-open($eu-jade-dark);
  }

  .license-restricted {
    background-image: svg-url-icon-license-restricted($eu-jade-dark);
  }

  .line-left {
    border-color: $eu-green-light;
  }

  .summary-value {
    background-color: $eu-jade-classic;
    color: $white;

    &.license-restricted {
      background-image: svg-url-icon-license-restricted($white);
    }

    &.license-open {
      background-image: svg-url-icon-license-open($white);
    }

    &.license-restricted {
      background-image: svg-url-icon-license-restricted($white);
    }
  }

  .summary-value-title .summary-value {
    color: $eu-jade-dark;
  }
}

.sandbox-navigation-content {
  color: $eu-jade-dark;
}

.theme-classic-hidden {
  display: none;
}
