@import 'shared-styles/assets/sass/scss/generic/variables';
@import './connections';
@import './home';
@import './layout';
@import './links';
@import './pop-out';
@import './report';
@import './step-problems';
@import './step-track';

input,
select {
  border: 1px solid $eu-jade-dark;
  box-shadow: unset;
}

select {
  padding: 7px;
}

.file-upload {
  border-color: $eu-jade-dark;
  .pseudo-button {
    border: 1px solid $eu-jade-dark;
    box-shadow: none;
    &:focus-visible {
      border-color: transparent;
    }
  }
}

.cross::after {
  background-image: svg-url-icon-cross($eu-jade-dark);
}

.tick::after {
  background-image: svg-url-icon-tick($eu-jade-dark);
}

.open-info {
  background: svg-url-icon-info($eu-jade-dark) center / 14px no-repeat;
}

.submit-upload {
  margin: 2em auto 0 0;
}

.tier-data-grid {
  background: $white;
  padding: 0.5em;
  padding-bottom: 2em;
  margin-bottom: 1.6em;

  .grid-header {
    &.average:hover {
      color: $eu-jade-darkest;
    }
    &.lang {
      background-image: svg-url-icon-speech-bubble($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-speech-bubble($eu-jade-darkest);
      }
    }
    &.element {
      background-image: svg-url-icon-xml($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-xml($eu-jade-darkest);
      }
    }
    &.class {
      background-image: svg-url-icon-classes($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-classes($eu-jade-darkest);
      }
    }
    &.content-tier {
      background-image: svg-url-icon-content-tier($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-content-tier($eu-jade-darkest);
      }
    }
    &.license {
      background-image: svg-url-icon-copyright($eu-jade-dark);
      &:hover {
        background-image: svg-url-icon-copyright($eu-jade-darkest);
      }
    }
    &.content-tier-header {
      border-image: linear-gradient(to left, $eu-grey-middle 1.65em, transparent 1.65em) 100% 1;
      border-bottom-color: $eu-grey-middle;
      border-left-color: $eu-grey-middle;
    }
  }

  .license-closed {
    background-image: svg-url-icon-license-closed($eu-jade-dark);
  }

  .license-open {
    background-image: svg-url-icon-license-open($eu-jade-dark);
  }

  .license-restricted {
    background-image: svg-url-icon-license-restricted($eu-jade-dark);
  }

  .line-left {
    border-color: $eu-grey-middle;
  }

  .summary-value {
    background-color: $eu-jade-classic;
    color: $white;

    &.filtered-value {
      background-color: $eu-light-orange;
    }

    &.license-closed {
      background-image: svg-url-icon-license-closed($white);
    }

    &.license-open {
      background-image: svg-url-icon-license-open($white);
    }

    &.license-restricted {
      background-image: svg-url-icon-license-restricted($white);
    }
  }

  .summary-value-title .summary-value {
    color: $eu-jade-dark;
  }

  .sort-toggle {
    color: $eu-green-light;
  }

  .sort-toggle.active {
    color: $eu-jade-dark;
  }

  .grid-header {
    &.child-active .sort-toggle {
      color: $eu-jade-dark;
    }
    &.average {
      &.active,
      &s:hover {
        color: $eu-jade-dark;
      }
    }
    .grid-sub-header.active::after {
      color: $eu-jade-dark;
    }
  }
}

.tier-grid-navigation-controls {
  background-color: $white;
  color: $eu-jade-dark;
  top: -1em;
  .paginator {
    .next,
    .previous {
      &[disabled]::after {
        color: $eu-jade-classic;
      }
    }
  }

  @media (min-width: $bp-med) {
    justify-content: flex-start;
    margin-bottom: -1em;
    padding: 0 0 1em 1em;
    top: -45px;
  }
}

.sandbox-navigation-content {
  color: $eu-jade-dark;
}

.theme-classic-hidden {
  display: none;
}

@media (min-width: $bp-large) {
  .inner-grid,
  .tier-data-grid {
    $miniCellWidth: 55px;
    grid-template-columns: 1fr 130px $miniCellWidth $miniCellWidth $miniCellWidth $miniCellWidth $miniCellWidth $miniCellWidth;
  }

  .tier-data-grid {
    .cell-record-id {
      padding-left: 0.5em;
    }
    .search-header {
      min-width: 13em;
      transform: translate(-5em, 8px);
    }
  }

  .tier-grid-navigation-controls {
    top: -3.8em;
    &.offset-for-filter-summary {
      top: -5.75em;
    }
  }
}
