.debias-link {
  &::after {
    background: svg-url-debias($eu-jade-dark) 3px 1px no-repeat;
  }
  &:hover {
    &::after {
      background: svg-url-debias($eu-jade-darkest) 3px 1px no-repeat;
    }
  }
  &:active {
    &::after {
      background: svg-url-debias($eu-light-orange) 3px 1px no-repeat;
    }
  }
  &:focus-visible {
    outline: 1px solid $eu-orange;
  }
}

.external-link-debias {
  color: $eu-jade-dark;
  font-weight: normal;

  &::after {
    background-image: svg-url-icon-external($eu-jade-dark);
  }
  &:hover {
    color: $eu-jade-darkest;
    &::after {
      background-image: svg-url-icon-external($eu-jade-darkest);
    }
  }
  &:active {
    color: $eu-light-orange;
    &::after {
      background-image: svg-url-icon-external($eu-light-orange);
    }
  }
}

// cleaner select of element that's stretched by grid
.debias-detection-grid > .external-link-debias:focus-visible {
  outline-color: transparent;
  &::before {
    border: 1px solid $eu-orange;
  }
}
