.debias-display .spinner {
  background-image: svg-url-icon-spin($eu-jade-dark);
}

.debias-display:hover .debias-opener {
  color: $eu-jade-darkest;
}

.debias-link {
  &.disabled::before {
    background-image: svg-url-icon-eye($eu-jade-darkest);
  }

  &::after {
    background-image: svg-url-debias($eu-jade-dark);
  }
  &:hover {
    &::after {
      background-image: svg-url-debias($eu-jade-darkest);
    }
  }
  &:active {
    &::after {
      background-image: svg-url-debias($eu-light-orange);
    }
  }
  &:focus-visible {
    outline: 1px solid $eu-orange;
  }
}

.external-link-debias {
  color: $eu-jade-dark;
  font-weight: normal;

  &::after {
    background-image: svg-url-icon-external($eu-jade-dark);
  }
  &:hover {
    color: $eu-jade-darkest;
    &::after {
      background-image: svg-url-icon-external($eu-jade-darkest);
    }
  }
  &:active {
    color: $eu-light-orange;
    &::after {
      background-image: svg-url-icon-external($eu-light-orange);
    }
  }
}

// cleaner select of element that's stretched by grid
.debias-detection-grid > .external-link-debias:focus-visible {
  outline-color: transparent;
  &::before {
    border: 1px solid $eu-orange;
  }
}
