@import 'shared-styles/assets/sass/scss/generic/variables';

.limited-list.boxed {
  border: 1px solid $eu-jade-disabled;
}

.report-description,
.report-grid,
.report-header,
.report-sub-header {
  color: $eu-jade-dark;
}

.separator-line {
  background: $eu-green-light;
}
