@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@use '../../mixins/pop-out';

.dataset-info {
  color: variables-colours.$eu-jade-dark;
  .warning-icon::before {
    background: svg-icons-metis.svg-url-icon-warning(variables-colours.$eu-yellow) center no-repeat;
  }
  .error-icon::before {
    background: svg-icons-metis.svg-url-icon-warning(variables-colours.$eu-red-error) center
      no-repeat;
  }
}

.warning-view-content {
  background: variables-colours.$eu-light-jade-classic;
}

.warning-view-header {
  color: variables-colours.$eu-jade-dark;
}

.warning-view-list li::before {
  color: variables-colours.$eu-jade-dark;
}

.wrapper-track {
  border: 1px solid variables-colours.$eu-grey-middle;
  overflow: visible;
  .pop-out {
    @include pop-out.pop-up(80%, 1.5em);
  }
}
