@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@use '../../mixins/pop-out';

.problem-viewer-wrapper .pop-out {
  @include pop-out.pop-up(25.5em, -1, 180deg);
}

.problem-viewer .skip-arrows {
  background: variables-colours.$eu-light-jade-classic;
}

.debias .skip-arrows {
  background-color: variables-colours.$white;
  border-bottom: 1px solid variables-colours.$eu-grey-middle;
  border-left: 1px solid variables-colours.$eu-grey-middle;
  border-right: 1px solid variables-colours.$eu-grey-middle;
}

.skip-arrows .skip-arrow {
  color: variables-colours.$gray-light;
  &.enabled {
    color: variables-colours.$eu-jade-dark;
  }
  &:hover {
    color: variables-colours.$eu-jade-darkest;
  }
  &:active {
    color: variables-colours.$eu-light-orange;
  }
}

.form-group.title {
  color: variables-colours.$eu-jade-dark;
}

// connector lines
@media (min-width: variables-bp.$bp-large) {
  .link-related {
    &::after {
      border-left: 1px solid variables-colours.$eu-green-light;
      color: variables-colours.$eu-green-light;
    }
    &::before {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$eu-jade);
    }
    &:hover::before {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$eu-jade-dark);
    }
    &:active:hover::before {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$eu-light-orange);
    }
  }

  .openable-list {
    .link-related::after {
      border-left: 1px solid variables-colours.$eu-green-light;
    }
    :last-child .link-related::after {
      border-bottom: 1px solid variables-colours.$eu-green-light;
    }
  }

  .list-opener:not(.fmt-compact).is-open::before {
    border-left: 1px solid variables-colours.$eu-green-light;
  }
}
