@import 'shared-styles/assets/sass/scss/generic/variables-bp';
@import 'shared-styles/assets/sass/scss/generic/variables-colours';
@import '../../mixins/pop-out';

.problem-viewer-wrapper .pop-out {
  @include pop-up(25.5em, -1, 180deg);
}

.problem-viewer .skip-arrows {
  background: $eu-light-jade-classic;
}

.debias .skip-arrows {
  background-color: $white;
  border-bottom: 1px solid $eu-grey-middle;
  border-left: 1px solid $eu-grey-middle;
  border-right: 1px solid $eu-grey-middle;
}

.skip-arrows .skip-arrow {
  color: $gray-light;
  &.enabled {
    color: $eu-jade-dark;
  }
  &:hover {
    color: $eu-jade-darkest;
  }
  &:active {
    color: $eu-light-orange;
  }
}

.form-group.title {
  color: $eu-jade-dark;
}

// connector lines
@media (min-width: $bp-large) {
  .link-related::after {
    border-left: 1px solid $eu-green-light;
    color: $eu-green-light;
  }

  .link-related::before {
    background-image: svg-url-icon-lightbulb($eu-jade);
  }

  &:hover::before {
    background-image: svg-url-icon-lightbulb($eu-jade-dark);
  }
  &:active:hover::before {
    background-image: svg-url-icon-lightbulb($eu-light-orange);
  }

  .openable-list {
    .link-related::after {
      border-left: 1px solid $eu-green-light;
    }
    :last-child .link-related::after {
      border-bottom: 1px solid $eu-green-light;
    }
  }

  .list-opener:not(.fmt-compact).is-open::before {
    border-left: 1px solid $eu-green-light;
  }
}
