@import 'shared-styles/assets/sass/scss/generic/variables';
@import '../../mixins/pop-out';

.dataset-info {
  color: $eu-jade-dark;
  .creation-date.warning-icon::before {
    background: svg-url-icon-warning($eu-yellow) center no-repeat;
  }
  .creation-date.error-icon::before {
    background: svg-url-icon-warning($eu-red-error) center no-repeat;
  }
}

.warning-view-content {
  background: $eu-light-jade-classic;
}

.warning-view-header {
  color: $eu-jade-dark;
}

.warning-view-list li::before {
  color: $eu-jade-dark;
}

.wrapper-track {
  border: 1px solid $eu-grey-middle;
  overflow: visible;
  .pop-out {
    @include pop-up(80%, 1.5em);
  }
}
