// new colours
$eu-grey-dark: #4d4d4d;
$eu-grey-middle: #d8d8d8;
$eu-grey-light: #ededed;

$eu-green-dark: #197324;
$eu-green-jade: #219d31;
$eu-green-light: #71c07b;

$eu-red-error: #e02020;
$eu-orange: #fc8a62;
$eu-yellow: #ffcb5c;

// (end new colours)

$white: #fff;
$offwhite: #f1f1ee;

$gray-lightest: #f8f8f8;
$gray-almost-lightest: #dedede;
$gray-lighter: #cccccc;
$gray-light: #777;
$gray-med: #4d4d4d;
$gray-hero: #e7e7e7;
$gray-dark: #212121;

$black: #1a1a1a;
$opacity-black: rgba(0, 0, 0, 0.7);
$opacity-gray-light: rgba(119, 119, 119, 0.6);
$opacity-gray-very-light: rgb(230, 230, 230);

$eu-red: #f22f24;
$eu-blue: #1676aa;
$eu-light-blue: #9ad3f2;
$eu-light-blue-orb: #79b2e3;
$eu-blue-link: #1a8ac7;

$eu-jade: #219d31;
$eu-jade-classic: #37b98b;

$eu-jade-disabled: #7ed4b6;
$eu-jade-dark: #197324;
$eu-jade-darker: #135116;
$eu-jade-darkest: #155819;

$eu-light-jade-classic: #a5e4ce;
$eu-light-jade: #bde2c2;

$eu-light-orange: #fc8a62;

$eu-raspberry: #e95a81;
$linkblue: #095f90;
$accent: $eu-jade !default;

$textcolour_body: $gray-med;
$textcolour_highlight: $accent;
$textcolour_link: $linkblue;
$text_secondary: $gray-light;

/* Zeplin styleguide colours */

$grey-1: #ebebe9;
$grey-2: $gray-lighter;
$grey-3: #999999;
$light-green: #bde2c2;
$near-black: $gray-med;
$yellow: #ffae00;

/* Brand colours */

$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;
$brand-pinterest: #b81621;
$brand-google: #e93f2e;
$brand-soundcloud: #ff5500;
$brand-tumblr: #35465c;
$brand-instagram: #ec5972;
