$font-primary: 'Open Sans', 'Arial', sans-serif;
$font-secondary: 'Ubuntu', 'Arial', sans-serif;

$font-size-slightly-smaller: 0.875em;
$font-size-metis-grid: 12px;
$font-size-sm: 0.75em;
$font-size-med: 1.2em;
$font-size-large: 1.6em;
$base-font-multiplier: 1;
