@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.form-fields.disabled {
  background-color: $gray-almost-lightest;

  &:hover {
    background-color: $gray-almost-lightest;
  }

  .plugin {
    cursor: auto;
  }
}

.form-fields-container {
  margin-bottom: 20rem;
}
