@import 'shared-styles/assets/sass/scss/generic/variables';

.dataset-name {
  align-items: center;
  display: flex;
  padding: 0.5em 0.5em 0.5em 0;
  word-break: break-all;
}

.depublication-status {
  font-size: 0.75rem;

  &.depublished {
    border-color: $eu-red;
    color: $eu-red;
  }
}

.svg-icon-dataset {
  display: inline-block;
  width: 24px;
  height: 32px;

  &::before {
    left: 0;
    top: 8px;
  }
}

dl {
  border-bottom: 1px solid $offwhite;
  margin-bottom: 0;
  overflow: hidden;

  dt,
  dd {
    border-top: 1px solid $offwhite;
    float: left;
    font-size: $font-size-slightly-smaller;
    padding: 0.75rem 0;
    width: 50%;
  }

  dt {
    clear: left;
    color: $gray-light;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
}

@media (min-width: $bp-xxl) {
  .metis-dataset-info-block {
    width: 30rem;
  }
}
