@import '../../scss/generic/variables';

$border-radius: 2px;
$tab-header-min-height: 4.9em;

$color-status-warning: $eu-light-orange;
$color-status-inqueue: $eu-purple;

$color-status-cleaning: $eu-light-blue-orb;
$color-status-pending: $eu-blue;
$color-status-running: $eu-blue;
$color-status-finished: $eu-jade;
$color-status-cancelled: $eu-yellow;
$color-status-failed: $eu-raspberry;

$fixed-header-height: 4.8rem;
$fixed-header-height-mobile: 9rem;

$grid-size-massive: 10000em;
$grid-size-massive-offset: -5000em;
$grid-row-border-height: 0.5em;
$grid-h-line-item-color: $offwhite;

$row-border-height-half: 0.25em;
$v-line-left-width: $row-border-height-half;
