@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

$width-orb: 3em;

.buttonplaceholder {
  &:empty {
    display: none;
  }
}

.orb-status {
  cursor: pointer;
  margin: 0;

  &.labelled.link_checking::after {
    background-image: none;
    content: 'Lc';
  }
}

.table-btn,
.table-grid {
  color: $gray-light;
}

.table-btn {
  align-items: center;
  margin-left: auto;
  width: 8em;
}

.table-grid-row-start {
  width: $width-orb;
}

.time:not(.br) {
  margin-right: 0;
  text-align: center;
  &::after {
    width: 100%;
  }
}

.totals {
  align-self: center;
  display: flex;
  float: right;
  position: relative;
  width: calc(100% - #{$width-orb});
}

// reversal is here
@media all and (min-width: $bp-med) {
  .buttonplaceholder {
    justify-content: center;
    white-space: nowrap;
    &:empty {
      display: flex;
    }
  }

  .head-prefix {
    display: inline-block;
  }

  .table-btn {
    margin-left: 0;
    width: auto;
  }

  .table-grid-row-start {
    width: auto;
  }

  .totals {
    float: none;
    width: auto;
  }
}

.status,
.svg-icon {
  margin: 0 0.7em;
}

.xml-icon {
  font-size: 130%;
  font-weight: bold;
  line-height: 1rem;
  margin-left: 0.4em;
  margin-right: 0.2em;
  transform: translateY(-10%);
}
