app-tab-headers {
  display: block;
  width: 100%;
}

.tabs {
  background: $white;
  border-right: 0;
  min-height: $tab-header-min-height;
  line-height: 1.3em;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 1;

  li {
    display: block;
    flex: 1 1 0%;

    a {
      color: $gray-light;
      display: block;
      height: 100%;
      padding: 0.4em 1.2em;
    }

    span {
      display: block;
    }

    .tab-subtitle {
      color: $gray-light;
      font-size: 0.75rem;
    }
  }

  li:hover,
  li.active {
    background: $eu-jade;
    color: $white;

    a,
    span {
      color: inherit;
    }
  }

  @media (min-width: $bp-med) {
    border-bottom: 5px solid $eu-jade;
    border-top: 5px solid $white;
    display: flex;
  }
}

.tab-content {
  margin: 0 auto;
  padding: 1rem;

  @media all and (min-width: $bp-xl) {
    max-width: 80%;
  }
}
