@use 'shared-styles/assets/sass/scss/generic/variables-colours';

.download-link.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.dropdown {
  color: variables-colours.$gray-med;
  position: relative;
  z-index: 1;
}

.dropdown-wrapper::after,
.dropdown-wrapper::before {
  transform: translate(7px, 0);
}

.dropdown .dropdown-content {
  max-height: 20em;
}

.editor-ctrl.black {
  background-color: #000;
  border: 0;
  color: variables-colours.$white;
}

.editor-ctrl.download-icon,
.editor-ctrl.theme-ctrl {
  &::before {
    content: unset;
  }
  &:not(.download-icon).active {
    &::after {
      border: solid variables-colours.$eu-jade;
      border-width: 0 3px 3px 0;
      content: '';
      height: 10px;
      left: 7.5px;
      position: absolute;
      top: 4px;
      transform: rotate(45deg);
      width: 5px;
    }
  }
  &.download-icon {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' fill='%23219d31' viewBox='0 0 444 325'%3E%3Cpath d='M166 1c-23 2-45 11-62 25l-8 6-8 10a115 115 0 0 0-28 71v15l-5 3c-28 15-47 42-53 73v35a109 109 0 0 0 18 44c9 11 27 26 40 32 10 5 12 5 30 9h278c18-3 32-10 44-21 14-12 24-27 28-42l2-8v-33l-2-9a90 90 0 0 0-62-60c-3 0-2-2 0-7 5-8 6-13 6-27 0-13-1-15-6-26-6-11-18-23-30-27-6-3-16-5-22-5-11 0-25 4-34 11l-5 3-2-5A118 118 0 0 0 166 1zm69 90 2 2v84h55l2 3c4 5 5 4-41 50-40 40-43 43-46 43s-6-3-46-42c-39-39-42-43-42-46l2-6c2-2 2-2 29-2h27v-41c0-39 0-41 2-44l2-3h26c25 0 25 0 28 2z'%3E%3C/path%3E%3C/svg%3E");
      content: '';
      display: block;
      height: 17px;
      position: absolute;
      top: 2px;
      width: 24px;
    }
  }
}

.flex-pair {
  align-items: center;
  display: flex;
  :last-child {
    margin-left: 1em;
  }
}

.theme-title {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
