@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/pandora/settings/metis-variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.form-field-anchor {
  bottom: 0;
  position: absolute;
  top: 0;
}

.form-fields {
  border-left: 0.25em solid $eu-jade;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
}

.form-fields.inactive {
  background-color: $gray-lightest;
  border-left: 0;
  color: $gray-lighter;

  .form-group label,
  input {
    border-color: $gray-lighter;
    color: $gray-lighter;
  }

  &:hover {
    background-color: white;
  }
}

.form-fields.disabled,
.form-fields.inactive {
  align-items: center;
  display: flex;
}

.form-fields.disabled {
  background-color: $gray-almost-lightest;

  &:hover {
    background-color: $gray-almost-lightest;
  }

  .plugin {
    cursor: auto;
  }
}

.form-group.form-group-checkbox {
  display: flex;

  label {
    max-width: 10rem;
  }
}

.svg-icon-plus::before {
  top: 0;
}

.form-group-radios label {
  padding: 0.5rem 2rem 0.5rem 0;
}

.link-check > label {
  pointer-events: none;
}

.plugin {
  align-items: center;
  color: $eu-jade;
  display: inline-flex;
  font-size: 1.5rem;
  padding-right: 2rem;
  position: relative;
  cursor: default;
  pointer-events: none;

  input {
    display: none;
  }
}

@media (min-width: $bp-small-3) {
  .plugin {
    white-space: nowrap;
  }
}

.form-fields.inactive .plugin {
  color: $gray-lighter;
}

:hover > .link-check-ctrl {
  display: block;
}

.link-check-ctrl {
  display: none;
  position: absolute;
  right: -1.5rem;
  top: 50%;
  transform: translateY(-50%);

  .ctrl {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 1.6em;
    width: 32px;
  }

  .add {
    background-image: svg-url-icon-link-checking($eu-jade);
    height: 30px;
    width: 45px;
  }

  .down {
    transform: rotate(180deg);
  }

  .remove {
    background-color: $offwhite;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23acacac' viewBox='0 0 26 26'%3E%3Cpath d='M22 15H4c-.6 0-1-.4-1-1v-2c0-.6.4-1 1-1h18c.6 0 1 .4 1 1v2c0 .6-.4 1-1 1z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 16px 16px;
    border-radius: 16px;
    box-shadow: 0 1px 0 0 rgba(119, 119, 119, 0.6);
    height: 32px;
  }

  .up,
  .down {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23ACACAC' x='0px' y='0px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'%3E%3Cpath d='M15.484,12.452c-0.436,0.446-1.043,0.481-1.576,0L10,8.705l-3.908,3.747c-0.533,0.481-1.141,0.446-1.574,0 c-0.436-0.445-0.408-1.197,0-1.615c0.406-0.418,4.695-4.502,4.695-4.502C9.43,6.112,9.715,6,10,6s0.57,0.112,0.789,0.335 c0,0,4.287,4.084,4.695,4.502C15.893,11.255,15.92,12.007,15.484,12.452z'%3E%3C/path%3E%3C/svg%3E");
    height: 28px;
  }

  @media (min-width: $bp-small) {
    right: 0.75rem;
  }

  @media (min-width: $bp-small-3) {
    right: 2rem;
  }

  @media (min-width: $bp-med) {
    right: 4.5rem;
  }
}

.show-on-hover {
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.3em;

  .hovered-content {
    line-height: 1.3em;
    position: absolute;
    transform: translateY(-50%);
  }
}
