@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.workflow-selector {
  max-height: 10rem;
  overflow: auto;
}

.dataset-actionbar {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  min-height: 4rem;
  padding: 0.75rem;
  width: 100%;

  .status {
    font-size: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 1.5rem;
    white-space: nowrap;

    strong,
    &.status-new {
      display: block;
      font-size: $font-size-slightly-smaller;
    }
  }

  .datetime {
    font-size: 0.8125rem;
    padding-right: 0.5rem;
    text-align: center;
    white-space: nowrap;

    @media (max-width: $bp-xxl) {
      span {
        display: block;
      }

      .datedivider {
        display: none;
      }
    }
  }
}

nav {
  white-space: nowrap;

  li {
    border-left: 1px solid $offwhite;
    display: inline-block;
    padding: 0.4rem;
    position: relative;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @media (min-width: $bp-xxl) {
      a:not(.newaction-btn)::after {
        display: none;
      }
    }

    @media (max-width: $bp-xxl) {
      span {
        display: none;
      }

      .newaction-btn span {
        display: inline-block;
      }
    }
  }

  li a {
    color: $gray-med;
    font-size: $font-size-slightly-smaller;
    padding: 0.25rem 0.5rem 0.25rem 1.75rem;

    &:hover {
      background: $offwhite;
      border-radius: $border-radius;
    }

    &.newaction-btn {
      margin: 0 0.3rem 0 0.8rem;
      border: 1px solid $eu-jade;
      border-radius: $border-radius;
      padding-left: 0.5rem;
      background: $eu-jade;
      color: $white;
      font-size: $font-size-slightly-smaller;
      text-transform: uppercase;
    }
  }
}
