@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.dataset-actionbar {
  align-items: center;
  display: flex;
  min-height: 4rem;
  padding: 0.75rem;

  .status {
    flex-basis: 1;
    flex-grow: 0;
    font-size: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 1.5rem;
    white-space: nowrap;

    strong,
    &.status-new {
      display: block;
      font-size: 0.875rem;
    }

  }

  .progress {
    flex-basis: 1;
    flex-grow: 2;
    font-size: 0.75rem;
    padding-right: 1.5rem;

    .progress-status {
      align-content: center;
      display: flex;
      justify-content: space-between;
    }

    .progress-statusnumbers {
      width: 6rem;
    }

    .progress-percentage {
      text-align: right;
      width: 3rem;
    }

    .progressbar {
      background: $offwhite;
      border-radius: 0.5rem;
      height: 0.5rem;
      margin-bottom: 1rem;
      width: 100%;

      .progressbar-done {
        background: $eu-blue;
        border-radius: 0.5rem;
        height: 0.5rem;
      }

    }
  }

  .datetime {
    flex-basis: 1;
    flex-grow: 0;
    font-size: 0.8125rem;
    padding-right: 0.5rem;
    text-align: center;
    white-space: nowrap;

    @media (max-width: $bp-xxl) {
      span {
        display: block;
      }

      .datedivider {
        display: none;
      }
    }

  }

  nav {
    flex-basis: 1;
    flex-grow: 0;
    white-space: nowrap;

    li {

      border-left: 1px solid $offwhite;
      display: inline-block;
      padding: 0.4rem;
      position: relative;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        color: $gray-med;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem 0.25rem 1.75rem;

        &:hover {
          background: $offwhite;
          border-radius: $border-radius;
        }

        &.newaction-btn {
          border: 1px solid $white;
          border-bottom: 0;
          padding-left: 0.5rem;
          padding-right: 1.75rem;
        }

        &.newaction-btn-open {
          background-color: $white;
          border: 1px solid $offwhite;
          border-bottom: 0;
          z-index: 9;
        }

        &.newaction-btn+ul {
          background: $white;
          border: 1px solid $offwhite;
          box-shadow: rgba(77, 77, 77, 0.2) 0 1px 4px;
          padding: 0.5rem 0;
          position: absolute;
          right: 0;
          width: 16rem;
          z-index: 8;

          li {
            display: block;
            padding: 0 0.5rem;
          }

          a {
            font-size: 0.75rem;
            padding: 0;
          }

          a:hover {
            background: none;
            text-decoration: underline;
          }

        }

      }

      @media (max-width: $bp-xxl) {
        a:not(.newaction-btn)[data-tooltip] {
          cursor: pointer;
          position: relative;
          z-index: 2;

          &::after {
            background: $gray-light;
            border-radius: $border-radius;
            bottom: 2rem;
            color: $white;
            content: attr(data-tooltip);
            font-size: 0.75rem;
            left: 50%;
            opacity: 0;
            padding: 0.25rem 1rem;
            position: absolute;
            transform: translate(-50%, 0);
          }

          &:hover::after {
            opacity: 1;
          }
        }

        span {
          display: none;
        }

        .newaction-btn span {
          display: inline-block;
        }
      }

    }
  }
}
