<div class="header-wrapper">
  <header class="header">
    <div class="header-container">
      <div class="metis-logo">
        <a routerLink="{{ logoLink() }}" class="phase-flag beta" tabindex="-1">BETA</a>
        <a routerLink="{{ logoLink() }}" class="logo ir"></a>
      </div>
      <app-search [placeholderKey]="'searchPlaceholder'" [apiEndpoint]="'/search'"></app-search>
      <div class="dashboard-header-links">
        <div *ngIf="isLoggedIn(); then loggedIn; else loggedOut"></div>
        <ng-template #loggedIn>
          <div class="settings-menu cf nav-loggedin">
            <a
              routerLink="/dashboard"
              routerLinkActive="svg-icon-dashboard-active"
              class="link-to-dashboard svg-icon-dashboard"
            ></a>
            <div class="metis-user" (clickOutside)="onClickedOutsideUser($event)">
              <a class="has-submenu" (click)="toggleSignInMenu()"
                ><span
                  class="svg-icon-loggedin-user {{
                    userIconActive() ? 'svg-icon-loggedin-user-active' : ''
                  }}"
                ></span
              ></a>
              <ul class="menu-sublevel caret" *ngIf="openSignIn">
                <li>
                  <a (click)="gotoProfile()">{{ 'myProfile' | translate }}</a>
                </li>
                <li>
                  <a (click)="logOut()">{{ 'signOut' | translate }}</a>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
        <ng-template #loggedOut>
          <ul class="settings-menu cf nav-access">
            <li>
              <a class="signup has-submenu" (click)="toggleSignInMenu()">{{
                'signIn' | translate
              }}</a>
              <ul class="menu-sublevel caret" *ngIf="openSignIn">
                <li>
                  <a (click)="gotoLogin()">{{ 'signIn' | translate }}</a>
                </li>
                <li>
                  <a (click)="gotoRegister()">{{ 'register' | translate }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </header>
</div>
