@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.links-recent {
  margin-bottom: 1em;
}

.link-recent,
.link-recent-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 4px 1em;
}

.link-recent::before,
.link-recent-all::after {
  content: '';
  background-size: cover;
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 4px;
}

.link-recent::before {
  background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$black);
}

.link-internal.toggle-expand {
  position: relative;

  &::after {
    color: #4d4d4d;
    content: '\2304';
    font-size: 20px;
    height: 16px;
    line-height: 6px;
    position: absolute;
    right: -19px;
    top: 1px;
    transform: rotate(270deg);
  }

  &.open::after {
    transform: rotate(0deg);
  }
}
