@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.link-expand {
  background-color: variables-colours.$eu-grey-middle;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1.25em;
  margin-bottom: calc(3em + 4px);
  width: 1px;

  &::after {
    background-color: #fff;
    border: 1px solid variables-colours.$eu-grey-middle;
    border-radius: 50%;
    content: attr(dataPlusOrMinus);
    display: block;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    text-align: center;
    transform: translateX(calc(-50% + 0.5px));
    width: 16px;
  }

  &:focus-visible {
    background-color: variables-colours.$eu-grey-middle;
    color: variables-colours.$eu-light-orange;
    outline: 0;
  }
}

.pad-less {
  margin-left: 1em;
}

.pad-more {
  margin-left: 1.85em;
}

.link-all-label {
  background-color: #fff;
  padding: 0 0.4em;
  z-index: 1;
}

.links-recent-wrapper {
  display: flex;
}

.links-recent {
  column-gap: 1em;
  display: grid;
  grid-template-columns: 8px auto auto auto;
  margin-bottom: 3em;
  row-gap: 1px;

  li:not(.link-recent-all-wrapper),
  a:not(.link-recent-all) {
    display: contents;
  }
}

.link-recent {
  flex-direction: row;
  margin: 0 0 4px 1em;

  &::before {
    background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$black);
    margin: 4px 2px 0 0;
  }

  :first-child {
    padding: 0 2px 0 2px;
  }
}

.link-recent,
.link-recent-all {
  align-items: center;
  display: flex;
}

.link-recent::before,
.link-recent-all::after {
  content: '';
  background-size: cover;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.link-recent-all-wrapper {
  grid-column: 1 / 5;
  margin-top: 0.75em;
}

.link-recent-all {
  flex-direction: row-reverse;
  margin-right: 1.6em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0.5em;
    bottom: 0.75em;
    display: block;
    height: 2em;
    width: calc(100% - 1em);
    background-color: transparent;
    border-bottom: 1px solid variables-colours.$eu-grey-middle;
    border-left: 1px solid variables-colours.$eu-grey-middle;
  }

  &::after {
    position: absolute;
    right: -1.6em;
    top: 4px;
  }

  &:focus-visible {
    outline: 0;
    .link-all-label {
      outline: 1px solid variables-colours.$eu-light-orange;
    }
  }
}

.link-internal.toggle-expand {
  position: relative;

  &::after {
    color: #4d4d4d;
    content: '\2304';
    font-size: 20px;
    height: 16px;
    line-height: 6px;
    position: absolute;
    right: -19px;
    top: 1px;
    transform: rotate(270deg);
  }

  &.open::after {
    transform: rotate(0deg);
  }
}
