<ng-template #recentList>
  <li class="links-recent-wrapper">
    <ul class="links-recent" [ngClass]="{ 'pad-less': listView, 'pad-more': !listView }">
      <li *ngFor="let item of visibleModel()">
        <a
          tabindex="0"
          class="link-recent"
          (click)="openLink(item.id)"
          (keydown.enter)="openLink(item.id)"
          (keydown.esc)="closeMenu()"
        >
          <span tabindex="0">{{ item.id }}</span>
          <span>{{ item.name }}</span>
          <span>{{ item.date.split('T')[0] }}</span>
        </a>
      </li>

      <li *ngIf="expandable" class="link-recent-all-wrapper">
        <a
          tabindex="0"
          (click)="showAll()"
          (keydown.enter)="showAll()"
          (keydown.esc)="closeMenu()"
          class="link-recent-all"
          ><span class="link-all-label">search {{ model.length }} datasets</span></a
        >
      </li>
    </ul>
    <a
      *ngIf="expandable"
      tabindex="0"
      (click)="toggleExpanded()"
      (keydown.enter)="toggleExpanded()"
      (keydown.esc)="closeMenu()"
      class="link-expand"
      [attr.dataPlusOrMinus]="expanded ? '-' : '+'"
    >
    </a>
  </li>
</ng-template>

@if(model.length){ @if(listView){
<li>
  <label class="inline-text"
    >Or
    <a
      #menuOpener
      tabindex="0"
      class="link-internal toggle-expand"
      [ngClass]="{ open: menuOpen }"
      data-e2e="opener-links-recent"
      (keydown.enter)="toggleMenu()"
      (click)="toggleMenu()"
      >view a recent dataset</a
    ></label
  >
</li>
<ng-container *ngIf="menuOpen">
  <ng-content *ngTemplateOutlet="recentList"> </ng-content>
</ng-container>
} @else {
<ng-container>
  <ng-content *ngTemplateOutlet="recentList"> </ng-content>
</ng-container>
} }
