@charset "UTF-8";

@use 'shared-styles/assets/sass/pandora/settings/metis-variables-layout';
@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';

/* SITE SPECIFIC VARIABLE OVERRIDES HERE */

/* Reset */
@use 'shared-styles/assets/sass/scss/generic/reset';

/* GLOBAL ELEMENTS */
@use 'shared-styles/assets/sass/scss/base/global-classes';
@use 'shared-styles/assets/sass/scss/base/main';
@use 'shared-styles/assets/sass/scss/base/links';
@use 'shared-styles/assets/sass/scss/base/headings_simple';
@use 'shared-styles/assets/sass/scss/base/lists';
@use 'shared-styles/assets/sass/scss/base/media';
@use 'shared-styles/assets/sass/scss/base/forms';
@use 'shared-styles/assets/sass/scss/base/tables';
@use 'shared-styles/assets/sass/scss/base/text';

/* PAGE STRUCTURE */
@use 'shared-styles/assets/sass/scss/objects/header';
@use 'shared-styles/assets/sass/scss/objects/blocks/site-hero';

/* NAVIGATION */
@use 'shared-styles/assets/sass/scss/objects/nav';

/* Global icons (svg) */
@use 'shared-styles/assets/sass/scss/objects/icons/icons-licenses';
@use 'shared-styles/assets/sass/scss/objects/user';

@use 'shared-styles/assets/sass/pandora/base/form';
@use 'shared-styles/assets/sass/pandora/base/grid';
@use 'shared-styles/assets/sass/pandora/base/tabs';

@use 'shared-styles/assets/sass/pandora/components/banner';
@use 'shared-styles/assets/sass/pandora/components/collapse-block';
@use 'shared-styles/assets/sass/pandora/components/dashboard';
@use 'shared-styles/assets/sass/pandora/components/dashboard-header';
@use 'shared-styles/assets/sass/pandora/components/dashboard-filter';
@use 'shared-styles/assets/sass/pandora/components/dataset-info-block';
@use 'shared-styles/assets/sass/pandora/components/modal';
@use 'shared-styles/assets/sass/pandora/components/sitehero';
@use 'shared-styles/assets/sass/pandora/components/status-bullet';

/* Local (Metis-UI) */
@use 'assets/sass/buttons';
@use 'assets/sass/pill';
@use 'assets/sass/attribution';
@use 'assets/sass/theme/hero-branding-v2';
@use 'assets/sass/dashboard-metis';
@use 'assets/sass/dropdown';
@use 'assets/sass/progress';
@use 'assets/sass/helpers';
@use 'assets/sass/codemirror/lib/codemirror.css';
@use 'assets/sass/codemirror/theme/midnight.css';
@use 'assets/sass/codemirror/addon/fold/foldgutter.css';
@use 'assets/sass/viewxmlsamples';

body {
  background-color: variables-colours.$offwhite;
}

.header-wrapper .search-form {
  position: absolute;
  top: 5em;

  @media (min-width: variables-bp.$bp-small-3) {
    position: relative;
    top: auto;
  }
}

.lc {
  margin: 0 auto;
  max-width: 80rem;
}

/* metis main content */
.metis-main-content {
  margin: metis-variables-layout.$fixed-header-height-mobile 0;
  min-height: calc(100vh - 55rem);

  @media (min-width: variables-bp.$bp-small-3) {
    margin: metis-variables-layout.$fixed-header-height 0 2rem 0;
  }
}

.modal .notification {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

*:focus {
  &:not(.checkbox) {
    border: 1px solid variables-colours.$eu-orange;
  }
  outline: 0;
}
