<div class="home" [ngClass]="{ showing: showing() }">
  <span>
    The Sandbox allows you to:
  </span>
  <ol class="list">
    <li>
      test to see if your data will work within the Metis flow
    </li>
    <li>
      get insight into the quality of your records
    </li>
    <li>
      preview your records on Europeana.eu
    </li>
  </ol>
  <a class="get-started" href="/dataset" (click)="clickEvent($event)">GET STARTED</a>

  <ul class="recent-wrapper">
    <sb-recent [model]="recentModel" (showAllRecent)="showAllRecent.emit()"></sb-recent>
  </ul>
</div>
