@import 'shared-styles/assets/sass/scss/generic/variables';

.get-started {
  display: flex;
  font-weight: bold;
  margin: auto;
}

.home {
  background-color: $white;
}

.home-content {
  display: flex;
  flex-direction: column;
  padding: 0 2em 2em 2em;
  text-align: center;
}

.list {
  list-style-type: decimal;
  margin: 1em 0 3em 0;
}

.nav-orb.is-active {
  border-color: $eu-light-orange;
}

@media (min-width: $bp-med) {
  .get-started {
    margin: 0 0 0 auto;
  }

  .home-content {
    text-align: left;
  }

  .list {
    margin: 1em 0 2em 3em;
  }
}
