<div class="home" [ngClass]="{ showing: showing() }">
  @if(!recentModel.length){
  <span>
    The Sandbox allows you to:
  </span>
  <ol class="list">
    <li>
      test to see if your data will work within the Metis flow
    </li>
    <li>
      get insight into the quality of your records
    </li>
    <li>
      preview your records on Europeana.eu
    </li>
  </ol>
  } @else{
  <ul>
    <li class="title-personalised">{{ userName }}'s Recent Datasets</li>
    <sb-recent [model]="recentModel" (showAllRecent)="showAllRecent.emit()"></sb-recent>
  </ul>
  }

  <a class="get-started" href="/dataset" (click)="clickEvent($event)">GET STARTED</a>
</div>
