<span class="search-form">
  <ng-template #button>
    <a
      class="search"
      role="button"
      [ngClass]="{ disabled: !searchInput.validity.valid, loading: loading() }"
      (click)="executeSearch()"
    ></a>
  </ng-template>

  @if (reversed()) {
  <ng-content *ngTemplateOutlet="button"></ng-content>
  }

  <input
    #searchInput
    [id]="inputId()"
    class="search-string"
    type="text"
    [attr.pattern]="pattern()"
    (keyup.enter)="submitOnEnter()"
    [(ngModel)]="searchString"
    [placeholder]="placeholderKey() | translate"
  />

  @if (label()) {
  <label class="search-label" [for]="inputId()">{{ label() }} </label>
  } @if (!reversed()) {
  <ng-content *ngTemplateOutlet="button"></ng-content>
  }
</span>
