@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$dimension-button: 40px;

.search-string {
  margin-right: 0.5em;
  transition: width 0.5s;
  width: 100%;

  &::placeholder {
    color: $gray-light;
  }

  @media (min-width: $bp-small-3) {
    width: 16.5em;
  }

  @media (min-width: $bp-med) {
    width: 22em;
  }

  @media (min-width: $bp-xl) {
    width: 600px;
  }
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 1em;
  position: absolute;
  right: 1em;
  top: 5em;

  @media (min-width: $bp-small-3) {
    left: auto;
    position: relative;
    right: auto;
    top: auto;
  }
}

.search {
  background-color: $eu-jade;
  background-image: svg-url-icon-search($white);
  background-position: 60% 45%;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: $dimension-button;
  min-width: $dimension-button;
  width: $dimension-button;

  &:hover {
    background-color: $eu-jade-dark;
  }
}
