@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/generic/variables-font';

.collapsed li {
  display: none;
}

.collapsible-trigger {
  cursor: pointer;
}

.load-more-btn.vertical {
  margin-left: 1.5em;
  &::after {
    transform: rotate(90deg);
  }
}

.stats-header {
  display: block;
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.nps-listing {
  font-size: variables-font.$font-size-slightly-smaller;
}

.stats-listing ul,
.nps-listing > li {
  margin-left: 1em;
}

.stats-listing > li:not(:last-child) {
  border-bottom: 1px solid variables-colours.$offwhite;
  margin-bottom: 1.5em;
  padding-bottom: 0.75em;
}

.view-sample-title {
  height: 3.4rem;
  justify-content: flex-end;
}
