@use '../../scss/generic/variables-colours';

$color-status-warning: variables-colours.$eu-light-orange;
$color-status-inqueue: variables-colours.$grey-2;

$color-status-cleaning: variables-colours.$eu-light-blue-orb;
$color-status-pending: variables-colours.$eu-blue;
$color-status-running: variables-colours.$light-green;
$color-status-identifying-deleted-records: variables-colours.$eu-green-light;
$color-status-finished: variables-colours.$eu-jade;
$color-status-cancelled: variables-colours.$yellow;
$color-status-failed: variables-colours.$eu-raspberry;
