<nav attr.aria-label="{{ ariaLabel }}">
  <ul class="sandbox-status">
    <ng-template #orbItem let-itemIndex="itemIndex">
      <span class="tooltip-container" [attr.title]="getTooltip(itemIndex)">
        <a
          (click)="clicked($event, itemIndex)"
          (keydown.enter)="clicked($event, itemIndex)"
          [ngClass]="fnClassMapInner(itemIndex)"
          class="nav-orb labelled"
          [attr.data-label]="itemIndex + 1"
          [attr.aria-label]="getTooltip(itemIndex)"
          [attr.href]="links.length > itemIndex ? links[itemIndex] : null"
          [attr.data-indicator]="_indicatorAttributes[itemIndex]"
          [attr.tabindex]="getModifiedTabIndex(itemIndex)"
        >
        </a>
      </span>
    </ng-template>
    <ng-template #showCollapsed>
      <li>
        <button
          class="nav-orb labelled previous"
          [ngClass]="{ disabled: index < 1 }"
          [disabled]="index < 1"
          (click)="clickedPrev()"
        ></button>
      </li>
      <li class="orb-container" [ngClass]="fnClassMapOuter(index)">
        <ng-content *ngTemplateOutlet="orbItem; context: { itemIndex: index }"></ng-content>
      </li>
      <li>
        <button
          class="nav-orb labelled next"
          [ngClass]="{ disabled: index + 1 >= steps.length }"
          [disabled]="index + 1 >= steps.length"
          (click)="clickedNext()"
        ></button>
      </li>
    </ng-template>

    <ng-container *ngIf="!collapsed; else showCollapsed">
      <li *ngFor="let step of steps" class="orb-container" [ngClass]="fnClassMapOuter(step)">
        <ng-content *ngTemplateOutlet="orbItem; context: { itemIndex: step }"></ng-content>
      </li>
    </ng-container>
  </ul>
</nav>
