@import 'shared-styles/assets/sass/scss/generic/variables';

.disabled {
  border-color: $eu-jade-light;
  background-color: #7ed4b6;
  pointer-events: none;
  &::after {
    opacity: 0.35;
    text-shadow: -1px -1px 1px rgba(165, 228, 206, 0.1), 1px 1px 1px rgba(165, 228, 206, 0.5);
  }
}
