@import 'shared-styles/assets/sass/pandora/settings/_metis-variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

#stepSize {
  width: 5em;
}

.form-group.protocol-wrapper {
  margin-bottom: 1.5em;
}

select {
  width: 100%;
}

.modal-info-list {
  list-style: disc;
  margin: 1em 0 0 2em;
}

.separator-line:first-child {
  margin-top: 70px;
}

.submit-button {
  margin: 2em auto 0 0;
}

.open-info {
  display: block;
  height: 1.6em;
  margin-right: 0.3em;
  width: 1em;
}
