<form
  [formGroup]="form"
  [ngClass]="{ hidden: !showing }"
  (ngSubmit)="onSubmitDataset()"
  [attr.aria-disabled]="!showing"
>
  <div class="form-group">
    <label
      for="name"
      i18n="name label"
      *ngFor="
        let isValid of [
          form.value['name'] && form.value['name'].length > 0 && !form.get('name')?.errors
        ]
      "
      [ngClass]="{
        tick: isValid,
        asterisked: !isValid
      }"
      >Name</label
    >
    <input id="name" formControlName="name" autocomplete="off" />
    <ng-container *ngIf="form.get('name'); let nameField">
      <ng-container *ngIf="nameField.value; let name">
        <span class="field-errors" *ngIf="name.length > 0 && nameField.errors">
          <span class="errors" i18n="Field error@@invalidDatasetName"
            >Please provide a valid name</span
          >
        </span>
      </ng-container>
    </ng-container>
  </div>
  <div class="form-group">
    <label
      for="country"
      i18n="country label"
      [ngClass]="{
        tick: form.value['country'],
        asterisked: !form.value['country']
      }"
      >Country</label
    >
    <select id="country" formControlName="country">
      <option *ngFor="let option of countryList" [ngValue]="option.name">{{
        option.xmlValue
      }}</option>
    </select>
  </div>

  <div class="form-group">
    <label
      for="language"
      i18n="language label"
      [ngClass]="{
        tick: form.value['language'],
        asterisked: !form.value['language']
      }"
      >Language</label
    >
    <select id="language" formControlName="language">
      <option *ngFor="let option of languageList" [ngValue]="option.name">{{
        option.xmlValue
      }}</option>
    </select>
  </div>

  <div class="form-group protocol-wrapper">
    <lib-protocol-field-set
      #protocolFields
      [protocolForm]="form"
      [incrementalEnabled]="false"
      [protocolSwitchField]="'uploadProtocol'"
      visibleProtocols="[EnumProtocolType.ZIP_UPLOAD, EnumProtocolType.HTTP_HARVEST, EnumProtocolType.OAIPMH_HARVEST]"
      [fileFormName]="zipFileFormName"
      [labelRequiredFieldClassMap]="{
        tick: protocolIsValid(),
        asterisked: !protocolIsValid()
      }"
    >
    </lib-protocol-field-set>
  </div>

  <div class="form-group">
    <div style="display: flex;">
      <a
        (click)="showStepSizeInfo()"
        (keydown.enter)="showStepSizeInfo()"
        class="open-info"
        title="Open information on step size"
        tabindex="0"
      ></a>
      <label
        *ngIf="form.controls.stepSize"
        for="stepSize"
        [ngClass]="{
          tick: form.controls.stepSize.valid,
          asterisked: !form.controls.stepSize.valid
        }"
      >
        Step size
      </label>
    </div>

    <ng-template #tmpStepSizeModalContent>
      <ng-container>
        <p>
          The step size determines which records in the dataset will be imported. If the step size
          is <em>n</em>, then one in every <em>n</em> records encountered in the dataset will be
          imported.
        </p>
        <ul class="modal-info-list">
          <li><em>a step size of 1 will import records 1, 2, 3, 4, …, 1000</em></li>
          <li><em>a step size of 3 will import records 3, 6, 9, 12, …, 3000</em></li>
          <li><em>a step size of 5 will import records 5, 10, 15, 20, …, 5000</em></li>
        </ul>
      </ng-container>
    </ng-template>

    <lib-modal
      id="{{ modalIdStepSizeInfo }}"
      title="Step Size Information"
      [isSmall]="false"
      [buttons]="[{ label: 'Close' }]"
    >
      <ng-content *ngTemplateOutlet="tmpStepSizeModalContent"></ng-content>
    </lib-modal>
    <input id="stepSize" [formGroup]="form" formControlName="stepSize" />
    <ng-container *ngIf="form.get('stepSize'); let field">
      <span class="field-errors" *ngIf="field.errors; let errors">
        <span class="errors" *ngIf="errors.min" i18n="Field error@@lowStepSize"
          >Please provide a higher value</span
        >
        <span class="errors" *ngIf="errors.nonNumeric" i18n="Field error@@invalidStepSize"
          >Please provide a numeric value</span
        >
        <span class="errors" *ngIf="errors.required" i18n="Field error@@missingStepSize"
          >Please provide a value</span
        >
      </span>
    </ng-container>
  </div>

  <div class="form-group">
    <lib-checkbox
      [form]="form"
      controlName="sendXSLT"
      labelText="Records are not provided in the EDM (external) format"
      (valueChanged)="updateConditionalXSLValidator()"
    ></lib-checkbox>

    <div [ngClass]="{ hidden: !form.value.sendXSLT }">
      <label
        class="form-group"
        [ngClass]="{
          tick: form.value['xsltFile'],
          asterisked: !form.value['xsltFile']
        }"
      >
        Please provide an XSLT transformation that converts your records to EDM (external)
      </label>
      <lib-file-upload
        #xslFileField
        [formControlName]="xsltFileFormName"
        [form]="form"
        [acceptedTypes]="'.xsl'"
        ngDefaultControl
      ></lib-file-upload>
    </div>
  </div>

  <button
    type="submit"
    class="submit-button submit-upload"
    [disabled]="!form.valid"
    data-e2e="submit-upload"
    i18n="Submit button|uploads the dataset button@@submitDataset"
  >
    <span class="icon upload"></span>
    <span class="label">Submit</span>
  </button>

  <sb-http-errors [error]="error"></sb-http-errors>
</form>
