<div class="metis-login-form metis-form">
  <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm" novalidate autocomplete="off">
    <div class="form-header">
      <h2>{{ 'signintometis' | translate }}</h2>
    </div>

    <div class="messages">
      <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="success-message" *ngIf="successMessage">{{successMessage}}</div>
    </div>

    <div class="form-fields">
      <fieldset class="form-group">
        <label for="email">{{ 'email' | translate }}:</label>
        <input id="email" type="email" formControlName="email" />
        <div class="messages" *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
          <div class="error-message">{{ 'emailerror' | translate }}</div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label for="password">{{ 'password' | translate }}:</label>
        <input id="password" type="password" formControlName="password" />
        <div class="messages" *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
          <div class="error-message">{{ 'passworderror' | translate }}</div>
        </div>
      </fieldset>
     
      <div class="form-group form-group-btns">
        <button class="login-btn" type="submit" [disabled]="!loginForm.valid || loading">
          {{ 'signin' | translate }} <i *ngIf="loading" class="fa fa-cog fa-spin"></i>
        </button>
      </div>
    </div>
  </form>
</div>
