<div class="metis-login-form metis-form">
  <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm" novalidate>
    <div class="form-header">
      <h2>Sign in to Metis</h2>
    </div>

    <div class="messages" *ngIf="error"><div class="error-message"><i class="fa fa-times"></i>{{error}}</div></div>

    <div class="form-fields">
      <fieldset class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
        <div class="messages" *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
          <div class="error-message">Please enter a valid email address</div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <div class="messages" *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
          <div class="error-message">Please enter a valid password</div>
        </div>
      </fieldset>
      <div class="forgot-credentials">
        <p><a routerLink="#">Forgot your credentials?</a></p>
      </div>
      <div class="form-group form-group-btns">
        <button class="login-btn" type="submit" [disabled]="!loginForm.valid || loading">Sign In</button>
      </div>
    </div>
  </form>
</div>
