<div class="metis-login-form metis-form">
  <form
    class="login-form"
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
    novalidate
    autocomplete="off"
  >
    <div class="form-header">
      <h2>{{ 'signInToMetis' | translate }}</h2>
    </div>

    <app-notification
      [notification]="notification"
      (closed)="notification = undefined"
    ></app-notification>

    <div class="form-fields">
      <fieldset class="form-group">
        <legend>{{ 'email' | translate }} &amp; {{ 'password' | translate }}</legend>

        <label for="email">{{ 'email' | translate }}:</label>
        <input id="email" type="email" formControlName="email" />
        <div
          class="messages"
          *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid"
        >
          <div class="error-message">{{ 'emailError' | translate }}</div>
        </div>

        <label for="password">{{ 'password' | translate }}:</label>
        <input id="password" type="password" formControlName="password" />
        <div
          class="messages"
          *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid"
        >
          <div class="error-message">{{ 'passwordError' | translate }}</div>
        </div>
      </fieldset>

      <div class="form-group form-group-btns">
        <app-loading-button
          classes="login-btn"
          type="submit"
          [disabled]="!loginForm.valid"
          [isLoading]="loading"
          [title]="'signIn' | translate"
        ></app-loading-button>
      </div>
    </div>
  </form>
</div>
