@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.ongoing-executions {
  display: block;
  float: right;
  font-size: .75rem;
  width: 100%;

  @media (max-width: $bp-xxl) {
    margin-left: 1rem;
    width: 63%;
  }

  h3 {
    font-size: 1.125rem;
  }

  .latest-ongoing {
    align-items: center;
    background: $white;
    border-bottom: 1px solid $offwhite;
    display: inline-flex;
    padding: .75rem;
    width: 100%;
  }

  .status {
    padding-right: 1rem;
    text-transform: uppercase;
    white-space: nowrap;

    strong {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      width: auto;
    }
  }

  .progress {
    padding-right: 1rem;

    .progress-percentage {
      text-align: right;
      width: 5rem;
    }
  }

  .workflowname {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10rem;
  }

  .datetime {
    white-space: nowrap;

    span {
      display: block;
    }

  }

  nav {
    white-space: nowrap;

    li {
      border-left: 1px solid $offwhite;
      display: inline-block;
      padding: .25rem;
      position: relative;
    }

    li:first-child {
      border-left: 0;
    }

    li:last-child {
      padding-right: 0;
    }

    li a {
      color: $gray-med;
      font-size: $font-size-slightly-smaller;
      padding: .25rem .5rem .25rem 1.25rem;
    }
  }

  .loadmore {
    background: $white;
    box-sizing: border-box;
    display: block;
    padding: .5rem 1rem;
    text-align: center;
    width: 100%;
  }
}


@media (max-width: $bp-xxl) {
  .ongoing-executions {
    margin-left: 1rem;
    margin-top: -2.1rem;
  }
}
