<h3>{{ 'ongoingexecutions' | translate }}</h3>
<div class="ongoing-executions" *ngIf="runningExecutions && runningExecutions.length > 0">
  <span class="grid-header">
    {{ 'workflow' | translate }}
  </span>
  <span class="grid-header">
    {{ 'overallprogress' | translate }}
  </span>

  <ng-container *ngFor="let ongoing of runningExecutions; trackBy: byId">
    <div
      class="status grid-cell labelled-orb row-start"
      [ngClass]="{ active: selectedExecutionDsId === ongoing.datasetId }"
    >
      <span
        class="{{ ongoing.currentPlugin.pluginType }} orb-status {{
          getPluginStatusClass(ongoing.currentPlugin)
        }}"
      ></span>
      <span>
        <span
          class="tooltip"
          title="{{ 'doubleclicktocopy' | translate }}"
          (dblclick)="
            copyInformation(
              'plugin',
              ongoing.currentPlugin.externalTaskId,
              ongoing.currentPlugin.id
            )
          "
          >{{ ongoing.currentPlugin.pluginType | renameWorkflow }}</span
        >
        <a
          [routerLink]="['/dataset', 'edit', ongoing.datasetId]"
          class="workflowname"
          target="_blank"
          >{{ ongoing.datasetId }}</a
        >
      </span>
    </div>
    <div class="progress grid-cell">
      <div class="progress-status">
        <span class="progress-percentage capitalise"
          >{{ 'step' | translate }} {{ ongoing.currentPluginIndex + 1 }}/{{
            ongoing.metisPlugins.length
          }}</span
        >
      </div>
      <div class="progressbar">
        <div class="progressbar-done" [style.width.%]="calcProgress(ongoing)"></div>
      </div>
    </div>
    <nav class="grid-cell ctrls row-divider">
      <ul>
        <li *ngIf="!ongoing.cancelling && ongoing.currentPlugin.pluginType !== 'PUBLISH'">
          <a
            class="cancel-btn svg-icon-cancel tooltip"
            title="{{ 'cancel' | translate }}"
            (click)="cancelWorkflow(ongoing.id, ongoing.datasetId, ongoing.datasetName!)"
          ></a>
        </li>
        <li *ngIf="ongoing.workflowStatus !== 'INQUEUE'">
          <a
            class="log-btn svg-icon-log tooltip"
            title="{{ 'log' | translate }}"
            (click)="showLog(ongoing)"
          ></a>
        </li>
        <li>
          <a
            [routerLink]="['/dataset', 'log', ongoing.datasetId]"
            class="log-btn svg-icon-history tooltip"
            title="{{ 'history' | translate }}"
          ></a>
        </li>
      </ul>
    </nav>
  </ng-container>
</div>
