<div class="messages">
  <div class="error-message" *ngIf="errorMessage"><i class="fa fa-times"></i>{{errorMessage}}</div>
</div>

<div class="ongoing-executions" *ngIf="ongoingFirst">
	<h3>Ongoing executions</h3>

  <div class="lastest-ongoing">
    <div class="status">
      <strong>{{ongoingFirst.workflowName}}</strong>
      {{ongoingFirst.cancelling ? cancelling : ongoingFirst.workflowStatus}}
    </div>
    <div class="progress">
      <span>{{ongoingFirst.datasetId}}</span> <a [routerLink]="['/dataset', 'edit', ongoingFirst.datasetId]">{{ongoingFirst.datasetName}}</a>
      <div class="progress-status">
        <span class="progress-statusnumbers">{{ongoingFirst.metisPlugins[currentPlugin].executionProgress.processedRecords}} / {{ongoingFirst.metisPlugins[currentPlugin].executionProgress.expectedRecords}}</span>
      </div>
      <div class="progressbar">
        <div class="progressbar-done" [style.width.%]="ongoingFirst.metisPlugins[currentPlugin].executionProgress.progressPercentage >= 0 ? ongoingFirst.metisPlugins[currentPlugin].executionProgress.progressPercentage : 0"></div>
      </div>
    </div>
    <div class="datetime">
      <span class="date">{{ongoingFirst.updatedDate | date:'dd/MM/yyyy'}}</span> 
      <span class="datedivider">-</span> 
      <span class="time">{{ongoingFirst.updatedDate | date:'HH:mm'}}</span>
    </div>
    <nav>
      <ul>
        <li><a class="cancel-btn svg-icon-cancel tooltip" data-tooltip="Cancel" (click)="cancelWorkflow(ongoingFirst.id)"></a></li>
        <li><a class="log-btn svg-icon-log tooltip" data-tooltip="Log" (click)="showLog(ongoingFirst.metisPlugins[currentPlugin].externalTaskId, ongoingFirst.metisPlugins[currentPlugin].topologyName)"></a></li>
        <li><a [routerLink]="['/dataset', 'log', ongoingFirst.datasetId]" class="log-btn svg-icon-history tooltip" data-tooltip="History"></a></li>
      </ul>
    </nav>
  </div>

  <ul class="ongoing" *ngIf="ongoing">
    <li *ngFor="let o of ongoing;">
      <h4>{{o.datasetId}} <a [routerLink]="['/dataset', 'edit', o.datasetId]">{{o.datasetName}}</a></h4>
      <div class="progress">
        <div class="progressbar">
          <div class="progressbar-done" [style.width.%]="o.metisPlugins[currentPlugin].executionProgress.progressPercentage >= 0 ? o.metisPlugins[currentPlugin].executionProgress.progressPercentage : 0"></div>
        </div>
      </div>
      <nav>
        <ul>
          <li><a class="cancel-btn svg-icon-cancel tooltip" data-tooltip="Cancel" (click)="cancelWorkflow(o.id)"></a></li>
        </ul>
      </nav>
    </li>    
  </ul>

</div>
