@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.ongoing-executions {
  font-size: 0.75rem;

  h3 {
    font-size: 1.125rem;
  }

  .lastest-ongoing {
    align-items: center;
    background: $white;
    border-bottom: 1px solid $offwhite;
    display: flex;
    padding: 0.75rem;
  }

  .status {
    flex-basis: 0;
    flex-grow: 0;
    padding-right: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;

    strong {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      width: 6rem;
    }
  }

  .progress {
    .progress-percentage {
      text-align: right;
      width: 2rem;
    }
  }

  .datetime {
    white-space: nowrap;

    span {
      display: block;
    }

  }

  nav {
    flex-basis: 0;
    flex-grow: 0;
    white-space: nowrap;

    li {
      border-left: 1px solid $offwhite;
      display: inline-block;
      padding: 0.4rem;
      position: relative;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        color: $gray-med;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem 0.25rem 1.25rem;
      }
    }
  }

  .loadmore {
    background: $white;
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
  }
}


@media (max-width: $bp-xxl) {
  .ongoing-executions {
    margin-left: 1rem;
    margin-top: -2.1rem;
  }
}
