$white: #fff;
$offwhite: #f1f1ee;

$gray-lightest: #f8f8f8;
$gray-almost-lightest: #dedede;
$gray-lighter: #ccc;
$gray-light: #777;
$gray-med: #4d4d4d;
$gray-hero: #e7e7e7;
$gray-dark: #212121;

$black: #1a1a1a;
$opacity-black: rgba(0, 0, 0, 0.7);
$opacity-gray-light: rgba(119, 119, 119, 0.6);
$opacity-gray-very-light: rgb(230, 230, 230);

$eu-red: #f22f24;
$eu-blue: #1676aa;
$eu-light-blue: #9ad3f2;
$eu-light-blue-orb: #79b2e3;
$eu-blue-link: #1a8ac7;
$eu-jade: #37b98b;
$eu-jade-light: #71c07b;
$eu-jade-dark: #197324;
$eu-light-jade: #a5e4ce;
$eu-orange: #d43900;
$eu-light-orange: #fc8a62;
$eu-raspberry: #e95a81;
$eu-purple: #b47da7;
$eu-yellow: #ffcb5c;
$blue-dark: #293745;
$linkblue: #095f90;
$accent: $eu-blue !default;

$textcolour_body: $gray-med;
$textcolour_highlight: $accent;
$textcolour_link: $linkblue;
$text_secondary: $gray-light;

$font-primary: 'Open Sans', 'Arial', sans-serif;
$font-secondary: 'Ubuntu', 'Arial', sans-serif;

$font-size-slightly-smaller: 0.875em;
$font-size-metis-grid: 0.8125rem;
$font-size-sm: 0.75em;
$font-size-med: 1.2em;
$font-size-large: 1.6em;
$base-font-multiplier: 1;

/* Brand colours */
$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;
$brand-pinterest: #b81621;
$brand-google: #e93f2e;
$brand-soundcloud: #ff5500;
$brand-tumblr: #35465c;
$brand-instagram: #ec5972;

/* Layout */
$max-width: 80rem;
$offset-left-1: 4.5rem;

/* Defaults */
$space: 1.6rem;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quad: $space * 4;
$space-half: $space / 2;
$space-quarter: $space / 4;
$pad: 1rem;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-half: $pad / 2;
$pad-quarter: $pad / 4;

/* Borders */
$border-med: 3px;
$border-thick: 7px;
$base-border-radius: 4px;

/* Global navigation */
$globalnavheight: $space-triple;
$globalnavheight-with-search-small: $space * 4.875;
$globalnavheight-with-search-large: $space * 6.5;

/* Global Off screen navigation */
$menuwidth_right: 250px;
$menu_top: 300px;

/* Breakpoints */
$bp-small: 24em;
$bp-small-2: 30em;
$bp-small-3: 40em;
$bp-med: 50em;
$bp-large: 60em;
$bp-xl: 70em;
$bp-xxl: 90em;
