<div class="header-wrapper">
  <header class="header">
    <div class="header-container">
      <div class="metis-logo">
        <a routerLink="{{ logoLink() }}" class="logo"></a>
      </div>

      <ng-container *ngIf="isLoggedIn()">
        <app-search
          [placeholderKey]="'searchPlaceholder'"
          [searchString]="searchString"
          (onExecute)="executeSearch($event)"
        ></app-search>
      </ng-container>

      <div class="dashboard-header-links">
        <div *ngIf="isLoggedIn(); then loggedIn; else loggedOut"></div>
        <ng-template #loggedIn>
          <div class="settings-menu cf nav-loggedin">
            <a
              routerLink="/dashboard"
              routerLinkActive="svg-icon-dashboard-active"
              class="link-to-dashboard svg-icon-dashboard"
            ></a>
            <div class="metis-user" libClickAware (clickOutside)="onClickedOutsideUser($event)">
              <a class="has-submenu" (click)="toggleSignInMenu()"
                ><span class="svg-icon-loggedin-user"></span
              ></a>
              <ul class="menu-sublevel caret" *ngIf="openSignIn">
                <li>
                  <a [attr.href]="urlProfile">{{ 'myProfile' | translate }}</a>
                </li>
                <li>
                  <a (click)="logOut()">{{ 'signOut' | translate }}</a>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
        <ng-template #loggedOut>
          <ul class="settings-menu cf nav-access">
            <li>
              <a class="signup has-submenu" (click)="toggleSignInMenu()">{{
                'signIn' | translate
              }}</a>
              <ul class="menu-sublevel caret" *ngIf="openSignIn">
                <li>
                  <a (click)="gotoLogin()">{{ 'signIn' | translate }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </header>
</div>
