@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.table-in-tab tr:nth-child(even) {
  background-color: $white;
}

.table-in-tab tr:hover td:first-child::before {
  display: none;
}

.table-in-tab tr:not(.loadmore) .workflow-head {
  background-color: $offwhite;
  padding: 0;
}

.workflow-head .head-whitespace {
  height: 1.5rem;
}

.workflow-head .head-text {
  background-color: $eu-jade;
  color: $white;
  padding: .5rem;
}

.tooltip {
  display: inline-block;
  position: relative;

  &::after {
    bottom: 1.2rem;
    text-transform: none;
    white-space: nowrap;
  }
}
