@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.form-fields.disabled {
  background-color: $gray-almost-lightest;

  &:hover {
    background-color: $gray-almost-lightest;
  }

  .plugin {
    cursor: auto;
  }
}

.form-fields-container {
  margin-bottom: 20rem;
}

.predefined-workflows {
  background: $white;
  margin-bottom: 2rem;
  width: 100%;

  .predefined-workflows-tabs {
    border-bottom: 4px solid $eu-jade;
    display: flex;

    li {
      border-left: 2px solid $gray-lightest;
      cursor: pointer;
      flex: 1;
      max-width: 33.3333333333%;
      padding: 2rem;
    }

    li:first-child {
      border-left: 0;
    }

    .active {
      background: $eu-jade;
      color: $white;
    }
  }
}
