@use 'shared-styles/assets/sass/pandora/settings/metis-variables-layout';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header {
  background: rgba(variables-colours.$white, 0.85);
  -webkit-box-shadow: rgba(77, 77, 77, 0.2) 0 0 3px;
  box-shadow: rgba(77, 77, 77, 0.2) 0 0 3px;
  min-height: metis-variables-layout.$fixed-header-height;
  padding: 0;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  width: 100%;
  z-index: 1;
}

.header > .cf {
  border-top: 6px solid variables-colours.$accent;
  position: relative;
}

.after-header {
  margin-top: metis-variables-layout.$fixed-header-height;
}

.logo {
  background-image: url('/assets/images/europeana-logo-default.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  float: left;
  height: 58px;
  margin: 0.4rem;
  margin-left: 2%;
  max-width: 168px;
  width: 50%;

  .svg & {
    background-image: url('/assets/images/europeana-logo-default.svg');
  }
  h1 {
    padding-top: 5em;
  }
}
