@import '../../assets/sass/pandora/settings/metis-variables';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

$width-left-col: 200px;

app-overview {
  width: 100%;
}

.svg-icon-spin {
  position: absolute;
  right: -1.5em;
}
h3 {
  display: inline-block;
  position: relative;
}

datatable-scroller {
  width: 100% !important;
}

.datatable {
  margin: 1.6em 0;
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.options-wrapper {
  display: flex;
}

.dropdown {
  position: relative;
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper {
  height: 500px;
  max-width: 100%;
  padding-bottom: 5em;
}

.facet-params {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    cursor: pointer;
  }
}

.mobile-row {
  font-size: 14px;
  padding-left: 60px;
}

.mobile-row-detail {
  &:not(:last-child)::after {
    content: ', ';
  }
}

.metis-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

.metis-dashboard-right {
  min-width: 0;
}

@media (min-width: $bp-xl) {
  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }

  .metis-dashboard {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
