@import '../../assets/sass/pandora/settings/metis-variables';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

$width-left-col: 200px;

.switch-wrapper {
  align-items: center;
  display: flex;
  > span {
    padding-right: 0.4em;
  }
  .switch {
    position: relative;
    width: 60px;

    .slider {
      background-color: #ccc;
      bottom: 0;
      border-radius: 34px;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.4s;

      &::before {
        border-radius: 50%;
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }

    input:checked + .slider {
      background-color: $eu-jade;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $eu-jade;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

input[type='date'],
.datasetId {
  width: 11em;
}

.datasetId {
  margin-bottom: 1em;
}

app-overview {
  width: 100%;
}

datatable-scroller {
  width: 100% !important;
}

h3 {
  display: inline-block;
  position: relative;
}

label {
  cursor: pointer;
}

.checkboxes {
  display: inline-grid;
  grid-auto-flow: row;

  @media (min-width: $bp-med) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $bp-xl) {
    grid-template-columns: repeat(3, auto);
  }

  &.DATA_PROVIDER,
  &.PROVIDER,
  &.RIGHTS {
    @media (min-width: $bp-med) {
      grid-template-columns: repeat(1, auto);
    }

    @media (min-width: $bp-xl) {
      grid-template-columns: repeat(2, auto);
    }
  }

  white-space: nowrap;
  label {
    display: block;
    margin: 0 0.6em;
  }
}

.filter-opener {
  &.disabled {
    color: #aaa;
    pointer-events: none;
  }
}

.svg-icon-spin {
  position: absolute;
  right: -1.5em;
}

.datatable {
  margin: 1.6em 0;
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.options-wrapper {
  display: flex;
}

.filters {
  display: flex;
  flex-direction: column;

  > li:not(:last-child) {
    margin-bottom: 1em;
  }

  &:last-child {
    margin-top: 2em;
  }

  .applied-filter-summary {
    color: #999;
    font-size: 0.7em;
    font-style: italic;
    list-style: circle;
    margin: 0.5em 2em;
  }
}

.dropdown {
  position: relative;
  a.open::after {
    transform: rotate(180deg);
  }
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper {
  height: 500px;
  max-width: 100%;
  padding-bottom: 5em;
}

.facet-params {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    align-items: center;
    display: flex;
    height: 34px;
    padding: 0;
  }
}

.mobile-row {
  font-size: 14px;
  padding-left: 60px;
}

.mobile-row-detail {
  &:not(:last-child)::after {
    content: ', ';
  }
}

.metis-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

.metis-dashboard-right {
  min-width: 0;
}

@media (min-width: $bp-xl) {
  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }

  .metis-dashboard {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
