@use '../settings/metis-variables-layout';
@use '../../scss/generic/variables-bp';
@use '../../scss/generic/variables-colours';

app-tab-headers {
  display: block;
  width: 100%;
}

.tabs {
  background: variables-colours.$white;
  border-right: 0;
  min-height: metis-variables-layout.$tab-header-min-height;
  line-height: 1.3em;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 1;

  li {
    display: block;
    flex: 1 1 0%;

    a {
      color: variables-colours.$gray-light;
      display: block;
      height: 100%;
      padding: 0.4em 1.2em;
    }

    span {
      display: block;
    }

    .tab-subtitle {
      color: variables-colours.$gray-light;
      font-size: 0.75rem;
    }
  }

  li:hover,
  li.active {
    background: variables-colours.$eu-jade;
    color: variables-colours.$white;

    a,
    span {
      color: inherit;
    }
  }

  @media (min-width: variables-bp.$bp-large) {
    border-bottom: 5px solid variables-colours.$eu-jade;
    border-top: 5px solid variables-colours.$white;
    display: flex;
  }
}

.tab-content {
  margin: 0 auto;
  padding: 1rem;

  @media all and (min-width: variables-bp.$bp-xl) {
    max-width: 80%;
  }
}
