@use 'shared-styles/assets/sass/scss/generic/variables-bp';

.site-hero {
  height: 50vh;

  .brand-text-wrapper {
    .scaling-svg-container {
      padding-bottom: 24%;
    }
  }
}

.banner {
  margin-bottom: 2rem;
  .lc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .banner-info {
      box-sizing: border-box;
      padding: 0 1rem 0 0;
      width: 50%;
    }
  }
}

.banner-wrapper {
  background: #fff;
}

.btn {
  border-radius: 300px;
  @media (max-width: variables-bp.$bp-xxl) {
    padding: 0.8rem 2rem;
  }
}
