.site-hero {
  height: 50vh;

  .brand-text-wrapper {
    .scaling-svg-container {
      padding-bottom: 24%;
    }
  }
}

.banner {
  margin-bottom: 2rem;
  .lc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .banner-info,
    .banner-link {
      box-sizing: border-box;
      padding: 0 1rem 0 0;
      width: 50%;
    }

    .banner-link {
      box-sizing: border-box;
      padding-left: 5rem;
      padding-right: 0;
      width: 50%;
    }
  }
}

.banner-wrapper {
  background: #fff;
}
