@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/generic/variables-font';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$border-radius: 8px;

.icon-workflow {
  position: relative;
  margin-left: 24px;

  &::before {
    background: svg-url-icon-workflow(variables-colours.$white, 1) center no-repeat;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-24px, -50%);
    width: 16px;
  }
}

.workflow-selector {
  max-height: 10rem;
  overflow: auto;
}

.dataset-actionbar {
  align-items: center;
  box-sizing: border-box;
  min-height: 4rem;
  padding: 0.75rem;
  width: 100%;

  .status {
    font-size: 0.75rem;
    text-align: center;
    strong,
    &.status-new {
      display: block;
      font-size: variables-font.$font-size-slightly-smaller;
    }
  }

  .date {
    font-weight: 600;
  }

  .datetime {
    font-size: variables-font.$font-size-metis-grid;
    text-align: center;
    white-space: nowrap;

    @media (max-width: variables-bp.$bp-xxl) {
      span {
        display: block;
      }

      .datedivider {
        display: none;
      }
    }
  }
}

.svg-icon-report {
  display: flex;
  span {
    padding-left: 6px;
  }
}

.nav-ctrls {
  align-items: center;
  display: flex;
  flex-direction: column;

  .nav-ctrl {
    margin-top: 1em;
  }
}

nav {
  white-space: nowrap;

  .nav-ctrl {
    display: inline-block;
    padding: 0 0.4rem;
    position: relative;

    @media (min-width: variables-bp.$bp-xxl) {
      a:not(.newaction-btn)::after {
        display: none;
      }
    }

    @media (max-width: variables-bp.$bp-xxl) {
      .newaction-btn span {
        display: inline-block;
      }
    }
  }

  .nav-btn {
    color: variables-colours.$gray-med;
    font-size: variables-font.$font-size-slightly-smaller;

    &:hover {
      background: variables-colours.$offwhite;
      border-radius: $border-radius;
      .icon-workflow::before {
        background: svg-url-icon-workflow('#{variables-colours.$eu-jade}', 1) center no-repeat;
      }
    }
  }

  .nav-btn:not(.report-btn) {
    padding: 0.25rem 0.5rem 0.25rem 1.75rem;
  }

  .nav-btn.newaction-btn {
    background: variables-colours.$eu-jade;
    border: 1px solid variables-colours.$eu-jade;
    border-radius: $border-radius;
    color: variables-colours.$white;
    font-size: variables-font.$font-size-slightly-smaller;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;

    &:hover {
      background: variables-colours.$offwhite;
      border-color: transparent;
      color: variables-colours.$gray-med;
    }
  }
}

.started-by {
  font-size: 0.75rem;
  text-align: center;

  & > * {
    display: block;
    font-size: variables-font.$font-size-slightly-smaller;
  }
}

@media (min-width: variables-bp.$bp-small) {
  .dataset-actionbar .status {
    white-space: nowrap;
  }
}

@media (min-width: variables-bp.$bp-med) {
  .dataset-actionbar {
    display: flex;

    .datetime {
      padding-right: 0.5rem;
    }

    .status {
      padding-left: 0.75rem;
      padding-right: 1.5rem;
      text-align: left;
    }
  }

  .nav-ctrls {
    flex-direction: row;
    justify-content: space-evenly;

    .nav-ctrl {
      margin-top: 0;

      &:last-child {
        padding-right: 0;
        .nav-btn {
          margin-right: 0;
        }
      }
    }
  }

  .nav-btn {
    margin: 0 0.4rem;
  }

  .nav-ctrl:not(:first-child) {
    border-left: 1px solid variables-colours.$offwhite;
  }

  .started-by {
    padding-left: 1.5em;

    .user {
      padding-left: 2em;
    }
  }
}
