<ng-template #childComponentTemplate>
  <ng-template #empty_date><span class="time empty"></span></ng-template>
  <ng-template #dataset_link let-text="text"
    ><a [routerLink]="['/dataset', 'edit', dsExecution.dataset.datasetId]" target="_blank">{{
      text
    }}</a></ng-template
  >

  <span
    [ngClass]="{ active: expanded }"
    class="grid-cell row-start"
    (click)="toggleExpand($event)"
    title="{{ dsExecution.dataset.datasetName }}"
  >
    <ng-container
      [ngTemplateOutlet]="dataset_link"
      [ngTemplateOutletContext]="{ text: dsExecution.dataset.datasetName }"
    >
    </ng-container>

    <span class="br">
      <ng-container
        [ngTemplateOutlet]="dataset_link"
        [ngTemplateOutletContext]="{ text: dsExecution.dataset.datasetId }"
      >
      </ng-container>
    </span>
  </span>

  @if(dsExecution.executionProgress){
  <span class="grid-cell row-steps row-divider">
    {{ dsExecution.executionProgress.stepsDone }} / {{ dsExecution.executionProgress.stepsTotal }}
    {{ 'overviewSteps' | translate }}
    @if(dsExecution.execution.plugins && dsExecution.execution.plugins.length > 0){
    <ul class="orbs">
      @for(pi of dsExecution.execution.plugins; track $index;){
      <li
        class="{{ pi.pluginType.toLowerCase() }} orb-status labelled {{ getPluginStatusClass(pi) }}"
      ></li>
      }
    </ul>
    }
  </span>
  } @if(dsExecution.executionProgress){
  <span class="grid-cell">
    @let pluginProgress = dsExecution.executionProgress.currentPluginProgress; @if (pluginProgress)
    { @if (pluginProgress.expectedRecords < 0) {
    <span>
      {{ 'unknown' | translate }}
    </span>
    } @if (pluginProgress.expectedRecords > 0) {
    <span>
      {{ pluginProgress.processedRecords }}

      @let totalErrors = (pluginProgress.failRecords ?? 0) + (pluginProgress.failDepublishRecords ??
      0); @if (totalErrors > 0) {
      <span class="pill pill-harvest errors">
        {{ totalErrors }}
      </span>
      } /
      {{ pluginProgress.expectedRecords }}
    </span>
    } }
  </span>
  }

  <span class="grid-cell">
    @if (dsExecution.execution.startedDate) { @let startedDate = dsExecution.execution.startedDate;
    <span>
      {{ startedDate | date: 'dd/MM/yyyy' }}
      <span class="br time">
        {{ startedDate | date: 'HH:mm' }}
      </span>
    </span>
    } @else {
    <ng-container [ngTemplateOutlet]="empty_date"></ng-container>
    }
  </span>

  <span class="grid-cell row-end" [ngClass]="{ active: expanded }">
    @if (dsExecution.execution.finishedDate) { @let finishedDate =
    dsExecution.execution.finishedDate;

    <span>
      {{ finishedDate | date: 'dd/MM/yyyy' }}
      <span class="br time">{{ finishedDate | date: 'HH:mm' }}</span>
    </span>
    } @else {
    <ng-container [ngTemplateOutlet]="empty_date"></ng-container>
    }
  </span>

  <!-- Expanded section -->

  @if(expanded){ @for (pi of dsExecution.execution.plugins; track $index; let isLastsub = $last) {
  <span class="grid-sub start labelled-orb">
    <span class="{{ pi.pluginType }} orb-status {{ getPluginStatusClass(pi) }}"></span>
    <span>
      {{ pi.pluginType | renameWorkflow }}
      <span class="status-label">{{ pi.pluginStatus }}</span>
    </span>
  </span>

  <span class="grid-sub">
    @let progress = pi.progress; @if (progress && progress.expectedRecords !== 0) {
    <span class="inline-block">
      @if (progress.expectedRecords < 0) {
      <span>
        {{ 'unknown' | translate }}
      </span>
      } @if (progress.expectedRecords > 0) {
      <span>
        {{ progress.processedRecords }}

        @let totalErrors = (progress.failRecords ?? 0) + (progress.failDepublishRecords ?? 0); @if
        (totalErrors > 0) {
        <span class="pill pill-harvest errors">
          {{ totalErrors }}
        </span>
        } / {{ progress.expectedRecords }}

        @if (progress.successDepublishRecords) {
        <span class="inline-block"> / {{ progress.successDepublishRecords }} </span>
        }
      </span>
      }
    </span>
    }
  </span>

  <span [ngClass]="{ 'group-end': isLastsub }" class="grid-sub dates">
    @if (pi.startedDate) { @let started = pi.startedDate;
    <span class="inline-block">
      {{ started | date: 'dd/MM/yyyy' }}
      <span class="time">
        {{ started | date: 'HH:mm' }}
      </span>
      @if (pi.finishedDate) { @let finished = pi.finishedDate;
      <span class="inline-block">
        {{ finished | date: 'dd/MM/yyyy' }}
        <span class="time">
          {{ finished | date: 'HH:mm' }}
        </span>
      </span>
      } @else {
      <ng-container [ngTemplateOutlet]="empty_date"></ng-container>
      }
    </span>
    }
  </span>
  <span class="grid-sub filler"></span>
  <span class="grid-sub filler"></span>
  } }
</ng-template>
