@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/pandora/settings/metis-variables';

$width-orb: 3em;

.workflow-head {
  height: 4em;
  width: 100%;
  position: sticky;
  top: $fixed-header-height;
  z-index: 1;
}

.head-prefix {
  display: none;
  &::after {
    content: ': ';
  }
}

.table-grid {
  // override _grid.scss
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr auto;
}

@media all and (min-width: $bp-med) {
  .head-prefix {
    display: inline-block;
  }
}

.workflow-head {
  background-color: $white;

  .head-whitespace {
    height: 1.5rem;
  }

  .head-date {
    font-weight: bold;
  }

  .head-text {
    padding: 0.5rem;
  }

  .head-right {
    color: $white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
  }
}

.tooltip {
  display: inline-block;
}
