@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

$width-orb: 3em;

.head-prefix {
  display: none;
  &::after {
    content: ': ';
  }
}

@media all and (min-width: $bp-med) {
  .head-prefix {
    display: inline-block;
  }
}

.workflow-head {
  position: relative;

  .head-whitespace {
    height: 1.5rem;
  }

  .head-text {
    background-color: $eu-jade;
    color: $white;
    padding: 0.5rem;
  }

  .head-right {
    color: $white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
  }
}

.tooltip {
  display: inline-block;
}
