.nav-global{
  display: table;
  float: right;
  z-index: 20;
}

.nav-toggle {
  color: $textcolour_body;
  display: table-cell;
  line-height: 1;
  padding: $space $space-half;
  vertical-align: middle;

  svg {
    pointer-events: none;
  }

  > span,
    .link-text{
    font-weight: 900;
    text-transform: uppercase;
  }

}

.nav-toggle-search:hover,
.nav-toggle-search:focus,
.nav-toggle-sites:hover,
.nav-toggle-sites:focus,
.is-open-globalsearch .nav-toggle-search,
.is-open-menu-right .menu-right {
  background-color: $offcanvas_bg;
  color: $white;
  outline: none;
}

.nav-toggle-sites{
  background-color: $accent;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  color: $white;
  display: none;
  height: auto;
  margin-right: 0.3em;
  padding: 1em;
  padding-top: 0.8em;
}

.nav-toggle-search,
.nav-toggle-settings,
.nav-toggle-settings .link-text{
  display: none;
}

.nav-toggle-menu{
  background-color: $white;
  color: $textcolour_head;

  @media all and (max-width: $bp-med) {
    &:hover,
    &:focus {
      background-color: $textcolour_head;
      color: $white;
    }
  }
}


// col override

.settings-menu.sm.as-cols{
  .menu-sublevel{
    min-width: 25em;
    li{
      float: left;
      width: 33.3%;
    }
  }
}


// OFF CANVAS MENUS

//Our Sites - global top drawer
.our-sites{

  background-color: $white;
  padding: 0 $space;

  .l-linklist .inner{
    border-top: 6px solid $textcolour_head;
    padding: $space 0;
  }

  li {
    display: inline-block;
  }

  .grid{
    margin: 0;
  }
}

.our-sites .l-linklist{
  @media all and (min-width: $bp-med) {
    float: left;
    margin-right: 1.40845%;
    width: 23.94366%;

    &:last-child{
      margin-right: 0;
    }
  }
}

.globallink{
  margin-bottom: $space-half;

  a{
    color: $textcolour_body;
  }
}
.globallink-title{
  @include fontSize(16px);
  color: $textcolour_head;
  margin-bottom: $space-quarter;
}
.globallink-desc{
  @include fontSize(12px);
}

.pusher,
.nav-global{
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

  .is-open-menu-right & {
    -webkit-transform: translate3d(-$menuwidth_right, 0, 0);
    transform: translate3d(-$menuwidth_right, 0, 0);
  }
}

// Whole site wrapper element for push effect
.pusher {
  height: 100%;
  position: relative;
}

.pusher-home,
.pusher-register,
.pusher-login {
  background: $white;
}

.pusher::before,
.pusher::after {
  content: ' ';
  display: table;
}

.pusher::after {
  clear: both;
}

.menu-right {
  height: 100%;
  right: -$menuwidth_right;
  top: 0;
  width: $menuwidth_right;
  z-index: 200;

  .is-open-menu-right & {
    overflow-y: scroll;
    -webkit-transform: translate3d(-$menuwidth_right, 0, 0);
    transform: translate3d(-$menuwidth_right, 0, 0);
  }

  .search{
    margin-bottom: $space;
  }

  li a {
    color: $white;
    display: block;
    padding: $space-quarter $space-half;

    &:hover,
    &:focus{
      background-color: lighten($offcanvas_bg, 5);
    }
    &:hover::after,
    &:focus::after{
      border-color: $white;
    }
  }

  .sub-menu{
    li a {
      font-weight: normal;
      overflow: hidden;
      padding-right: 0;
      text-overflow: ellipsis;

      &::after{
        border: 0;
      }
    }

    .current{
      color: $eu-lightblue;
      font-weight: bold;
      &::after {
        border: 0;
      }
    }
  }

  .secondary{
    li{
      border-bottom: 1px solid lighten($offcanvas_bg, 5);
    }
  }
}


.menu-top {
  display: none;
  max-height: 0;
  overflow: hidden;
  top: 0;
  -webkit-transform: translate3d(0, -3em, 0);
  transform: translate3d(0, -3em, 0);
  -webkit-transition: max-height 0.3s, -webkit-transform 0.3s;
  transition: max-height 0.3s, transform 0.3s;
  width: 100%;
  z-index: 200;

  .is-open-menu-top & {
    max-height: 800px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.search-global {
  background-color: $offcanvas_bg;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;

  .inner{
    padding: $space;
  }

  form{
    position: relative;
  }

  input[type=text] {
    border: 0;
    height: 48px;
    outline: none;
    padding: $space-half;
  }

  button {
    background-color: $eu_blue;
    border: 0;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    height: 44px;
    position: absolute;
    right: 2px;
    text-transform: uppercase;
    top: 2px;
  }

  .is-open-globalsearch & {
    max-height: 200px;
  }

}

@media all and (min-width: $bp-med) {

  .menu-right,
  .nav-toggle-menu{
    display: none;
  }

  .menu-top,
  .nav-toggle-sites{
    display: block;
  }

  .nav-toggle-search,
  .nav-toggle-settings{
    display: table-cell;
  }
}

@media all and (min-width: $bp-large) {
  .nav-toggle-settings .link-text{
    display: inline;
  }
}
