.nav-global {
  display: table;
  float: right;
  z-index: 20;
}

.nav-toggle {
  color: $textcolour_body;
  display: table-cell;
  line-height: 1;
  padding: $space $space-half;
  vertical-align: middle;

  svg {
    pointer-events: none;
  }

  > span,
  .link-text {
    font-weight: 900;
    text-transform: uppercase;
  }
}

/* col override */

.settings-menu.sm.as-cols {
  .menu-sublevel {
    min-width: 25em;
    li {
      float: left;
      width: 33.3%;
    }
  }
}

/* OFF CANVAS MENUS */
.globallink {
  margin-bottom: $space-half;

  a {
    color: $textcolour_body;
  }
}
.globallink-title {
  @include fontSize(16px);
  color: $black;
  margin-bottom: $space-quarter;
}
.globallink-desc {
  @include fontSize(12px);
}

.pusher,
.nav-global {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

  .is-open-menu-right & {
    -webkit-transform: translate3d(-$menuwidth_right, 0, 0);
    transform: translate3d(-$menuwidth_right, 0, 0);
  }
}

/* Whole site wrapper element for push effect */
.pusher {
  height: 100%;
  position: relative;
}

.pusher-home,
.pusher-register,
.pusher-signin {
  background: $white;
}

.pusher::before,
.pusher::after {
  content: ' ';
  display: table;
}

.pusher::after {
  clear: both;
}

.menu-top {
  display: none;
  max-height: 0;
  overflow: hidden;
  top: 0;
  -webkit-transform: translate3d(0, -3em, 0);
  transform: translate3d(0, -3em, 0);
  -webkit-transition: max-height 0.3s, -webkit-transform 0.3s;
  transition: max-height 0.3s, transform 0.3s;
  width: 100%;
  z-index: 200;

  .is-open-menu-top & {
    max-height: 800px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media all and (min-width: $bp-med) {
  .menu-right,
  .nav-toggle-menu {
    display: none;
  }

  .menu-top,
  .nav-toggle-sites {
    display: block;
  }

  .nav-toggle-search,
  .nav-toggle-settings {
    display: table-cell;
  }
}

@media all and (min-width: $bp-large) {
  .nav-toggle-settings .link-text {
    display: inline;
  }
}
