@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.strength {
  .strengthbar {
    list-style: none;
    margin: -1rem 0 1rem;
    padding: 0;

    .point {
      background: $gray-med;
      display: inline-block;
      height: 0.25rem;
      margin-right: 0.25rem;
      width: 1rem;
    }
  }

  .strength-text,
  .info {
    color: $black;
    font-size: 0.75rem;
  }

  .info {
    margin-bottom: 1em;
    margin-top: -1rem;
  }
}
