@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.success-message .svg-icon-spin-inbutton {
  padding-left: 0;
  &::after {
    top: -0.1rem;
  }
}

.filter-wrapper {
  position: relative;

  margin: -0.5em 0 1em 0;
  width: 100%;

  .svg-icon-spin {
    position: absolute;
  }

  .notavailable {
    color: $gray-lighter;
    display: inline-block;
    padding-left: 0.5rem;
  }

  @media all and (min-width: $bp-xl) {
    margin: -0.5em 0 1em -10%;
    width: 120%;
  }
}

.view-sample-transformed {
  margin-bottom: 2em;
  button {
    background: $eu-jade;
    border: 1px solid $eu-jade;
    font-size: $font-size-slightly-smaller;
    margin: 0.5rem 1rem 0.5rem 0.5rem;

    &:hover,
    &.active {
      background: $white;
      color: $eu-jade;
    }

    &:active,
    &:focus {
      background: $eu-jade;
      color: $white;
    }
  }
}

.load-more-btn {
  margin-right: 1rem;
}

.preview-controls {
  display: flex;
  width: 100%;

  .preview-controls-left,
  .preview-controls-right {
    align-items: center;
    display: flex;
    width: 50%;
  }

  .preview-controls-left {
    justify-content: flex-start;
  }

  .preview-controls-right {
    justify-content: flex-end;
  }
}
