@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.filter-wrapper {
  position: relative;

  .svg-icon-spin {
    position: absolute;
    top: 0;
  }

  .notavailable {
    color: $gray-lighter;
    display: inline-block;
    padding-left: .5rem;
  }

}

.view-sample {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;

  .view-sample-title {
    background-color: $eu-jade;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;

    h3 {
      color: $white;
      font-weight: normal;
      padding: 1rem;
    }

    h3 span {
      display: block;
      font-size: $font-size-slightly-smaller;
    }
  }

  .view-sample-editor {
    background: $white;
    display: inline-block;
    text-align: right;
    width: 70%;

    a {
      margin-right: 1rem;
    }
  }
}

.view-sample-expanded {
  display: inline-block;

  .view-sample-title,
  .view-sample-editor {
    width: 100%;
  }

  .view-sample-title {
    flex-direction: row;
    justify-content: flex-start;

    h3,
    .dropdown-specific {
      width: 50%;
    }

    h3 {
      margin-bottom: 0;
    }

    .toggle-expand {
      text-align: right;
      width: 50%;
    }

    .toggle-expand a {
      background: $gray-med;
      box-sizing: border-box;
      color: $white;
      display: inline-block;
      font-size: 2rem;
      height: 100%;
      padding: 0 1.5rem;
    }
  }
}

.view-sample-transformed {
  button {
    background: $eu-jade;
    border: 1px solid $eu-jade;
    font-size: $font-size-slightly-smaller;
    margin: .5rem 1rem 1rem 0;

    &:hover,
    &.active {
      background: $white;
      color: $eu-jade;
    }

    &:active,
    &:focus {
      background: $eu-jade;
      color: $white;
    }

  }
}
