<app-header [loggedIn]="loggedIn" class="page-{{ bodyClass }}"></app-header>
<div class="pusher pusher-{{ bodyClass }}">
  <div class="metis-main-content"><router-outlet></router-outlet></div>
</div>
<app-modal-confirm id="{{ modalConfirmId }}" title="{{ 'cancel' | translate }}">
  <ng-container *ngIf="cancellationRequest">
    <p
      i18n="
         confirm workflow cancellation|show modal to get user
        confirmation@@confirmWorkflowCancellation
      "
    >
      Are you sure you want to cancel "{{ cancellationRequest.datasetId! }}
      {{ cancellationRequest.datasetName! }}"?
    </p>
  </ng-container>
</app-modal-confirm>
