p {
  margin-bottom: $space;
  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  background: $gray-light;
  border: 0;
  height: 2px;
  margin: $space-double 0;
}

abbr {
  border-bottom: 1px dotted $textcolour_heavy;
  cursor: help;
}

small{
  font-size: $font-size-sm;
}
