@import '../generic/variables';

@import 'svg-icon-user-signin';
@import 'svg-icon-notifications';
@import 'svg-icon-configuration';
@import 'svg-icon-loggedin-user';
@import 'svg-icon-form-field-calendar';
@import 'svg-icon-search';

.svg-icon-cancel,
.svg-icon-edit,
.svg-icon-history,
.svg-icon-log,
.svg-icon-report,
.svg-icon-plus,
.notification,
.svg-icon-dashboard,
.svg-icon-dataset {
  padding-left: 1.5rem;
  position: relative;

  &::before {
    background-position: left center;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 1.75rem;
    left: 0.5rem;
    position: absolute;
    top: 0;
    width: 17px;
  }
}

.svg-icon-cancel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewbox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ecross%3C/title%3E%3Cpath d='M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z'%3E%3C/path%3E%3C/svg%3E");
  height: 32px;
  left: 0;
  top: -0.1rem;
  transform: scale(0.4);
  width: 32px;
}

.svg-icon-edit::before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.695 9.884h-.5v-.857h-.857v-.5L8.373 7.49 9.73 8.85 8.696 9.884zm3.928-6.43c.08.082.072.216-.01.296L9.49 6.875c-.08.08-.215.09-.295.01-.08-.08-.072-.215.01-.296l3.124-3.126c.08-.08.213-.09.293-.01zm.715 5.305c0-.117-.072-.215-.18-.26-.106-.045-.222-.027-.31.063l-.573.57c-.053.055-.08.126-.08.197v1.125c0 .786-.643 1.43-1.43 1.43H3.34c-.786 0-1.43-.644-1.43-1.43V3.027c0-.786.644-1.43 1.43-1.43h7.428c.134 0 .268.02.402.055.098.036.205.01.286-.072l.437-.437c.073-.07.1-.16.082-.26-.018-.088-.08-.17-.16-.204-.33-.153-.69-.225-1.046-.225H3.338C1.918.455.766 1.607.766 3.027v7.428c0 1.42 1.152 2.572 2.572 2.572h7.428c1.42 0 2.572-1.152 2.572-2.572V8.76zm-.857-6.59l-6 6v2.57h2.572l6-6-2.57-2.57zm3.965 1.178c.33-.33.33-.884 0-1.214L15.088.777c-.33-.33-.884-.33-1.215 0l-.82.82 2.57 2.573.822-.822z'%3E%3C/path%3E%3C/svg%3E");
}

.svg-icon-log::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.247 6.857C14.247 3.08 11.167 0 7.39 0 5.63 0 3.925.705 2.666 1.893L1.506.74C1.346.57 1.096.528.89.617.675.706.533.91.533 1.143v4c0 .312.258.57.57.57h4c.233 0 .438-.142.528-.356.09-.205.045-.455-.124-.616L4.283 3.51c.83-.778 1.937-1.224 3.107-1.224 2.518 0 4.57 2.053 4.57 4.57 0 2.52-2.052 4.573-4.57 4.573-1.42 0-2.732-.644-3.607-1.778-.045-.063-.125-.098-.206-.107-.08 0-.16.026-.223.08L2.13 10.857c-.097.098-.106.268-.017.384 1.303 1.573 3.232 2.474 5.277 2.474 3.776 0 6.857-3.08 6.857-6.857zm-5.714-2.57c0-.162-.125-.287-.286-.287h-.572c-.16 0-.285.125-.285.286V7.43h-2c-.16 0-.286.124-.286.284v.572c0 .16.125.285.286.285h2.857c.16 0 .286-.124.286-.284v-4z'%3E%3C/path%3E%3C/svg%3E");
}

.svg-icon-history::before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.107 3.393L10.32.607C9.99.277 9.33 0 8.858 0h-8C.384 0 0 .384 0 .857v14.286c0 .473.384.857.857.857h12c.473 0 .857-.384.857-.857V4.857c0-.473-.276-1.134-.607-1.464zm-3.964-2.18c.152.055.303.135.366.198l2.794 2.795c.062.063.142.215.196.366H9.143V1.215zm3.428 13.644H1.144V1.143H8v3.714c0 .473.384.857.857.857h3.714v9.143zM3.43 7.143v.57c0 .162.124.287.284.287H10c.16 0 .286-.125.286-.286v-.57c0-.162-.125-.287-.286-.287H3.714c-.16 0-.285.125-.285.286zm6.57 2H3.714c-.16 0-.285.125-.285.286V10c0 .16.124.286.284.286H10c.16 0 .286-.125.286-.286v-.57c0-.162-.125-.287-.286-.287zm0 2.286H3.714c-.16 0-.285.124-.285.284v.572c0 .16.124.285.284.285H10c.16 0 .286-.124.286-.284v-.572c0-.16-.125-.285-.286-.285z'%3E%3C/path%3E%3C/svg%3E");
}

.svg-icon-report::before {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.185 5.837c-.394.21-1.158.586-1.865.586-.248 0-.465-.05-.643-.14l-.178-.09c-.682-.337-1.32-.66-2.3-.66-.846 0-1.915.33-2.756.718V2.44c.74-.407 1.745-.808 2.566-.808.885 0 1.623.324 2.304.662.274.14.586.203.923.203.726 0 1.44-.305 1.948-.58v3.922zM1.63.815C1.63.363 1.267 0 .815 0 .363 0 0 .363 0 .815c0 .3.166.56.407.7v8.06c0 .114.09.203.204.203h.41c.113 0 .202-.09.202-.204v-8.06c.242-.14.408-.4.408-.7zm9.37.407c0-.14-.076-.274-.197-.35-.12-.07-.268-.076-.395-.013l-.197.108c-.394.235-1.222.713-1.973.713-.21 0-.4-.038-.566-.12-.73-.357-1.597-.745-2.66-.745-1.337 0-2.776.796-3.183 1.037-.12.077-.197.21-.197.35v4.724c0 .146.076.28.203.356.064.032.134.05.204.05.07 0 .146-.018.21-.056.745-.452 2.037-.93 2.954-.93.784 0 1.293.255 1.936.58l.178.09c.293.145.63.222 1.006.222.98 0 1.942-.522 2.35-.74l.107-.056c.134-.07.223-.21.223-.363V1.22z'%3E%3C/path%3E%3C/svg%3E");
}

.svg-icon-plus {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32'%3E%3Cpath fill='%23777' d='M14.061 24.727H9.213q-.216 0-.35-.135t-.135-.35V16H.486q-.216 0-.35-.135t-.135-.35v-4.848q0-.216.135-.35t.35-.135h8.242V1.94q0-.216.135-.35t.35-.135h4.848q.216 0 .35.135t.135.35v8.242h8.242q.215 0 .35.135t.135.35v4.848q0 .216-.135.35t-.35.135h-8.242v8.242q0 .215-.135.35t-.35.135z'%3E%3C/path%3E%3C/svg%3E");
    left: 0;
    top: -0.3rem;
    transform: scale(0.5);
    width: 23px;
  }

  &:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32'%3E%3Cpath fill='%2337b98b' d='M14.061 24.727H9.213q-.216 0-.35-.135t-.135-.35V16H.486q-.216 0-.35-.135t-.135-.35v-4.848q0-.216.135-.35t.35-.135h8.242V1.94q0-.216.135-.35t.35-.135h4.848q.216 0 .35.135t.135.35v8.242h8.242q.215 0 .35.135t.135.35v4.848q0 .216-.135.35t-.35.135h-8.242v8.242q0 .215-.135.35t-.35.135z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.notification {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32'%3E%3Cpath fill='%23fff' d='M21.71 19.044q.135.189.135.35t-.135.35l-3.421 3.421q-.189.135-.35.135t-.35-.135l-5.953-5.953-5.953 5.953q-.189.135-.35.135t-.35-.135l-3.421-3.421q-.135-.189-.135-.35t.135-.35l5.953-5.953-5.953-5.953q-.135-.189-.135-.35t.135-.35l3.421-3.421q.189-.135.35-.135t.35.135l5.953 5.953 5.953-5.953q.189-.135.35-.135t.35.135l3.421 3.421q.135.189.135.35t-.135.35l-5.953 5.953z'%3E%3C/path%3E%3C/svg%3E");
    top: 0.27rem;
    transform: scale(0.5);
    width: 23px;
  }
}

.svg-icon-dashboard {
  padding-right: 1rem;
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='28' viewBox='0 0 36 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.617 17.773a2.531 2.531 0 0 1-2.54 2.539 2.531 2.531 0 0 1-2.538-2.54 2.531 2.531 0 0 1 2.539-2.538 2.531 2.531 0 0 1 2.539 2.539zm3.808-8.887a2.531 2.531 0 0 1-2.539 2.54 2.531 2.531 0 0 1-2.539-2.54 2.531 2.531 0 0 1 2.54-2.539 2.531 2.531 0 0 1 2.538 2.54zm8.49 9.541c1.29.893 1.964 2.52 1.547 4.126a3.824 3.824 0 0 1-4.661 2.718 3.824 3.824 0 0 1-2.718-4.662 3.797 3.797 0 0 1 3.372-2.816l2.004-7.578a1.275 1.275 0 0 1 1.547-.912c.674.178 1.071.873.912 1.547l-2.003 7.577zm13.091-.654a2.531 2.531 0 0 1-2.538 2.539 2.531 2.531 0 0 1-2.54-2.54 2.531 2.531 0 0 1 2.54-2.538 2.531 2.531 0 0 1 2.538 2.539zM20.312 5.078a2.531 2.531 0 0 1-2.54 2.539 2.531 2.531 0 0 1-2.538-2.54 2.531 2.531 0 0 1 2.539-2.538 2.531 2.531 0 0 1 2.539 2.539zm8.886 3.808a2.531 2.531 0 0 1-2.539 2.54 2.531 2.531 0 0 1-2.539-2.54 2.531 2.531 0 0 1 2.54-2.539 2.531 2.531 0 0 1 2.538 2.54zm6.347 8.887C35.545 7.973 27.572 0 17.773 0 7.973 0 0 7.974 0 17.773c0 3.411.972 6.724 2.797 9.58.238.357.635.576 1.07.576h27.81c.437 0 .834-.219 1.072-.576a17.815 17.815 0 0 0 2.796-9.58z' fill='%234D4D4D' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    height: 28px;
    top: -0.1rem;
    transform: scale(0.8);
    width: 36px;
  }
}
.svg-icon-dashboard-active {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='28' viewBox='0 0 36 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.617 17.773a2.531 2.531 0 0 1-2.54 2.539 2.531 2.531 0 0 1-2.538-2.54 2.531 2.531 0 0 1 2.539-2.538 2.531 2.531 0 0 1 2.539 2.539zm3.808-8.887a2.531 2.531 0 0 1-2.539 2.54 2.531 2.531 0 0 1-2.539-2.54 2.531 2.531 0 0 1 2.54-2.539 2.531 2.531 0 0 1 2.538 2.54zm8.49 9.541c1.29.893 1.964 2.52 1.547 4.126a3.824 3.824 0 0 1-4.661 2.718 3.824 3.824 0 0 1-2.718-4.662 3.797 3.797 0 0 1 3.372-2.816l2.004-7.578a1.275 1.275 0 0 1 1.547-.912c.674.178 1.071.873.912 1.547l-2.003 7.577zm13.091-.654a2.531 2.531 0 0 1-2.538 2.539 2.531 2.531 0 0 1-2.54-2.54 2.531 2.531 0 0 1 2.54-2.538 2.531 2.531 0 0 1 2.538 2.539zM20.312 5.078a2.531 2.531 0 0 1-2.54 2.539 2.531 2.531 0 0 1-2.538-2.54 2.531 2.531 0 0 1 2.539-2.538 2.531 2.531 0 0 1 2.539 2.539zm8.886 3.808a2.531 2.531 0 0 1-2.539 2.54 2.531 2.531 0 0 1-2.539-2.54 2.531 2.531 0 0 1 2.54-2.539 2.531 2.531 0 0 1 2.538 2.54zm6.347 8.887C35.545 7.973 27.572 0 17.773 0 7.973 0 0 7.974 0 17.773c0 3.411.972 6.724 2.797 9.58.238.357.635.576 1.07.576h27.81c.437 0 .834-.219 1.072-.576a17.815 17.815 0 0 0 2.796-9.58z' fill='#{url-encode-color($eu-jade)}' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  }
}

.svg-icon-dataset {
  &::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.679 3.578c0-1.045-2.497-2.167-5.679-2.167-3.182 0-5.68 1.122-5.68 2.167 0 1.046 2.498 2.167 5.68 2.167 3.182 0 5.679-1.121 5.679-2.167zM2.321 8.774v.783C2.333 10.6 4.826 11.716 8 11.716c3.182 0 5.679-1.122 5.679-2.167v-.775c-1.306.858-3.378 1.368-5.679 1.368s-4.373-.51-5.679-1.368zm0-2.203C2.333 7.614 4.826 8.731 8 8.731c3.182 0 5.679-1.122 5.679-2.167v-.776C12.373 6.647 10.301 7.157 8 7.157s-4.373-.51-5.679-1.369v.783zM.889 6.564V3.592v-.014C.889 1.451 4.119 0 8 0c3.882 0 7.111 1.45 7.111 3.578v8.844C15.111 14.549 11.881 16 8 16 4.118 16 .889 14.55.889 12.422v-2.86-2.985-.013zm1.432 5.195v.663c0 1.045 2.497 2.167 5.679 2.167 3.182 0 5.68-1.122 5.68-2.167v-.663c-1.307.859-3.379 1.369-5.68 1.369-2.301 0-4.373-.51-5.679-1.369z' fill='#{url-encode-color($eu-jade)}' /%3e%3c/svg%3e");
    height: 16px;
    width: 16px;
  }
}

.svg-icon-spin-inbutton,
.svg-icon-search-inbutton {
  padding-left: 1.25rem;
  position: relative;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='14' viewBox='0 0 11 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.022 5.414c0-.15-.063-.294-.17-.4l-4-4c-.107-.108-.25-.17-.402-.17-.15 0-.294.062-.4.17l-4 4c-.11.106-.17.25-.17.4 0 .313.258.572.57.572h8c.313 0 .572-.26.572-.572zM10.286 8.57c0-.31-.26-.57-.572-.57h-8c-.312 0-.57.26-.57.57 0 .153.06.296.17.403l4 4c.106.107.25.17.4.17.152 0 .295-.063.402-.17l4-4c.107-.107.17-.25.17-.402z'%3E%3C/path%3E%3C/svg%3E");
    background-position: left center;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 1.75rem;
    position: absolute;
    right: 0.5rem;
    top: 0;
    width: 17px;
  }
}

.svg-icon-spin-inbutton {
  padding-right: 2rem;
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='23px' height='23px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' style='background: none;'%3E%3Cg transform='translate%2850 50%29'%3E%3Cg transform='rotate%28139.412%29'%3E%3CanimateTransform attributeName='transform' type='rotate' values='0;360' keyTimes='0;1' dur='3.4s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3Cpath d='M37.43995192304605 -6.5 L47.43995192304605 -6.5 L47.43995192304605 6.5 L37.43995192304605 6.5 A38 38 0 0 1 35.67394948182593 13.090810836924174 L35.67394948182593 13.090810836924174 L44.33420351967032 18.090810836924174 L37.83420351967032 29.34914108612188 L29.17394948182593 24.34914108612188 A38 38 0 0 1 24.34914108612188 29.17394948182593 L24.34914108612188 29.17394948182593 L29.34914108612188 37.83420351967032 L18.090810836924184 44.33420351967032 L13.090810836924183 35.67394948182593 A38 38 0 0 1 6.5 37.43995192304605 L6.5 37.43995192304605 L6.500000000000001 47.43995192304605 L-6.499999999999995 47.43995192304606 L-6.499999999999996 37.43995192304606 A38 38 0 0 1 -13.09081083692417 35.67394948182593 L-13.09081083692417 35.67394948182593 L-18.09081083692417 44.33420351967032 L-29.34914108612187 37.834203519670325 L-24.349141086121872 29.173949481825936 A38 38 0 0 1 -29.17394948182592 24.34914108612189 L-29.17394948182592 24.34914108612189 L-37.83420351967031 29.349141086121893 L-44.33420351967031 18.0908108369242 L-35.67394948182592 13.090810836924193 A38 38 0 0 1 -37.43995192304605 6.5000000000000036 L-37.43995192304605 6.5000000000000036 L-47.43995192304605 6.500000000000004 L-47.43995192304606 -6.499999999999993 L-37.43995192304606 -6.499999999999994 A38 38 0 0 1 -35.67394948182593 -13.090810836924167 L-35.67394948182593 -13.090810836924167 L-44.33420351967032 -18.090810836924163 L-37.834203519670325 -29.34914108612187 L-29.173949481825936 -24.34914108612187 A38 38 0 0 1 -24.349141086121893 -29.17394948182592 L-24.349141086121893 -29.17394948182592 L-29.349141086121897 -37.834203519670304 L-18.0908108369242 -44.334203519670304 L-13.090810836924195 -35.67394948182592 A38 38 0 0 1 -6.500000000000005 -37.43995192304605 L-6.500000000000005 -37.43995192304605 L-6.500000000000007 -47.43995192304605 L6.49999999999999 -47.43995192304606 L6.499999999999992 -37.43995192304606 A38 38 0 0 1 13.090810836924149 -35.67394948182594 L13.090810836924149 -35.67394948182594 L18.090810836924142 -44.33420351967033 L29.349141086121847 -37.83420351967034 L24.349141086121854 -29.17394948182595 A38 38 0 0 1 29.17394948182592 -24.349141086121893 L29.17394948182592 -24.349141086121893 L37.834203519670304 -29.349141086121897 L44.334203519670304 -18.0908108369242 L35.67394948182592 -13.090810836924197 A38 38 0 0 1 37.43995192304605 -6.500000000000007 M0 -20A20 20 0 1 0 0 20 A20 20 0 1 0 0 -20' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 23px;
    top: 0.4rem;
    transform: scale(0.7);
    width: 23px;
  }
}

.svg-icon-search-inbutton {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32'%3E%3Cpath d='M14.545 1.455q3.609 0 6.168 2.559t2.559 6.168-2.559 6.168-6.168 2.559q-2.559 0-4.66-1.347l-6.572 6.599q-.566.566-1.374.566t-1.374-.566-.566-1.374.566-1.374l6.599-6.572q-1.347-2.101-1.347-4.66 0-3.609 2.559-6.168t6.168-2.559zm0 14.545q2.397 0 4.108-1.71t1.71-4.108-1.71-4.108-4.108-1.71-4.108 1.71-1.71 4.108 1.71 4.108T14.545 16z'%3E%3C/path%3E%3C/svg%3E");
    height: 32px;
    top: 0.4rem;
    transform: scale(0.8);
    width: 23px;
  }
}

.svg-icon-toggle {
  font-size: 0.75rem;
  padding-left: 1.25rem;
  position: relative;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4.517v3.616c0 .283-.234.517-.516.517-.138 0-.267-.056-.364-.153l-1.162-1.163-2.68 2.68c-.05.05-.122.08-.186.08-.065 0-.137-.03-.186-.08l-.92-.92c-.05-.048-.08-.12-.08-.186 0-.064.03-.137.08-.185l2.68-2.68L7.904.88C7.807.783 7.75.654 7.75.517c0-.283.234-.517.517-.517h3.617c.282 0 .516.234.516.517zM6.095 7.492c0 .064-.032.137-.08.186l-2.68 2.68 1.162 1.162c.097.097.153.226.153.364 0 .282-.234.516-.517.516H.517c-.283 0-.517-.234-.517-.516V8.267c0-.283.234-.517.517-.517.137 0 .266.057.363.154l1.163 1.162 2.68-2.68c.048-.05.12-.08.185-.08s.138.03.186.08l.92.92c.05.05.08.12.08.186z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 13px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 13px;
  }
}

.svg-icon-OAIPMH_HARVEST,
.svg-icon-HTTP_HARVEST,
.svg-icon-TRANSFORMATION,
.svg-icon-VALIDATION_EXTERNAL,
.svg-icon-VALIDATION_INTERNAL,
.svg-icon-NORMALIZATION,
.svg-icon-ENRICHMENT,
.svg-icon-MEDIA_PROCESS,
.svg-icon-PREVIEW,
.svg-icon-PUBLISH,
.svg-icon-spin,
.svg-icon-exclamation {
  background-repeat: no-repeat;
  display: inline-block;
}

.svg-icon-OAIPMH_HARVEST,
.svg-icon-HTTP_HARVEST {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.235 9.627c0 .235-.215.433-.47.433h-2.33c-.254 0-.47-.198-.47-.433s.216-.433.47-.433h2.33c.255 0 .47.198.47.433zM7.163 9.14c0 1.715-1.507 3.123-3.386 3.123-1.88 0-3.367-1.408-3.367-3.124 0-1.716 1.507-3.124 3.386-3.124 1.88 0 3.367 1.408 3.367 3.123zm-.94 0c0-1.246-1.096-2.258-2.446-2.258S1.33 7.894 1.33 9.14s1.096 2.257 2.447 2.257c1.35 0 2.447-1.012 2.447-2.258zm11.413.54c0 1.428-1.253 2.583-2.8 2.583-1.546 0-2.798-1.155-2.798-2.582 0-1.425 1.252-2.58 2.8-2.58 1.545 0 2.798 1.155 2.798 2.58zm-.94 0c0-.938-.84-1.714-1.86-1.714-1.017 0-1.86.776-1.86 1.715 0 .94.843 1.717 1.86 1.717 1.038 0 1.86-.777 1.86-1.716zM3.776 4.41c-.528 0-1.017.07-1.507.215l1.252-3.16h4.013L9.16 5.492c.06.163.235.27.43.27h5.05l1.04.958c.096.09.214.126.33.126.12 0 .236-.036.334-.126.176-.163.176-.434 0-.614L15.19 5.04c-.08-.072-.216-.126-.334-.126h-.704V2.64c0-.236-.216-.434-.47-.434-.255 0-.47.198-.47.433v2.256h-3.29L8.3.87C8.24.706 8.063.6 7.867.6h-4.68c-.194 0-.37.107-.43.287L1.076 5.13c-.332.2-.646.416-.92.67-.176.16-.176.432 0 .613.176.162.47.162.666 0 .236-.217.49-.397.764-.56.06-.018.137-.054.176-.09.607-.307 1.292-.47 2.017-.47 1.116 0 2.173.398 2.956 1.138.097.09.215.127.332.127.118 0 .235-.036.333-.126.176-.162.176-.432 0-.613-.96-.903-2.25-1.408-3.62-1.408zm0 4.188c-.156 0-.312.054-.41.162-.118.11-.177.235-.177.38 0 .144.058.288.176.38.098.107.254.16.41.16.157 0 .294-.053.412-.16.117-.092.176-.236.176-.38 0-.145-.06-.27-.176-.38-.098-.09-.255-.162-.41-.162zm11.06.433c-.156 0-.312.055-.41.164-.118.108-.176.234-.176.38 0 .143.058.27.176.378.117.108.254.163.41.163.157 0 .294-.055.412-.163.117-.108.176-.235.176-.38 0-.144-.06-.288-.176-.378-.098-.11-.255-.163-.41-.163z'%3E%3C/path%3E%3C/svg%3E");
  height: 13px;
  width: 18px;
}

.svg-icon-VALIDATION_EXTERNAL,
.svg-icon-VALIDATION_INTERNAL,
.svg-icon-NORMALIZATION,
.svg-icon-ENRICHMENT,
.svg-icon-MEDIA_PROCESS {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.863 1.918C6.028 1.29 7.363.923 8.82.923c1.976 0 3.748.658 5.147 1.754.105.105.266.145.414.102.15-.043.257-.16.278-.303.02-.14-.048-.282-.178-.36C12.947.917 10.99.185 8.82.185c-1.662 0-3.197.428-4.513 1.167l.31-.638c.066-.13.062-.28-.01-.396-.07-.116-.2-.178-.334-.163-.135.015-.257.105-.32.235l-.876 1.8c-.008.015-.015.032-.02.05-.047.087-.054.19-.017.286.058.146.208.243.376.243h2c.145 0 .28-.07.352-.184.073-.115.073-.257 0-.372-.072-.115-.207-.185-.35-.183h-.71c.056-.037.107-.075.155-.112zm2.505 1.22c-.206.02-.364.18-.363.37v1.09c-.28.113-.537.255-.782.416l-1.025-.548c-.192-.1-.435-.038-.545.138l-1.4 2.24c-.11.174-.046.398.143.5l1 .53c-.017.144-.043.284-.043.434 0 .148.027.286.044.427l-1 .53c-.093.05-.16.132-.187.227-.027.095-.012.197.042.28l1.4 2.24c.113.174.355.233.546.133l1.02-.543c.245.162.506.302.787.416v1.09c0 .204.18.37.4.37h2.802c.222 0 .4-.166.4-.37v-1.136c.262-.114.51-.243.74-.4l1.068.573c.19.1.433.04.544-.133l1.4-2.24c.055-.083.07-.185.043-.28-.027-.095-.094-.177-.186-.226l-1.09-.583c.014-.125.033-.248.033-.375 0-.13-.02-.254-.032-.38l1.09-.584c.188-.102.252-.326.143-.5l-1.4-2.24c-.11-.176-.353-.238-.545-.138l-1.075.576c-.228-.153-.473-.285-.732-.398V3.508c0-.204-.18-.37-.4-.37h-2.84zm.438.74h2v.997c.003.15.105.286.258.34.364.132.696.32.994.55.13.097.312.11.457.033l.957-.507 1 1.6-.963.512c-.145.077-.222.23-.195.38.03.17.044.348.044.526 0 .178-.015.354-.045.525-.025.15.052.3.194.375l.962.513-1 1.6-.95-.508c-.147-.076-.33-.06-.458.04-.3.232-.634.416-1 .548-.155.055-.258.193-.257.347v.992h-2v-.96c0-.156-.104-.297-.264-.35-.384-.128-.743-.314-1.057-.55-.128-.095-.307-.11-.45-.033l-.895.473-1-1.6.876-.46c.145-.077.222-.23.194-.38-.036-.19-.056-.38-.056-.572 0-.192.02-.382.056-.57.03-.155-.047-.31-.194-.388l-.875-.46 1-1.6.896.48c.143.075.322.06.45-.035.314-.235.672-.42 1.057-.548.158-.053.262-.192.263-.346v-.963zm9.248 2.693h-.004c-.142.002-.273.073-.344.186l-1 1.598c-.072.115-.072.255 0 .37.07.114.203.184.347.184.143 0 .275-.07.347-.185l.38-.602.004.1c.03 1.282-.29 2.58-1.04 3.78-.99 1.58-2.5 2.662-4.23 3.23-.146.036-.26.145-.29.282-.033.137.022.28.14.366.12.087.282.105.42.046 1.893-.624 3.56-1.82 4.647-3.554.807-1.288 1.177-2.686 1.166-4.067.728 1.038 1.337.653.52-.6-.223-.344-.468-.668-.732-.974-.01-.014-.02-.027-.033-.04-.078-.086-.188-.13-.296-.12zM4.478 14.496C3.436 13.89 2.533 13.06 1.87 12 .882 10.422.62 8.676.95 7.01c.026-.11-.006-.227-.085-.314-.08-.086-.198-.135-.32-.13-.193.006-.353.136-.382.31-.36 1.826-.066 3.76 1.02 5.494.837 1.34 2.023 2.357 3.392 3.04-1.277.17-1.218.897.28.737.42-.044.832-.118 1.237-.22.158-.04.268-.168.275-.325.004-.085-.023-.167-.073-.236l-.984-1.57c-.07-.116-.204-.186-.347-.186s-.275.07-.347.184c-.072.115-.072.256 0 .37l.335.542-.472-.21zm4.328-8.402c1.322 0 2.402.996 2.402 2.215 0 1.22-1.08 2.215-2.402 2.215-1.32 0-2.4-.996-2.4-2.215 0-1.22 1.08-2.215 2.4-2.215zm0 .738c.89 0 1.602.658 1.602 1.478s-.713 1.477-1.602 1.477c-.89 0-1.6-.657-1.6-1.477 0-.82.71-1.477 1.6-1.477z'%3E%3C/path%3E%3C/svg%3E");
  height: 17px;
  width: 19px;
}

.svg-icon-PREVIEW,
.svg-icon-PUBLISH {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.806.68C3.95.68 0 4.322 0 8.8c0 1.738.586 3.396 1.697 4.796.81 1.01 2.107 1.61 3.467 1.61 2.378 0 4.314-1.784 4.314-3.977V5.985l2.206 2.035s.3.325.655 0c.353-.326.07-.67.07-.67L9.28 4.465s-.165-.154-.33-.155c-.165 0-.334.15-.334.15L5.486 7.35s-.283.405.047.67c.33.264.68 0 .68 0L8.45 5.953v5.277c0 1.672-1.473 3.032-3.286 3.032-1.052 0-2.015-.447-2.64-1.226-.98-1.234-1.498-2.698-1.498-4.234 0-3.957 3.49-7.176 7.78-7.176s7.78 3.22 7.78 7.176c0 3.958-3.497 7.233-7.78 7.177 0 0-.475.004-.475.492 0 .49.476.454.476.454 4.857 0 8.807-3.644 8.807-8.124S13.663.68 8.806.68z'%3E%3C/path%3E%3C/svg%3E");
  height: 17px;
  width: 18px;
}

.svg-icon-TRANSFORMATION {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.256 9.05h1.1v1.027h-1.1zM8.256 6.992h1.1V8.02h-1.1zM8.256 4.936h1.1v1.028h-1.1zM8.256 2.88h1.1v1.027h-1.1zM8.256 11.105h1.1v1.028h-1.1zM8.256 13.162h1.1v1.028h-1.1zM8.256 15.218h1.1v1.028h-1.1zM.913 14.72c.368-.355 4.3-3.91 5.375-4.88.17-.15.172-.424-.05-.632C4.99 8.046.864 4.216.628 3.995.347 3.735 0 3.82 0 4.12v10.726c0 .345.487.286.913-.125zm1.17-7.105c.598.562 1.845 1.732 1.928 1.802.11.09.11.232 0 .324-.09.076-1.384 1.3-1.912 1.773-.02.016-.33.236-.33-.14V7.69c0-.262.124-.254.315-.075z'%3E%3C/path%3E%3Cpath d='M13.59 2.88h-.83s-.65-.03-.65.594c0 .425.65.433.65.433h2.248s.196-.038.292-.124c.096-.086.11-.31.11-.31V1.376s-.003-.552-.565-.552c-.562 0-.535.49-.535.49V2.1C11.243-.504 6.554-.543 3.44 1.986c-.146.117-.29.512-.032.752.256.24.617.134.737.037C6.85.568 10.93.605 13.59 2.88zM17.616 15.223l-.003-11.265c0-.302-.215-.377-.444-.164-1.287 1.2-5.484 5.124-5.706 5.338-.262.25-.292.58 0 .843.256.23 4.622 4.328 5.746 5.382.16.15.406.128.406-.134zm-1.414-2.262c-.865-.807-3.253-3.036-3.37-3.153-.145-.143-.197-.297 0-.508.164-.177 2.46-2.308 3.255-3.042.153-.14.425-.422.425 0v6.46c0 .327-.122.418-.31.243z'%3E%3C/path%3E%3C/svg%3E");
  height: 17px;
  width: 18px;
}

.svg-icon-spin {
  background-image: url("data:image/svg+xml,%3Csvg width='23px' height='23px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' style='background: none;'%3E%3Cg transform='translate%2850 50%29'%3E%3Cg transform='rotate%28139.412%29'%3E%3CanimateTransform attributeName='transform' type='rotate' values='0;360' keyTimes='0;1' dur='3.4s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3Cpath d='M37.43995192304605 -6.5 L47.43995192304605 -6.5 L47.43995192304605 6.5 L37.43995192304605 6.5 A38 38 0 0 1 35.67394948182593 13.090810836924174 L35.67394948182593 13.090810836924174 L44.33420351967032 18.090810836924174 L37.83420351967032 29.34914108612188 L29.17394948182593 24.34914108612188 A38 38 0 0 1 24.34914108612188 29.17394948182593 L24.34914108612188 29.17394948182593 L29.34914108612188 37.83420351967032 L18.090810836924184 44.33420351967032 L13.090810836924183 35.67394948182593 A38 38 0 0 1 6.5 37.43995192304605 L6.5 37.43995192304605 L6.500000000000001 47.43995192304605 L-6.499999999999995 47.43995192304606 L-6.499999999999996 37.43995192304606 A38 38 0 0 1 -13.09081083692417 35.67394948182593 L-13.09081083692417 35.67394948182593 L-18.09081083692417 44.33420351967032 L-29.34914108612187 37.834203519670325 L-24.349141086121872 29.173949481825936 A38 38 0 0 1 -29.17394948182592 24.34914108612189 L-29.17394948182592 24.34914108612189 L-37.83420351967031 29.349141086121893 L-44.33420351967031 18.0908108369242 L-35.67394948182592 13.090810836924193 A38 38 0 0 1 -37.43995192304605 6.5000000000000036 L-37.43995192304605 6.5000000000000036 L-47.43995192304605 6.500000000000004 L-47.43995192304606 -6.499999999999993 L-37.43995192304606 -6.499999999999994 A38 38 0 0 1 -35.67394948182593 -13.090810836924167 L-35.67394948182593 -13.090810836924167 L-44.33420351967032 -18.090810836924163 L-37.834203519670325 -29.34914108612187 L-29.173949481825936 -24.34914108612187 A38 38 0 0 1 -24.349141086121893 -29.17394948182592 L-24.349141086121893 -29.17394948182592 L-29.349141086121897 -37.834203519670304 L-18.0908108369242 -44.334203519670304 L-13.090810836924195 -35.67394948182592 A38 38 0 0 1 -6.500000000000005 -37.43995192304605 L-6.500000000000005 -37.43995192304605 L-6.500000000000007 -47.43995192304605 L6.49999999999999 -47.43995192304606 L6.499999999999992 -37.43995192304606 A38 38 0 0 1 13.090810836924149 -35.67394948182594 L13.090810836924149 -35.67394948182594 L18.090810836924142 -44.33420351967033 L29.349141086121847 -37.83420351967034 L24.349141086121854 -29.17394948182595 A38 38 0 0 1 29.17394948182592 -24.349141086121893 L29.17394948182592 -24.349141086121893 L37.834203519670304 -29.349141086121897 L44.334203519670304 -18.0908108369242 L35.67394948182592 -13.090810836924197 A38 38 0 0 1 37.43995192304605 -6.500000000000007 M0 -20A20 20 0 1 0 0 20 A20 20 0 1 0 0 -20' fill='%23777777'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 32px;
  width: 23px;
  visibility: hidden;

  &.showing {
    visibility: visible;
  }
}

.svg-icon-exclamation {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32'%3E%3Cpath d='M11.636 1.455q4.822 0 8.229 3.407t3.407 8.229-3.407 8.229-8.229 3.407-8.229-3.407T0 13.091t3.407-8.229 8.229-3.407zm1.455 18.909v-8.242h-2.909v8.242h2.909zM11.636 9.697q.808 0 1.374-.566t.566-1.374-.566-1.374-1.374-.566-1.374.566-.566 1.374.566 1.374 1.374.566z'%3E%3C/path%3E%3C/svg%3E");
  height: 32px;
  margin-left: 1rem;
  transform: scale(0.9);
  width: 23px;
}

.svg-icon-download {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2337b98b' viewbox='0 0 23 32'%3E%3Cpath d='M21.333 24.727h-19.394q-0.216 0-0.35-0.135t-0.135-0.35v-2.909q0-0.215 0.135-0.35t0.35-0.135h19.394q0.215 0 0.35 0.135t0.135 0.35v2.909q0 0.215-0.135 0.35t-0.35 0.135zM21.683 9.077l-9.697 9.697q-0.189 0.135-0.35 0.135t-0.35-0.135l-9.697-9.697q-0.216-0.216-0.108-0.539 0.135-0.296 0.458-0.296h5.333v-6.303q0-0.216 0.135-0.35t0.35-0.135h7.758q0.216 0 0.35 0.135t0.135 0.35v6.303h5.333q0.323 0 0.458 0.296 0.108 0.323-0.108 0.539z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}

:hover > .svg-icon-download {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23777777' viewbox='0 0 23 32'%3E%3Cpath d='M21.333 24.727h-19.394q-0.216 0-0.35-0.135t-0.135-0.35v-2.909q0-0.215 0.135-0.35t0.35-0.135h19.394q0.215 0 0.35 0.135t0.135 0.35v2.909q0 0.215-0.135 0.35t-0.35 0.135zM21.683 9.077l-9.697 9.697q-0.189 0.135-0.35 0.135t-0.35-0.135l-9.697-9.697q-0.216-0.216-0.108-0.539 0.135-0.296 0.458-0.296h5.333v-6.303q0-0.216 0.135-0.35t0.35-0.135h7.758q0.216 0 0.35 0.135t0.135 0.35v6.303h5.333q0.323 0 0.458 0.296 0.108 0.323-0.108 0.539z'%3E%3C/path%3E%3C/svg%3E");
}

.warning-before {
  position: relative;
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='%2337b98b' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.894.538l9.008 18.015A1 1 0 0 1 19.007 20H.993a1 1 0 0 1-.895-1.447L9.105.538a1 1 0 0 1 1.79 0zm-.853 13.39c-.55 0-1.022.196-1.413.587a1.926 1.926 0 0 0-.587 1.414c0 .55.195 1.021.587 1.413.391.391.862.587 1.413.587.55 0 1.022-.196 1.413-.587.391-.392.587-.863.587-1.413 0-.551-.196-1.022-.587-1.414a1.926 1.926 0 0 0-1.413-.587zm-2-7.53l.348 5.914c0 .116.05.224.152.326a.503.503 0 0 0 .37.152h2.086c.145 0 .269-.05.37-.152a.457.457 0 0 0 .152-.326l.348-5.914a.558.558 0 0 0-.152-.413.503.503 0 0 0-.37-.152H8.562a.503.503 0 0 0-.37.152.558.558 0 0 0-.151.413z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
    float: left;
    height: 20px;
    margin-right: -100%;
    position: relative;
    transform: translate(-130%, 48%);
    width: 20px;
  }
}

@media (min-width: $bp-med) {
  .warning-before::before {
    float: none;
    left: 0;
    position: absolute;
    transform: translate(-30px, -0.07em);
  }
}
