.phase-flag {
  font-size: $font-size-sm;
  font-weight: bold;
  left: 0;
  padding: 0 0.5em;
  position: absolute;
  top: 4px;

  &.alpha {
    background-color: $eu-orange;
    color: $white;
  }

  &.beta {
    background-color: $eu-blue;
    color: $white;
  }

  &:hover {
    cursor: help;
  }
}
