@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/generic/variables-font';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

#app-sortable-group {
  display: none;
}

.btn-delete {
  margin-left: 0;
}

.filter {
  margin-left: auto;
}

.filter [disabled='true'] {
  color: variables-colours.$gray-lighter;
  cursor: not-allowed;
}

[name='depublicationReason'] {
  margin: 1em 0.5em;
}

[name='recordIds'] {
  height: 75%;
  resize: none;
  width: 100%;
}

.confirm-highlight {
  display: block;
  margin: 1em;
}

.depublications-grid {
  background: variables-colours.$white;
  column-gap: 1.75em;
  display: grid;
  font-size: variables-font.$font-size-metis-grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 3fr auto;
  margin: 2em 0;
  overflow: hidden;
  padding: 0.5em 1em;
}

.indicator-saving {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  &.showing {
    background: svg-icons-metis.svg-url-icon-spin(variables-colours.$gray-light) center no-repeat;
  }
}

.filter .dropdown a {
  padding-left: 0;
  padding-right: 1.5rem;
}

.form-ctrls {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.record-ids-input {
  height: 25em;
  width: 70vw;
}
