<div *ngIf="editMode; then editmode; else readonly"></div>

<ng-template #readonly>
  <div *ngIf="profileForm" class="metis-profile-form metis-form metis-form-horizontal">
    <form class="profile-form" [formGroup]="profileForm">
      <div class="form-header">
        <h2>{{ 'userProfile' | translate }}</h2>
      </div>

      <app-notification
        [notification]="notification"
        (closed)="notification = undefined"
      ></app-notification>

      <div class="form-fields">
        <div class="form-group">
          <label for="user-id">{{ 'identifier' | translate }}</label>
          <input id="user-id" name="user-id" type="text" formControlName="user-id" />
        </div>

        <div class="form-group">
          <label for="email">{{ 'email' | translate }}</label>
          <input id="email" name="email" type="text" formControlName="email" />
        </div>

        <div class="form-group">
          <label for="first-name">{{ 'firstName' | translate }}</label>
          <input id="first-name" name="first-name" type="text" formControlName="first-name" />
        </div>

        <div class="form-group">
          <label for="last-name">{{ 'lastName' | translate }}</label>
          <input id="last-name" name="last-name" type="text" formControlName="last-name" />
        </div>

        <div class="form-group">
          <label for="organization-name">{{ 'organization' | translate }}</label>
          <input
            id="organization-name"
            name="organization-name"
            type="text"
            formControlName="organization-name"
          />
          <span
            *ngIf="profileForm.controls['organization-name'].value === 'Unknown'"
            title="Invalid value"
            class="svg-icon-exclamation invalid"
          ></span>
        </div>

        <div class="form-group">
          <label for="country">{{ 'country' | translate }}</label>
          <input id="country" name="country" type="text" formControlName="country" />
        </div>

        <div class="form-group">
          <label for="network-member">{{ 'networkMember' | translate }}</label>
          <input
            id="network-member"
            name="network-member"
            type="text"
            formControlName="network-member"
          />
        </div>

        <div class="form-group">
          <label for="account-role">{{ 'accountRole' | translate }}</label>
          <input id="account-role" name="account-role" type="text" formControlName="account-role" />
          <span
            *ngIf="profileForm.controls['account-role'].value === 'Unknown'"
            title="Invalid value"
            class="svg-icon-exclamation invalid"
          ></span>
        </div>
        <div class="form-group form-group-btns user-profile-edit-btns">
          <button class="button" type="button" (click)="toggleEditMode()">
            {{ 'changePassword' | translate }}
          </button>
          <app-loading-button
            id="refresh-btn"
            classes="button"
            [isLoading]="loading"
            [title]="'refresh' | translate"
            (click)="onReloadProfile()"
          ></app-loading-button>
        </div>

        <div class="profile-form-extra">
          <p>
            {{ 'updateProfile' | translate }}
            <a href="mailto:{{ emailInfo }}">{{ emailInfo }}</a
            >.
          </p>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #editmode>
  <div class="metis-form-bg metis-form" *ngIf="profileForm">
    <form [formGroup]="profileForm">
      <div class="form-header">
        <h2>{{ 'changePassword' | translate }}</h2>
      </div>

      <app-notification
        [notification]="notification"
        (closed)="notification = undefined"
      ></app-notification>

      <div class="form-fields">
        <fieldset class="form-group" formGroupName="passwords">
          <legend>{{ 'password' | translate }}</legend>
          <input
            id="oldpassword"
            type="password"
            formControlName="oldpassword"
            placeholder="{{ 'passwordOld' | translate }}"
          />
          <input
            id="password"
            type="password"
            formControlName="password"
            (keyup)="onKeyupPassword()"
            placeholder="{{ 'passwordNew' | translate }}"
          />
          <app-password-check [passwordToCheck]="password"></app-password-check>
          <div
            class="messages"
            *ngIf="
              profileForm.controls['passwords'].get('password')!.touched &&
              !profileForm.controls['passwords'].get('password')!.valid
            "
          >
            <div class="error-message">{{ 'passwordOldError' | translate }}</div>
          </div>

          <input
            id="confirm"
            type="password"
            formControlName="confirm"
            placeholder="Confirm password"
            (keyup)="checkMatchingPasswords()"
          />
          {{ profileForm.controls['passwords'].errors }}
          <div
            class="messages"
            *ngIf="
              (profileForm.controls['passwords'].get('confirm')!.touched &&
                !profileForm.controls['passwords'].get('confirm')!.valid) ||
              confirmPasswordError
            "
          >
            <div class="error-message">{{ 'passwordMatchError' | translate }}</div>
          </div>
        </fieldset>
        <div class="form-group form-group-btns user-profile-edit-btns">
          <button class="button" type="button" (click)="toggleEditMode()">
            {{ 'cancel' | translate }}
          </button>
          <app-loading-button
            classes="submit"
            [disabled]="!profileForm.valid"
            [isLoading]="loading"
            [title]="'save' | translate"
            [loadingTitle]="'saving' | translate"
            (click)="onSubmit()"
          ></app-loading-button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
