<div class="header-wrapper">
  <header class="header">
    <div class="header-container">
      <a
        class="hamburger"
        (click)="toggleSidebarOpen()"
        (keydown.enter)="toggleSidebarOpen()"
        tabindex="0"
      ></a>
      <div class="metis-logo">
        <a
          href="/"
          (click)="onLogoClick($event)"
          aria-label="Europeana Metis Sandbox"
          class="logo"
        ></a>
      </div>
    </div>
  </header>
</div>

<div
  class="sidebar-outer"
  role="navigation"
  [ngClass]="{ open: isSidebarOpen }"
  libClickAware
  [ignoreClasses]="['hamburger']"
  (clickOutside)="closeSideBar()"
>
  <ul class="links-external" *ngIf="documentationUrl || feedbackUrl || userGuideUrl">
    <li *ngIf="documentationUrl">
      <a
        class="external-link-left"
        data-e2e="documentation-url"
        [href]="documentationUrl"
        [attr.tabindex]="getLinkTabIndex()"
        (keydown.esc)="closeSideBar()"
        target="_blank"
        >Training material</a
      >
    </li>
    <li *ngIf="feedbackUrl">
      <a
        class="external-link-left"
        data-e2e="feedback-url"
        [href]="feedbackUrl"
        target="_blank"
        [attr.tabindex]="getLinkTabIndex()"
        (keydown.esc)="closeSideBar()"
        >Feedback</a
      >
    </li>
    <li *ngIf="userGuideUrl">
      <a
        class="external-link-left"
        data-e2e="user-guide-url"
        [href]="userGuideUrl"
        target="_blank"
        [attr.tabindex]="getLinkTabIndex()"
        (keydown.esc)="closeSideBar()"
        >User guide</a
      >
    </li>
    <li *ngIf="apiSettings.enableThemes">
      <a
        class="theme-switcher"
        [attr.title]="themes[themeIndex]"
        (click)="switchTheme()"
        (keydown.enter)="switchTheme()"
        [attr.tabindex]="getLinkTabIndex()"
        (keydown.esc)="closeSideBar()"
        (keydown.tab)="closeSideBar()"
        >Switch Theme</a
      >
    </li>
  </ul>
</div>

<div class="pusher">
  <div class="overlay"></div>
  <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
  <app-footer id="footer"></app-footer>
</div>
