<lib-modal
  id="{{ modalMaintenanceId }}"
  title="Site Maintenance Underway"
  [isSmall]="false"
  [permanent]="true"
>
  <lib-maintenance-info [maintenanceInfo]="maintenanceInfo"> </lib-maintenance-info>
</lib-modal>

<div class="header-wrapper">
  <header class="header">
    <div class="header-container">
      <a
        class="hamburger"
        (click)="toggleSidebarOpen()"
        (keydown.enter)="toggleSidebarOpen()"
        tabindex="0"
      ></a>
      <div class="metis-logo">
        <a
          href="/"
          (click)="onLogoClick($event)"
          aria-label="Europeana Metis Sandbox"
          class="logo"
        ></a>
      </div>
    </div>
  </header>
</div>

<div
  class="sidebar-outer"
  role="navigation"
  [ngClass]="{ open: isSidebarOpen }"
  libClickAware
  [ignoreClasses]="['hamburger']"
  (clickOutside)="closeSideBar()"
>
  <ng-template #sidebarLink let-text="text" let-url="url">
    <li *ngIf="url">
      <a
        class="external-link-left"
        target="_blank"
        [attr.tabindex]="getLinkTabIndex()"
        [href]="url"
        (keydown.esc)="closeSideBar()"
        >{{ text }}</a
      >
    </li>
  </ng-template>

  <ul class="links-external" *ngIf="documentationUrl || feedbackUrl || userGuideUrl">
    <ng-content
      *ngTemplateOutlet="sidebarLink; context: { text: 'Training material', url: documentationUrl }"
    ></ng-content>

    <ng-content
      *ngTemplateOutlet="sidebarLink; context: { text: 'Feedback', url: feedbackUrl }"
    ></ng-content>

    <ng-content
      *ngTemplateOutlet="sidebarLink; context: { text: 'User guide', url: userGuideUrl }"
    ></ng-content>

    <li class="spacer">
      <a class="internal-link" (click)="onCookiePolicyClick()">Cookies Policy</a>
    </li>

    <li>
      <a class="internal-link" (click)="onPrivacyPolicyClick()">Privacy Policy</a>
    </li>

    <li>
      <a class="internal-link" (click)="showCookieConsent(true)">Change Privacy Settings</a>
    </li>

    <li *ngIf="apiSettings.enableThemes">
      <a
        class="theme-switcher"
        [attr.title]="themes[themeIndex]"
        [attr.tabindex]="getLinkTabIndex()"
        (click)="switchTheme()"
        (keydown.enter)="switchTheme()"
        (keydown.esc)="closeSideBar()"
        (keydown.tab)="closeSideBar()"
        >Switch Theme</a
      >
    </li>
  </ul>
</div>

<div class="pusher">
  <div class="overlay"></div>
  <router-outlet (activate)="onOutletLoaded($event)"> </router-outlet>
  <div class="consent-container">
    <div #consentContainer></div>
  </div>
  <sb-footer id="footer"> </sb-footer>
</div>
