@import 'shared-styles/assets/sass/pandora/settings/_metis-variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

#footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  z-index: 12;
}

.hamburger {
  background: svg-url-icon-hamburger(#000) center / cover no-repeat;
  display: block;
  height: 1.25em;
  margin-left: 1.25em;
  width: 1.25em;
  &:hover {
    background-image: svg-url-icon-hamburger($gray-med);
  }
  &:active {
    background-image: svg-url-icon-hamburger($eu-light-orange);
  }
}

.header-wrapper .header-container {
  justify-content: flex-start;
}

.sidebar-outer {
  background: $white;
  box-shadow: rgba(77, 77, 77, 0.2) 0 0 3px;
  color: $gray-med;
  display: none;
  margin-bottom: -$fixed-header-height;
  padding: 1em 5em 1em 1.25em;
  position: fixed;
  top: calc($fixed-header-height);
  width: 100%;
  z-index: 11;

  &.open {
    display: block;
  }

  @media (min-width: $bp-small-2) {
    bottom: 0;
    box-shadow: rgba(77, 77, 77, 0.2) 0 2px 3px;
    display: block;
    padding: 1em 5em 2em 1.25em;
    width: auto;
    transform: translateX(-100%);
    transition: transform 0.3s linear;

    &.open {
      transform: translateX(0%);
    }
  }
}

.theme-switcher {
  color: $gray-med;
  line-height: 6em;
  margin-left: 2.25em;
}
