@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

$small-margin: 0.82rem;

.messages {
  width: 100%;
}

.metis-form .form-fields .form-group:not(.form-group-btns) {
  .input-subtitle {
    font-size: $font-size-sm;

    margin-bottom: -1.5rem;
    margin-left: 14.85rem;
    width: 100%;
  }
  .input-subtitle-error {
    color: $eu-red;
  }

  .ng-invalid {
    border-color: $eu-red;
  }
}

.input-clear {
  position: absolute;
  right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.8rem;
  background: $gray-lighter;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -0.2rem;
    top: -0.2rem;
    height: 32px;
    width: 32px;
    transform: scale(0.4);

    background-image: url("data:image/svg+xml,%3Csvg viewbox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ecross%3C/title%3E%3Cpath fill='%23fff' d='M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z'%3E%3C/path%3E%3C/svg%3E");
    background-position: left center;
    background-repeat: no-repeat;
  }
}

.metis-form.metis-form-horizontal .form-fields .form-group {
  .dataset-label {
    padding-bottom: 0em;
  }

  .fitness-radio {
    margin-right: 0.3em;
  }

  .fitness-radio-label {
    align-items: baseline;
    display: flex;
    font-weight: normal;
    max-width: none;
  }
}

.dataset-label + .radio-group {
  margin-left: $small-margin;
}

.redirection-ids {
  position: relative;
  width: 100%;
}

.readonly-field {
  margin-left: $small-margin;
  word-break: break-all;
}

@media (max-width: $bp-med) {
  .readonly-field {
    margin-left: 0;
  }

  .metis-form.metis-form-horizontal .form-fields .form-group {
    .dataset-label {
      flex: 1 0 100%;
      max-width: none;
      padding-right: 0;
      padding-bottom: 0.5em;
      width: 100%;
    }

    .dataset-input {
      width: 100%;
    }

    .input-subtitle {
      margin-left: 0;
    }

    .input-clear {
      transform: translate(0, 1em);
    }
  }
}
