@mixin flash-message($col, $bknd) {
  padding: 5px;
  text-align: center;
  color: $col;
  background-color: $bknd;
}

#flashMessages {
  .alert-success {
    @include flash-message($white, $eu-jade);
  }

  .alert-error {
    @include flash-message($white, $eu-red);
  }
}
