.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  width: 6rem;
}

.progress {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.6rem;
  padding-right: 0;
  text-transform: uppercase;
  width: 4rem;

  .progressbar {
    margin-bottom: 0.5rem;
  }
}

.tooltip::after {
  bottom: auto;
  top: -2rem;
}

nav {
  display: inline-block;
  white-space: nowrap;
  width: auto;

  ul {
    white-space: nowrap;
  }

  li {
    display: inline-block;
  }
}
