<div class="wrapper">
  <!-- View Raw Checkbox -->
  <ng-template #viewRawData>
    <li class="toggle-view-raw" [ngClass]="{ 'fill-height': !!problemPatternsRecord }">
      <input id="view-raw" type="checkbox" [(ngModel)]="viewRaw" />
      <label for="view-raw" class="title">
        view raw data
      </label>
    </li>
  </ng-template>

  <!-- Description -->
  <ng-template #tmpDescription let-description="description">
    <div>
      <span class="bold">{{ description.problemPatternId }}</span>
      &nbsp;
      <span class="warning-icon">{{ description.problemPatternSeverity }}</span>
      {{ description.problemPatternQualityDimension }}
    </div>
  </ng-template>

  <!-- Problem Occurence -->
  <ng-template #tmpProblemOccurenceListItem let-occurence="occurence">
    <li class="problem-occurence">
      <div *ngIf="occurence.affectedRecordIds.length > 0">
        affectedRecordIds: {{ occurence.affectedRecordIds }}
      </div>

      <span class="bold"> {{ occurence.messageReportError }}:&nbsp;</span>

      <span class="message-copy">
        {{ occurence.messageReportCopy }}
      </span>
    </li>
  </ng-template>

  <!-- Record Analysis List -->
  <ng-template #tmpRecordAnalysisList let-analyses="analyses">
    <ul class="analysis-list">
      <ng-container *ngFor="let analysis of analyses">
        <li>
          <a class="bold link-report link-internal" (click)="openLink(analysis.recordId)">
            {{ analysis.recordId }}
          </a>
        </li>
        <li class="analysis-item" *ngFor="let problemOccurrence of analysis.problemOccurrenceList">
          <ng-content
            *ngTemplateOutlet="
              tmpProblemOccurenceListItem;
              context: { occurence: problemOccurrence }
            "
          ></ng-content>
        </li>
      </ng-container>
    </ul>
  </ng-template>

  <!-- Problem Pattern (record) -->
  <ng-template #tmpProblemPattern let-problemPattern="problemPattern">
    <div class="problem-pattern">
      <ng-content
        *ngTemplateOutlet="
          tmpDescription;
          context: { description: problemPattern.problemPatternDescription }
        "
      ></ng-content>

      <span class="title-record-occurences"
        >Record Occurrences {{ problemPattern.recordOccurrences }}:</span
      >
      <ng-content
        *ngTemplateOutlet="
          tmpRecordAnalysisList;
          context: { analyses: problemPattern.recordAnalysisList }
        "
      ></ng-content>
    </div>
  </ng-template>

  <!-- END TEMPLATES -->

  <!-- RECORD -->

  <div *ngIf="problemPatternsRecord">
    <div class="form-group header-info">
      <li>
        <ul>
          <li>
            <h2 class="title">Record</h2>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <ng-content *ngTemplateOutlet="viewRawData"></ng-content>
        </ul>
      </li>
    </div>

    <div class="problem-viewer record">
      <ng-container *ngIf="!viewRaw">
        <ng-container *ngFor="let problemPattern of problemPatternsRecord">
          <ng-content
            *ngTemplateOutlet="tmpProblemPattern; context: { problemPattern: problemPattern }"
          ></ng-content>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="viewRaw">
        <pre>{{ problemPatternsRecord | json }}</pre>
      </ng-container>
    </div>
  </div>

  <!-- DATASET -->

  <div *ngIf="problemPatternsDataset; let ppd">
    <div class="form-group header-info">
      <li>
        <ul>
          <li>
            <h2 class="title">Dataset: {{ ppd.datasetId }}</h2>
          </li>
          <li>
            <span class="title">
              {{ formatDate(ppd.executionTimestamp, 'dd/mm/yyyy, HH:mm:ss', 'en-GB') }}
            </span>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <h3 class="capitalise title step">
              {{ ppd.executionStep }}
            </h3>
          </li>
          <ng-content *ngTemplateOutlet="viewRawData"></ng-content>
        </ul>
      </li>
    </div>

    <div class="problem-viewer">
      <ng-container *ngIf="!viewRaw">
        <ng-container *ngFor="let problemPattern of ppd.problemPatternList">
          <ng-content
            *ngTemplateOutlet="tmpProblemPattern; context: { problemPattern: problemPattern }"
          ></ng-content>
        </ng-container>
      </ng-container>
      <pre *ngIf="viewRaw">{{ ppd | json }}</pre>
    </div>
  </div>
</div>
