@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

input,
label {
  cursor: pointer;
  padding-bottom: 0;
}

.analysis-list {
  margin-left: 2em;
}

.bold {
  font-weight: bold;
}

.capitalise {
  text-transform: capitalize;
}

.dimension {
  &::before {
    content: ' - ';
  }
}

.header-info {
  display: flex;
  justify-content: space-between;
  list-style: none;

  .right-aligned {
    text-align: right;
  }
}

.italic {
  font-style: italic;
}

.link-related {
  &::before {
    background-image: svg-url-icon-lightbulb($eu-jade);
    background-repeat: no-repeat;
    background-position: center 2px;
    content: '';
    display: inline-block;
    height: 14px;
    width: 10px;
  }
  &:hover::before {
    background-image: svg-url-icon-lightbulb($eu-jade-dark);
  }
  &:active:hover::before {
    background-image: svg-url-icon-lightbulb($eu-light-orange);
  }
}

.message-copy {
  background-color: lemonchiffon;
}

.list {
  display: block;
  height: 100%;
  overflow: hidden;
  &.closed {
    height: 0;
  }
}

.list,
.title-record-occurences {
  padding-left: 1em;
}

.list-opener {
  color: $eu-jade-dark;
  display: block;
  width: 100%;

  &::after {
    $transitionTime: 80ms;
    content: '\25B6';
    display: inline-block;
    font-size: 12px;
    left: 1px;
    position: relative;
    top: -2px;
    transform: rotate(0deg);
    transition: top ease-in-out $transitionTime, transform ease-in-out $transitionTime;
  }

  &:hover::after {
    color: $eu-jade-darkest;
    color: $eu-light-orange;
  }

  &.is-open::after {
    top: 0;
    transform: rotate(90deg);
  }
}

.problem-occurence {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}

.problem-pattern {
  margin-bottom: 1em;
}

.problem-viewer {
  background: #fff;
  margin-bottom: 1em;
  max-height: 28em;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5em;
}

.step {
  $h2-height: 38px;
  height: $h2-height;
  line-height: $h2-height;
}

.title {
  color: $eu-jade-dark;
  word-break: break-all;
  &.record-title {
    margin-right: 1em;
  }
}

.toggle-view-raw {
  align-items: center;
  display: flex;
  white-space: nowrap;

  &.fill-height {
    position: relative;
    top: 9px;
  }
}

.warning-icon {
  font-weight: bold;
  margin-left: 6px;
  text-transform: uppercase;
  &::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 13px;
    background: svg-url-icon-warning($eu-jade-dark) center no-repeat;
    margin: 0 3px 0 0;
  }
  &.warning {
    &::before {
      background: svg-url-icon-warning($eu-yellow) center no-repeat;
    }
  }
  &.error {
    &::before {
      background: svg-url-icon-warning($eu-light-orange) center no-repeat;
    }
  }
  &.fatal {
    &::before {
      background: svg-url-icon-warning($eu-red) center no-repeat;
    }
  }
}
