@import '../../../../assets/sass/scss/generic/variables';
@import '../../../../assets/sass/pandora/settings/metis-variables';

app-workflow-form-field-harvest {
  width: 100%;
}

.form-field-anchor {
  position: absolute;
  top: -9.2rem;
}

label {
  padding-bottom: 0;
}

.form-fields {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
}

.form-fields.inactive {
  background-color: $gray-lightest;
  color: $gray-lighter;

  .form-group label,
  input {
    border-color: $gray-lighter;
    color: $gray-lighter;
  }

  &:hover {
    background-color: white;
  }
}

.form-fields.disabled,
.form-fields.inactive {
  align-items: center;
  display: flex;
}

.form-fields.disabled {
  background-color: $gray-almost-lightest;

  &:hover {
    background-color: $gray-almost-lightest;
  }

  .plugin {
    cursor: auto;
  }
}

.form-group:not(.form-group-btns) {
  display: block;
  margin: 0 auto 1rem auto;
  width: 75%;

  label {
    font-weight: normal;
  }
}

.form-group.form-group-checkbox {
  display: flex;

  label {
    max-width: 10rem;
  }
}

.svg-icon-plus::before {
  top: 0;
}

.form-group-radios label {
  padding: 0.5rem 2rem 0.5rem 0;
}

.form-group label + input[type='checkbox'] {
  flex: initial;
}

.plugin {
  align-items: center;
  color: $eu-jade;
  display: inline-flex;
  font-size: 1.5rem;
  padding-right: 2rem;
  position: relative;
  cursor: pointer;
  white-space: nowrap;

  input {
    display: none;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='%2337b98b' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.805 9.572v3.795c0 1.898-1.54 3.438-3.438 3.438h-9.93C1.54 16.805 0 15.265 0 13.367v-9.93C0 1.54 1.54 0 3.437 0h9.93c.478 0 .955.095 1.397.298.107.048.19.156.215.275.023.13-.013.25-.11.346l-.584.584c-.07.07-.18.12-.274.12-.036 0-.072-.013-.107-.025-.18-.048-.36-.072-.538-.072h-9.93c-1.05 0-1.91.86-1.91 1.91v9.93c0 1.05.86 1.91 1.91 1.91h9.93c1.05 0 1.91-.86 1.91-1.91v-3.032c0-.096.036-.19.107-.263l.764-.764c.084-.084.18-.12.275-.12.048 0 .095.012.143.036.143.06.24.19.24.346zm2.757-5.836L9.847 13.45c-.382.383-.98.383-1.36 0L3.353 8.32c-.382-.383-.382-.98 0-1.362l1.313-1.313c.382-.382.978-.382 1.36 0l3.14 3.14 7.72-7.723c.383-.382.98-.382 1.362 0l1.312 1.313c.382.382.382.98 0 1.36z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 21px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: scale(1.2);
    width: 21px;
  }
}

.form-fields.inactive .plugin {
  color: $gray-lighter;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='%23ccc' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.367 1.528c1.05 0 1.91.86 1.91 1.91v9.93c0 1.05-.86 1.91-1.91 1.91h-9.93c-1.05 0-1.91-.86-1.91-1.91v-9.93c0-1.05.86-1.91 1.91-1.91h9.93zm3.438 1.91C16.805 1.54 15.265 0 13.367 0h-9.93C1.54 0 0 1.54 0 3.437v9.93c0 1.898 1.54 3.438 3.437 3.438h9.93c1.898 0 3.438-1.54 3.438-3.438v-9.93z'%3E%3C/path%3E%3C/svg%3E");
  }
}
