@import '../../../../assets/sass/scss/generic/variables';
@import '../../../../assets/sass/pandora/settings/metis-variables';

.form-field-anchor {
  bottom: 0;
  position: absolute;
  top: 0;
}

.form-fields {
  border-left: 0.25em solid $eu-jade;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
}

.form-fields.inactive {
  background-color: $gray-lightest;
  border-left: 0;
  color: $gray-lighter;

  .form-group label,
  input {
    border-color: $gray-lighter;
    color: $gray-lighter;
  }

  &:hover {
    background-color: white;
  }
}

.form-fields.disabled,
.form-fields.inactive {
  align-items: center;
  display: flex;
}

.form-fields.disabled {
  background-color: $gray-almost-lightest;

  &:hover {
    background-color: $gray-almost-lightest;
  }

  .plugin {
    cursor: auto;
  }
}

.form-group.form-group-checkbox {
  display: flex;

  label {
    max-width: 10rem;
  }
}

.svg-icon-plus::before {
  top: 0;
}

.form-group-radios label {
  padding: 0.5rem 2rem 0.5rem 0;
}

.form-group label + input[type='checkbox'] {
  flex: initial;
}

.link-check {
  > label {
    pointer-events: none;
  }

  .plugin::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' fill='%2337b98b' height='30'%3E%3Cpath d='M19.693 23.759l-5.363 5.267c-2.205 1.632-5.426 1.026-7.054-.445-2.792-2.522-1.91-6.528-.735-7.715 1.176-1.187 5.143-5.342 6.025-6.232.882-.89 2.645-1.632 3.968-1.632s2.204.297 3.233 1.038c1.029.742.735 1.781.147 2.523-.588.742-1.47.593-1.764.445-.293-.148-1.983-1.113-2.939-.148l-6.025 6.083c-1.102 1.113 0 2.67.294 2.967.294.297 1.764 1.336 2.94.149 1.175-1.187 3.012-2.893 3.012-2.893 1.616 1.038 4.261.593 4.261.593zm-4.26-12.083l5.657-5.564c2.205-1.633 5.426-1.026 7.054.445 2.792 2.522 1.91 6.528.735 7.715-1.176 1.187-5.437 5.638-6.32 6.529-.88.89-2.644 1.632-3.967 1.632s-2.204-.297-3.233-1.039-.735-1.78-.147-2.522c.588-.742 1.47-.594 1.764-.445.293.148 1.983 1.113 2.939.148l6.319-6.38c1.102-1.113 0-2.67-.294-2.968-.294-.296-1.764-1.335-2.94-.148-1.175 1.187-3.306 3.19-3.306 3.19-1.616-1.038-4.262-.593-4.262-.593zm1.036-8.692l-9.7 9.794a.943.943 0 0 1-1.359 0L.286 7.604a.965.965 0 0 1 0-1.371l1.31-1.324a.943.943 0 0 1 1.36 0L6.09 8.074 13.8.289a.943.943 0 0 1 1.358 0l1.311 1.323a.965.965 0 0 1 0 1.372z'%3E%3C/path%3E%3C/svg%3E");
    height: 30px;
    transform: translate(0.4em, -37%);
    width: 30px;
  }
}

.plugin {
  align-items: center;
  color: $eu-jade;
  display: inline-flex;
  font-size: 1.5rem;
  padding-right: 2rem;
  position: relative;
  cursor: default;
  pointer-events: none;

  input {
    display: none;
  }

  /*
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='%2337b98b' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.805 9.572v3.795c0 1.898-1.54 3.438-3.438 3.438h-9.93C1.54 16.805 0 15.265 0 13.367v-9.93C0 1.54 1.54 0 3.437 0h9.93c.478 0 .955.095 1.397.298.107.048.19.156.215.275.023.13-.013.25-.11.346l-.584.584c-.07.07-.18.12-.274.12-.036 0-.072-.013-.107-.025-.18-.048-.36-.072-.538-.072h-9.93c-1.05 0-1.91.86-1.91 1.91v9.93c0 1.05.86 1.91 1.91 1.91h9.93c1.05 0 1.91-.86 1.91-1.91v-3.032c0-.096.036-.19.107-.263l.764-.764c.084-.084.18-.12.275-.12.048 0 .095.012.143.036.143.06.24.19.24.346zm2.757-5.836L9.847 13.45c-.382.383-.98.383-1.36 0L3.353 8.32c-.382-.383-.382-.98 0-1.362l1.313-1.313c.382-.382.978-.382 1.36 0l3.14 3.14 7.72-7.723c.383-.382.98-.382 1.362 0l1.312 1.313c.382.382.382.98 0 1.36z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 21px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: scale(1.2);
    width: 21px;
  }
  */
}

@media (min-width: $bp-small-3) {
  .plugin {
    white-space: nowrap;
  }
}

.form-fields.inactive .plugin {
  color: $gray-lighter;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='%23ccc' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.367 1.528c1.05 0 1.91.86 1.91 1.91v9.93c0 1.05-.86 1.91-1.91 1.91h-9.93c-1.05 0-1.91-.86-1.91-1.91v-9.93c0-1.05.86-1.91 1.91-1.91h9.93zm3.438 1.91C16.805 1.54 15.265 0 13.367 0h-9.93C1.54 0 0 1.54 0 3.437v9.93c0 1.898 1.54 3.438 3.437 3.438h9.93c1.898 0 3.438-1.54 3.438-3.438v-9.93z'%3E%3C/path%3E%3C/svg%3E");
  }
}

:hover > .link-check-ctrl {
  display: block;
}

.link-check-ctrl {
  display: none;
  position: absolute;
  right: -1.5rem;
  top: 50%;
  transform: translateY(-50%);

  .ctrl {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 1.6em;
    width: 32px;
  }

  .add {
    background-image: url("data:image/svg+xml,%3Csvg width='45' fill='%2337b98b' height='30' viewBox='0 0 45 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.693 23.759l-5.363 5.267c-2.205 1.632-5.426 1.026-7.054-.445-2.792-2.522-1.91-6.528-.735-7.715 1.176-1.187 5.143-5.342 6.025-6.232.882-.89 2.645-1.632 3.968-1.632s2.204.297 3.233 1.038c1.029.742.735 1.781.147 2.523-.588.742-1.47.593-1.764.445-.293-.148-1.983-1.113-2.939-.148l-6.025 6.083c-1.102 1.113 0 2.67.294 2.967.294.297 1.764 1.336 2.94.149 1.175-1.187 3.012-2.893 3.012-2.893 1.616 1.038 4.261.593 4.261.593zm-4.26-12.083l5.657-5.564c2.205-1.633 5.426-1.026 7.054.445 2.792 2.522 1.91 6.528.735 7.715-1.176 1.187-5.437 5.638-6.32 6.529-.88.89-2.644 1.632-3.967 1.632s-2.204-.297-3.233-1.039-.735-1.78-.147-2.522c.588-.742 1.47-.594 1.764-.445.293.148 1.983 1.113 2.939.148l6.319-6.38c1.102-1.113 0-2.67-.294-2.968-.294-.296-1.764-1.335-2.94-.148-1.175 1.187-3.306 3.19-3.306 3.19-1.616-1.038-4.262-.593-4.262-.593zm1.036-8.692l-9.7 9.794a.943.943 0 0 1-1.359 0l-5.124-5.174a.965.965 0 0 1 0-1.371l1.31-1.324a.943.943 0 0 1 1.36 0l3.134 3.165L28.8.289a.943.943 0 0 1 1.358 0l1.311 1.323a.965.965 0 0 1 0 1.372zM11.325 14.565c0-.398-.346-.72-.772-.72H7.207V10.72c0-.398-.346-.721-.772-.721H4.89c-.426 0-.772.323-.772.72v3.124H.772c-.426 0-.772.323-.772.72v1.443c0 .397.346.72.772.72h3.346v3.124c0 .398.346.72.772.72h1.545c.426 0 .772-.322.772-.72v-3.124h3.346c.426 0 .772-.323.772-.72v-1.442z'%3E%3C/path%3E%3C/svg%3E");
    height: 30px;
    width: 45px;
  }

  .down {
    transform: rotate(180deg);
  }

  .remove {
    background-color: $offwhite;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23acacac' viewBox='0 0 26 26'%3E%3Cpath d='M22 15H4c-.6 0-1-.4-1-1v-2c0-.6.4-1 1-1h18c.6 0 1 .4 1 1v2c0 .6-.4 1-1 1z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 16px 16px;
    border-radius: 16px;
    box-shadow: 0 1px 0 0 rgba(119, 119, 119, 0.6);
    height: 32px;
  }

  .up,
  .down {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23ACACAC' x='0px' y='0px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'%3E%3Cpath d='M15.484,12.452c-0.436,0.446-1.043,0.481-1.576,0L10,8.705l-3.908,3.747c-0.533,0.481-1.141,0.446-1.574,0 c-0.436-0.445-0.408-1.197,0-1.615c0.406-0.418,4.695-4.502,4.695-4.502C9.43,6.112,9.715,6,10,6s0.57,0.112,0.789,0.335 c0,0,4.287,4.084,4.695,4.502C15.893,11.255,15.92,12.007,15.484,12.452z'%3E%3C/path%3E%3C/svg%3E");
    height: 28px;
  }

  @media (min-width: $bp-small) {
    right: 0.75rem;
  }

  @media (min-width: $bp-small-3) {
    right: 2rem;
  }

  @media (min-width: $bp-med) {
    right: 4.5rem;
  }
}
