@import 'shared-styles/assets/sass/scss/generic/variables-bp';
@import 'shared-styles/assets/sass/scss/generic/variables-colours';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$container-margin-bottom: 12px;
$slide-down-duration: 0.4s;

.align-left {
  @media (min-width: $bp-med) {
    text-align: left;
  }
}

.align-right {
  position: relative;
  @media (min-width: $bp-med) {
    text-align: right;
  }
}

.container-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $bp-med) {
    flex-wrap: nowrap;
  }
}

.dataset-info {
  justify-content: space-between;
  margin-bottom: $container-margin-bottom;

  .creation-date {
    align-items: center;
    display: flex;
    &.error-icon,
    &.warning-icon {
      position: relative;
      &::before {
        content: '';
        height: 12px;
        // background set in theme!
        margin: 0 3px 0 2px;
        width: 13px;
      }
    }
  }
  .title-id {
    word-break: break-all;
  }
  .title-name {
    word-break: break-all;
  }
}

.dataset-name {
  display: inline-block;
  flex-grow: 1;

  .tick::after {
    transform: scale(1);
    height: 14px;
    left: 0px;
    width: 18px;
  }
}

.full-info-view {
  display: none;
  z-index: 2;
  &.open {
    display: block;
  }
}

.grid {
  .grid-heading,
  .grid-label {
    font-weight: bold;
    white-space: nowrap;
  }

  @media (min-width: $bp-med) {
    display: grid;
    grid-template-columns: 2fr auto;

    .grid-heading {
      grid-column-end: 3;
      grid-column-start: 1;
      margin: 1em 0 0.5em 0;
    }

    .grid-label {
      margin-right: 1em;
    }

    .portal-links {
      float: right;
    }
  }
}

.hide-mobile {
  @media (max-width: $bp-large) {
    display: none;
  }
}

.hide-desktop {
  @media (min-width: $bp-large) {
    display: none;
  }
}

.left-col {
  flex-grow: 1;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.portal-links {
  visibility: hidden;
  &.available {
    visibility: visible;
  }
}

.preview-unavailable {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &::before {
    content: '';
    height: 13px;
    width: 13px;
    background: svg-url-icon-warning($eu-jade-dark) center no-repeat;
    margin: -2px 3px 0 2px;
    display: block;
  }
}

.slide-right-label {
  font-weight: bold;
  overflow: hidden;
  width: 0;
  &.open {
    width: 100%;
  }
}

.transparent {
  opacity: 0;
  position: absolute;
  right: 0;

  &.showing {
    position: relative;
    opacity: 1;
    transition: opacity $slide-down-duration ease-in-out;
  }

  :first-child {
    margin-left: auto;
  }

  .xsl-icon {
    margin-left: 2px;
  }
}

.xsl-icon {
  background: svg-url-icon-xml($eu-grey-dark) center no-repeat;
  display: block;
  height: 26px;
  margin-right: 3px;
  width: 16px;
}

@media (min-width: $bp-large) {
  .full-info-view {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    display: block;
    padding: 0 1em 0.5em 0;
    position: absolute;
    top: calc(100% + $container-margin-bottom);
    transform: translateY(-100%);
    transition: clip-path $slide-down-duration ease-in-out,
      transform $slide-down-duration ease-in-out;
    width: calc(100% + $container-margin-bottom);

    &.open {
      border-bottom: 1px dotted $grey-3;
      border-right: 1px dotted $grey-3;
      clip-path: polygon(0 -12px, 100% -12px, 100% 100%, 0 100%);
      transform: translateY(0%);
    }
    & > ul {
      margin-top: -$container-margin-bottom;
    }
  }

  .left-col {
    margin-bottom: 0;
    transition: margin-bottom $slide-down-duration ease-in-out;
    &.push-height {
      margin-bottom: 7em;
      .full-info-view.open {
        border-bottom: 0;
        border-right: 0;
      }
    }
  }

  .portal-links {
    margin-left: 3em;
    position: relative;
  }

  .slide-right-label {
    transition: width $slide-down-duration ease-in-out;
    & + * {
      margin-right: 0.25em;
    }
  }
}

.debias-modal-title {
  align-items: center;
  display: flex;
  font-weight: 600;
  padding-right: 1em;

  .modal-title-icon {
    &.debias-icon {
      background: svg-url-debias(#fff) center 1px no-repeat;
      display: inline-block;
      height: 1.2em;
      margin-right: 0.75em;
      width: 3.5em;
    }
    &.loading-icon {
      background: svg-url-icon-spin(#fff) center no-repeat;
      background-size: 1.25em;
      height: 1.5em;
      margin-right: 1em;
      width: 1.2em;
    }
    $transition-time: 0.5s;
    transition: width linear $transition-time, margin-right linear $transition-time;
  }
}

.debias-link {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  &::before {
    content: attr(data-linkText);
  }
  &::after {
    content: '';
    height: 1.2em;
    display: inline-block;
    margin-left: 0.4em;
    width: 3.5em;
  }
}

.debias-link-wrapper {
  float: right;
}
