@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$mid-grey: #777;

$container-margin-bottom: 12px;
$slide-down-duration: 0.4s;
$editable-duration: 0.4s;

.align-right {
  position: relative;
  text-align: right;
  input {
    text-align: right;
  }
}

label:focus {
  border: 3px solid red !important;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

.fade-in,
.fade-out {
  transition: opacity $editable-duration linear;
}

.animate-height {
  display: grid;
  grid-template-rows: 0fr;
  margin-top: 0;
  opacity: 0;
  width: 100%;

  &.twin-cols {
    grid-template-columns: auto auto;
  }

  &.animate-shrink {
    transition: grid-template-rows $editable-duration linear, margin $editable-duration linear,
      opacity $editable-duration linear;
    &::after {
      content: attr(dataHeadingUploaded);
    }
  }

  &.expanded {
    &:not(.animate-shrink) {
      transition: grid-template-rows $editable-duration linear, margin-top $editable-duration linear,
        opacity $editable-duration linear;
    }
    &.animate-shrink {
      transition: none;
    }

    grid-template-rows: 1fr;
    opacity: 1;
    position: relative;

    &.pull-up {
      margin-top: -1.6em;
    }
  }
  &::after,
  * {
    overflow-y: hidden;
  }
}

.container-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: variables-bp.$bp-med) {
    flex-wrap: nowrap;
  }
}

.country-language {
  align-items: initial;
  display: flex;
  position: relative;

  .flag-orb {
    display: none;
    opacity: 0;
    right: -100%;
    top: -100%;
    z-index: -1;

    &.fade-out {
      margin-top: -1.6em;
      transition: opacity $editable-duration linear, margin-top $editable-duration linear;
    }
    &.open:not(.fade-out) {
      opacity: 1;
    }
    &::after {
      box-shadow: 0px 0px 4px 1px rgba(26, 26, 26, 0.25);
    }
  }

  @media (min-width: variables-bp.$bp-large) {
    .flag-orb {
      display: block;
    }
  }
}

.cross::after {
  top: 1px;
}

.dataset-info {
  justify-content: space-between;
  margin-bottom: $container-margin-bottom;

  input,
  label,
  select {
    padding: 0;
  }

  option,
  select {
    text-align: right;
  }

  label::after {
    transition: opacity $editable-duration linear;
  }

  &.editable select {
    width: 100%;
  }

  &:not(.editable) label::after {
    opacity: 0;
  }

  .hidden-input-label {
    color: $mid-grey;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  input {
    border-radius: 0;

    &[readonly] {
      border-color: transparent;
      color: variables-colours.$gray-med;
    }
  }

  .creation-date {
    align-items: center;
    display: flex;
  }
  .error-icon,
  .warning-icon {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      height: 12px;
      // background set in theme!
      margin: 0 3px 0 2px;
      width: 13px;
    }
  }
  .title-name {
    word-break: break-all;
  }

  .dataset-name,
  .title-name {
    // push flag to column edge
    display: inline-block;
    min-width: 100%;
  }

  .dataset-name .tick::after {
    transform: scale(1);
    height: 14px;
    left: 0px;
    width: 18px;
  }
}

.full-info-view {
  display: none;
  z-index: 2;
  &.open {
    display: block;
  }

  .align-right {
    max-width: calc(80% - 4em);
  }

  .grid .align-right {
    max-width: 100%;
  }

  @media (min-width: variables-bp.$bp-med) {
    .align-right {
      max-width: 100%;
    }
  }
  @media (min-width: variables-bp.$bp-large) {
    .align-right {
      max-width: 20em;
    }
  }
}

.field-error {
  @media (max-width: variables-bp.$bp-large) {
    border: 1px solid variables-colours.$eu-red-error;
  }
}

.grid {
  .grid-heading,
  .grid-label {
    white-space: nowrap;
  }

  .grid-heading {
    font-weight: bold;
  }

  .label-suffix {
    opacity: 0;
    &.showing {
      margin-right: -100%;
      opacity: 1;
    }
  }

  @media (min-width: variables-bp.$bp-med) {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: subgrid;

    .grid-untitled-value {
      font-size: 12px;
      margin: 4px 0 -1.25em auto;
      &::before {
        content: '*';
        font-weight: bold;
        margin-right: 3px;
      }
    }

    & > .hide-desktop,
    .grid-heading,
    .grid-spacer,
    .grid-untitled-value {
      grid-column-end: -1;
      grid-column-start: 1;
    }

    .grid-heading,
    .grid-spacer {
      margin: 0.5em 0 0.25em 0;
    }

    .grid-label {
      margin-right: 1em;
    }

    .portal-links {
      float: right;
    }
  }
}

.grid-spacer {
  margin: 2em 0 0.25em 0;
}

.hide-mobile {
  @media (max-width: variables-bp.$bp-large) {
    display: none;
  }
}

.hide-desktop {
  @media (min-width: variables-bp.$bp-large) {
    display: none;
  }
}

.left-col {
  flex-grow: 1;
  position: relative;

  .dataset-id {
    font-weight: bold;
    pointer-events: none;
    text-align: right;
  }

  .portal-links,
  .preview-unavailable {
    grid-column-end: -1;
    grid-column-start: 1;
  }

  .portal-links {
    height: 1.6em;
    position: relative;
    & > * {
      position: absolute;
      right: 1.4em;
    }
    @media (min-width: variables-bp.$bp-med) {
      & > * {
        right: 0;
      }
    }
  }

  @media (min-width: variables-bp.$bp-large) {
    .portal-links,
    .preview-unavailable {
      display: none;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.portal-links {
  visibility: hidden;
  &.available {
    visibility: visible;
  }
}

.preview-unavailable {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &::before {
    content: '';
    height: 13px;
    width: 13px;
    background: svg-icons-metis.svg-url-icon-warning(variables-colours.$eu-jade-dark) center
      no-repeat;
    margin: -2px 3px 0 2px;
    display: block;
  }
}

.slide-right-label {
  overflow: hidden;
  width: 0;
  &.open {
    width: 100%;
  }

  &.country-language-label,
  &.creation-date-label {
    display: none;
  }
}

.title-id {
  display: flex;
  justify-content: flex-end;
  word-break: break-all;
}

.transparent {
  opacity: 0;
  position: absolute;
  right: 0;

  &.showing {
    position: relative;
    opacity: 1;
    transition: opacity $slide-down-duration ease-in-out;
  }

  :first-child {
    margin-left: auto;
  }

  .xsl-icon {
    margin-left: 2px;
  }
}

.xsl-icon {
  background: svg-icons-metis.svg-url-icon-xml(variables-colours.$eu-grey-dark) center no-repeat;
  display: block;
  height: 26px;
  margin-right: 3px;
  width: 16px;
}

@media (min-width: variables-bp.$bp-large) {
  .full-info-view {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    display: block;
    padding: 0 1em 0.5em 0;
    position: absolute;
    top: calc(100% + $container-margin-bottom);
    transform: translateY(-100%);
    transition: clip-path $slide-down-duration ease-in-out,
      transform $slide-down-duration ease-in-out;
    width: calc(100% + $container-margin-bottom);

    &.open {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-right-style: solid;
      border-right-width: 1px;
      clip-path: polygon(0 -12px, 100% -12px, 100% 100%, 0 100%);
      transform: translateY(0%);
    }
    & > ul {
      margin-top: -$container-margin-bottom;
    }
  }

  .left-col {
    margin-bottom: 0;
    transition: margin-bottom $slide-down-duration ease-in-out;
    &.push-height {
      margin-bottom: 7em;
      .full-info-view.open {
        border-bottom: 0;
        border-right: 0;
      }
    }

    // suggest clickability (prep)
    &::before {
      bottom: -0.5em;
      top: 3em;
      content: '';
      display: block;
      border-bottom: 1px solid transparent;
      border-right: 1px solid transparent;
      opacity: 0;
      position: absolute;
      left: 0.75rem;
    }

    // suggest clickability (hover active)
    &:not(:has(.open)):has(.title-name:hover) {
      & > ul {
        margin-bottom: -0.5em;
        padding-bottom: 0.5em;
      }
      &::before {
        height: 3em;
        opacity: 1;
        transition: height calc($slide-down-duration / 2) calc($slide-down-duration / 2) linear,
          opacity calc($slide-down-duration) linear;
        width: 100%;
      }
    }

    .validation-error {
      // hide (left-col) error
      display: none;
    }
  }

  .portal-links {
    margin-left: 3em;
    position: relative;
  }

  .right-col {
    .validation-error {
      $unit-height: 1.6em;
      $top-margin: 40px;

      background-color: #fff;
      border: 1px solid variables-colours.$eu-red-error;
      border-radius: 3px;
      line-height: 1.25em;
      margin-top: calc($top-margin + $container-margin-bottom);
      margin-left: 0.5em;
      padding: 1px 4px;
      position: absolute;
      white-space: nowrap;

      &::before {
        content: '<';
        background-color: #fff;
        left: -9px;
        position: absolute;
        line-height: 4px;
        top: 9px;
      }

      &.name {
        top: 0;
        margin-top: $top-margin;
      }

      &.step-size {
        top: calc(4 * $unit-height);
      }

      &.url {
        top: calc(5 * $unit-height);
      }

      &.metadata-format {
        top: calc(5 * $unit-height);
      }

      &.plus-1,
      &.plus-2 {
        transform: translateY($unit-height);
      }

      &.plus-1.plus-2 {
        transform: translateY(2 * $unit-height);
      }

      &.network-error {
        max-width: 100%;
        top: -0.75em;
        white-space: normal;
      }

      label {
        cursor: pointer;
      }
    }
  }

  .slide-right-label {
    transition: width $slide-down-duration ease-in-out;
    & + * {
      margin-right: 0.25em;
    }

    &.country-language-label,
    &.creation-date-label {
      display: block;
    }
  }

  .spacer {
    margin-top: 0;
    &.editable {
      transition: margin $editable-duration linear;
      margin-top: -1.6em;
    }
  }
}

.debias-display {
  display: flex;
  justify-content: flex-end;
  line-height: 1.5rem;
  position: relative;
  white-space: nowrap;

  &:has(:focus) .debias-opener span {
    outline: 1px solid variables-colours.$eu-orange;
  }

  &.locked > * {
    opacity: 0.5;
    pointer-events: none;
  }

  .spinner {
    background-color: transparent;
    border-radius: 50%;
    height: 3rem;
    position: absolute;
    right: -2.25em;
    top: 50%;
    transform: scale(0.5) translateY(-100%);
    width: 3rem;
  }
}

.debias-modal-title {
  align-items: center;
  display: flex;
  font-weight: 600;
  padding-right: 1em;

  .modal-title-icon {
    &.debias-icon {
      background: svg-icons-metis.svg-url-debias(#fff) center 1px no-repeat;
      display: inline-block;
      height: 1.2em;
      margin-right: 0.75em;
      width: 3.5em;
    }
    &.loading-icon {
      background: svg-icons-metis.svg-url-icon-spin(#fff) center no-repeat;
      background-size: 1.25em;
      height: 1.5em;
      margin-right: 1em;
      width: 1.2em;
    }
    $transition-time: 0.5s;
    transition: width linear $transition-time, margin-right linear $transition-time;
  }
}

.debias-link {
  $timeDebiasRollover: 250ms;

  align-items: center;
  display: flex;
  justify-content: flex-end;

  margin-left: 0;
  transition: margin-left $timeDebiasRollover linear;
  z-index: 1;

  &::after {
    background-repeat: no-repeat;
    background-position: 3px 1px;
    transform: rotateY(0deg);
  }

  &.disabled::before,
  &::after {
    content: '';
    height: 1.2em;
    display: inline-block;
    margin-left: 0.4em;
    width: 3.5em;
  }

  &::before,
  &::after {
    transition: transform $timeDebiasRollover linear, opacity $timeDebiasRollover linear;
  }

  &:focus-visible {
    outline-color: transparent;
    span {
      outline: 1px solid variables-colours.$eu-orange;
    }
  }
}

.debias-opener:focus-visible {
  outline-color: transparent;
  span {
    outline: 1px solid variables-colours.$eu-orange;
  }
}

.disabled-click {
  pointer-events: none;
  cursor: default;
}

.debias-link.disabled::before {
  opacity: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 2.25em 1px;
  transform: rotateX(90deg);
}

.debias-link.disabled:hover {
  margin-left: -2.4em;

  &::before {
    transform: rotateX(0deg);
    opacity: 1;
  }

  &::after {
    opacity: 0;
    transform: rotateY(90deg);
  }
}

.locked-indicator {
  display: none;
  height: 1em;
  margin: 4.5px 3px 0 0;
  width: 1em;
}

.locked .locked-indicator {
  display: block;
}

@media (min-width: variables-bp.$bp-med) {
  .dataset-info.editable .left-col {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    & > ul {
      display: grid;
      grid-template-columns: subgrid;

      .animate-height {
        grid-template-columns: 3fr 5fr;
        .twin-cols {
          grid-template-columns: subgrid;
        }
      }
      & > * {
        grid-column-start: 1;
        grid-column-end: -1;
      }
      input,
      select {
        width: 100%;
      }
      label {
        font-weight: bold;
      }
    }
  }

  .right-col {
    position: relative;
  }
}

.upload {
  align-items: center;
  background-repeat: no-repeat;
  background-image: svg-icons-metis.svg-url-icon-cloud(variables-colours.$eu-grey-dark);
  background-position: center;
  display: flex;
  margin-right: 0.75em;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  &:hover {
    background-image: svg-icons-metis.svg-url-icon-cloud($mid-grey);
  }
}

.rerun,
.rerun-shortcut {
  background-repeat: no-repeat;
  background-image: svg-icons-metis.svg-url-icon-rerun(variables-colours.$eu-grey-dark);
  &:not(.rerun-disabled):hover {
    background-image: svg-icons-metis.svg-url-icon-rerun($mid-grey);
  }
  &:not(.rerun-disabled):active {
    color: variables-colours.$eu-light-orange;
    background-image: svg-icons-metis.svg-url-icon-rerun(variables-colours.$eu-light-orange);
  }
  &.rerun-cancel {
    background-image: svg-icons-metis.svg-url-icon-cross(variables-colours.$eu-grey-dark);
    &:hover {
      background-image: svg-icons-metis.svg-url-icon-cross($mid-grey);
    }
    &:active {
      background-image: svg-icons-metis.svg-url-icon-cross(variables-colours.$eu-light-orange);
    }
  }

  &.rerun-disabled {
    opacity: 0.5;
  }
}

.rerun,
.upload {
  width: 1.25em;
  height: 1.25em;
}

.rerun {
  background-size: 90%;
  background-position: 0 1px;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.rerun-success-link {
  $colour: variables-colours.$eu-jade;
  animation: rotateIn 0.3s linear;
  animation-fill-mode: forwards;
  background-image: svg-icons-metis.svg-url-icon-new-dataset($colour);
  background-repeat: no-repeat;
  background-position: center left;
  color: $colour;
  margin-right: auto;
  padding-left: 2em;
  transform: rotateX(90deg);

  &:hover:not(:active) {
    background-image: svg-icons-metis.svg-url-icon-new-dataset($mid-grey);
  }
}

.rerun-toolbar {
  align-items: center;
  display: flex;
  padding: 0.75em 0 0.25em 0;
  grid-column-start: 1;
  grid-column-end: -1;
  justify-content: flex-end;
}

.rerun-shortcut {
  background-position: 2px;
  background-size: 0.75em;
  padding-left: 1em;
}

.validation-error {
  color: variables-colours.$eu-red-error;
  grid-column-end: -1;
  grid-column-start: 1;
  text-align: right;

  &.network-error {
    margin-top: 1em;
    text-align: left;

    li:not(:first-child) {
      margin-top: 0.4em;
    }
  }
}
