/*
TODO: animation on the orbs / child list:
  - the twist should fade-out the other orbs
  - the children should be pushed out as the active orb then slides left
*/

//@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.child-datasets,
.parent-dataset,
.sibling-datasets {
  position: absolute;
}

.list-container {
  &:has(:hover, :focus, .focussed) ul {
    max-height: 12rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &:not(:has(:hover, :focus, .focussed)) ul {
    li:nth-child(n + 5) {
      display: none;
    }
  }
}

.child-datasets {
  left: 0;
  padding: 3em 6em 0 2em;
  right: 12.5em;
  text-align: right;
  z-index: 4;

  &:has(:hover, :focus, .focussed) ul {
    background-color: #fff;
    border-bottom: 1px solid variables-colours.$eu-grey-middle;
  }

  &:not(:has(:hover, :focus, .focussed)) ul {
    li:nth-of-type(1) {
      margin-right: -10px;
    }
    li:nth-of-type(2) {
      margin-right: -3px;
    }
    li:nth-of-type(3) {
      margin-right: -4px;
    }
    li:nth-of-type(4) {
      margin-right: -11px;
    }
    li:nth-of-type(5) {
      margin-right: -27px;
    }
  }

  ul {
    direction: rtl;
    transition: background-color 0.5s linear;

    & > * {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 36px;
      position: relative;
      transition: margin 0.3s linear;

      a {
        color: #777;
        font-size: 14px;
        font-weight: bold;
        padding: 1px 0;
      }
    }

    li {
      // direction correction
      direction: ltr;
    }

    li:nth-child(n + 5) {
      border-right: 1px solid variables-colours.$eu-grey-middle;
    }
  }
}

.child-datasets,
.parent-dataset {
  height: 12rem;
  top: 0;
}

.parent-dataset {
  background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-grey-dark);
  background-position: calc(100% - 0.5rem) 1.6rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding: 1rem 2rem 0 0;
  right: 0;

  &::before {
    background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-orange);
    bottom: -29px;
    z-index: 4;
  }

  &::after {
    height: calc(100% - 30px);
    top: 42px;
  }
}

.parent-dataset,
.sibling-datasets {
  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    // database icon
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 1rem;
    border-bottom: 1px solid #fff;
    width: 1rem;
    height: 1rem;
    right: 8px;
  }

  &::after {
    // vertical connector line
    right: 16px;
    width: 1px;
    background: variables-colours.$eu-grey-middle;
  }
}

.sibling-datasets {
  background-color: #fff;
  border: 1px solid variables-colours.$eu-grey-middle;
  border-right: none;
  border-top: none;
  right: -2em;
  padding: 0.5em 2em 0.25em 1em;

  &:not(:hover) {
    border-left: none;
  }

  &::before {
    background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-grey-dark);
    top: 13px;
  }

  &::after {
    bottom: calc(100% - 34px);
    height: 6em;
  }

  .sibling-datasets-title {
    font-weight: bold;
  }
}
