app-workflow-form-field-harvest {
  width: 100%;
}

/* messages */
.messages {
  max-width: 100%;

  .error-message,
  .success-message {
    color: $white;
    font-size: $font-size-slightly-smaller;
    line-height: 1.25rem;
    margin-bottom: 0.6rem;
    padding: 0.5rem 1.2rem;

    i {
      padding-right: 0.6rem;
    }
  }

  .error-message {
    background-color: $eu-red;
  }
  .success-message {
    background-color: $eu-jade;
  }
}

/* search depublications field */

.tab-content .depublication-ctrls {
  align-items: flex-end;
  flex-direction: column;

  .search-form {
    left: 0;
    margin: 1em 0;
    margin: 1em 0.6rem 1em 0;

    position: relative;
    right: 0;
    top: 0;
  }

  @media (min-width: $bp-med) {
    .search-form {
      .search-string {
        width: 300px;
      }
    }
  }

  @media (min-width: $bp-large) {
    align-items: flex-end;
    flex-direction: row;

    .search-form {
      margin: 0;
    }
  }
}

/* the form */
.metis-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 2rem 0;

  form {
    width: 25rem;
  }

  &.metis-login-form form {
    max-width: 100%;
  }

  /* formheader */
  .form-header {
    width: auto;

    h2 {
      font-size: 1.375rem;
      margin-bottom: 1.5rem;
    }
  }

  .form-fields-container {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(77, 77, 77, 0.1);
    box-shadow: 1px 1px 10px 1px rgba(77, 77, 77, 0.1);
  }
}

/* fields */
.form-fields {
  background-color: $offwhite;
  padding: 2rem 0;
  width: auto;

  .form-group {
    align-items: flex-start;
    color: $white;
    margin-bottom: 0;
    padding: 0.4rem 1.2rem;

    legend {
      display: none;
    }

    label {
      color: $gray-light;
      font-weight: bold;
      margin-bottom: 0;
      text-align: left;
    }

    input {
      margin-bottom: 1rem;
    }

    input::placeholder {
      color: $gray-light;
    }

    input.ng-invalid.ng-touched {
      border-color: $eu-red;
    }

    input[type='checkbox'],
    input[type='radio'] {
      box-shadow: none;
      display: inline;
    }

    select {
      background-color: $white;
      border: 1px solid $gray-light;
      color: $gray-light;
      height: 3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    select option {
      color: $gray-light;
    }

    select.ng-invalid.ng-touched {
      border-color: $eu-red;
    }

    select:disabled {
      background: transparent;
      border-color: $opacity-gray-very-light;
      color: $gray-light;
    }
  }

  /* extra line of text */
  .profile-form-extra,
  .forgot-credentials,
  .form-requirements-warning {
    padding: 0 1.2rem 1rem;

    p {
      align-items: center;
      color: $gray-light;
      display: flex;
      font-size: $font-size-slightly-smaller;
      justify-content: flex-end;
    }
  }

  .profile-form-extra {
    padding-right: 0;
    padding-top: 1rem;
  }

  /* autocomplete */
  .metis-autocomplete {
    position: relative;

    ul {
      background: $white;
      border: 1px solid $gray-light;
      display: block;
      left: 0;
      position: absolute;
      top: 2.7rem;
      width: 100%;
      z-index: 12;
    }

    li {
      cursor: pointer;
    }
  }
}

/* buttons */
.form-fields .form-group-btns {
  button {
    padding: 0.8rem 3rem;
    text-transform: uppercase;
  }
}

.depublication-ctrls,
.form-fields .form-group-btns {
  display: flex;
  justify-content: center;

  button {
    background: $eu-jade;
    border: 1px solid $eu-jade;
    border-radius: 2px;
    color: $white;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    margin: 0 0.6rem;

    &:disabled {
      background: $eu-light-jade;
      cursor: not-allowed;
    }
  }

  button.reset-btn {
    background-color: $white;
    color: $eu-jade;

    &:disabled {
      color: $eu-light-jade;
    }
  }

  .svg-icon-spin-inbutton {
    padding-left: 1.25rem;
    padding-right: 2rem;
  }

  &.hidden {
    display: none;
  }
}

.metis-form-bg {
  .form-fields {
    background: $white;
  }
}

.metis-form-horizontal {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  width: 100%;

  form {
    width: 100%;
  }

  .form-fields {
    background-color: $white;
    border: 1px solid $offwhite;
    border-radius: $border-radius;
    color: $gray-light;
    padding: 2rem;
    width: 100%;

    .form-group {
      align-items: center;
      background: none;
      color: $gray-light;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      padding: 0;
      position: relative;

      label,
      p {
        flex: 1 0 120px;
        max-width: 14rem;
        padding-bottom: 0;
        padding-right: 2rem;
      }

      .form-group-radios {
        div {
          display: inline-block;
        }
        label {
          display: inline-block;
          font-weight: normal;
        }
      }

      p {
        margin: 0;
      }

      input {
        border: 1px solid $gray-light;
        color: $gray-light;
        margin-bottom: 0;

        &::placeholder {
          color: $eu-blue;
        }
        &:focus {
          border-color: $eu-jade;
        }
      }

      input:not([type='checkbox']),
      textarea {
        box-shadow: none;
        color: $gray-light;
        padding: 0.75rem;

        &.icon-padding {
          padding-right: 50px;
        }

        &:disabled {
          background: transparent;
          border-color: $opacity-gray-very-light;
          color: $gray-light;

          .svg-icon-search {
            display: none;
          }
        }

        &:read-only {
          border-color: $opacity-gray-light;
          color: $opacity-gray-light;
        }

        &.ng-invalid.ng-touched {
          border-color: $eu-red;
        }
      }

      &.form-group-btns {
        display: block;
        margin-bottom: 0;
        text-align: center;

        button {
          display: inline-block;
          max-width: 100%;
          margin: 1rem;
          padding: 1rem;
        }

        .messages {
          display: inline-block;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: $bp-small-3) {
  .metis-form-horizontal .form-fields .form-group.form-group-btns button {
    padding: 0.9rem 2.5rem;
  }
}

@media (min-width: $bp-med) {
  .metis-form-horizontal .form-fields {
    padding: 3rem 4rem;

    .form-group,
    .radio-group {
      label + * {
        flex: 1 0 220px;
      }

      &.form-group-btns {
        display: flex;
        flex-direction: row;
        height: 7vh;

        justify-content: flex-end;
        flex-wrap: nowrap;
        text-align: left;

        button {
          padding: 0.8rem 5rem;
        }
      }
    }
  }
}

/* workflow-form specific */

.metis-form.workflow-form {
  .form-group {
    input:focus {
      border-color: $eu-jade;
      -webkit-box-shadow: inset 1px 0 5px 2px rgba(55, 185, 139, 0.3);
      box-shadow: inset 1px 0 5px 2px rgba(55, 185, 139, 0.3);
    }
  }

  .form-group:not(.form-group-btns) {
    display: block;
    margin: 0 auto 1rem 0;

    &:last-of-type {
      margin: 0 auto 0rem auto;
    }

    label {
      font-weight: normal;
    }

    @media (min-width: $bp-small) {
      background: none;
      margin: 0 auto 1rem auto;
      width: 75%;
    }
  }

  .form-group.form-group-checkbox {
    display: flex;
    label {
      max-width: 10rem;
    }
  }

  .svg-icon-plus::before {
    top: 0;
  }

  .form-group-radios label {
    padding: 0.5rem 2rem 0.5rem 0;
  }

  .form-group label + input[type='checkbox'] {
    flex: initial;
  }

  .show-on-hover {
    display: none;
    left: 1em;
    position: relative;
    width: 100%;

    [type='checkbox'] {
      position: relative;
    }

    .form-group-radios label {
      display: inline-block;
      padding: 0 1em;
    }
  }

  .form-group.form-group-checkbox {
    padding-top: 1rem;
  }

  .disabled .show-on-hover {
    color: $gray-med;
  }

  .plugin-form-fields:hover .show-on-hover {
    display: flex;
  }

  :nth-child(2) > .plugin-form-fields .link-check-ctrl .ctrl.up,
  .plugin-form-fields .link-check-ctrl .ctrl.disabled,
  :last-of-type > .plugin-form-fields .link-check-ctrl .ctrl.down {
    display: none;
  }
}
