.table-grid.last-execution {
  display: none;
}

.date-and-time:empty,
.status-label,
.time {
  color: #ccc;
}

.date-and-time:empty::after {
  content: '--';
  display: block;
  text-align: center;
  width: 9em;
}

.grid-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  .svg-icon-spin {
    margin-left: 0.25em;
    transform: scale(0.7);
  }
}

.table-grid-footer,
.grid-footer {
  &.warning {
    color: $eu-red;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2em;
  }
}

@media (min-width: $bp-small-3) {
  .time:not(.br) {
    margin-right: 1em;
  }
}

.svg-icon-report::before {
  transform: translate(0%, -10%);
}

.table-grid {
  background: $offwhite;
  color: $gray-light;
  font-size: $font-size-metis-grid;

  .date-and-time {
    width: 50%;
    &:empty {
      display: none;
    }
    &:not(:empty) + .date-and-time:empty {
      display: inline-block;
    }
  }

  .orb-status {
    top: 0.2em;
  }

  .plugin-name.desktop {
    display: none;
    margin-left: 1em;
  }

  .plugin-name.mobile {
    position: absolute;
    right: 2em;
  }

  .sub-header {
    grid-column: 1/6;
    margin-top: 2em;
  }

  .table-grid-footer {
    display: inline-block;
    grid-column: 1/6;
    text-align: center;
  }

  .table-grid-header {
    background: $white;
    display: none;
    font-weight: bold;
    padding: 0.5rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .time {
    margin-left: 0.4em;
  }

  .totals + .date-and-time {
    text-align: right;
  }
}

.table-grid {
  > span {
    align-items: center;
    align-self: center;
    background: $white;
    display: inline-block;
    height: 100%;
    min-height: 3em;
    padding: 0.5em 1em;
    width: 100%;
  }
}

.table-grid-row-start {
  display: block;
}

@media all and (min-width: $bp-med) {
  .table-grid {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 1fr auto;

    .date-and-time {
      width: auto;
      &:empty {
        display: inline-block;
      }
    }

    .orb-status {
      top: auto;
    }

    .table-grid-header {
      display: block;
    }

    .date-header {
      justify-content: space-around;
      text-align: center;
    }

    .date-and-time,
    .buttonplaceholder {
      flex-direction: column;
    }

    .plugin-name.mobile {
      display: none;
    }
    .plugin-name.desktop {
      display: inline-block;
    }
  }

  .depublications-grid,
  .table-grid {
    > span {
      display: flex;
    }
  }
}

@media all and (min-width: $bp-large) {
  .table-grid {
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr auto;

    .date-header {
      text-align: left;
    }

    .date-and-time,
    .buttonplaceholder {
      flex-direction: row;
    }
  }
}

@media all and (min-width: $bp-xl) {
  .table-grid {
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr auto;

    .date-header {
      text-align: center;
    }

    .date-and-time,
    .buttonplaceholder {
      flex-direction: column;
    }
  }
}

@media all and (min-width: $bp-xxl) {
  .table-grid {
    .date-header {
      text-align: left;
    }

    .date-and-time,
    .buttonplaceholder {
      flex-direction: row;
    }
  }
}

@media all and (min-width: $bp-med) {
  .table-grid.last-execution {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr auto;
  }
}

@media all and (min-width: $bp-large) {
  .table-grid.last-execution {
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr auto;
  }
}

@media all and (min-width: $bp-xl) {
  .table-grid.last-execution {
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr auto;
  }
}
