body {
  background-color: $offwhite;
  background-image: none;
}

.block-with-text {
  @include multiLineEllipsis($maxWidth: 10.3em, $lineHeight: 1.2em, $lineCount: 3);
}

.dropdown {
  margin-left: -1em;
  margin-top: 10px;
}

.btns-set {
  background-color: $white;
  border: 0;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  margin-right: 0;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  width: 100%;

  .btn-padding {
    display: flex;
    width: 100%;

    .btn {
      flex-grow: 1;
      font-size: 0.875rem;
    }
  }
}

.load-more-btn {
  background: none;
  border-radius: 0;
  color: $eu-jade;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 0.875rem;
  padding-right: 0.75rem;
  position: relative;
  text-transform: uppercase;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='#9facb3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.48 3.803c1.046 0 1.9-.856 1.9-1.902C4.38.857 3.527 0 2.48 0 1.438 0 .583.856.583 1.9c0 1.047.855 1.903 1.9 1.903zm0 1.9c-1.043 0-1.898.857-1.898 1.902 0 1.046.855 1.902 1.9 1.902 1.044 0 1.9-.856 1.9-1.902 0-1.045-.856-1.9-1.9-1.9zm0 5.705c-1.043 0-1.898.856-1.898 1.9 0 1.047.855 1.903 1.9 1.903 1.044 0 1.9-.855 1.9-1.9 0-1.046-.856-1.902-1.9-1.902z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 5px;
  }

  &:hover {
    color: $gray-lighter;

    &::after {
      color: $eu-jade;
    }
  }
}

.filter {
  border-bottom: 1px solid $gray87;
  border-top: 1px solid $gray87;
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 3rem;
  margin-left: calc(-10% - 1rem);
  margin-top: -2rem;
  padding: 0.25rem 0;

  li {
    border-left: 1px solid $gray87;
    color: $gray-light;
    display: inline-block;
    padding: 0.3rem 0.625rem;
    position: relative;

    &:first-child {
      border: 0;
    }

    a {
      color: $gray-light;
      padding: 0.25rem 0.5rem;

      &:hover {
        color: $eu-jade;
      }
    }

    &.search {
      a {
        padding-right: 2rem;
        i {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
      }

      input {
        border: 1px solid $gray-lighter;
        box-shadow: none;
        color: $gray-light;
        display: inline-block;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        width: 75%;
      }

      button {
        background-color: $eu-jade;
        display: inline-block;
        padding: 0.25rem 0.5rem;
      }

    }
  }
}

.dropdown {
  margin: 0;

  > a {
    border: 1px solid $offwhite;
    padding-right: 2rem;
    position: relative;

    &::after {
      border-left: 0.25rem solid transparent;
      border-right: 0.25rem solid transparent;
      border-top: 0.25rem solid $gray-light;
      content: '';
      height: 0;
      margin-top: -0.125rem;
      position: absolute;
      right: 0.5rem;
      top: 50%;
      width: 0;
    }

    &:hover::after {
      border-top-color: $eu-jade;
    }
  }

  .dropdown-wrapper {
    &::before {
      border-bottom: 10px solid $gray-lightest;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: '';
      height: 0;
      left: 2rem;
      position: absolute;
      top: calc(3rem - 10px);
      width: 0;
      z-index: 10;
    }

    &::after {
      border-bottom: 8px solid $white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: '';
      height: 0;
      left: calc(2rem + 2px);
      position: absolute;
      top: calc(3rem - 8px);
      width: 0;
      z-index: 10;
    }
  }

  ul {
    background: $white;
    box-shadow: rgba(77, 77, 77, 0.3) 0 1px 4px;
    left: 1rem;
    max-height: 10rem;
    max-width: 20rem;
    min-width: 10rem;
    overflow: auto;
    padding: 0.5rem 0;
    position: absolute;
    top: 3rem;
    z-index: 8;

    li {
      border: 0;
      display: block;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      white-space: nowrap;

      a {
        border: 0;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

li.dropdown a {
  padding-right: 2rem;
}

.tooltip {
  cursor: pointer;
  position: relative;
  z-index: 2;

  &::after {
    background: $gray-light;
    border-radius: $border-radius;
    bottom: 2rem;
    color: $white;
    content: attr(data-tooltip);
    font-size: 0.75rem;
    left: 50%;
    opacity: 0;
    padding: 0.25rem 1rem;
    position: absolute;
    transform: translate(-50%, 0);
  }

  &:hover::after {
    opacity: 1;
  }
}

.progress {
  flex-basis: 0;
  flex-grow: 2;
  font-size: 0.75rem;
  padding-right: 1.5rem;

  .progress-status {
    align-content: center;
    display: flex;
    justify-content: space-between;
  }

  .progress-statusnumbers {
    width: 6rem;
  }

  .progress-percentage {
    text-align: right;
    width: 3rem;
  }

  .progressbar {
    background: $offwhite;
    border-radius: 0.5rem;
    height: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;

    .progressbar-done {
      background: $eu-blue;
      border-radius: 0.5rem;
      height: 0.5rem;
    }
  }
}
