@import '../../../sass/scss/objects/icons/svgicons';

body {
  background-color: $offwhite;
  background-image: none;
}

.br {
  @media (min-width: $bp-med) {
    &::before {
      content: '\a';
      display: block;
    }
  }
}

.inline-block {
  display: inline-block;
}

.btns-set {
  background-color: $white;
  border: 0;
  font-size: $font-size-slightly-smaller;
  margin-bottom: 2rem;
  margin-right: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;

  &.btns-set-right {
    justify-content: flex-end;
  }

  .btn-padding {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    .btn {
      flex-grow: 1;
      font-size: $font-size-slightly-smaller;
    }

    .btn-disabled {
      background: $offwhite;
      color: $gray-lighter;
      cursor: default;
    }
  }

  @media (min-width: $bp-small) {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    .btn-padding {
      flex-direction: row;
    }
  }
}

.load-more-btn {
  background: none;
  border-radius: 0;
  color: $eu-jade;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: $font-size-slightly-smaller;
  padding-right: 0.75rem;
  position: relative;
  text-transform: uppercase;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='16' viewBox='0 0 5 16' fill='#{url-encode-color('#9facb3')}' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M2.48 3.803c1.046 0 1.9-.856 1.9-1.902C4.38.857 3.527 0 2.48 0 1.438 0 .583.856.583 1.9c0 1.047.855 1.903 1.9 1.903zm0 1.9c-1.043 0-1.898.857-1.898 1.902 0 1.046.855 1.902 1.9 1.902 1.044 0 1.9-.856 1.9-1.902 0-1.045-.856-1.9-1.9-1.9zm0 5.705c-1.043 0-1.898.856-1.898 1.9 0 1.047.855 1.903 1.9 1.903 1.044 0 1.9-.855 1.9-1.9 0-1.046-.856-1.902-1.9-1.902z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 5px;
  }

  &:hover {
    color: $gray-lighter;
  }

  &:hover::after {
    color: $eu-jade;
  }
}

.filter {
  border-bottom: 1px solid $gray-almost-lightest;
  border-top: 1px solid $gray-almost-lightest;
  display: flex;
  font-size: $font-size-slightly-smaller;
  padding: 0.25rem 0;
  transition: border-color 1.5s;

  &.unbordered {
    border-color: $offwhite;
  }

  li {
    border-left: 1px solid $gray-almost-lightest;
    color: $gray-light;
    display: inline-block;
    padding: 0.3rem 0.625rem;
    position: relative;

    &:first-child {
      border: 0;
    }

    a {
      color: $gray-light;
      padding: 0.25rem 0.5rem;
    }

    a:hover {
      color: $eu-jade;
    }
  }
}

.dropdown {
  margin: 0;

  > a {
    border: 1px solid $offwhite;
    padding-right: 2rem;
    position: relative;

    &::after {
      border-left: 0.25rem solid transparent;
      border-right: 0.25rem solid transparent;
      border-top: 0.25rem solid $gray-light;
      content: '';
      height: 0;
      margin-top: -0.125rem;
      position: absolute;
      right: 0.5rem;
      top: 50%;
      width: 0;
    }

    &:hover::after {
      border-top-color: $eu-jade;
    }
  }

  .dropdown-wrapper {
    &::before {
      border-bottom: 10px solid $gray-lightest;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: '';
      height: 0;
      left: 2rem;
      position: absolute;
      top: calc(3rem - 10px);
      width: 0;
      z-index: 10;
    }

    &::after {
      border-bottom: 8px solid $white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: '';
      height: 0;
      left: calc(2rem + 2px);
      position: absolute;
      top: calc(3rem - 8px);
      width: 0;
      z-index: 10;
    }
  }

  .dropdown-content {
    background: $white;
    box-shadow: rgba(77, 77, 77, 0.3) 0 1px 4px;
    left: 1rem;
    max-height: 10rem;
    min-width: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5rem 0;
    position: absolute;
    top: 3rem;
    z-index: 8;

    li {
      border: 0;
      display: block;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      white-space: nowrap;
    }

    a {
      border: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.arrow-right {
    .dropdown-content {
      left: auto;
      right: 0;
    }
    .dropdown-wrapper {
      &::after {
        left: unset;
        right: calc(0.85rem + 2px);
      }
      &::before {
        left: unset;
        right: 0.85rem;
      }
    }
  }
}

.dropdown-compare {
  margin-left: auto;
}

li.dropdown a {
  padding-right: 2rem;
}

.flex-pair {
  align-items: center;
  display: flex;
  :last-child {
    margin-left: 1em;
  }
}

.theme-title {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.tooltip {
  cursor: pointer;
}

.progress {
  flex-grow: 2;
  font-size: 0.75rem;
  padding-right: 1.5rem;

  .progress-status {
    align-content: center;
    display: flex;
    justify-content: space-between;
  }

  .progress-statusnumbers {
    text-transform: uppercase;
    white-space: nowrap;
    width: 8rem;
  }

  .progress-percentage {
    text-align: right;
    white-space: nowrap;
  }

  .progress-percentage:not(.capitalise) {
    text-transform: uppercase;
  }

  .progressbar {
    background: $offwhite;
    border-radius: 0.5rem;
    height: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;

    .progressbar-done {
      background: $eu-blue;
      border-radius: 0.5rem;
      height: 0.5rem;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.spacer {
  flex-grow: 1;
}
