@import '../settings/metis-variables';

.lc {
  margin: 0 auto;
  max-width: 80rem;
}

/* metis main content */
.metis-main-content {
  margin: $fixed-header-height-mobile 0;
  min-height: calc(100vh - 55rem);

  @media (min-width: $bp-small-3) {
    margin: $fixed-header-height 0;
  }
}

/* dashboard wrapper */
.dashboard-wrapper {
  background-color: $offwhite;
  display: inline-block;
  width: 100%;
}

@media (min-width: $bp-small-3) {
  .dashboard-wrapper {
    padding: 0 1.2rem;
    .metis-dashboard {
      padding: 1rem;
    }
  }
}

@media (min-width: $bp-xl) {
  .dashboard-wrapper .metis-dashboard {
    display: flex;
    .metis-dashboard-left {
      flex-grow: 1;
      margin-right: 1rem;
      max-width: 40%;
    }
    .metis-dashboard-right {
      flex-grow: 2;
      margin-left: 1rem;
    }
  }
}

.redirection-ids :first-child:not(:last-child) .redirect {
  @media (min-width: $bp-med) {
    margin-left: 0.82rem;
  }
}
