.lc {
  margin: 0 auto;
  max-width: 80rem;
}

// metis main content
.metis-main-content {
  margin: 7rem 0;
  min-height: calc(100vh - 55rem);

  &.metis-main-content-lessmargin {
    margin-top: 4.8rem;
  }
}

// dashboard wrapper
.dashboard-wrapper {
  background-color: $offwhite;
  display: inline-block;
  padding: 0 1.2rem;
  width: 100%;

  .metis-dashboard {
    display: flex;
    padding: 1rem;

    .metis-dashboard-left {
      margin-right: 1rem;
      width: 35%;
    }

    .metis-dashboard-right {
      margin-left: 1rem;
      width: 65%;
    }
  }
}
