.lc {
  margin: 0 auto;
  max-width: 80rem;
}

// metis main content
.metis-main-content {
  margin: 4.8rem 0;
  min-height: calc(100vh - 55rem);
}

// dashboard wrapper
.dashboard-wrapper {
  background-color: $offwhite;
  display: inline-block;
  padding: 0 1.2rem;
  width: 100%;

  .metis-dashboard {
    padding: 1rem;

    @media (min-width: $bp-xl) {
      display: flex;

      .metis-dashboard-left {
        flex-grow: 1;
        margin-right: 1rem;
      }

      .metis-dashboard-right {
        flex-grow: 2;
        margin-left: 1rem;
      }
    }
  }
}
