<div class="messages">
  <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="success-message" *ngIf="successMessage">{{successMessage}}</div>
</div>

<div class="all-executions">
  <h3>{{ 'allexecutions' | translate }}</h3>
  
  <table class="table-horizontal-layout executions-table">
    <thead>
    	<tr>
        <th colspan="4"></th>
        <th>Workflow step</th>
        <th>{{ 'totalprocessed' | translate }}</th>
        <th>{{ 'totaldataset' | translate }}</th>
        <th class="centered">{{ 'startdate' | translate }}</th>
        <th class="centered">{{ 'enddate' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let execution of ongoingExecutionsOutput" app-executiontable [execution]="execution" [plugin]="execution.metisPlugins[execution.currentPlugin]"></tr>
      <tr *ngFor="let execution of allExecutions" app-executiontable [execution]="execution" [plugin]="execution.metisPlugins[execution.currentPlugin]"></tr>
      <tr class="loadmore">
        <td colspan="9">
          <a class="load-more-btn" (click)="loadNextPage()" *ngIf="nextPage > 0">{{ 'loadmore' | translate }}</a>
        </td>
      </tr>
    </tbody>      
  </table>
</div>
