<table class="table-horizontal-layout executions-table">
  <thead>
  	<tr>
      <th colspan="4"></th>
      <th>Workflow</th>
      <th>Total processed</th>
      <th>Total dataset</th>
      <th>Start date</th>
      <th>End date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="error"></span></td>
      <td>DDB-2045418</td>
      <td>Deutsche Digitale Bibliothek - 2048418</td>
      <td><span class="svg-icon-publish"></span></td>
      <td>Publish</td>
      <td>35860</td>
      <td>12</td>
      <td><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td><span class="error"></span></td>
      <td>DDB-2045418</td>
      <td>Deutsche Digitale Bibliothek - 2048418</td>
      <td><span class="svg-icon-publish"></span></td>
      <td>Publish</td>
      <td>35860</td>
      <td>12</td>
      <td><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr class="loadmore">
      <td colspan="9">
        <a class="load-more-btn">Load more</a>
      </td>
    </tr>
  </tbody>
</table>
