<table class="table-horizontal-layout executions-table">
  <thead>
  	<tr>
      <th colspan="4"></th>
      <th>Workflow</th>
      <th>Total processed</th>
      <th>Total dataset</th>
      <th class="centered">Start date</th>
      <th class="centered">End date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="errorindicator"><span class="error"></span></td>
      <td class="nowrap">DDB - 2048418</td>
      <td>Deutsche Digitale Bibliothek - 2048418_Ag_DE_DDB_SLUB-Sub10</td>
      <td><span class="svg-icon-publish"></span></td>
      <td class="nowrap">Publish</td>
      <td class="nowrap">35860</td>
      <td class="nowrap">12</td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td class="errorindicator"><span class="watchout"></span></td>
      <td class="nowrap">KTP - 15512</td>
      <td>Kulturpool - 15512_Ag_AT_Kulturpool_voralberg</td>
      <td><span class="svg-icon-process"></span></td>
      <td class="nowrap">Process</td>
      <td class="nowrap">1492</td>
      <td class="nowrap">178922</td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>KTP - 15512</td>
      <td>Sächsische Landesbibliothek – Staats- und Universitätsbibliothek Dresden - 01004_L_DE_slub_DeutscheFotothek__fotos_ese</td>
      <td><span class="svg-icon-transform"></span></td>
      <td>Transform</td>
      <td>66199</td>
      <td>99911</td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>EFG - 08604</td>
      <td>EFG - 08604_Ag_EU_EFG_DIF</td>
      <td><span class="svg-icon-harvest"></span></td>
      <td>Harvest</td>
      <td>119082</td>
      <td>112890</td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td class="errorindicator"><span class="error"></span></td>
      <td>DDB - 2048418</td>
      <td>Deutsche Digitale Bibliothek - 2048418_Ag_DE_DDB_SLUB-Sub10</td>
      <td><span class="svg-icon-publish"></span></td>
      <td>Publish</td>
      <td>35860</td>
      <td>12</td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td class="errorindicator"><span class="watchout"></span></td>
      <td>KTP - 15512</td>
      <td>Kulturpool - 15512_Ag_AT_Kulturpool_voralberg</td>
      <td><span class="svg-icon-process"></span></td>
      <td>Process</td>
      <td>1492</td>
      <td>178922</td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>KTP - 15512</td>
      <td>Sächsische Landesbibliothek – Staats- und Universitätsbibliothek Dresden - 01004_L_DE_slub_DeutscheFotothek__fotos_ese</td>
      <td><span class="svg-icon-transform"></span></td>
      <td>Transform</td>
      <td>66199</td>
      <td>99911</td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>EFG - 08604</td>
      <td>EFG - 08604_Ag_EU_EFG_DIF</td>
      <td><span class="svg-icon-harvest"></span></td>
      <td>Harvest</td>
      <td>119082</td>
      <td>112890</td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td class="errorindicator"><span class="error"></span></td>
      <td>DDB - 2048418</td>
      <td>Deutsche Digitale Bibliothek - 2048418_Ag_DE_DDB_SLUB-Sub10</td>
      <td><span class="svg-icon-publish"></span></td>
      <td>Publish</td>
      <td>35860</td>
      <td>12</td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td class="errorindicator"><span class="watchout"></span></td>
      <td>KTP - 15512</td>
      <td>Kulturpool - 15512_Ag_AT_Kulturpool_voralberg</td>
      <td><span class="svg-icon-process"></span></td>
      <td>Process</td>
      <td>1492</td>
      <td>178922</td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>KTP - 15512</td>
      <td>Sächsische Landesbibliothek – Staats- und Universitätsbibliothek Dresden - 01004_L_DE_slub_DeutscheFotothek__fotos_ese</td>
      <td><span class="svg-icon-transform"></span></td>
      <td>Transform</td>
      <td>66199</td>
      <td>99911</td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>EFG - 08604</td>
      <td>EFG - 08604_Ag_EU_EFG_DIF</td>
      <td><span class="svg-icon-harvest"></span></td>
      <td>Harvest</td>
      <td>119082</td>
      <td>112890</td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td class="errorindicator"><span class="error"></span></td>
      <td>DDB - 2048418</td>
      <td>Deutsche Digitale Bibliothek - 2048418_Ag_DE_DDB_SLUB-Sub10</td>
      <td><span class="svg-icon-publish"></span></td>
      <td>Publish</td>
      <td>35860</td>
      <td>12</td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">05/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr>
      <td class="errorindicator"><span class="watchout"></span></td>
      <td>KTP - 15512</td>
      <td>Kulturpool - 15512_Ag_AT_Kulturpool_voralberg</td>
      <td><span class="svg-icon-process"></span></td>
      <td>Process</td>
      <td>1492</td>
      <td>178922</td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">04/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>KTP - 15512</td>
      <td>Sächsische Landesbibliothek – Staats- und Universitätsbibliothek Dresden - 01004_L_DE_slub_DeutscheFotothek__fotos_ese</td>
      <td><span class="svg-icon-transform"></span></td>
      <td>Transform</td>
      <td>66199</td>
      <td>99911</td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">03/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>    
     <tr>
      <td></td>
      <td>EFG - 08604</td>
      <td>EFG - 08604_Ag_EU_EFG_DIF</td>
      <td><span class="svg-icon-harvest"></span></td>
      <td>Harvest</td>
      <td>119082</td>
      <td>112890</td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">05:56</span></td>
      <td class="centered"><span class="date">02/07/2017</span> <span class="datedivider">-</span> <span class="time">09:01</span></td>      
    </tr>
    <tr class="loadmore">
      <td colspan="9">
        <a class="load-more-btn">Load more</a>
      </td>
    </tr>
  </tbody>
</table>
