@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

table {

  tr:not(.loadmore) td a {
    &:hover {
      text-decoration: underline;
    }
  }

  .maxwidth {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    width: 6rem;
  }

  .progress {
    display: inline-block;
    padding-right: 0.5rem;
    width: 4rem;

    .progressbar {
      margin-bottom: 0.5rem;
    }
  }

  .tooltip::after {
    bottom: auto;
    top: -2rem;
  }

  nav {
    display: inline-block;
    white-space: nowrap;
    width: auto;

    ul {
      white-space: nowrap;

      li {
        display: inline-block;
      }

    }
  }
}
