@use 'shared-styles/assets/sass/scss/generic/variables-colours';

/* These rules apply to pdf-rendered content in the problem viewer.
 * They cannot be applied at component-level because of the blank-page
 * generation side-effect of projected content in an internal html2canvas
 * operation of the lib.
 *
 * Pdf-specific styles (and content like the header) use ultra-slow
 * transitions such that the content remains visibly unchanged in the UI,
 * but picked up within the pdf.
**/

$pdf-margin: 1.25em;
$transition-ultra-slow: 1000s;

.problem-viewer:not(.pdf) .pdf-header {
  display: none;
}

.problem-viewer.pdf {
  border-color: transparent;
  margin-bottom: 0;
  max-height: 100%;
  padding: 0 $pdf-margin;
  transition: border-color $transition-ultra-slow linear, padding $transition-ultra-slow linear,
    font-size $transition-ultra-slow linear;

  font-size: 12px;

  .pdf-header {
    //display: none;
    //height: 0px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    h1 {
      height: 50px;
      text-align: center;
    }
  }

  .print-logo {
    display: inline-block;
    height: 50px;
    position: absolute;
  }

  .form-group.header-info {
    color: variables-colours.$gray-med;
    transition: color $transition-ultra-slow linear;
  }

  .pdf-header {
    height: 70px;
    padding: 0;
    transition: height $transition-ultra-slow linear;
  }

  .skip-arrows {
    display: none;
  }

  .link-pdf-export {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-ultra-slow linear;
  }

  .problem-header a {
    font-size: 16px;
  }

  // replace svgs with print-friendly alternatives
  .link-related::before {
    background: variables-colours.$gray-med;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    min-width: 7px;
    top: 7px;
    position: relative;
    left: 2px;
    margin-right: 7px;
  }

  .warning-icon {
    &::before {
      width: 0;
      height: 0;
      border-left: 7px solid variables-colours.$white;
      border-right: 7px solid variables-colours.$white;
      border-bottom: 12px solid variables-colours.$eu-jade;
    }
    &.warning::before {
      border-bottom-color: variables-colours.$eu-yellow;
    }
    &.error::before {
      border-bottom-color: variables-colours.$eu-light-orange;
    }
    &.fatal::before {
      border-bottom-color: variables-colours.$eu-red-error;
    }
    &::after {
      content: '!';
      color: variables-colours.$white;
      height: 12px;
      width: 12px;
      line-height: 17px;
      font-size: 9px;
      font-weight: bold;
      text-align: center;
      position: absolute;
      left: 7px;
      top: 5px;
    }
  }
}
