/*
  dataset re-run ancestry
   - progressive enhancement applis only to white theme on widescreen
   - !important declarations needed to override theme and multiple mixin invocations
*/

@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@use './mixins/circle';

$line-colour: variables-colours.$eu-grey-middle;
$z-top: 4;

$time1: 0.5s;
$time2: 0.75s;
$timesBoth: 1.25s;

/*
$time1: 0.2s;
$time2: 0.3s;
$timesBoth: 0.6s;
*/

@keyframes expandIn {
  0% {
    margin-left: 10em;
  }
  70% {
    margin-left: 4em;
  }
  100% {
    margin-left: 3em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@mixin hide-all($important: false) {
  .child-datasets,
  .parent-dataset,
  .sibling-datasets {
    @if ($important) {
      display: none !important;
    } @else {
      display: none;
    }
  }
}

@mixin header-item-dataset() {
  li {
    &:nth-of-type(3) {
      width: 0;
    }
    &:not(:nth-of-type(3)) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@mixin header-plus() {
  .header-text {
    top: -4rem;
    font-size: 1.5rem;
    overflow: visible;
    white-space: nowrap;

    .header-subtext {
      animation: fadeIn $timesBoth;
      position: relative;
      color: variables-colours.$eu-orange;
    }
  }

  .sandbox-status {
    border: 1px solid #fff;
  }

  .sandbox-status {
    // single-orb visible so simpler transition
    &:not(:has(:not(.hidden) ~ :not(.hidden))) {
      @include header-item-dataset();
      li {
        transition: opacity $timesBoth linear, transform $timesBoth linear, width $timesBoth linear !important;
      }
    }

    // multiple orbs are showing so 2-phase transition
    &:has(:not(.hidden) ~ :not(.hidden)) {
      @include circle.on-circle($item-count: 5, $item-size: 10%, $rotation: -45);
      @include header-item-dataset();
      li {
        transition: opacity $time1 linear, transform $time1 linear, width $time1 linear $time2 !important;
      }
    }
  }
}

@mixin teeth($offset-item, $max-height, $connect-top, $align-left) {
  li::after {
    content: '';
    position: absolute;
    display: block;
  }

  ul {
    max-height: $max-height;
    li {
      position: relative;

      @if ($align-left) {
        &::after {
          border-left: 1px solid $line-colour;
          left: 0.5em;
          width: 10px;
        }
      } @else {
        &::after {
          border-right: 1px solid $line-colour;
          right: $offset-item;
          width: 10px;
        }
      }

      @if $connect-top {
        &:first-child::before {
          content: '';
          @if ($align-left) {
            left: -2px;
          } @else {
            right: -1rem;
          }
          border-right: 1px solid $line-colour;
          display: block;
          width: 10px;
          height: 0.75em;
          position: absolute;
        }
      }

      &:not(:first-child)::after {
        border-bottom: 1px solid $line-colour;
        bottom: 0.75em;
        height: 1.5em;
      }

      &:first-child::after {
        border-top: 1px solid $line-colour;
        bottom: 0;
        height: 0.75em;
      }
    }
  }
}

// set initial values so that transitions take effect
.sandbox-navigation-head {
  .header-text {
    position: relative;
    top: 0;
    transition: top $timesBoth linear, font-size $timesBoth linear;
  }

  .sandbox-status {
    transition: border-color $timesBoth linear;

    & > * {
      transition: transform $time1 linear $time2, width $time1 linear !important;

      &::before,
      &::after {
        position: absolute;
        top: 1.5rem;
        opacity: 0;
      }
    }
  }
}

body.theme-classic {
  @include hide-all(true);
}

.title-id {
  position: relative;
  a {
    &:hover::after {
      z-index: 1;
    }
    &::after {
      content: '';
      height: 8rem;
      bottom: -3.75rem;
      position: absolute;
      width: 1.75rem;
    }
  }
}

body.theme-white {
  .child-datasets,
  .parent-dataset,
  .sibling-datasets {
    position: absolute;
  }

  .list-container {
    &:has(li:nth-last-child(n + 6)) {
      &:has(:hover, :focus, .focussed) ul {
        overflow-y: scroll;
        overflow-x: hidden;
      }
      &:not(:has(:hover, :focus, .focussed)) ul {
        li:nth-child(n + 6) {
          display: none;
        }
      }
    }

    a {
      color: #777;
      &:hover {
        color: variables-colours.$eu-grey-dark;
      }
    }
  }

  .child-datasets {
    height: 9rem;
    left: 0;
    padding: 0 0 0 2em;
    right: 18.5em;
    text-align: right;
    top: 3em;

    // centrally-align (and un-dim) if too few items

    &:not(:has(:nth-last-child(n + 6))) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      ul {
        transform: translateY(-2em);
        .rerun-item-marker {
          background-image: svg-icons-metis.svg-url-icon-dataset(#777);
        }
      }
    }

    // lock into readable mode

    &:not(:has(:nth-last-child(n + 6))),
    &:has(:hover, :focus, .focussed) {
      z-index: $z-top + 1;

      &:has(:nth-last-child(n + 2)) {
        @include teeth(1em, 13rem, false, false);
      }
      ul {
        position: relative;
      }
    }

    // lock columns to curve

    &:has(:nth-last-child(n + 6)) {
      &:not(:has(:hover, :focus, .focussed)) ul {
        li:nth-of-type(1) {
          margin-right: -10px;
        }
        li:nth-of-type(2) {
          margin-right: -3px;
        }
        li:nth-of-type(3) {
          margin-right: -4px;
        }
        li:nth-of-type(4) {
          margin-right: -11px;
        }
        li:nth-of-type(5) {
          margin-right: -27px;
        }
      }
    }

    &:hover .rerun-item-field {
      opacity: 1;
    }

    .expand-in {
      animation: expandIn $timesBoth linear;
    }

    ul {
      direction: rtl;
      animation: fadeIn $timesBoth;

      & > * {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 36px;
        position: relative;
        transition: margin 0.3s linear;

        // child list only
        a {
          align-items: center;
          display: flex;
          font-size: 14px;
          font-weight: bold;

          &:hover {
            .rerun-item-marker {
              background-image: svg-icons-metis.svg-url-icon-dataset(
                variables-colours.$eu-grey-dark
              );
            }
          }
        }
      }

      li {
        // direction correction
        background-color: #fff;
        direction: ltr;
      }
    }

    .rerun-item-field {
      left: 0;
      margin-right: 3em;
      opacity: 0;
      padding-left: 1em;
      position: absolute;
      text-align: left;
      transition: opacity 0.3s linear;
      width: 100%;
    }

    .rerun-item-marker {
      margin: 2px 0 0 3em;
      // dim the icon colour when "unopened"
      background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-grey-middle);
      background-repeat: no-repeat;
      width: 1em;
      height: 1em;
      display: inline-block;
    }

    :hover .rerun-item-marker {
      // undim the colour when "opened"
      background-image: svg-icons-metis.svg-url-icon-dataset(#777);
    }
  }

  .parent-dataset {
    background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-grey-dark);
    background-position: calc(100% - 0.5rem) 1.6rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    height: 12rem;
    padding: 1rem 2rem 0 0;
    right: 0;
    top: 0;
    transition: height $timesBoth linear, top $timesBoth linear;
    z-index: $z-top;

    &::before {
      background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-orange);
      bottom: -29px;
      pointer-events: none;
    }

    &::after {
      height: calc(100% - 30px);
      top: 42px;
    }

    .parent-label {
      font-size: 1rem;
      left: 0;
      position: absolute;
      right: 0;
      top: -1.5rem;

      &::before {
        content: attr(content);
        color: #777;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        right: 0;
        top: -2px;
        white-space: nowrap;
      }

      &::after {
        content: 'parent';
        position: absolute;
        right: calc(100% + 0.5em);
        top: 1.5em;
        line-height: 2em;
      }
    }

    .parent-link {
      position: relative;
      &:not(:hover) .parent-label {
        opacity: 0;
      }
    }

    .parent-label,
    .parent-link {
      transition: opacity $time1 linear;
    }
  }

  .parent-dataset,
  .sibling-datasets {
    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      // database icon
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 1rem;
      border-bottom: 1px solid #fff;
      width: 1rem;
      height: 1rem;
      right: 8px;
    }

    &::after {
      // vertical connector line
      right: 16px;
      width: 1px;
      background: $line-colour;
    }
  }

  .sibling-datasets {
    background-color: #fff;
    padding: 0.5em 2em 0.25em 1em;
    right: -2em;

    &::before {
      background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-grey-dark);
      top: 13px;
    }

    &::after {
      bottom: calc(100% - 0.75rem);
      height: 3rem;
    }

    &:has(:nth-last-child(n + 2)) {
      border-bottom: 1px solid variables-colours.$eu-grey-middle;
    }

    .sibling-datasets-title {
      font-weight: bold;
      margin-bottom: 0.25em;
    }

    .list-container,
    .sibling-datasets-title {
      animation: fadeIn $timesBoth;
    }

    .list-container {
      &:not(:has(:nth-last-child(n + 6))) {
        @include teeth(-1em, 112.5rem, true, false);
      }

      &:has(:nth-last-child(n + 6)) {
        @include teeth(-1em, 13rem, true, true);

        ul {
          direction: ltr;
          margin-bottom: 0.5em;
        }
        ul li {
          direction: rtl;
        }
      }
    }
  }

  .sandbox-navigation-head.ancestor-mode {
    @include header-plus();

    & + .sandbox-navigation-content {
      .parent-dataset {
        .parent-label,
        .parent-link {
          transition: opacity $time1 linear $time1;
        }
      }
    }
  }

  .sandbox-navigation-head:not(.ancestor-mode) + .sandbox-navigation-content {
    &:has(.title-id a:hover, .title-id a:active) {
      .parent-dataset,
      .sibling-datasets {
        // show connectors only to invite click
        display: block;
      }

      .parent-dataset {
        height: 3rem;
        pointer-events: none;
        top: 9rem;
      }
    }

    @include hide-all();

    .parent-dataset .parent-link,
    .parent-dataset .parent-label {
      opacity: 0;
    }

    .sibling-datasets {
      border: 0;
      & > * {
        display: none;
      }
    }
  }
}

// keep links clickable with an open dataset
body.theme-white .sandbox-navigation-content:has(.dataset-info .open) {
  .child-datasets {
    z-index: $z-top + 1;
  }
}

@media (max-width: variables-bp.$bp-large) {
  @include hide-all(true);
}
