@use 'shared-styles/assets/sass/pandora/settings/metis-variables-modal';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.skip-arrow-pane {
  max-height: calc(metis-variables-modal.$modal-content-max-height - 2rem);
  min-height: 20vh;
}

.external-link-debias::after {
  content: '';
  height: 0.875em;
  display: inline-block;
  margin-left: 0.4em;
  width: 0.875em;
}

.debias-detection-grid > .external-link-debias::before {
  content: attr(data-linkText);
}

.term-highlight {
  white-space: nowrap;
}

.dereference-link-debias.loading {
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 1.4em;
    height: 1em;
    background-color: #fff;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right;
    top: 1px;
    left: -1.65em;
  }
}
