@use 'shared-styles/assets/sass/pandora/settings/metis-variables-modal';

.skip-arrow-pane {
  max-height: calc(metis-variables-modal.$modal-content-max-height - 2rem);
  min-height: 20vh;
}

.external-link-debias::after {
  content: '';
  height: 0.875em;
  display: inline-block;
  margin-left: 0.4em;
  width: 0.875em;
}

.debias-detection-grid > .external-link-debias::before {
  content: attr(data-linkText);
}

.term-highlight {
  white-space: nowrap;
}
