@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.copy {
  &.permanent {
    display: inline;
  }

  &:not(.permanent) {
    display: none;
    font-size: 8px;
    font-weight: bold;
    height: 100%;
    padding-right: 4px;
    position: absolute;
    right: 100%;
    top: 0.8em;
    white-space: nowrap;
  }

  &:hover {
    color: $eu-jade-darkest;
    display: inline;
  }

  .msg-copied {
    display: none;
  }

  &.copied {
    .msg-copied {
      display: inline;
    }
    .msg-copy {
      display: none;
    }
  }
}

.copy,
.external-link {
  white-space: nowrap;
}

.copyable-link-item {
  align-items: center;
  display: flex;
  position: relative;
}

.external-link {
  display: inline-block;
  position: relative;

  &::after {
    background-image: svg-url-icon-external($eu-jade-classic);
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 1em;
    top: 0.425em;
    position: absolute;
    width: 1em;
    right: -1.35em;
  }

  &:hover {
    &::after {
      background-image: svg-url-icon-external($eu-jade-darkest);
    }
    & + .copy {
      display: inline;
    }
  }

  &:active,
  &:active:hover {
    color: $eu-light-orange;
    &::after {
      background-image: svg-url-icon-external($eu-light-orange);
    }
  }

  &.pending {
    color: $eu-jade-disabled;
    cursor: default;
    &::after,
    &:hover::after {
      background-image: svg-url-icon-spin($eu-jade-classic);
      background-size: 0.85em;
      right: -1.2em;
    }
    &:hover {
      color: $eu-jade-disabled;
    }
  }
}
