@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.copy {
  &.permanent {
    display: inline;
  }

  &:not(.permanent) {
    display: none;
    font-size: 8px;
    font-weight: bold;
    height: 100%;
    padding-right: 4px;
    position: absolute;
    right: 100%;
    top: 0.8em;
    white-space: nowrap;
  }

  &:hover {
    color: $eu-jade-darkest;
    display: inline;
  }

  .msg-copied {
    display: none;
  }

  &.copied {
    .msg-copied {
      display: inline;
    }
    .msg-copy {
      display: none;
    }
  }
}

.copy,
.external-link {
  white-space: nowrap;
}

.copyable-link-item {
  align-items: center;
  display: flex;
  position: relative;
}

// colour overrides to maintain green look of deprecated theme
.user-assistance,
.copyable-link-item,
.report-value {
  .external-link:not(.left):not(.pending) {
    color: $eu-jade-dark;
    &::after {
      background-image: svg-url-icon-external($eu-jade-dark);
    }
    &:active,
    &:active:hover {
      color: $eu-light-orange;
    }
    &:hover {
      color: $eu-jade-darkest;
      &::after {
        background-image: svg-url-icon-external($eu-jade-darkest);
      }
    }
  }
}

// colour overrides to maintain green look of deprecated theme
.user-assistance .external-link:not(.left) {
  color: $eu-jade-dark;
  &::after {
    background-image: svg-url-icon-external($eu-jade-classic);
  }
}

.external-link {
  align-items: center;
  color: $gray-med;
  display: flex;

  &.left::before,
  &:not(.left)::after {
    background-image: svg-url-icon-external($gray-med);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
  }

  &.large {
    &.left::before,
    &:not(.left)::after {
      height: 1.2em;
      width: 1.2em;
    }
    &.left::before {
      margin-right: 1em;
    }
    &:not(.left)::after {
      margin-left: 1em;
    }
  }
  &:not(.large) {
    &.left::before,
    &:not(.left)::after {
      height: 0.85em;
      width: 0.85em;
    }
    &.left::before {
      margin-right: 0.5em;
    }
    &:not(.left)::after {
      margin-left: 0.5em;
    }
  }
  &:hover {
    color: $gray-light;
    &.left::before,
    &:not(.left)::after {
      background-image: svg-url-icon-external($gray-light);
    }
  }

  &:active,
  &:active:hover {
    color: $eu-light-orange;
    &.left::before,
    &:not(.left)::after {
      background-image: svg-url-icon-external($eu-light-orange);
    }
  }

  &:not(.left).pending {
    color: $eu-jade-disabled;
    cursor: default;
    pointer-events: none;
    &::after {
      background-image: svg-url-icon-spin($eu-jade-classic);
      background-size: 0.85em;
      right: -1.2em;
    }
  }
}
