@use "sass:map";
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@use './orbs-palette';

//@use 'shared-styles/assets/sass/scss/mixins/icons';

@use './mixins/orb-customisation';

$orb-border-radius: 1.5em;

/*
$defaultPalette: (
  'activated-background': variables-colours.$eu-light-orange,
  'activated-border': variables-colours.$white,
  'activated-foreground': variables-colours.$white,
  'active-background': variables-colours.$white,
  'active-border': variables-colours.$eu-light-orange,
  'active-foreground': variables-colours.$eu-light-orange,
  'background': variables-colours.$eu-green-light,
  'border': variables-colours.$eu-jade-dark,
  'foreground': variables-colours.$white,
  'hover-background': variables-colours.$white,
  'hover-foreground': variables-colours.$eu-jade-dark
);
*/

.home-orb-container {
  display: none;
}

.nav-orb {
  border-radius: $orb-border-radius;
  border-style: solid;
  border-width: 1px;

  display: inline-block;
  height: 3em;
  margin: 0;
  min-width: 3em;
  position: relative;
  text-align: left;
  transition: 0.3s ease-in border-radius;
  width: 3em;

  &::after {
    font-size: 1.25em;
  }
  &.next {
    margin-left: 0.25em;
  }

  &::after {
    content: attr(data-label);
  }

  &.indicate-tier::before {
    background-color: map.get(orbs-palette.$defaultPalette, 'background');
    color: variables-colours.$white;
    content: attr(data-indicator);
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    padding: 1px;
  }

  &.labelled {
    &:after {
      font-weight: bold;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

  &.spinner::after {
    content: '';
  }

  &.indicator-orb::before {
    border: 1px solid variables-colours.$eu-jade-dark;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -25%);
    width: 1em;
    height: 1em;
  }

  &.indicator-orb:not([data-indicator])::before {
    $foreground: map.get(orbs-palette.$defaultPalette, 'foreground');
    $background: map.get(orbs-palette.$defaultPalette, 'background');
    background: svg-icons-metis.svg-url-icon-tick($foreground) center 75% / 75% no-repeat
      $background;
  }

  &:hover {
    box-shadow: rgba(25, 115, 36, 0.35) 0px 5px 15px;
    &.indicator-orb::before {
      background-color: map.get(orbs-palette.$defaultPalette, 'hover-background');
      color: map.get(orbs-palette.$defaultPalette, 'hover-foreground');
    }
    &:not([data-indicator]):not(.warning-animated)::before {
      background-image: svg-icons-metis.svg-url-icon-tick(
        map.get(orbs-palette.$defaultPalette, 'hover-foreground')
      );
    }
  }

  &:active,
  &:active:hover {
    &.indicator-orb::before {
      border-color: map.get(orbs-palette.$defaultPalette, 'active-border');
      background-color: map.get(orbs-palette.$defaultPalette, 'active-background');
      color: map.get(orbs-palette.$defaultPalette, 'active-foreground');
    }
    &.indicator-orb:not([data-indicator])::before {
      background-image: svg-icons-metis.svg-url-icon-tick(
        map.get(orbs-palette.$defaultPalette, 'active-foreground')
      );
    }
  }

  &.is-active {
    pointer-events: none;
    &.allow-active-clicks {
      pointer-events: all;
    }

    &.indicator-orb::before {
      border-color: map.get(orbs-palette.$defaultPalette, 'activated-border');
      background-color: map.get(orbs-palette.$defaultPalette, 'activated-background');
    }
    &.indicator-orb:not([data-indicator])::before {
      background-image: svg-icons-metis.svg-url-icon-tick(
        map.get(orbs-palette.$defaultPalette, 'activated-foreground')
      );
    }
  }

  &.spinner,
  &.indicate-polling {
    &.indicator-orb::before {
      background-position: center;
      background-repeat: no-repeat;
    }
    &.indicator-orb:not([data-indicator]) {
      &::before {
        background-image: svg-icons-metis.svg-url-icon-spin(
          map.get(orbs-palette.$defaultPalette, 'foreground')
        );
      }
      &:hover::before {
        background-image: svg-icons-metis.svg-url-icon-spin(
          map.get(orbs-palette.$defaultPalette, 'hover-foreground')
        );
      }
      &:active,
      &.is-active:active,
      &.is-active:hover {
        border-color: map.get(orbs-palette.$defaultPalette, 'active-border');
        &::before {
          background-color: map.get(orbs-palette.$defaultPalette, 'active-background');
          background-image: svg-icons-metis.svg-url-icon-spin(
            map.get(orbs-palette.$defaultPalette, 'active-foreground')
          );
          border-color: map.get(orbs-palette.$defaultPalette, 'active-border');
        }
      }
      &.is-active,
      &.is-active:active:hover {
        border-color: map.get(orbs-palette.$defaultPalette, 'activated-border');
        &::before {
          background-color: map.get(orbs-palette.$defaultPalette, 'activated-background');
          background-image: svg-icons-metis.svg-url-icon-spin(
            map.get(orbs-palette.$defaultPalette, 'activated-foreground')
          );
          border-color: map.get(orbs-palette.$defaultPalette, 'activated-border');
        }
      }
    }
  }

  &:not(.spinner) {
    &.upload-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-cloud, false, svg-icons-metis),
        2.25rem,
        orbs-palette.$defaultPalette
      );
    }

    &.problem-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-lightbulb, false, svg-icons-metis),
        1.5rem,
        orbs-palette.$defaultPalette
      );
    }

    &.progress-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-dataset, false, svg-icons-metis),
        1.75rem,
        orbs-palette.$defaultPalette
      );
    }

    &.report-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-record-report, false, svg-icons-metis),
        1.5rem,
        orbs-palette.$defaultPalette
      );
    }

    &.content-tier-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-content-tier, false, svg-icons-metis),
        1.85rem,
        orbs-palette.$defaultPalette
      );
    }

    &.metadata-tier-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-metadata, false, svg-icons-metis),
        2.05rem,
        orbs-palette.$defaultPalette
      );
    }

    &.track-processing-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-3-dots, false, svg-icons-metis),
        2.05rem,
        orbs-palette.$defaultPalette
      );
    }

    &.pie-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-pie, false, svg-icons-metis),
        2.05rem,
        orbs-palette.$defaultPalette
      );
    }

    &.orb-media-3d {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-media-3d, false, svg-icons-metis),
        1.8rem,
        orbs-palette.$defaultPalette
      );
    }

    &.orb-media-audio {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-media-audio, false, svg-icons-metis),
        1.8rem,
        orbs-palette.$defaultPalette
      );
    }

    &.orb-media-image {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-media-image, false, svg-icons-metis),
        1.8rem,
        orbs-palette.$defaultPalette
      );
    }

    &.orb-media-text {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-media-text, false, svg-icons-metis),
        1.8rem,
        orbs-palette.$defaultPalette
      );
    }

    &.orb-media-video {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-media-video, false, svg-icons-metis),
        1.8rem,
        orbs-palette.$defaultPalette
      );
    }

    &.orb-media-unknown {
      @include orb-customisation.basic-orb(orbs-palette.$defaultPalette);
      &::after {
        content: '?';
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.language-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-speech-bubble, false, svg-icons-metis),
        1.5rem,
        orbs-palette.$defaultPalette
      );
    }

    &.element-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-xml, false, svg-icons-metis),
        1.8rem,
        orbs-palette.$defaultPalette
      );
    }

    &.classes-orb {
      @include orb-customisation.custom-orb(
        get-function(svg-url-icon-classes, false, svg-icons-metis),
        2.2rem,
        orbs-palette.$defaultPalette
      );
    }
  }
  &.indicator-orb:not([data-indicator]),
  &.spinner {
    &::before {
      content: '';
    }
  }

  @keyframes fadein {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &.indicate-polling::before {
    animation: fadein 2000ms infinite;
  }
}

.spinner {
  background: svg-icons-metis.svg-url-icon-spin(map.get(orbs-palette.$defaultPalette, 'foreground'))
    center / 2em no-repeat map.get(orbs-palette.$defaultPalette, 'background');

  &:hover {
    background-color: map.get(orbs-palette.$defaultPalette, 'hover-background');
    background-image: svg-icons-metis.svg-url-icon-spin(
      map.get(orbs-palette.$defaultPalette, 'hover-foreground')
    );
  }

  &:active,
  &.is-active:hover {
    background-color: map.get(orbs-palette.$defaultPalette, 'active-background');
    background-image: svg-icons-metis.svg-url-icon-spin(
      map.get(orbs-palette.$defaultPalette, 'active-foreground')
    );
  }

  &.is-active,
  &.is-active:active:hover {
    background-color: map.get(orbs-palette.$defaultPalette, 'activated-background');
    background-image: svg-icons-metis.svg-url-icon-spin(
      map.get(orbs-palette.$defaultPalette, 'activated-foreground')
    );
  }
}

.nav-orb.warning-animated {
  &::before {
    @keyframes spin {
      100% {
        transform: rotateY(180deg);
      }
    }
    animation: spin 0.6s linear 1;
    background: svg-icons-metis.svg-url-icon-warning-detailed(
        variables-colours.$eu-yellow,
        variables-colours.$white,
        variables-colours.$eu-red-error
      )
      center no-repeat;
    bottom: -0.75rem;
    content: '';
    display: inline-block;
    height: 22px;
    left: calc(50% - 10px);
    position: absolute;
    width: 20px;
    z-index: 1;
  }
  &.nav-orb.info::before {
    background: svg-icons-metis.svg-url-icon-warning-detailed(
        variables-colours.$white,
        variables-colours.$white,
        variables-colours.$eu-jade-dark
      )
      center no-repeat;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    transform: none;
    top: 82.5%;
  }
}

.vertical {
  .sandbox-status {
    flex-direction: column;
    .orb-container:not(.hidden) {
      height: 48px;
      & + .orb-container {
        margin-top: 7px;
      }
    }
  }
}

.sandbox-status {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.sandbox-navigation-head .sandbox-status li {
  position: relative;
  top: 2em;
}
