$allowed-content-overflow-width: 2em;
$content-width: 25.5em;
$opener-width: 64px;
$slide-duration: 0.4s;
$spin-duration: 0.2s;
$zeroSeconds: 0s;

.pop-out {
  bottom: 0;
  clip-path: polygon(
    0 0,
    calc($opener-width + $allowed-content-overflow-width) 0,
    calc($opener-width + $allowed-content-overflow-width) 100%,
    0% 100%
  );
  display: flex;
  position: absolute;
  right: calc($opener-width - $content-width);
  transition: clip-path $slide-duration ease-in-out, right $slide-duration ease-in-out;
  width: $content-width;
  z-index: 2;

  &.open,
  &:hover,
  &.hovered-state {
    .pop-out-opener {
      // instant (skip transitionables set in themes)
      transition: background-color $zeroSeconds ease-in-out, border-color $zeroSeconds linear,
        border-right-color $zeroSeconds linear;
      .nav-orb {
        right: 0;
        &::after {
          transform: rotate(0deg);
        }
      }
    }
  }

  &.hovered-state .pop-out-opener {
    // slow the background fade when transitioning from open to close
    transition: background-color 0.8s ease-in-out, border-color $zeroSeconds linear,
      border-right-color $zeroSeconds linear;
  }

  // prevent overflow from appearing outside the container during open / close
  &.hovered-state,
  &:hover {
    clip-path: polygon(0 0, calc($opener-width + 1px) 0, calc($opener-width + 1px) 100%, 0% 100%);
  }

  &.open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    right: 0;
  }
}

.pop-out-content {
  border-top: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 0.75em 0 1.5em 2.25em;

  // default transition of border-top is instant
  transition: border-top $zeroSeconds linear;
  width: 100%;
  &.disabled {
    pointer-events: none;
  }
}

.pop-out-opener {
  align-self: flex-start;
  border-bottom-left-radius: 1.5em;
  border-right-color: transparent;
  border-right-style: dotted;
  border-right-width: 0.5px;
  border-top-left-radius: 1.5em;
  display: flex;
  padding: 0.5em;
  width: $opener-width;

  // default transitions are timed
  transition: background-color $slide-duration linear, border-color $slide-duration linear,
    border-right-color $slide-duration linear;

  .element-orb {
    border-color: $eu-jade-dark;
    transform: scale(0.75);
  }

  .nav-orb {
    right: -33px;
    transition: right $spin-duration linear;
    &::after {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
      transition: transform $spin-duration linear;
    }
  }
}
