@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.submit-button {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  padding: 0;
  text-shadow: none;
  white-space: nowrap;

  &:focus-visible {
    outline: 0;
    .icon {
      border-color: variables-colours.$eu-orange;
      border-width: 2px;
    }
  }
  .icon {
    background-color: variables-colours.$eu-jade-classic;
    background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$white);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    border: 1px solid variables-colours.$eu-jade-dark;
    border-radius: 1.5em;
    display: inline-block;
    height: 2.4rem;
    padding: 0.5rem 1rem;
    width: 2.4rem;
  }
  .icon.track {
    background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$white);
  }
  .icon.report {
    background-image: svg-icons-metis.svg-url-icon-record-report(variables-colours.$white);
    background-size: 45%;
  }
  .icon.upload {
    background-image: svg-icons-metis.svg-url-icon-cloud(variables-colours.$white);
  }
  .label {
    color: variables-colours.$eu-jade-dark;
    font-weight: bold;
    margin-left: 6px;
    white-space: nowrap;
  }
}

.submit-button {
  &:hover {
    background: transparent;
    .icon {
      background-color: #fff;
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$eu-jade);
    }
    .icon.track {
      background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-jade);
    }
    .icon.report {
      background-image: svg-icons-metis.svg-url-icon-record-report(variables-colours.$eu-jade);
    }
    .icon.upload {
      background-image: svg-icons-metis.svg-url-icon-cloud(variables-colours.$eu-jade);
    }
    .label {
      color: variables-colours.$eu-jade;
    }
  }

  &:active:hover {
    .icon {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$eu-light-orange);
      border-color: variables-colours.$eu-light-orange;
    }
    .icon.track {
      background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$eu-light-orange);
    }
    .icon.report {
      background-image: svg-icons-metis.svg-url-icon-record-report(
        variables-colours.$eu-light-orange
      );
    }
    .icon.upload {
      background-image: svg-icons-metis.svg-url-icon-cloud(variables-colours.$eu-light-orange);
    }
    .label {
      color: variables-colours.$eu-light-orange;
    }
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
    .icon {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$gray-light);
      background-color: transparent;
      border-color: transparent;
    }
    .icon.track {
      background-image: svg-icons-metis.svg-url-icon-dataset(variables-colours.$gray-light);
    }
    .icon.report {
      background-image: svg-icons-metis.svg-url-icon-record-report(variables-colours.$gray-light);
      background-size: 45%;
    }
    .icon.upload {
      background-image: svg-icons-metis.svg-url-icon-cloud(variables-colours.$gray-light);
    }
    .label {
      color: variables-colours.$gray-light;
    }
  }
}
