@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.messages {
  width: 100%;
}

.metis-form-element .form-fields .form-group:not(.form-group-btns) {

  .messages {
    margin-left: 14rem;
    margin-top: 1rem;
  }

  .ng-touched.ng-invalid {
    border-color: $eu-red;
  }

  input:not([type='checkbox']), textarea, select {
    &:disabled {
      background: transparent;
      border-color: $opacity-gray-very-light;
      color: $gray-light;
    }
  }

}
