@import 'shared-styles/assets/sass/pandora/settings/_metis-variables';

h2 {
  margin-bottom: 1em;
  &:not(.page-title) {
    margin-top: 2em;
  }
}

ul {
  margin: 0.75em 0;
  li {
    list-style: disc;
    margin-left: 1em;
  }
}

p + p {
  margin-top: 0.75em;
}

.privacy-policy {
  margin-top: -2em;
}

@media (min-width: $bp-large) {
  .privacy-policy,
  .page-title {
    margin-top: 1em;
  }
}
