<div *ngIf="showing" class="privacy-policy">
  <h2 class="page-title" data-e2e="privacy-policy">
    Protection of Your Personal Data
  </h2>

  <p>
    <strong>Processing operation</strong>
    <br />
    Processing of personal data on Metis Sandbox, including IP addresses, by visitors of the
    publicly available websites.
  </p>
  <p>
    <strong>Data Controller</strong>
    <br />
    European Commission, Directorate‑General for Communications Networks, Content and Technology (DG
    CNECT), Directorate G, Unit G2
  </p>
  <p>
    <strong>Data Processor</strong>
    <br />
    Europeana Foundation, Prins Willem-Alexanderhof 5, 2595 BE The Hague, The Netherlands.
  </p>
  <p>
    <strong>Record Reference</strong>
    <br />
    DPR-EC-09706.1
  </p>

  <h2 class="subtitle">1. Introduction</h2>
  <p>
    The European Commission (hereafter ‘the Commission’) is committed to protecting your personal
    data and to respecting your privacy. The Commission collects and further processes personal data
    pursuant to
    <a
      class="external-link"
      target="_blank"
      href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2018.295.01.0039.01.ENG&toc=OJ:L:2018:295:TOC"
      >Regulation (EU) 2018/1725</a
    >
    of the European Parliament and of the Council of 23 October 2018 on the protection of natural
    persons with regard to the processing of personal data by the Union institutions, bodies,
    offices and agencies and on the free movement of such data (repealing Regulation (EC) n°
    45/2001).
  </p>
  <p>
    This privacy statement explains the reason for the processing of your personal data, the way we
    collect, handle and ensure protection of all personal data provided, how that information is
    used and what rights you have in relation to your personal data. It also specifies the contact
    details of the responsible Data Controller with whom you may exercise your rights, the Data
    Protection Officer and the European Data Protection Supervisor.
  </p>
  <p>
    The information in relation to the processing operation “Data processing on Metis Sandbox”
    undertaken by the Commission is presented below.
  </p>

  <h2 class="subtitle">2. Why and How Do We Process Your Personal Data</h2>
  <p>
    Purpose of the processing operation: The Commission’s Directorate-General for Communications
    Networks, Content and Technology offer a number of external websites. The technical setup
    collects and uses your personal information to be able to provide the websites which are
    physically located outside the Commission controlled hosting infrastructure.
  </p>
  <p>Furthermore, feedback forms might be used as a contact channel.</p>
  <p>
    Your personal data will not be used for automated decision-making including profiling.
  </p>

  <h2 class="subtitle">3. On What Legal Ground(s) Do We Process Your Data?</h2>
  <p>We process your personal data on several grounds:</p>
  <ul>
    <li>
      <strong>Article 5(1)(a) of Regulation (EU) 2018/1725</strong>: this processing is necessary
      for the performance of a task carried out in the public interest or in the exercise of
      official authority vested in the Union institution or body.
      <br />
      Indeed, informing the broad public is a task resulting from the European Commission's own
      prerogatives at institutional level, as provided for in Article 58(2) (d) of Council
      Regulation (EC, Euratom) No 2018/1046 of 18 July 2018 on the Financial Regulation applicable
      to the general budget of the European Communities (OJ L 193, 30.7.2018, p. 1). We ensure that
      adequate and specific safeguards are implemented for the processing of personal data, in line
      with the applicable data protection legislation.
    </li>
    <li>
      <strong>Article 5(1)(d) of Regulation (EU) 2018/1725</strong>: for the processing activities
      consisting in [add as needed; the feedback form, cookies and authentication], your consent is
      necessary. In compliance with Article 3(15) and Article 7 of Regulation (EU) 2018/1725, the
      consent must be freely given, specific, informed and unambiguous.
      <br />
      We have obtained your consent directly from you. You may have expressed it by an email,
      submitted via e-registration form, or in any other written form.
    </li>
  </ul>

  <h2 class="subtitle">
    4. Which Personal Data Do We Collect and Further Process?
  </h2>
  <p>
    In order to <strong>carry out this processing operation</strong>, the Data Controller collects
    the following categories of personal data:
  </p>
  <ul>
    <li>
      Internet Protocol address (IP address) or the device ID of the device used to access the
      website.
    </li>
  </ul>
  <p>
    Without this processing you will not be able to establish a technical connection between your
    devices and the server infrastructure and therefore will not be able to access our website.
  </p>
  <ul>
    <li>Name</li>
    <li>E-mail address</li>
    <li>Comment</li>
  </ul>

  <h2 class="subtitle">5. How Long Do We Keep Your Personal Data?</h2>
  <p>
    The Data Controller only keeps your personal data for the time necessary to fulfil the purpose
    of collection or further processing, namely for the duration of the browsing session. In
    addition, IP addresses might be saved for one year in the log files of the services for security
    reasons. As to the analytics tool, the IP address and the device ID (e.g. IMEI number and WIFI
    MAC address) are deleted immediately at disconnection.
  </p>
  <p>
    As to the feedback form, data is kept during 2 years from the moment the form is submitted.
  </p>

  <h2 class="subtitle">
    6. How Do We Protect and Safeguard Your Personal Data?
  </h2>
  <p>
    All personal data in electronic format (e-mails, documents, databases, uploaded batches of data,
    etc.) are stored on the servers of the European Commission.
  </p>
  <p>
    All processing operations are carried out pursuant to the
    <a
      target="_blank"
      class="external-link"
      href="https://eur-lex.europa.eu/legal-content/EN/TXT/?qid=1548093747090&uri=CELEX:32017D0046"
      >Commission Decision (EU, Euratom) 2017/46</a
    >
    of 10 January 2017 on the security of communication and information systems in the European
    Commission.
  </p>
  <p>
    In order to protect your personal data, the Commission has put in place a number of technical
    and organisational measures. Technical measures include appropriate actions to address online
    security, risk of data loss, alteration of data or unauthorised access, taking into
    consideration the risk presented by the processing and the nature of the personal data being
    processed. Organisational measures include restricting access to the personal data solely to
    authorised persons with a legitimate need to know for the purposes of this processing operation.
  </p>

  <h2 class="subtitle">
    7. Who Has Access To Your Personal Data and To Whom Is It Disclosed?
  </h2>
  <p>
    Access to your personal data is provided to the Commission staff responsible for carrying out
    this processing operation and to authorised staff according to the “need to know” principle.
    Such staff abide by statutory, and when required, additional confidentiality agreements.
  </p>
  <p>
    The information we collect will not be given to any third party, except to the extent and for
    the purpose we may be required to do so by law.
  </p>

  <h2 class="subtitle">
    8. What Are Your Rights and How Can You Exercise Them?
  </h2>
  <p>
    You have specific rights as a ‘data subject’ under Chapter III (Articles 14-25) of Regulation
    (EU) 2018/1725, in particular the right to access, rectify or erase your personal data and the
    right to restrict the processing of your personal data. Where applicable, you also have the
    right to object to the processing or the right to data portability.
  </p>
  <p>
    You have the right to object to the processing of your personal data, which is lawfully carried
    out pursuant to Article 5(1)(a).
  </p>
  <p>
    You have consented to provide your personal data for the present processing operation. You can
    withdraw your consent at any time by notifying the Data Controller. The withdrawal will not
    affect the lawfulness of the processing carried out before you withdraw your consent.
  </p>
  <p>
    You can exercise your rights by contacting the Data Controller, or in case of conflict the Data
    Protection Officer. If necessary, you can also address the European Data Protection Supervisor.
    Their contact information is given under Heading 9 below.
  </p>
  <p>
    Where you wish to exercise your rights in the context of one or several specific processing
    operations, please provide their description (i.e. their Record reference(s) as specified under
    Heading 10 below) in your request.
  </p>

  <h2 class="subtitle">9. Contact Information</h2>
  <ul>
    <li>
      <strong>The Data Controller</strong>
      <p>
        If you would like to exercise your rights under Regulation (EU) 2018/1725, or if you have
        comments, questions or concerns, or if you would like to submit a complaint regarding the
        collection and use of your personal data, please feel free to contact the Data Controller,
        whose contact details are the following:
        <strong>DATA-PROTECTION-OFFICER@ec.europa.eu</strong>
      </p>
    </li>
    <li>
      <strong>The Data Protection Officer (DPO) of the Commission</strong>
      <p>
        You may contact the Data Protection Officer (<a
          href="mailto:DATA-PROTECTION-OFFICER@ec.europa.eu"
          >DATA-PROTECTION-OFFICER@ec.europa.eu</a
        >) with regard to issues related to the processing of your personal data under Regulation
        (EU) 2018/1725.
      </p>
    </li>
    <li>
      <strong>The European Data Protection Supervisor (EDPS)</strong>
      <p>
        You have the right to have recourse (i.e. you can lodge a complaint) to the European Data
        Protection Supervisor (<a href="mailto:edps@edps.europa.eu">edps@edps.europa.eu</a>) if you
        consider that your rights under Regulation (EU) 2018/1725 have been infringed as a result of
        the processing of your personal data by the Data Controller.
      </p>
    </li>
  </ul>

  <h2 class="subtitle">10. Where To Find More Detailed Information</h2>
  <p>
    The Commission Data Protection Officer (DPO) publishes the register of all processing operations
    on personal data by the Commission, which have been documented and notified to him. You may
    access the register via the following link:
    <a class="external-link" target="_blank" href="http://ec.europa.eu/dpo-register"
      >http://ec.europa.eu/dpo-register</a
    >
  </p>
  <p>
    This specific processing operation has been included in the DPO’s public register with the
    following Record reference:
    <strong>DPR-EC-09706.1.</strong>
  </p>
</div>
