<div
  class="pop-out"
  [ngClass]="{
    open: isOpen(),
    'hovered-state': userClosedPanel()
  }"
  libClickAware
  (clickOutside)="clickOutside()"
  [ignoreClasses]="ignoreClassesList"
  (keydown.escape)="clickOutside(true)"
>
  <span class="pop-out-opener" #openers>
    <sb-navigation-orbs
      class="sb-navigation-orbs vertical zero-warning"
      (clickEvent)="navOrbsClick($event)"
      [count]="openerCount()"
      [tooltips]="tooltips()"
      [classMapOuter]="classMapOuterRecord()"
      [classMapInner]="classMapInnerRecord()"
      [tabIndex]="tabIndex()"
    ></sb-navigation-orbs>
  </span>

  <div class="pop-out-content" [ngClass]="{ disabled: disabled() }">
    <ng-content></ng-content>
  </div>
</div>
