@import 'shared-styles/assets/sass/pandora/settings/metis-variables-modal';

.skip-arrow-pane {
  max-height: $modal-content-max-height;
  min-height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;

  .skip-arrows {
    margin-bottom: -100%;

    &:not(:has(.enabled)) {
      display: none;
    }
  }
}
