<app-filter-ops
  title="{{ 'allExecutions' | translate }}"
  [isLoading]="isLoading"
  (overviewParams)="setOverviewParams($event)"
></app-filter-ops>

<div *ngIf="dsOverview" class="executions-grid">
  <span class="grid-header">
    {{ 'datasetName' | translate }}
  </span>
  <span class="grid-header">
    {{ 'workflows' | translate }}
  </span>
  <span class="grid-header">
    {{ 'processedRecords' | translate }}
  </span>
  <span class="grid-header">
    {{ 'startTime' | translate }}
  </span>
  <span class="grid-header last-header">
    {{ 'endTime' | translate }}
  </span>
  <ng-container *ngFor="let dsExecution of dsOverview">
    <app-gridrow
      #wrapper
      [expanded]="dsExecution.execution.id === selectedDsId"
      [dsExecution]="dsExecution"
      (closeExpanded)="setSelectedDsId($event)"
    ></app-gridrow>
    <ng-content *ngTemplateOutlet="wrapper.childComponentTemplate"></ng-content>
  </ng-container>
  <span class="no-content-message" *ngIf="overviewParams && dsOverview.length === 0">
    {{ 'noFilterMatch' | translate }}
  </span>
</div>

<div *ngIf="maxResultsReached" class="grid-footer warning">
  {{ 'maxResultsReached' | translate }}
</div>
<div class="grid-footer">
  <a class="load-more-btn" (click)="loadNextPage()" *ngIf="hasMore">{{ 'loadMore' | translate }}</a
  ><span class="svg-icon-spin" [class.showing]="isLoadingMore"></span>
</div>
