@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.filter {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;

  & > li {
    color: $white;
  }
}

.theme-ctrl {
  background-color: $white;
  border: 1px solid #f1f1f1;
  border-radius: 1em;
  color: $eu-jade;
  cursor: pointer;
  display: block;
  height: 2em;
  position: relative;
  text-transform: capitalize;
  width: 2em;

  &.black {
    background-color: #000;
    border: 0;
    color: $white;
  }
  &.active {
    &::after {
      border: solid $eu-jade;
      border-width: 0 3px 3px 0;
      content: '';
      height: 10px;
      left: 7.5px;
      position: absolute;
      top: 4px;
      transform: rotate(45deg);
      width: 5px;
    }
  }
}
