@import 'shared-styles/assets/sass/scss/generic/variables';
@import './connections';
@import './home';
@import './layout';
@import './links';
@import './report';
@import './step-problems';
@import './step-track';

.home {
  box-shadow: rgba(77, 77, 77, 0.2) 0 2px 3px;
}

input,
select {
  border: 1px solid $eu-jade-dark;
  box-shadow: unset;
}

input[type='file'] {
  box-shadow: none;
  border-color: $eu-jade-classic;
}

.tick::after {
  background-image: svg-url-icon-tick('#{$eu-jade-classic}');
}
