@import 'shared-styles/assets/sass/scss/generic/variables';

$wizard-border-radius: 1.5em;

.dataset-info {
  color: $eu-jade-darkest;

  .dataset-name.link-internal {
    &:active .tick::after {
      background-image: svg-url-icon-tick('#{$eu-light-orange}');
    }
  }
}

.form-group {
  color: $eu-jade-dark;
  margin: 0 auto 12px;
}

.full-info-view {
  background: $eu-light-jade-classic;
}

.wizard {
  background-color: $eu-light-jade-classic;
  border: 1px solid $eu-jade-dark;

  .wizard-head {
    background: $eu-jade-classic;
    border-bottom: 1px solid $eu-jade-dark;
    color: $white;

    .header-text {
      font-size: 1.5em;
      top: 0.75em;
      position: relative;
      text-align: center;
    }

    .wizard-status {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      li {
        position: relative;
        top: 2em;
      }
    }
  }
}

.wizard-content {
  margin: 3em 2em 2em 2em;
  label {
    color: $eu-jade-dark;
  }
}

@media (min-width: $bp-small-2) {
  .wizard {
    border-radius: $wizard-border-radius;
    margin: 7rem auto 8rem auto;
    width: 80%;
  }

  .wizard-head {
    border-radius: $wizard-border-radius $wizard-border-radius 0 0;
  }
}

@media (min-width: $bp-med) {
  .dataset-info .copyable-link-item {
    right: 1.5em;
  }
}
