@import 'shared-styles/assets/sass/scss/generic/variables';

.legend {
  display: block;
  margin-top: 2em;
  min-height: 2.5em;

  .legend-item {
    align-items: center;
    display: flex;
    float: left;
    flex-direction: row;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 0.125em 0;
    &:not(:last-child) {
      margin-right: 1.4em;
    }
    &:last-child {
      flex-grow: 3;
      margin-bottom: 0.75em;
    }
  }

  .legend-item-marker {
    border: 1px solid #999;
    display: block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
}

@media (min-width: $bp-med) {
  .legend {
    margin-top: 0;
    min-height: 7.5em;
  }
}
