<ul class="legend" *ngIf="legendItems().length > 0">
  <li
    *ngFor="let item of legendItems(); let i = index"
    class="legend-item"
    [attr.title]="(pieDimension() | formatTierDimension) + ' ' + item.text"
  >
    <a
      #legendElement
      (click)="setPieSelection(selectedPieIndex() === i ? -1 : i, true)"
      (keydown.enter)="setPieSelection(selectedPieIndex() === i ? -1 : i, true)"
      tabindex="0"
      (blur)="blurLegendItem()"
    >
      <span
        class="legend-item-marker"
        [style.background]="
          selectedPieIndex() === -1 || selectedPieIndex() === i
            ? themeConfig().colours[i]
            : themeConfig().faded[i]
        "
        [ngClass]="{
          selected: selectedPieIndex() === i
        }"
      >
      </span>
      <span>
        {{ item.text | formatLicense }}
      </span>
    </a>
  </li>
</ul>
