.banner {
  @include fontSize(18px);
  background-color: $white;
  color: $black;
  padding: $space;
  padding-top: $space-double;

  .btn.btn-light {
    border-color: $eu-jade;
    color: $eu-jade;

    &:hover {
      background-color: $eu-jade;
      color: $white;
    }
  }

  .info-link {
    color: $eu-jade;
    font-weight: bold;
  }
}
