.banner {
  @include fontSize(18px);
  background-color: $white;
  color: $black;
  padding: $space;
  padding-top: $space-double;

  .btn.btn-light {
    background-color: $white;
    border-color: $eu-jade;
    border-width: 6px;
    color: $eu-jade;
    padding: 0.8em 1.2em;
    text-transform: uppercase;

    &:hover {
      background-color: $eu-jade;
      color: $white;
    }
  }

  .info-link {
    color: $eu-jade;
    font-weight: bold;
  }
}
