.metis-welcome-message {
  color: $black;
  font-size: 1.125rem;
  padding: 1rem;

  strong {
    font-size: 1.25rem;
  }
}

.collapse-block {
  margin: 1rem auto 0;

  .dataset-name,
  .dataset-collapse-toggle {
    display: block;
    float: left;
  }

  .dataset-name {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }

  .dataset-collapse-toggle {
    float: right;
    font-size: 0.75rem;

    .info-toggle {
      margin-right: 1rem;

      i.fa.fa-expand {
        margin-right: 1rem;
      }
    }
  }

  hr {
    background: $gray-lighter;
    border: 0;
    clear: both;
    height: 1px;
    margin: $space 0;
  }

  .dataset-collapse-blocks {
    clear: both;
  }

}
