.header-wrapper header {

  .cf {
    align-items: center;
    border-top-color: $eu-jade;
    display: flex;
    flex: 1;
    justify-content: center;

    .phase-flag.beta {
      background-color: $eu-orange;
    }

    // logo
    .metis-logo  {
      .logo {
        background-image: url('/assets/images/europeana-metis-logo.png');
        margin-left: 1.2rem;
        width: 168px;

        .svg & {
          background-image: url('/assets/images/europeana-metis-logo.svg');
          @media all and (min-width: $bp-med) and (max-width: $bp-large) {
            background-image: url('/assets/images/europeana-logo-symbol.svg');
            max-width: 50px;
            min-width: 50px;
          }
        }
      }
    }

    // dashboard header: search
    .dashboard-header {
      flex: 2;
      margin-left: 1.2rem;
      padding-top: .4rem;

      input {
        border: 0;
        box-shadow: none;
      }

      // searchbox
      .search-multiterm {
        display: flex;
        flex-flow: row;
        justify-content: center;

        // searchinput
        .js-hitarea {
          border: 1px solid $gray-lighter;
          border-bottom-right-radius: 0;
          border-right: 0;
          border-top-right-radius: 0;
          box-shadow: none;
          order: 1;
          width: 40%;

          ul {
            margin-bottom: 8px;
            margin-top: 3px;
            min-width: 11rem;
            padding: 0;
          }

          li {
            width: 100%;
          }

          input {
            max-width: 50rem;
          }

        }

        // searchbutton
        .submitarea {
          margin-left: 6px;
          order: 4;

          .search-submit {
            height: 100%;
          }
        }

        // searchmenu
        nav {
          background-color: $white;
          border: 1px solid $gray-lighter;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          cursor: text;
          font-size: 1rem;
          line-height: 2rem;
          margin: 0;
          order: 3;
          padding: .2rem .4rem;
        }

        #metis_search_menu {
          margin-top: 8px;
          min-width: 11rem;
          padding: 0;
          padding-left: 1px;

          &.nav-access > li {
            float: left;
            min-width: 10.5rem;
          }

          .link-text {
            padding-left: 5px;
          }

          .menu-sublevel.caret::before,
          .menu-sublevel.caret::after {
            content: none;
          }
        }
      }

      #browse-menu {
        margin-left: 0;

        .sub-arrow {
          border-color: $opacity-black transparent transparent;
        }

        li {
          background-color: $white;

          a {
            background-color: $white;
          }
        }
      }

      button,
      input[type="submit"] {
        background: $eu-jade;
      }

      .link-text {
        color: $gray-light;
      }
    }

    // dashboard header: settings menu

    .dashboard-header-links {

      flex: 1;
      padding-right: 1rem;

      a.signup {
        color: $gray-med;
        font-weight: 900;
        padding-right: 1rem;
        position: relative;
        text-transform: uppercase;

        &::after {
          background: transparent;
          border-color: $gray-light transparent transparent;
          border-style: solid dashed dashed;
          border-width: 4px;
          content: '';
          float: right;
          height: 10px;
          overflow: hidden;
          position: absolute;
          right: 0;
          top: 0.5rem;
          width: 0;
        }
      }

      .menu-sublevel {
        background: $white;
        box-shadow: rgba(77, 77, 77, 0.3) 0 1px 4px;
        max-width: 20rem;
        min-width: 10rem;
        padding: 0.5rem 1rem;
        position: absolute;
        right: 1rem;
        top: 3.5rem;

        li {
          font-size: 0.875rem;
        }

        &::before {
          border-bottom: 10px solid $gray-lightest;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          content: '';
          height: 0;
          position: absolute;
          right: 2rem;
          top: -10px;
          width: 0;
        }

        &::after {
          border-bottom: 8px solid $white;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          content: '';
          height: 0;
          position: absolute;
          right: calc(2rem + 2px);
          top: -8px;
          width: 0;
        }
      }

      .nav-loggedin .menu-sublevel {
        right: 1.1rem;
      }

      #settings-menu {
        float: right;

        .notifications {
          position: relative;

          .circle {
            background-color: $eu-jade;
            border-radius: 50%;
            color: $white;
            font-size: 10px;
            font-weight: bold;
            height: 18px;
            left: 15px;
            line-height: 18px;
            margin: 0 auto 10px;
            position: absolute;
            text-align: center;
            top: 10px;
            width: 18px;
          }
        }

        .svg-icon-user-signin,
        .svg-icon-notifications,
        .svg-icon-loggedin-user,
        .svg-icon-configuration {
          background-size: 1.5rem 1.5rem;
          display: inline-block;
          height: 1.65rem;
          margin-right: 2rem;
          width: 1.5rem;
        }
      }
    }
  }
}

