@import '../settings/metis-variables';

.header-wrapper header {
  height: $fixed-header-height-mobile;
  min-height: auto;

  @media all and (min-width: $bp-small-3) {
    height: $fixed-header-height;
  }

  .header-container {
    align-items: center;
    border-top: 5px solid $eu-jade;
    display: flex;
    justify-content: space-between;
    position: relative;

    .phase-flag.beta {
      background-color: $eu-orange;
    }

    /* logo */
    .metis-logo {
      width: auto;

      .logo {
        background-image: url('/assets/images/europeana-metis-logo.png');
        margin-left: 1rem;
        width: 168px;
        @media all and (min-width: $bp-small-3) {
          margin-left: 1.2rem;
        }
      }
    }

    .link-to-dashboard {
      color: $gray-med;
      font-size: 1rem;
      margin-right: 1rem;

      &:hover {
        text-decoration: underline;
      }

      @media all and (max-width: $bp-large) {
        text-indent: -9999rem;
      }
    }

    .dashboard-header {
      .search-multiterm {
        display: flex;
        justify-content: space-between;

        a {
          color: $gray-light;
        }

        input {
          border: 1px solid $gray-lighter;
          border-bottom-right-radius: 0;
          border-right: 0;
          border-top-right-radius: 0;
          box-shadow: none;
          color: $gray-light;
          width: 32rem;

          @media all and (max-width: $bp-xl) {
            width: 20rem;
          }
        }

        .search-select {
          background-color: $white;
          border: 1px solid $gray-lighter;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          cursor: text;
          display: inline-block;
          font-size: 1rem;
          line-height: 2rem;
          margin: 0;
          padding: 0.2rem 1rem;
          position: relative;
          white-space: nowrap;

          .has-submenu {
            display: inline-block;
            min-width: 7rem;
            padding-right: 1rem;
            position: relative;
          }

          .has-submenu::after {
            background: transparent;
            border-color: $gray-light transparent transparent;
            border-style: solid dashed dashed;
            border-width: 4px;
            content: '';
            float: right;
            height: 10px;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0.9rem;
            width: 0;
          }

          .menu-sublevel {
            background: $white;
            border: 1px solid $gray-lighter;
            font-size: $font-size-slightly-smaller;
            left: 0;
            margin-left: -1px;
            padding: 0.4rem 0.8rem;
            position: absolute;
            top: 2.4rem;
            width: 100%;
          }
        }

        .search-submit {
          background-color: $eu-jade;
          color: $white;
          margin-left: 6px;
          padding: 0 1.2rem;
        }
      }
    }

    .dashboard-header-links {
      padding-right: 1rem;

      a.signup {
        color: $gray-med;
        font-weight: 900;
        padding-right: 1rem;
        position: relative;
        text-transform: uppercase;

        &::after {
          background: transparent;
          border-color: $gray-light transparent transparent;
          border-style: solid dashed dashed;
          border-width: 4px;
          content: '';
          float: right;
          height: 10px;
          overflow: hidden;
          position: absolute;
          right: 0;
          top: 0.5rem;
          width: 0;
        }
      }

      .menu-sublevel {
        background: $white;
        box-shadow: rgba(77, 77, 77, 0.3) 0 1px 4px;
        max-width: 20rem;
        min-width: 10rem;
        padding: 0.5rem 1rem;
        position: absolute;
        right: 1rem;
        top: 3.5rem;

        li {
          font-size: $font-size-slightly-smaller;
        }

        &::before {
          border-bottom: 10px solid $gray-lightest;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          content: '';
          height: 0;
          position: absolute;
          right: 2rem;
          top: -10px;
          width: 0;
        }

        &::after {
          border-bottom: 8px solid $white;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          content: '';
          height: 0;
          position: absolute;
          right: calc(2rem + 2px);
          top: -8px;
          width: 0;
        }
      }

      .nav-loggedin .menu-sublevel {
        right: 1.1rem;
      }

      .settings-menu {
        display: flex;
        justify-content: flex-end;

        .notifications {
          position: relative;

          .circle {
            background-color: $eu-jade;
            border-radius: 50%;
            color: $white;
            font-size: 10px;
            font-weight: bold;
            height: 18px;
            left: 15px;
            line-height: 18px;
            margin: 0 auto 10px;
            position: absolute;
            text-align: center;
            top: 10px;
            width: 18px;
          }
        }

        .svg-icon-user-signin,
        .svg-icon-notifications,
        .svg-icon-loggedin-user,
        .svg-icon-configuration {
          background-size: 1.5rem 1.5rem;
          display: inline-block;
          height: 1.65rem;
          width: 1.5rem;
          @media all and (min-width: $bp-small-3) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
