@import '../../scss/generic/variables';
@import '../settings/metis-variables';

$color-status-cleaning: lighten($eu-blue, 40%);

.errorindicator {
  .status {
    border-radius: 0.3rem;
    display: inline-block;
    height: 0.7rem;
    width: 0.7rem;
  }
  .status-failed {
    background: $color-status-failed;
  }
  .status-warning {
    background: $color-status-warning;
  }
  .status-running {
    background: $color-status-running;
  }
  .status-inqueue {
    background: $color-status-inqueue;
  }
  .status-pending {
    background: $color-status-pending;
  }
  .status-finished {
    background: $color-status-finished;
  }
  .status-cancelled {
    background: $color-status-cancelled;
  }
}

.running td:first-child::before {
  background: $eu-jade;
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.filled .orb-status {
  color: $white;

  &.status-inqueue {
    background: $color-status-inqueue;
  }
  &.status-cancelled {
    background: $color-status-cancelled;
  }
  &.status-cleaning {
    background: $color-status-cleaning;
  }
  &.status-failed {
    background: $color-status-failed;
  }
  &.status-finished {
    background: $color-status-finished;
  }
  &.status-pending {
    background: $color-status-pending;
  }
  &.status-running {
    background: $color-status-running;
  }
  &.status-warning {
    background: $color-status-warning;
  }
}
