@import '../../scss/generic/variables';
@import '../settings/metis-variables';

$orb-size: 1.5em;
$orb-size-half: 0.75em;
$orb-size-small: 1em;
$orb-size-small-half: 0.75em;

.running td:first-child::before {
  background: $eu-jade;
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.orb-status {
  border-radius: $orb-size-small-half;
  border-style: solid;
  border-width: 1px;
  color: $white;
  display: inline-block;
  height: $orb-size-small;
  margin: 0.2em 0.3em 0.2em 0;
  min-width: $orb-size-small;
  position: relative;
  text-align: left;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: $orb-size-small;

  &.status-inqueue {
    background: $color-status-inqueue;
  }
  &.status-cancelled {
    background: $color-status-cancelled;
  }
  &.status-cleaning {
    background: $color-status-cleaning;
  }
  &.status-failed {
    background: $color-status-failed;
  }
  &.status-finished {
    background: $color-status-finished;
  }
  &.status-pending {
    background: $color-status-pending;
  }
  &.status-running {
    background: $color-status-running;
  }
  &.status-warning {
    background: $color-status-warning;
  }

  &.labelled {
    border-radius: $orb-size-half;
    height: $orb-size;
    min-width: $orb-size;
    width: $orb-size;

    &:after {
      font-size: 0.7em;
      font-weight: bold;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    &.depublish_dataset:after {
      content: 'Dd';
    }

    &.depublish_records:after {
      content: 'Dr';
    }

    &.harvest:after {
      content: 'H';
    }
    &.http_harvest:after {
      content: 'Hh';
    }
    &.oaipmh_harvest:after {
      content: 'Ho';
    }
    &.transformation:after {
      content: 'T';
    }
    &.link_checking:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' fill='%23ffffff' height='30'%3E%3Cpath d='M19.693 23.759l-5.363 5.267c-2.205 1.632-5.426 1.026-7.054-.445-2.792-2.522-1.91-6.528-.735-7.715 1.176-1.187 5.143-5.342 6.025-6.232.882-.89 2.645-1.632 3.968-1.632s2.204.297 3.233 1.038c1.029.742.735 1.781.147 2.523-.588.742-1.47.593-1.764.445-.293-.148-1.983-1.113-2.939-.148l-6.025 6.083c-1.102 1.113 0 2.67.294 2.967.294.297 1.764 1.336 2.94.149 1.175-1.187 3.012-2.893 3.012-2.893 1.616 1.038 4.261.593 4.261.593zm-4.26-12.083l5.657-5.564c2.205-1.633 5.426-1.026 7.054.445 2.792 2.522 1.91 6.528.735 7.715-1.176 1.187-5.437 5.638-6.32 6.529-.88.89-2.644 1.632-3.967 1.632s-2.204-.297-3.233-1.039-.735-1.78-.147-2.522c.588-.742 1.47-.594 1.764-.445.293.148 1.983 1.113 2.939.148l6.319-6.38c1.102-1.113 0-2.67-.294-2.968-.294-.296-1.764-1.335-2.94-.148-1.175 1.187-3.306 3.19-3.306 3.19-1.616-1.038-4.262-.593-4.262-.593zm1.036-8.692l-9.7 9.794a.943.943 0 0 1-1.359 0L.286 7.604a.965.965 0 0 1 0-1.371l1.31-1.324a.943.943 0 0 1 1.36 0L6.09 8.074 13.8.289a.943.943 0 0 1 1.358 0l1.311 1.323a.965.965 0 0 1 0 1.372z'%3E%3C/path%3E%3C/svg%3E");
      content: ' ';
    }
    &.depublish:after {
      content: 'Dp';
    }
    &.enrichment:after {
      content: 'E';
    }
    &.media_process:after {
      content: 'M';
    }
    &.validation_external:after {
      content: 'Ve';
    }
    &.validation_internal:after {
      content: 'Vi';
    }
    &.normalization:after {
      content: 'N';
    }
    &.pending:after {
      content: 'Pe';
    }
    &.preview:after {
      content: 'Pr';
    }
    &.publish:after {
      content: 'Pu';
    }
    &.reindex_to_preview:after {
      content: 'Xr';
    }
    &.reindex_to_publish:after {
      content: 'Xu';
    }
  }
}

.labelled-orb .orb-status {
  margin-right: 0.75em;
}
