.view-sample {
  display: flex;
  flex-direction: column;

  .view-sample-title {
    background-color: $eu-jade;
    display: flex;

    h3 {
      color: $white;
      flex-grow: 1;
      font-weight: normal;
      margin-bottom: 0;
      padding: 1rem;

      span {
        display: inline-block;
        margin-right: 1em;
        word-break: break-all;

        &.smaller {
          font-size: $font-size-slightly-smaller;
        }
      }
    }
  }

  .view-sample-editor {
    background: $white;
    display: inline-block;
    position: relative;
    text-align: right;
    width: 100%;
  }

  &.view-sample-expanded {
    .view-sample-title,
    .view-sample-editor {
      width: 100%;
    }

    .view-sample-title {
      h3 {
        margin-bottom: 0;
      }

      .toggle-expand {
        a {
          background: $gray-med;
          box-sizing: content-box;
          color: $white;
          display: flex;
          flex-direction: column;
          font-size: 2rem;
          height: 100%;
          justify-content: center;
          padding: 0 1.5rem;
        }
      }
    }
  }

  .view-sample-editor-codemirror {
    border-bottom: 1px solid $gray-lightest;
    box-sizing: border-box;
    height: 20vh;
    overflow: auto;
  }
}

.cm-string {
  padding: 5px 0;

  &.link-active {
    background-color: rgba(180, 220, 200, 0.3);
    text-decoration: underline;
    cursor: pointer;
  }
}
