<div *ngIf="editMode; then editmode else readonly"></div>

<ng-template #readonly>
  <div *ngIf="profileForm" class="metis-profile-form metis-form metis-form-horizontal">
    <form class="profile-form" [formGroup]="profileForm" #formDir="ngForm">
      <div class="form-header">
        <h2>User Profile</h2>
      </div>

      <div class="messages">
        <div class="error-message" *ngIf="errorMessage"><i class="fa fa-times"></i>{{errorMessage}}</div>
        <div class="success-message" *ngIf="successMessage"><i class="fa fa-times"></i>{{successMessage}}</div>
      </div>

      <div class="form-fields">

        <div class="form-group">
          <label for="user-id">Id</label>
          <input id="user-id" name="user-id" type="text" formControlName="user-id" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" type="text" formControlName="email" />
        </div>

        <div class="form-group">
          <label for="first-name">First Name</label>
          <input id="first-name" name="first-name" type="text" formControlName="first-name" />
        </div>

        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input id="last-name" name="last-name" type="text" formControlName="last-name" />
        </div>

        <div class="form-group">
          <label for="organization-name">Organization Name</label>
          <input id="organization-name" name="organization-name" type="text" formControlName="organization-name" />
          <span *ngIf="profileForm.controls['organization-name'].value==='Unknown'" title="Invalid value" class="fa fa-exclamation-circle fa-2x invalid"></span>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <input id="country" name="country" type="text" formControlName="country" />
        </div>

        <div class="form-group">
          <label for="network-member">Europeana Network Association Member</label>
          <input id="network-member" name="network-member" type="text" formControlName="network-member" />
        </div>

        <div class="form-group">
          <label for="account-role">Account Role</label>
          <input id="account-role" name="account-role" type="text" formControlName="account-role" />
          <span *ngIf="profileForm.controls['account-role'].value==='Unknown'" title="Invalid value" class="fa fa-exclamation-circle fa-2x invalid"></span>
        </div>
        <div class="form-group form-group-btns user-profile-edit-btns">
          <button class="button" type="button" (click)="toggleEditMode()">Change Password</button>
          <button class="button" type="button" (click)="onReloadProfile()">Refresh <i *ngIf="loading" class="fa fa-cog fa-spin"></i></button>
        </div>

        <div class="profile-form-extra">
          <p> If you want to update your profile, send an email to&nbsp; <a href="mailto:{{emailInfo}}">{{emailInfo}}</a>.</p>
        </div>

      </div>
    </form>
  </div>
</ng-template>

<ng-template #editmode>
  <div class="metis-form-bg metis-form" *ngIf="profileForm" >
    <form [formGroup]="profileForm" #formDir="ngForm">
      <div class="form-header">
        <h2>Change Password</h2>
      </div>

      <div class="messages">
        <div class="error-message" *ngIf="errorMessage"><i class="fa fa-times"></i>{{errorMessage}}</div>
        <div class="success-message" *ngIf="successMessage">{{successMessage}}</div>
      </div>

      <div class="form-fields">
        <fieldset class="form-group" formGroupName="passwords">
          <input id="password" type="password" formControlName="password" (keyup)="onKeyupPassword()" placeholder="Password">
          <app-password-check [passwordToCheck]="password"></app-password-check>
          <input id="confirm" type="password" formControlName="confirm" placeholder="Confirm password">
          <div class="messages" *ngIf="profileForm.controls['passwords'].get('confirm').touched && !profileForm.controls['passwords'].get('confirm').valid">
            <div class="error-message">Passwords do not match!</div>
          </div>
        </fieldset>

         <div class="form-group form-group-btns user-profile-edit-btns">
          <button class="button" type="button" (click)="toggleEditMode()">Cancel</button>
          <button class="submit" type="button" [disabled]="!profileForm.valid" (click)="onSubmit()">
            Submit<i *ngIf="loading" class="fa fa-cog fa-spin"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

