.metis-form  {
  
  .ng-invalid.ng-touched {
    border-color: red;
  }

  input:disabled {
    border: 0;
    color: #777;
  }

  input[type="checkbox"] {
    border: 0;
    box-shadow: none;
    display: inline;
  }

}

.metis-autocomplete {
  position: relative;

  ul {
    background: #fff;
    border: 1px solid #777;
    display: block;
    top: 40px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9;

    li {
      cursor: pointer;
    }
  }
}

.selected-organizations {
  .tag {
    cursor: pointer;
  }
}

.modal-wrapper {
  display: block;
}
