.metis-autocomplete {
  position: relative;

  ul {
    background: #fff;
    border: 1px solid #777;
    display: block;
    left: 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 9;

    li {
      cursor: pointer;
    }
  }
}

.metis-autocomplete-selected {
  .tag {
    cursor: pointer;

    .remove {
      display: inline-block;
      height: 1.2rem;
      margin-left: 1rem;
      text-align: center;
      width: 1.2rem;

      &:hover {
        background: #fff;
        border-radius: 1rem;
        color: #0a3750;
      }

    }
  }
}

.modal-wrapper {
  display: block;
}

label {
  white-space: nowrap;
  margin-right: 10px;
}

#password {
  margin-bottom: 10px;
}

.button {
  margin-left: 10px !important;
}
