<div *ngIf="editMode; then editmode else readonly"></div>

<ng-template #readonly>

  <div class="metis-profile-form metis-form metis-form-horizontal">
    <form class="profile-form" [formGroup]="profileForm" #formDir="ngForm">
      <div class="form-header">
        <h2>User Profile</h2>
      </div>

      <div class="messages" *ngIf="error"><div class="error-message"><i class="fa fa-times"></i>{{error}}</div></div>

      <div class="form-fields">

        <div class="form-group">
          <label for="user-id">Id:</label>
          <input id="user-id" name="user-id" type="text" formControlName="user-id" readonly />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" name="email" type="text" formControlName="email" readonly />
        </div>

        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input id="first-name" name="first-name" type="text" formControlName="first-name" readonly />
        </div>

        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input id="last-name" name="last-name" type="text" formControlName="last-name" readonly />
        </div>

        <div class="form-group">
          <label for="organization-name">Organization Name:</label>
          <input id="organization-name" name="organization-name" type="text" formControlName="organization-name" readonly />
        </div>

        <div class="form-group">
          <label for="country">Country:</label>
          <input id="country" name="country" type="text" formControlName="country" readonly/>
        </div>

        <div class="form-group">
          <label for="network-member">Network Member:</label>
          <input id="network-member" name="network-member" type="text" formControlName="network-member" readonly/>
        </div>

        <div class="form-group">
          <label for="metis-user-flag">Metis User Flag:</label>
          <input id="metis-user-flag" name="metis-user-flag" type="text" formControlName="metis-user-flag" readonly/>
        </div>

        <div class="form-group">
          <label for="account-role">Account Role:</label>
          <input id="account-role" name="account-role" type="text" formControlName="account-role" readonly/>
        </div>

        <div class="form-group">
          <label for="created-date">Created Date:</label>
          <input type="text" name="created-date" id="created-date" formControlName="created-date" readonly />
        </div>

        <div class="form-group">
          <label for="updated-date">Updated Date:</label>
          <input type="text" name="updated-date" id="updated-date" formControlName="updated-date" readonly />
        </div>

        <div class="form-group form-group-btns user-profile-edit-btns">
          <button class="button" type="button" (click)="toggleEditMode()">Change Password</button>
          <button class="button" type="button" (click)="onReloadProfile()">Refresh</button>
        </div>

      </div>
    </form>
  </div>

</ng-template>

<ng-template #editmode>

  <div class="metis-profile-form metis-form metis-form-horizontal password-form">
    <form class="profile-form" [formGroup]="profileForm" #formDir="ngForm">
      <div class="form-header">
        <h2>Change Password</h2>
      </div>

      <div class="messages" *ngIf="error"><div class="error-message"><i class="fa fa-times"></i>{{error}}</div></div>

      <div class="form-fields">

        <fieldset class="form-group" formGroupName="passwords">
          <input id="password" type="password" formControlName="password" (keyup)="onKeyupPassword()" placeholder="Password">
          <app-password-check [passwordToCheck]="password"></app-password-check>
          <input id="confirm" type="password" formControlName="confirm" placeholder="Confirm password">
          <div class="messages" *ngIf="profileForm.controls['passwords'].get('password').touched && !profileForm.controls['passwords'].get('confirm').valid">
            <div class="error-message">Passwords do not match!</div>
          </div>
        </fieldset>

        <div class="form-group form-group-btns user-profile-edit-btns">
          <button class="button" type="button" (click)="toggleEditMode()">Cancel</button>&nbsp;&nbsp;
          <button class="submit" type="button" [disabled]="!profileForm.valid" (click)="onSubmit()">
            Submit
            &nbsp; <i *ngIf="loading" class="fa fa-cog fa-spin"></i>
          </button>
        </div>

      </div>

    </form>
  </div>

</ng-template>

