.metis-form  {
  
  .ng-invalid.ng-touched {
    border-color: red;
  }

  input:disabled {
    border: 0;
    color: #777;
  }

  input[type="checkbox"] {
    border: 0;
    box-shadow: none;
    display: inline;
  }
}

.metis-autocomplete {
  position: relative;

  ul {
    background: #fff;
    border: 1px solid #777;
    display: block;
    top: 40px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9;

    li {
      cursor: pointer;
    }
  }
}

.metis-autocomplete-selected {
  .tag {
    cursor: pointer;

    .remove {
      display: inline-block;
      height: 1.2rem;
      margin-left: 1rem;
      text-align: center;
      width: 1.2rem;

      &:hover {
        background: #fff;
        border-radius: 1rem;
        color: #0a3750;
      }

    }

  }
}

.modal-wrapper {
  display: block;
}
