<lib-modal
  id="{{ modalMaintenanceId }}"
  title="Site Maintenance Underway"
  [isSmall]="false"
  [permanent]="true"
>
  <lib-maintenance-info [maintenanceInfo]="maintenanceInfo"> </lib-maintenance-info>
</lib-modal>
<app-header class="page-{{ bodyClass }}"></app-header>
<div appKeycloakSignoutCheck class="pusher pusher-{{ bodyClass }}">
  <div class="metis-main-content">
    <app-notification
      [notification]="errorNotification"
      (closed)="errorNotification = undefined"
    ></app-notification>
    <router-outlet></router-outlet>
  </div>
</div>
<lib-modal buttonClass="button-filled" id="{{ modalConfirmId }}" title="{{ 'cancel' | translate }}">
  <ng-container *ngIf="cancellationRequest">
    <p
      i18n="
         confirm workflow cancellation|show modal to get user
        confirmation@@confirmWorkflowCancellation
      "
    >
      Are you sure you want to cancel "{{ cancellationRequest.datasetId! }}
      {{ cancellationRequest.datasetName! }}"?
    </p>
  </ng-container>
</lib-modal>
