@import '../../assets/sass/scss/generic/variables';

.metis-dashboard-right {
  h3 {
    font-size: 1.25rem;
  }

  .btns-set {
    font-size: 0.875rem;
    height: 49px;
    margin-top: -5px;
    width: 65%;
  }
}

.tab-pending {
  bottom: 6px;
  position: absolute;

  .fa-circle {
    color: #e91e63;
  }
}

.notifications-table,
.executions-table {
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background: $gray-lighter;
      }

    }
  }
}

th,
td {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.fa-circle {
  color: #e91e63;
}
