<div class="dashboard-wrapper">

  <div class="metis-welcome-message">
    <p>Welcome <strong>{{userName}}</strong>, let's ingest a world of Culture!</p>
  </div>

  <div class="metis-dashboard">
    <div class="metis-dashboard-left">

      <app-dashboardactions></app-dashboardactions>         
      <app-ongoingexecutions [isShowingLog]="isShowingLog" (notifyShowLogStatus)="onNotifyShowLogStatus($event)"></app-ongoingexecutions>    
      <app-datasetlog *ngIf="isShowingLog" [isShowingLog]="isShowingLog" (notifyShowLogStatus)="onNotifyShowLogStatus($event)"></app-datasetlog>

    </div>

    <div class="metis-dashboard-right">    

      <app-executions></app-executions> 
          
    </div>
  </div>
</div>
