<div class="dashboard-wrapper">

  <div class="metis-welcome-message">
    <p>Welcome <strong>{{userName}}</strong>, let's ingest a world of Culture!</p>
  </div>

  <div class="big-spin" *ngIf="runningIsFirstLoading || finishedIsFirstLoading">
    <span class="svg-icon-spin"></span>
  </div>

  <div class="metis-dashboard" *ngIf="!runningIsFirstLoading && !finishedIsFirstLoading">
    <div class="metis-dashboard-left">
      <app-dashboardactions></app-dashboardactions>
      <app-ongoingexecutions [isShowingLog]="isShowingLog" (notifyShowLogStatus)="onNotifyShowLogStatus($event)" [runningExecutions]="runningExecutions"></app-ongoingexecutions>
      <app-datasetlog *ngIf="isShowingLog" [isShowingLog]="isShowingLog" (notifyShowLogStatus)="onNotifyShowLogStatus($event)"></app-datasetlog>
    </div>

    <div class="metis-dashboard-right">
      <app-executions [runningExecutions]="runningExecutions" [finishedExecutions]="finishedExecutions" [isLoading]="finishedIsLoading" (nextPage)="getNextPage()"></app-executions>
    </div>
  </div>
</div>
