@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@use '../../../hamburger';
@use './hamburger-palette';

$edgeColorSuggest: variables-colours.$eu-jade;
$edgeColorBubble: variables-colours.$eu-jade;

@mixin drop-in() {
  .inputs {
    position: relative;
    .drop-in-opener {
      @include hamburger.hamburger-image(hamburger-palette.$palette);
    }
  }

  .drop-in {
    transform: translateY(calc(-100% - 0.5em));
    scroll-margin-top: 104px;
    width: 100%;

    &.view-pinned {
      border-right: 1px solid variables-colours.$eu-jade;

      .btn-drop-in-expand {
        height: 2.5em;
      }
      .btn-drop-in-expand-inner {
        top: 4px;
      }
    }

    &.view-suggest {
      .item-identifier {
        border-right: 1px solid variables-colours.$eu-jade;
        &::after {
          color: $edgeColorBubble;
        }
        &:focus,
        &:hover {
          box-shadow: inset 0 0 10px -7.5px variables-colours.$eu-jade-dark;
        }
      }
      .item-detail-wrapper .item-detail {
        border-color: $edgeColorBubble;
      }
    }

    .baseline {
      &::after {
        color: $edgeColorSuggest;
        background: #fff;
        // mitigate hard arrow edge
        border-radius: 100%;
        box-shadow: inset -3px 0.5px 1px variables-colours.$eu-light-jade-classic;
      }
      &::before {
        border-top-color: $edgeColorSuggest;
      }
    }

    .btn-drop-in-expand {
      border-bottom-style: solid;
      border-bottom-color: variables-colours.$eu-jade;
      border-top-style: solid;
      border-top-color: variables-colours.$eu-jade;
      border-left-style: solid;
      border-left-color: variables-colours.$eu-jade;

      &:hover {
        .btn-drop-in-expand-inner::after {
          background-image: svg-icons-metis.svg-url-icon-cross(variables-colours.$eu-jade-dark);
        }
      }

      &:active,
      &:focus {
        .btn-drop-in-expand-inner::after {
          background-image: svg-icons-metis.svg-url-icon-cross(variables-colours.$eu-light-orange);
        }
      }

      .btn-drop-in-expand-inner::after {
        background-image: svg-icons-metis.svg-url-icon-cross(variables-colours.$eu-jade);
      }
    }

    .item-identifier {
      @supports (-moz-appearance: none) {
        border-left-color: variables-colours.$eu-jade;
        border-left-style: solid;
      }
    }

    .tools {
      border-top-color: $edgeColorSuggest;
      border-top-style: solid;

      &.open {
        border-bottom: 1px solid variables-colours.$eu-jade;
        height: 38px;
      }

      .grid-header {
        padding: 0.25em 12px 0.25em 12px;
      }
    }

    // implementation-specific icon overrides (user datasets)

    .drop-in-tick::after {
      background-image: svg-icons-metis.svg-url-icon-tick(variables-colours.$eu-jade);
    }

    .drop-in-cross::after {
      background-image: svg-icons-metis.svg-url-icon-cross(variables-colours.$eu-jade);
    }

    .drop-in-spinner::after {
      background-image: svg-icons-metis.svg-url-icon-spin(variables-colours.$eu-jade);
    }

    &.error {
      .drop-in-tick::after {
        background-image: svg-icons-metis.svg-url-icon-tick(variables-colours.$eu-red-error);
      }

      .drop-in-cross::after {
        background-image: svg-icons-metis.svg-url-icon-cross(variables-colours.$eu-red-error);
      }

      .drop-in-spinner::after {
        background-image: svg-icons-metis.svg-url-icon-spin(variables-colours.$eu-red-error);
      }

      .flag-orb::after {
        background-blend-mode: luminosity;
        background-color: variables-colours.$eu-red-error;
      }
    }
  }
}
