@use 'shared-styles/assets/sass/scss/generic/variables-colours';

@mixin pop-out {
  .pop-out {
    &.open .pop-out-content {
      transition: border-top 1s linear;
    }

    &.open,
    &:hover {
      .pop-out-opener {
        background-color: variables-colours.$eu-light-jade-classic;
        border: 1px solid variables-colours.$grey-3;
        border-right-color: variables-colours.$grey-3;
      }
    }
  }

  .wrapper-track {
    padding: 0.5em;
  }

  // Overrides
  .wrapper-track,
  .problem-viewer-wrapper {
    .pop-out {
      &.open {
        .pop-out-content {
          border-top: 1px solid variables-colours.$grey-3;
        }
      }
      &.open,
      &:hover {
        .pop-out-opener {
          border-right-color: variables-colours.$grey-3;
        }
      }
      &.open,
      &.hovered-state {
        .pop-out-content {
          background: variables-colours.$eu-light-jade-classic;
          transition: background-color 0s, border-top 0.4s;
        }
      }
    }
  }
}
