<ul *ngIf="pagesAndRanges().pages.length > 0" class="paginator">
  @let activeIndex = activePageIndex();
  <li>
    <a
      class="previous"
      data-e2e="grid-page-prev"
      (click)="callSetPage($event, activeIndex - 1)"
      (keydown.enter)="callSetPage($event, activeIndex - 1)"
      [attr.disabled]="!canPrev() ? 'disabled' : null"
      [attr.tabindex]="!canPrev() ? -1 : 0"
    ></a>
  </li>

  <li class="range" *ngIf="pagesAndRanges().ranges[activeIndex]; let activeRange">
    {{ activeRange[0] }}
    <ng-container *ngIf="activeRange[0] !== activeRange[1]"> - {{ activeRange[1] }} </ng-container>
    <span>of</span> {{ totalRows() }}
  </li>

  <li>
    <a
      class="next"
      data-e2e="grid-page-next"
      (click)="callSetPage($event, activeIndex + 1)"
      (keydown.enter)="callSetPage($event, activeIndex + 1)"
      [attr.disabled]="!canNext() ? 'disabled' : null"
      [attr.tabindex]="!canNext() ? -1 : 0"
    ></a>
  </li>
</ul>
