@import 'shared-styles/assets/sass/scss/generic/variables';
@import './connections';
@import './home';
@import './layout';
@import './links';
@import './pop-out';
@import './report';
@import './step-problems';
@import './step-track';

input,
select {
  border: 1px solid $eu-grey-middle;
  border-radius: 6px;
  box-shadow: unset;
  padding: 12px;
}

.file-upload input:active + .pseudo-button {
  border: 1px solid $eu-orange;
}

label {
  text-transform: uppercase;
}

.submit-button .icon {
  height: 2.7rem;
  width: 2.7rem;
}

.cross::after {
  background-image: svg-url-icon-cross($gray-med);
}

.tick::after {
  background-image: svg-url-icon-tick($gray-med);
}

.open-info {
  background: svg-url-icon-info($gray-med) center / 14px no-repeat;
}
