@import 'shared-styles/assets/sass/scss/generic/variables';
@import './connections';
@import './home';
@import './layout';
@import './links';
@import './pop-out';
@import './report';
@import './step-problems';
@import './step-track';

input,
select {
  border: 1px solid $eu-grey-middle;
  border-radius: 6px;
  box-shadow: unset;
  padding: 12px;
}

.file-upload input:active + .pseudo-button {
  border: 1px solid $eu-orange;
}

.submit-button .icon {
  height: 2.7rem;
  width: 2.7rem;
}

.submit-upload {
  margin: 37px 0 0 auto;
}

.cross::after {
  background-image: svg-url-icon-cross($gray-med);
}

.tick::after {
  background-image: svg-url-icon-tick($gray-med);
}

.open-info {
  background: svg-url-icon-info($gray-med) center / 14px no-repeat;
}

.tier-data-grid .summary-value {
  color: $white;
  background-color: $grey-3;
}

.tier-data-grid {
  .line-left {
    border-color: $eu-grey-middle;
  }
  .summary-value {
    color: $white;
    background-color: #aaa;
  }
  .summary-value-title .summary-value {
    color: $grey-3;
  }
}

.tier-grid-navigation-controls {
  $color-footer: #aaa;
  color: $color-footer;
  .paginator {
    .next,
    .previous {
      &[disabled]::after {
        color: $color-footer;
      }
    }
  }
}

.theme-white-hidden {
  display: none;
}
