@use 'shared-styles/assets/sass/scss/generic/variables-colours';

$width: 12px;

.connect {
  position: relative;
  &::after {
    border-left: 1px solid variables-colours.$eu-grey-middle;
    content: '';
    display: block;
    height: 44px;
    left: -$width;
    position: absolute;
    width: $width;
  }
  &.bottom::after {
    border-bottom: 1px solid variables-colours.$eu-grey-middle;
    bottom: 16px;
  }
  &.top::after {
    border-top: 1px solid variables-colours.$eu-grey-middle;
    top: 16px;
  }
  &.error {
    input {
      border: 1px solid red;
    }
    &::after {
      border-left: 1px solid red;
    }
    &.bottom::after {
      border-bottom: 1px solid red;
    }
    &.top::after {
      border-top: 1px solid red;
    }
  }
}
