@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.debias-display .spinner {
  background-image: svg-icons-metis.svg-url-icon-spin(variables-colours.$gray-med);
}

.debias-display:not(:has(:active)):hover .debias-opener {
  color: variables-colours.$gray-light;
}

.debias-link {
  &.disabled::before {
    background-image: svg-icons-metis.svg-url-icon-eye(variables-colours.$gray-light);
  }

  &::after {
    background-image: svg-icons-metis.svg-url-debias(variables-colours.$gray-med);
  }
  &:hover {
    &::after {
      background-image: svg-icons-metis.svg-url-debias(variables-colours.$gray-light);
    }
  }

  &:active::after {
    background-image: svg-icons-metis.svg-url-debias(variables-colours.$eu-green-light);
  }
}

.external-link-debias {
  color: variables-colours.$gray-light;

  &::after {
    background-image: svg-icons-metis.svg-url-icon-external(variables-colours.$gray-light);
  }
  &:hover {
    color: variables-colours.$gray-med;
    &::after {
      background-image: svg-icons-metis.svg-url-icon-external(variables-colours.$gray-med);
    }
  }
  &:active,
  &:focus-visible {
    color: variables-colours.$eu-green-light;
    &::after {
      background-image: svg-icons-metis.svg-url-icon-external(variables-colours.$eu-green-light);
    }
  }
}

// cleaner select of element that's stretched by grid
.debias-detection-grid > .external-link-debias:focus-visible {
  outline-color: transparent;
  &::before {
    color: variables-colours.$eu-green-light;
    outline: 1px solid variables-colours.$eu-orange;
  }
}
