@use 'shared-styles/assets/sass/scss/generic/variables-colours';

a {
  color: variables-colours.$gray-med;

  &.link-internal {
    font-weight: bold;
  }
  &:hover {
    color: variables-colours.$gray-light;
  }
  &:active {
    color: variables-colours.$eu-green-light;
  }
  &:focus-visible {
    outline: 1px solid variables-colours.$eu-orange;
  }
}

.external-link {
  &::after {
    background-image: svg-url-icon-external(variables-colours.$gray-med);
  }

  &:hover::after,
  &:focus-visible:hover::after {
    background-image: svg-url-icon-external(variables-colours.$gray-light);
  }

  &:focus-visible,
  &:active,
  &:active:hover {
    color: variables-colours.$eu-green-light;
    &::after {
      background-image: svg-url-icon-external(variables-colours.$eu-green-light);
    }
  }

  &.pending {
    color: variables-colours.$eu-jade-disabled;
    &::after,
    &:hover::after {
      background-image: svg-url-icon-spin(variables-colours.$eu-jade-disabled);
    }
    &:hover {
      color: variables-colours.$eu-jade-disabled;
    }
  }
}

.external-link-left {
  color: variables-colours.$gray-med;
  &::before {
    background-image: svg-url-icon-external(variables-colours.$gray-med);
  }
  &:hover {
    color: variables-colours.$gray-light;
    &::before {
      background-image: svg-url-icon-external(variables-colours.$gray-light);
    }
  }
  &:active,
  &:active:hover {
    color: variables-colours.$eu-green-light;
    &::before {
      background-image: svg-url-icon-external(variables-colours.$eu-green-light);
    }
  }
}

.inputs .external-link {
  &::after {
    background-image: svg-url-icon-external(variables-colours.$eu-green-light);
  }
  &:active,
  &:focus-visible,
  &:focus-visible:hover,
  &:hover {
    &::after {
      background-image: svg-url-icon-external(variables-colours.$eu-light-orange);
    }
  }
}

.link-pdf-export {
  &::after {
    background-image: svg-url-icon-download(variables-colours.$gray-med);
  }
  &:hover::after {
    background-image: svg-url-icon-download(variables-colours.$gray-light);
  }
  &:active,
  &:active:hover {
    &::after {
      background-image: svg-url-icon-download(variables-colours.$eu-green-light);
    }
  }
}

.pdf .link-pdf-export {
  color: variables-colours.$eu-jade;
  &::after {
    background-image: svg-url-icon-download(variables-colours.$eu-green-light);
  }
}
