@import 'shared-styles/assets/sass/scss/generic/variables-colours';

.pop-out {
  &.open,
  &:hover,
  &.hovered-state {
    .pop-out-content {
      background-color: $white;
    }
    .pop-out-opener {
      background-color: $white;
      border: 1px solid $eu-grey-middle;
    }
  }
  .pop-out-content {
    background: transparent;
  }
}

// Overrides
.problem-viewer-wrapper,
.wrapper-track {
  .pop-out.open {
    .pop-out-content {
      border-top: 1px solid $eu-grey-middle;
    }
    .pop-out-opener {
      border-right-color: $eu-grey-middle;
    }
  }
}

.wrapper-track .pop-out {
  &.open .pop-out-content {
    border-bottom: 2px solid $eu-grey-middle;
  }
  &.open,
  &:hover,
  &.hovered-state {
    .pop-out-opener {
      border-right-color: $eu-grey-middle;
    }
  }
}
