@import 'shared-styles/assets/sass/scss/generic/variables';

.limited-list.boxed {
  border: 1px solid $eu-grey-middle;
}

.report-description,
.report-grid,
.report-header,
.report-sub-header {
  color: $gray-med;
}

.separator-line {
  background: $eu-grey-middle;
}
