@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use '../../mixins/pop-out';

.dataset-info {
  color: variables-colours.$gray-med;
  .warning-icon::before {
    background: svg-url-icon-warning(variables-colours.$eu-yellow) center no-repeat;
  }
  .error-icon::before {
    background: svg-url-icon-warning(variables-colours.$eu-red-error) center no-repeat;
  }
}

.warning-view-content {
  background: variables-colours.$white;
}

.warning-view-list li::before {
  color: variables-colours.$gray-med;
}

.wrapper-track {
  overflow: visible;
  .pop-out {
    @include pop-out.pop-up(80%, 1.5em);
  }
  .pop-out {
    transform: translate(0, -2.4em);
  }
}
