@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@use '../../mixins/pop-out';

.problem-viewer {
  border: 1px solid variables-colours.$eu-grey-middle;
}

.problem-viewer-wrapper .pop-out {
  @include pop-out.pop-up(25.5em, -1, 180deg);
  &.open {
    right: 1px;
  }
}

.skip-arrows {
  background-color: variables-colours.$white;
  border-bottom: 1px solid variables-colours.$eu-grey-middle;
  border-left: 1px solid variables-colours.$eu-grey-middle;
  border-right: 1px solid variables-colours.$eu-grey-middle;

  .skip-arrow {
    color: variables-colours.$gray-lighter;
    &.enabled {
      color: variables-colours.$gray-med;
    }
    &:hover {
      color: variables-colours.$gray-light;
    }
    &:active {
      color: variables-colours.$eu-jade;
    }
  }
}

// connector lines
@media (min-width: variables-bp.$bp-large) {
  $colour-connect-lines: variables-colours.$eu-grey-middle;

  .link-related {
    &::after {
      border-left: 1px solid $colour-connect-lines;
      color: $colour-connect-lines;
    }

    &::before {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$gray-med);
    }

    &:hover::before {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$eu-jade-dark);
    }

    &:active:hover::before {
      background-image: svg-icons-metis.svg-url-icon-lightbulb(variables-colours.$eu-light-orange);
    }
  }

  .openable-list {
    .link-related::after {
      border-left: 1px solid $colour-connect-lines;
    }
    :last-child .link-related::after {
      border-bottom: 1px solid $colour-connect-lines;
    }
  }

  .list-opener:not(.fmt-compact).is-open::before {
    border-left: 1px solid $colour-connect-lines;
  }
}
