@import 'shared-styles/assets/sass/scss/generic/variables-bp';
@import 'shared-styles/assets/sass/scss/generic/variables-colours';
@import '../../mixins/pop-out';

.problem-viewer {
  border: 1px solid $eu-grey-middle;
}

.problem-viewer-wrapper .pop-out {
  @include pop-up(25.5em, -1, 180deg);
  &.open {
    right: 1px;
  }
}

.skip-arrows {
  background-color: $white;
  border-bottom: 1px solid $eu-grey-middle;
  border-left: 1px solid $eu-grey-middle;
  border-right: 1px solid $eu-grey-middle;

  .skip-arrow {
    color: $gray-lighter;
    &.enabled {
      color: $gray-med;
    }
    &:hover {
      color: $gray-light;
    }
    &:active {
      color: $eu-jade;
    }
  }
}

// connector lines
@media (min-width: $bp-large) {
  $colour-connect-lines: $eu-grey-middle;

  .link-related::after {
    border-left: 1px solid $colour-connect-lines;
    color: $colour-connect-lines;
  }

  .link-related::before {
    background-image: svg-url-icon-lightbulb($gray-med);
  }

  &:hover::before {
    background-image: svg-url-icon-lightbulb($eu-jade-dark);
  }
  &:active:hover::before {
    background-image: svg-url-icon-lightbulb($eu-light-orange);
  }

  .openable-list {
    .link-related::after {
      border-left: 1px solid $colour-connect-lines;
    }
    :last-child .link-related::after {
      border-bottom: 1px solid $colour-connect-lines;
    }
  }

  .list-opener:not(.fmt-compact).is-open::before {
    border-left: 1px solid $colour-connect-lines;
  }
}
