@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

a {
  align-items: center;
  color: $gray-med;
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  width: auto;

  &:hover {
    background: $offwhite;
    border-radius: $border-radius;
  }

  span {
    display: inline-block;
    line-height: 1.36;
    padding-left: 0.5rem;
  }
}
