@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.btn-right {
  display: block;
  float: right;
  color: $white;
  text-transform: uppercase;
  margin: 0.2rem 1rem;
}

.fail-message-separator {
  border-bottom: 1px solid $gray-almost-lightest;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}
