@import 'shared-styles/assets/sass/scss/generic/variables';

.content {
  line-height: 1.3em;
  position: absolute;
}

.show-on-hover {
  align-items: center;
  height: 100%;

  .form-group {
    label {
      color: $gray-lighter;
    }
    flex-direction: row-reverse;
    padding-top: 0;
    width: 100%;
  }
}
