@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$width-orb: 3em;

.button-placeholder {
  &:empty {
    display: none;
  }
}

.highlighted {
  box-shadow: inset 3px 0 0 0 variables-colours.$eu-jade;
}

.orb-status {
  cursor: pointer;
  margin: 0;

  &.labelled.link_checking::after {
    background-image: none;
    content: 'Lc';
  }
}

.stripey {
  background-color: variables-colours.$grey-1;
}

.table-btn,
.table-grid {
  color: variables-colours.$gray-light;
}

.table-button {
  grid-column: 1/6;
}

.table-btn {
  align-items: center;
  margin-left: auto;
  width: 8em;
  &:hover {
    color: variables-colours.$eu-jade;
    .svg-icon-report::before {
      background-image: svg-icons-metis.svg-url-icon-report-filled(variables-colours.$eu-jade);
    }
    .xml-icon {
      background: svg-icons-metis.svg-url-icon-xml(variables-colours.$eu-jade) center no-repeat;
    }
  }
}

.table-grid-row-start {
  width: $width-orb;
  .orb-status {
    cursor: default;
  }
}

.time:not(.br) {
  margin-right: 0;
  text-align: center;
  &::after {
    width: 100%;
  }
}

.totals {
  align-self: center;
  display: flex;
  float: right;
  position: relative;
  width: calc(100% - #{$width-orb});
}

@media all and (min-width: variables-bp.$bp-med) {
  .button-placeholder {
    white-space: nowrap;
    &:empty {
      display: flex;
    }
  }

  .head-prefix {
    display: inline-block;
  }

  .table-btn {
    margin-left: 0;
    width: auto;
  }

  .table-grid-row-start {
    width: auto;
  }

  .totals {
    float: none;
    width: auto;
  }
}

.status,
.svg-icon {
  margin: 0 0.7em;
}

.xml-icon {
  background: svg-url-icon-xml(variables-colours.$near-black) center no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  width: 16px;
}

.pill-xsl {
  background-image: svg-url-icon-xml(variables-colours.$eu-jade);
}

.svg-icon-report {
  display: flex;
  padding-left: 0;
  margin-right: 6px;

  &::before {
    height: 16px;
    position: static;
    width: 16px;
  }
}
