@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@import 'shared-styles/assets/sass/pandora/settings/metis-variables';

$width-orb: 3em;

.pill-harvest {
  background-position: 2px center;
  background-repeat: no-repeat;
  background-size: 14px;

  border: 1px solid $eu-jade;
  border-radius: 10px;
  color: $eu-jade;

  display: inline-block;
  height: 18px;
  line-height: 16px;

  margin-left: 4px;
  padding-left: 20px;
  padding-right: 4px;

  white-space: nowrap;

  &.errors {
    color: $eu-red;
    background-image: svg-url-icon-warning($eu-red);
    background-position: 4px center;
    background-size: 14px 12px;
    border-color: $eu-red;
  }

  &.full {
    background-image: svg-url-icon-harvest-full($eu-jade);
  }

  &.incremental {
    background-image: svg-url-icon-harvest-incremental($eu-jade);
  }
}

.button-placeholder {
  &:empty {
    display: none;
  }
}

.highlighted {
  box-shadow: inset 3px 0 0 0 $eu-jade;
}

.orb-status {
  cursor: pointer;
  margin: 0;

  &.labelled.link_checking::after {
    background-image: none;
    content: 'Lc';
  }
}

.stripey {
  background-color: $grey-1;
}

.table-btn,
.table-grid {
  color: $gray-light;
}

.table-button {
  grid-column: 1/6;
}

.table-btn {
  align-items: center;
  margin-left: auto;
  width: 8em;
  &:hover {
    color: $eu-jade;

    .svg-icon-report::before {
      background-image: svg-url-icon-report-filled('#{$eu-jade}');
    }
    .xml-icon {
      background: svg-url-icon-xml('#{$eu-jade}') center no-repeat;
    }
  }
}

.table-grid-row-start {
  width: $width-orb;
}

.time:not(.br) {
  margin-right: 0;
  text-align: center;
  &::after {
    width: 100%;
  }
}

.totals {
  align-self: center;
  display: flex;
  float: right;
  position: relative;
  width: calc(100% - #{$width-orb});
}

@media all and (min-width: $bp-med) {
  .button-placeholder {
    white-space: nowrap;
    &:empty {
      display: flex;
    }
  }

  .head-prefix {
    display: inline-block;
  }

  .table-btn {
    margin-left: 0;
    width: auto;
  }

  .table-grid-row-start {
    width: auto;
  }

  .totals {
    float: none;
    width: auto;
  }
}

.status,
.svg-icon {
  margin: 0 0.7em;
}

.xml-icon {
  background: svg-url-icon-xml('#{$near-black}') center no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  width: 16px;
}

.svg-icon-report {
  display: flex;
  padding-left: 0;
  margin-right: 6px;

  &::before {
    height: 16px;
    position: static;
    width: 16px;
  }
}
