<div *ngIf="showing" class="cookie-policy">
  <h2 class="page-title" data-e2e="cookie-policy">
    Cookie Policy
  </h2>

  <p>
    This cookies policy applies to the Europeana website
    <code>https://metis-sandbox.europeana.eu</code>.
  </p>

  <p>
    Cookies are text files placed on your computer to collect standard Internet log information and
    visitor behavior information. When you visit our websites, we may collect information from you
    through cookies or similar technology.
  </p>

  <p>
    This Policy describes why and how we use cookies on our websites europeana.eu and to
    pro.europeana.eu, the types of cookies we rely on, the specific cookies we use, and their
    duration and function.
  </p>

  <p>
    When navigating our websites, you can change your cookies settings using the cookie banner or
    your browser settings.
  </p>

  <h2>Why do we use cookies?</h2>

  <p>
    Europeana uses cookies in a range of ways to improve your experience on our websites, including
    keeping you signed in, remembering your navigation preferences, understanding how you use our
    website and facilitating a safe navigation.
  </p>

  <h2>What types of cookies do we use?</h2>

  <p>
    This site uses functionality cookies, analytics cookies and feedback cookies. The sections below
    list the cookies we use by type, clarifying their purpose, their provider, their duration and
    the website in which we use them.
  </p>

  <h3>Functionality cookies</h3>

  <p>
    Europeana uses these cookies so that we recognize you on our website and remember your
    previously selected preferences. In particular, we use:
  </p>

  <ng-template #gridHeaders>
    <span class="grid-header"> Purpose </span>
    <span class="grid-header"> Provider </span>
    <span class="grid-header"> Cookie Name </span>
    <span class="grid-header"> Duration </span>
  </ng-template>

  <div class="grid">
    <ng-content *ngTemplateOutlet="gridHeaders"></ng-content>
    <span> Remembers which cookies the user consents to </span>
    <span> Europeana </span>
    <code> eu_cm </code>
    <span> Persistent </span>
  </div>

  <h3>Analytics and Feedback</h3>

  <p>
    Europeana relies on these services to better understand how visitors interact with websites by
    tracking user flows and engagement and collecting and reporting information anonymously. In
    particular, we use:
  </p>

  <div class="grid">
    <ng-content *ngTemplateOutlet="gridHeaders"></ng-content>
    <span>
      Used to store a few details about the user such as the unique visitor ID.
    </span>
    <span> Matomo </span>
    <code> _pk_id </code>
    <span> 13 months </span>

    <span>
      Used to store the attribution information, the referrer initially used to visit the website.
    </span>
    <span> Matomo </span>
    <code> _pk_ref </code>
    <span> 6 months </span>

    <span>
      Short-lived cookies used to temporarily store data for the visit.
    </span>
    <span> Matomo </span>
    <ul>
      <li>
        <code> _pk_ses </code>
      </li>
      <li>
        <code> _pk_cvar </code>
      </li>
      <li>
        <code> _pk_hsr </code>
      </li>
    </ul>
    <span> 30 minutes </span>

    <span> Used to check whether the visitor’s browser supports cookies. </span>
    <span> Matomo </span>
    <code> _pk_testcookie </code>
    <span> is created and should be then directly deleted </span>

    <span> Remembers that consent was given (or removed) by the user. </span>
    <span> Matomo </span>
    <ul>
      <li>
        <code> mtm_consent </code>
      </li>
      <li>
        <code> mtm_consent_removed </code>
      </li>
    </ul>
    <span> 15 days </span>
  </div>
</div>
