@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$eu-jade-slightly-dark: #1ea072;

.creation-date {
  align-items: center;
  display: flex;
  &.warning-icon {
    position: relative;
    &::before {
      content: '';
      height: 12px;
      width: 13px;
      background: svg-url-icon-warning($eu-jade-dark) center no-repeat;
      margin: 0 3px 0 2px;
    }
  }
}
.progress-title {
  color: $eu-jade-dark;
  display: flex;

  .title-id {
    font-weight: normal;
    margin-left: auto;
    padding-left: 0.5em;
    word-break: break-all;
  }
  .title-name {
    word-break: break-all;
  }
}

.container-h,
.progress-grid > .container-h {
  display: flex;
  flex-direction: row;
}

.data-summary {
  display: flex;
  justify-content: space-between;
}

.dataset-errors {
  color: $eu-red;
}

.full-grid-width {
  grid-column: 1 / 5;
}

.portal-links {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.wrapper {
  background-color: $white;
  margin-bottom: 1em;
  padding: 0.5em;
}

.orb-spinner {
  background-image: svg-url-icon-spin('#{$gray-light}');
  opacity: 0;
  transition: 0.5s ease-in-out opacity;
  &.showing {
    opacity: 1;
  }
}

.progress-grid {
  > .row-start {
    align-items: center;
    display: flex;
    width: 100%;
  }

  > * {
    display: inline-block;
  }

  .step-fail,
  .step-progress {
    margin-left: 2em;
  }

  .step-progress {
    text-align: right;
  }

  .link-label {
    display: none;
  }
  .orb-status {
    font-size: 0.7em;
  }

  .grid-cell-errors {
    float: right;
    margin-top: 1em;

    text-align: right;
    white-space: nowrap;

    .open-error-detail {
      color: $eu-jade-classic;
      position: relative;
      &::before {
        background-image: svg-url-icon-report('#{$eu-jade-classic}');
        background-repeat: no-repeat;
        content: '';
        top: 4px;
        left: -20px;
        height: 15px;
        position: absolute;
        width: 16px;
      }
      &:hover {
        color: $eu-jade-slightly-dark;
        &::before {
          background-image: svg-url-icon-report('#{$eu-jade-slightly-dark}');
        }
      }
    }
  }

  @media (min-width: $bp-med) {
    > * {
      display: inline;
      width: auto;
    }

    .link-label {
      display: inline-block;
    }

    .grid-cell-errors {
      float: none;
      margin-top: 0;
    }

    display: grid;
    column-gap: 1.75em;
    grid-template-columns: minmax(12em, 4fr) auto auto minmax(6em, 22fr);
    padding-left: 0.325em;
  }
}

.running {
  @keyframes borderPulse {
    0% {
      border: 1px solid #fff;
    }
    50% {
      border: 1px solid $eu-jade-classic;
    }
    100% {
      border: 1px solid #fff;
    }
  }
  color: $eu-jade-classic;
  animation: borderPulse 2000ms infinite;
}
.success {
  background: $eu-jade-classic;
}
.fail {
  background: $eu-red;
}
.warn {
  background: $eu-yellow;
}

.warn-detail {
  margin-left: 2em;
}

.warn-detail,
.warn-limit {
  color: $eu-jade-classic;
}

.warn-limit {
  display: flex;
  margin-left: 1em;

  &:hover {
    color: $eu-jade-slightly-dark;
  }
  &.warning-icon {
    cursor: pointer;
    &::before {
      content: '';
      background: svg-url-icon-warning($eu-yellow) center no-repeat;
      display: inline-block;
      width: 14px;
      height: 25px;
      margin-right: 3px;
    }
  }
}

.xsl-icon {
  background: svg-url-icon-xml('#{$eu-jade-dark}') center no-repeat;
  display: block;
  height: 26px;
  margin-right: 3px;
  width: 16px;
}

.step-label {
  color: $gray-light;
  margin-left: 0.2em;
  white-space: nowrap;
}
