@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$eu-jade-slightly-dark: #1ea072;

.code {
  margin-top: 0.5em;
}

.progress-grid > .container-h {
  display: flex;
  flex-direction: row;
}

.data-summary {
  display: flex;
  justify-content: space-between;
}

.dataset-errors {
  color: $eu-red;
}

.full-grid-width {
  grid-column: 1 / 5;
}

.portal-links {
  margin-left: 2em;
  position: relative;
  right: 1em;
}

.error-item {
  &:not(:first-child) {
    padding-top: 16px;
  }

  &:not(:last-child)::after {
    background: $eu-jade-classic;
    content: '';
    display: block;
    height: 1px;
    margin: auto;
    margin-top: 16px;
    opacity: 0.5;
    width: 100%;
  }
}

.sticky-item-header {
  background: #fff;
  padding-bottom: 4px;
  position: sticky;
  top: -1rem;
  z-index: 1;
}

.wrapper {
  background-color: $white;
  margin-bottom: 1em;
  overflow-x: hidden;
  padding: 0.5em;
  position: relative;
}

.orb-spinner {
  background-image: svg-url-icon-spin('#{$gray-light}');
  opacity: 0;
  transition: 0.5s ease-in-out opacity;
  &.showing {
    opacity: 1;
  }
}

.progress-grid {
  > .row-start {
    align-items: center;
    display: flex;
    width: 100%;
  }

  > * {
    display: inline-block;
  }

  .step-fail,
  .step-progress {
    margin-left: 2em;
  }

  .step-progress {
    text-align: right;
  }

  .link-label {
    display: none;
  }
  .orb-status {
    font-size: 0.7em;
  }

  .grid-cell-errors {
    float: right;
    margin-top: 1em;
    text-align: right;
    white-space: nowrap;

    &.adjusted-for-warning-openers {
      margin-right: 5em;
    }

    .open-error-detail {
      color: $eu-jade-classic;
      position: relative;
      &::before {
        background-image: svg-url-icon-report('#{$eu-jade-classic}');
        background-repeat: no-repeat;
        content: '';
        top: 4px;
        left: -20px;
        height: 15px;
        position: absolute;
        width: 16px;
      }
      &:hover {
        color: $eu-jade-slightly-dark;
        &::before {
          background-image: svg-url-icon-report('#{$eu-jade-slightly-dark}');
        }
      }
    }
  }

  @media (min-width: $bp-med) {
    > * {
      display: inline;
      width: auto;
    }

    .link-label {
      display: inline-block;
    }

    .grid-cell-errors {
      float: none;
      margin-top: 0;
    }

    display: grid;
    column-gap: 1.75em;
    grid-template-columns: minmax(12em, 4fr) auto auto minmax(6em, 22fr);
    padding-left: 0.325em;
  }
}

.running {
  @keyframes borderPulse {
    0% {
      border: 1px solid #fff;
    }
    50% {
      border: 1px solid $eu-jade-classic;
    }
    100% {
      border: 1px solid #fff;
    }
  }
  color: $eu-jade-classic;
  animation: borderPulse 2000ms infinite;
}
.success {
  background: $eu-jade-classic;
}
.fail {
  background: $eu-red;
}
.warn {
  background: $eu-yellow;
}

.warn-detail {
  margin-left: 2em;
}

.warn-detail,
.warn-limit {
  color: $eu-jade-classic;
}

.warn-limit {
  display: flex;
  margin-left: 1em;

  &:hover {
    color: $eu-jade-slightly-dark;
  }
  &.warning-icon {
    cursor: pointer;
    &::before {
      content: '';
      background: svg-url-icon-warning($eu-yellow) center no-repeat;
      display: inline-block;
      width: 14px;
      height: 25px;
      margin-right: 3px;
    }
  }
}

.step-label {
  color: $gray-light;
  margin-left: 0.2em;
  white-space: nowrap;
}

.sb-navigation-orbs {
  align-self: flex-start;
  background: $eu-light-jade-classic;
  border: 1px solid $grey-3;
  border-radius: 1.5em 0 0 1.5em;
  border-right: 1px dotted $grey-3;
  padding: 0.5em;
}

.warning-view {
  $slide-out-duration: 0.4s;
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  max-height: calc(100% - 1.5em);
  max-width: 80%;
  position: absolute;
  right: 0;
  top: 1.5em;
  transition: clip-path $slide-out-duration ease-in-out, right $slide-out-duration ease-in-out;
  &.closed {
    right: calc(-80% + 4em);
    clip-path: polygon(0 0, 4em 0, 4em 100%, 0% 100%);
  }
  &:not(.closed) .warning-animated::before {
    // re-play the inherited animation
    animation-play-state: running;
  }
}

.warning-view-content {
  background: $eu-light-jade-classic;
  border-right: 1px dotted $grey-3;
  border-top: 1px solid $grey-3;
  border-bottom: 1px dotted $grey-3;
  display: flex;
  flex-direction: column;
  padding: 0.75em 1em 0.75em 1em;
  width: 40em;

  .warning-animated {
    font-weight: bold;
    &::before {
      bottom: -3px;
      cursor: default;
      left: 0;
      position: relative;
      width: 18px;
      height: 18px;
      margin-right: 7px;
    }
  }
}

.warning-view-header {
  color: $eu-jade-dark;
  display: block;
  font-size: 14px;
  margin: 0.25em 0 0.75em 0;
}

.warning-view-list {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  max-height: 100%;
  overflow-y: auto;
  padding-left: 1em;
  word-break: break-all;

  // apply custom bullets
  li {
    display: flex;
    justify-content: flex-start;
    &::before {
      content: '\2022';
      color: $eu-jade-dark;
      display: inline-block;
      flex-basis: 0;
      font-weight: bold;
      margin-left: -6px;
      margin-right: 15px;
      width: 0.85em;
    }
  }
}

.warning-view-title {
  display: inline-block;
}
