<div
  class="form-group"
  [ngClass]="{ hidden: !showing }"
  *ngIf="progressData['dataset-info']; let info"
>
  <ul class="header-info container-h">
    <!-- left col -->
    <li>
      <ul>
        <li class="container-h">
          <h2 class="progress-title" title="({{ progressData.status }})" i18n="progress title">
            <span class="title-name" [ngClass]="{ tick: isComplete() }">{{
              info['dataset-name']
            }}</span>
          </h2>
        </li>
        <li class="container-h" *ngIf="info['transformed-to-edm-external']">
          <span class="xsl-icon"></span>
          <span>xsl-transformed</span>
        </li>
        <li
          data-e2e="creation-date"
          class="creation-date"
          [title]="
            progressData['dataset-info']['record-limit-exceeded']
              ? 'Some records not processed'
              : ''
          "
          [ngClass]="{ 'warning-icon': progressData['dataset-info']['record-limit-exceeded'] }"
        >
          <lib-modal
            id="{{ modalIdIncompleteData }}"
            title="Data Incomplete Warning"
            [isSmall]="false"
            [buttons]="[{ label: 'Close' }]"
          >
            <p>Some records may not have been processed.</p>
            <p>If the dataset is too large then the remainder of the records is ignored</p>
          </lib-modal>
          <a
            *ngIf="
              progressData['dataset-info']['record-limit-exceeded'];
              else conditionalWrapWarnLink
            "
            (click)="showIncompleteDataWarning()"
          >
            <ng-container *ngTemplateOutlet="conditionalWrapWarnLink"></ng-container>
          </a>
          <ng-template #conditionalWrapWarnLink
            ><span>{{
              formatDate(
                progressData['dataset-info']['creation-date'],
                'dd/MM/yyyy, HH:mm:ss',
                'en-GB'
              )
            }}</span></ng-template
          >
        </li>
        <li data-e2e="country-language">{{ info.country }} / {{ info.language }}</li>
      </ul>
    </li>

    <!-- right col -->
    <li class="align-right">
      <ul>
        <li>
          <h2 class="title-id">{{ datasetId }}</h2>
        </li>

        <li *ngIf="progressData['error-type']" class="align-left">
          <span class="preview-unavailable">
            <a (click)="showProcessingErrors()">Preview Unavailable</a>
          </span>

          <lib-modal
            id="{{ modalIdProcessingErrors }}"
            title="Processing Error Detail"
            [isSmall]="false"
            [buttons]="[{ label: 'Close' }]"
          >
            {{ progressData['error-type'] }}
          </lib-modal>
        </li>

        <li *ngIf="!progressData['error-type']" class="portal-links">
          <ng-template #labelRefPublish
            ><span i18n="progress link link@@progressLinkPublish"
              >view published records</span
            ></ng-template
          >
          <sb-copyable-link-item
            [href]="progressData['portal-publish']"
            [labelRef]="labelRefPublish"
          ></sb-copyable-link-item>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="wrapper" *ngIf="progressData" [ngClass]="{ hidden: !showing }">
  <div>
    <span
      *ngFor="let item of progressData['progress-by-step']"
      class="orb-status labelled {{ getLabelClass(item.step) }} {{ getStatusClass(item) }}"
    ></span>
    <span class="orb-status labelled orb-spinner" [ngClass]="{ showing: isLoading }"></span>
  </div>

  <lib-modal
    id="{{ modalIdErrors }}"
    title="Error Detail - {{
      progressData['progress-by-step'][detailIndex]
        ? (progressData['progress-by-step'][detailIndex].step | renameStep)
        : ''
    }}"
    [isSmall]="false"
    [buttons]="[{ label: 'Close' }]"
  >
    <div *ngIf="progressData['progress-by-step'][detailIndex]; let detailItem">
      <ul class="error-item" *ngFor="let error of detailItem.errors; let i = index">
        <li class="bold sticky-item-header">
          Error {{ i + 1 }} of {{ detailItem.errors.length }}
          <a appTextCopy #textCopy="textCopy" (click)="textCopy.copy(formatError(error))">
            <span class="copy permanent" [ngClass]="{ copied: textCopy.copied }">
              <span class="msg-copy">(copy)</span><span class="msg-copied">copied!</span>
            </span>
          </a>
        </li>
        <li i18n="progress error error@@progressErrorType">Type: {{ error.type }}</li>
        <li i18n="progress error error@@progressErrorRecords">
          Records: [{{ error.records }}]
          <ul class="code">
            <li>{{ error.message }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </lib-modal>
  <div class="progress-grid">
    <ng-container *ngFor="let item of progressData['progress-by-step']; let i = index">
      <span class="row-start">
        <span class="orb-status {{ getLabelClass(item.step) }} {{ getStatusClass(item) }}"></span>
        <ng-template #stepLabel>
          <span class="step-label">{{ item.step | renameStep }}</span>
        </ng-template>
        <span class="step-label" *ngIf="item.step === 'import'; else stepLabel">harvest</span>
      </span>
      <span class="step-progress"> {{ item.success + item.warn }} / {{ item.total }} </span>
      <span class="step-fail container-h">
        <a
          *ngIf="item.errors && item.errors.length > 0; else conditionalWrap"
          class="link-internal"
          (click)="showErrorsForStep(i)"
        >
          <ng-container *ngTemplateOutlet="conditionalWrap"></ng-container>
        </a>
        <ng-template #conditionalWrap
          ><span *ngIf="item.fail" class="dataset-errors">{{ item.fail }}</span></ng-template
        >
      </span>
      <span
        class="grid-cell-errors"
        [ngClass]="{
          'adjusted-for-warning-openers': progressData['tier-zero-info']
        }"
      >
        <a
          (click)="showErrorsForStep(i)"
          class="open-error-detail link-internal"
          *ngIf="item.errors"
          ><span
            class="link-label"
            i18n="detail link|opens modal with the selected error@@progressOpenDetailLinkText"
            >view {item.errors.length, plural, =1 { detail } other { details } } ({{
              item.errors.length
            }})</span
          ></a
        >
      </span>

      <span
        class="full-grid-width"
        *ngIf="i === 0 && progressData['dataset-info']['record-limit-exceeded']"
        data-e2e="warn-limit-reached"
      >
        <a
          class="warning-icon warn-limit"
          (click)="toggleExpandedWarning()"
          title="If the dataset is too large then the remainder of the records is ignored"
          >Some records not processed</a
        >
        <span class="warn-detail" *ngIf="expandedWarning"
          >If the dataset is too large then the remainder of the records is ignored</span
        >
      </span>
    </ng-container>
  </div>
  <ng-container *ngIf="progressData['tier-zero-info']; let tierInfo">
    <div
      class="warning-view"
      *ngIf="
        (tierInfo['content-tier'] && tierInfo['content-tier'].total) ||
        (tierInfo['metadata-tier'] && tierInfo['metadata-tier'].total)
      "
      [ngClass]="{
        closed: !warningViewOpen
      }"
    >
      <sb-navigation-orbs
        libClickAware
        [ignoreClasses]="['link-internal', 'nav-orb', 'warning-view-content']"
        [clickAwareIgnoreWhen]="!showing"
        (clickOutside)="closeWarningView()"
        ariaLabel="Tier Zero Warnings Navigation"
        class="sb-navigation-orbs vertical zero-warning"
        [count]="getOrbConfigCount()"
        [fnClassMapInner]="getOrbConfigInner.bind(this)"
        [fnClassMapOuter]="getOrbConfigOuter.bind(this)"
        [tooltips]="[
          'content-tier-zero records found (click to see samples)',
          'metadata-tier-zero records found (click to see samples)'
        ]"
        (clickEvent)="setWarningView($event)"
      ></sb-navigation-orbs>
      <div
        class="warning-view-content"
        libClickAware
        [ignoreClasses]="['link-internal', 'nav-orb', 'sb-navigation-orbs']"
        [clickAwareIgnoreWhen]="!showing"
        (clickOutside)="closeWarningView()"
      >
        <ng-template #warningViewHeader let-list="list" let-label="label" let-total="total">
          <span class="warning-view-header">
            This dataset contains
            {{ total | i18nPlural: { '=1': 'one record that was', other: '# records that were' } }}
            awarded {{ label }}
            {{
              total | i18nPlural: { '=1': '0:', other: '0. Here follows a sample list of records:' }
            }}
          </span>
        </ng-template>
        <ng-container *ngIf="tierInfo['content-tier']; let contentTier">
          <div *ngIf="warningDisplayedTier === DisplayedTier.CONTENT">
            <a (click)="closeWarningView()" class="warning-animated warning-view-title"
              >Content Tier Zero ({{ contentTier.total }})</a
            >
            <ng-content
              *ngTemplateOutlet="
                warningViewHeader;
                context: {
                  list: contentTier.samples,
                  label: 'content tier',
                  total: contentTier.total
                }
              "
            ></ng-content>
          </div>
        </ng-container>
        <ng-container *ngIf="tierInfo['metadata-tier']; let metadataTier">
          <div *ngIf="warningDisplayedTier === DisplayedTier.METADATA">
            <a (click)="closeWarningView()" class="warning-animated warning-view-title"
              >Metadata Tier Zero ({{ metadataTier.total }})</a
            >
            <ng-content
              *ngTemplateOutlet="
                warningViewHeader;
                context: {
                  list: metadataTier.samples,
                  label: 'metadata tier',
                  total: metadataTier.total
                }
              "
            ></ng-content>
          </div>
        </ng-container>
        <ul *ngIf="warningDisplayedTier === DisplayedTier.CONTENT" class="warning-view-list">
          <li *ngFor="let recId of tierInfo['content-tier'].samples">
            <a
              class="view-record-report"
              (click)="reportLinkClicked($event, recId, false)"
              href="/dataset/{{ datasetId }}?recordId={{ recId }}"
              title="view record report"
              >{{ recId }}</a
            >
          </li>
        </ul>
        <ul *ngIf="warningDisplayedTier === DisplayedTier.METADATA" class="warning-view-list">
          <li *ngFor="let recId of tierInfo['metadata-tier'].samples">
            <a
              class="view-record-report"
              (click)="reportLinkClicked($event, recId, true)"
              href="/dataset/{{ datasetId }}?recordId={{ recId }}"
              title="view record report"
              >{{ recId }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
