@use '../../scss/generic/mixins';
@use '../../scss/generic/variables-colours';

.banner {
  @include mixins.fontSize(18px);
  background-color: variables-colours.$white;
  color: variables-colours.$black;
  padding: 1.6rem;
  padding-top: 3.2rem;
}
