@use '../../scss/generic/variables-colours';

.filter-cell {
  align-items: center;
  color: variables-colours.$black;
  display: flex;
  height: 2.5em;
  text-transform: capitalize;
  white-space: nowrap;
}
