@use '../../scss/generic/variables-bp';
@use '../../scss/generic/variables-colours';
@use '../settings/metis-variables-layout';

.header-wrapper header {
  height: metis-variables-layout.$fixed-header-height-mobile;
  min-height: auto;

  @media all and (min-width: variables-bp.$bp-small-3) {
    height: metis-variables-layout.$fixed-header-height;

    .header-container {
      height: metis-variables-layout.$fixed-header-height;
    }
  }

  .header-container {
    align-items: center;
    border-top-style: solid;
    border-top-width: 5px;
    display: flex;
    justify-content: space-between;
  }

  .header-container,
  .logo {
    position: relative;
  }
}
