.metis-dataset-info-block {
  background-color: $white;
  margin-bottom: 2rem;
  padding: 0 1.125rem;

  h5 {
    color: $eu-jade;
    font-weight: bold;
    margin-bottom: 0;
    padding: 1rem 0;
  }

  .dataset-btns {
    .btns-set {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
