@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';
@import '../../scss/generic/variables-colours';
@import '../settings/metis-variables-colours';

$orb-size: 24px;
$orb-size-half: 12px;
$orb-size-small: 1em;
$orb-size-small-half: 0.75em;

.orb-status {
  border-color: $white;
  border-radius: $orb-size-small-half;
  border-style: solid;
  border-width: 1px;
  color: $white;
  display: inline-block;
  height: $orb-size-small;
  margin: 0.2em 0.3em 0.2em 0;
  min-width: $orb-size-small;
  position: relative;
  text-align: left;
  width: $orb-size-small;

  &.status-inqueue {
    background: $color-status-inqueue;
    color: $near-black;
  }
  &.status-cancelled {
    background: $color-status-cancelled;
    color: $near-black;
  }
  &.status-cleaning {
    background: $color-status-cleaning;
  }
  &.status-identifying_deleted_records {
    background: $color-status-identifying-deleted-records;
    color: $near-black;
  }
  &.status-failed {
    background: $color-status-failed;
  }
  &.status-finished {
    background: $color-status-finished;
  }
  &.status-pending {
    background: $color-status-pending;
  }
  &.status-running {
    background: $color-status-running;
    color: $near-black;
  }
  &.status-warning {
    background: $color-status-warning;
  }

  &.labelled {
    border-radius: $orb-size-half;
    height: $orb-size;
    min-width: $orb-size;
    width: $orb-size;

    &:after {
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    &.depublish_dataset:after {
      content: 'Dd';
    }

    &.depublish_records:after {
      content: 'Dr';
    }

    &.harvest:after {
      content: 'H';
    }
    &.http_harvest:after {
      content: 'Hh';
    }
    &.oaipmh_harvest:after {
      content: 'Ho';
    }
    &.transformation:after {
      content: 'T';
    }
    &.transformation_edm:after {
      content: 'Te';
    }
    &.link_checking:after {
      background-image: svg-url-icon-link-checking(#fff);
      content: ' ';
    }
    &.depublish:after {
      content: 'Dp';
    }
    &.enrichment:after {
      content: 'E';
    }
    &.media_process:after {
      content: 'M';
    }
    &.validation_external:after {
      content: 'Ve';
    }
    &.validation_internal:after {
      content: 'Vi';
    }
    &.normalization:after {
      content: 'N';
    }
    &.pending:after {
      content: 'Pe';
    }
    &.preview:after {
      content: 'Pr';
    }
    &.publish:after {
      content: 'Pu';
    }
    &.reindex_to_preview:after {
      content: 'Xr';
    }
    &.reindex_to_publish:after {
      content: 'Xu';
    }
  }
}

.labelled-orb .orb-status {
  margin-right: 0.75em;
}
