$heightExpanded: 60vh;
$heightNormal: 40vh;

.cm-string {
  padding: 5px 0;

  &.link-active {
    background-color: rgba(180, 220, 200, 0.3);
    text-decoration: underline;
    cursor: pointer;
  }
}

codemirror {
  width: 100%;
}

.CodeMirror {
  height: auto;
  text-align: left;
  width: 100%;
}

// Editor ctrl

.editor-ctrl {
  $ctrl-width: 2em;
  background-color: $white;
  border-radius: 50%;
  color: $eu-jade;
  cursor: pointer;
  display: block;
  height: $ctrl-width;
  min-width: $ctrl-width;
  position: relative;
  text-transform: capitalize;
  width: $ctrl-width;

  &::before {
    bottom: 0;
    content: '···';
    display: block;
    font-size: 2em;
    left: 0;
    letter-spacing: -2px;
    line-height: 100%;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 0px;
  }
  &:hover::before {
    font-weight: 600;
  }
}

.title-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.toggle-expand {
  &::before {
    content: '·';
    letter-spacing: normal;
    line-height: 100%;
    right: 0;
  }
  &:hover::before {
    color: $eu-jade;
    font-weight: bold;
  }
}

.view-sample {
  display: flex;
  flex-direction: column;

  .btns-set {
    margin-bottom: 2rem;
  }

  .step-display {
    background: $eu-green-light;
    display: flex;
    padding: 0.5rem 1rem;
    span {
      width: 50%;
      & + span {
        margin-left: 2.4rem;
      }
    }
    width: 100%;
  }

  .view-sample-title {
    align-items: center;
    background-color: $eu-jade;
    color: $white;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    width: 100%;

    h3 {
      flex-grow: 1;
      font-weight: normal;
      margin-bottom: 0;
      padding: 1rem;
      word-break: break-all;
    }

    .smaller {
      font-size: $font-size-slightly-smaller;
    }

    .toggle-editor-ctrl {
      margin-right: 1rem;
    }
  }

  .view-sample-editor {
    background: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &.view-statistics {
    .view-sample-editor > div,
    .view-sample-editor > .stats-listing {
      border-bottom: 1px solid $offwhite;
      box-sizing: border-box;
      height: $heightNormal;
      overflow: auto;
      padding: 1rem;
      text-align: left;
      width: 100%;
    }
  }

  &.view-statistics.view-sample-expanded {
    .view-sample-editor > div,
    .view-sample-editor > .stats-listing {
      height: $heightExpanded;
    }
  }

  .view-sample-editor-codemirror {
    border-bottom: 1px solid $gray-lightest;
    box-sizing: border-box;
    height: 20vh;
    overflow: auto;
    width: 100%;
  }
}

.view-sample-expanded {
  .view-sample-editor-codemirror {
    height: $heightExpanded;
  }
}

.view-sample-compared,
.view-sample-transformed {
  .view-sample-editor-codemirror {
    position: relative;
    width: 49.7%;
  }
}

.view-sample-transformed {
  margin-bottom: 2em;
  button {
    background: $eu-jade;
    border: 1px solid $eu-jade;
    font-size: $font-size-slightly-smaller;
    margin: 0.5rem 1rem 0.5rem 0.5rem;

    &:hover,
    &.active {
      background: $white;
      color: $eu-jade;
    }

    &:active,
    &:focus {
      background: $eu-jade;
      color: $white;
    }
  }
}

// Search Editor

.view-sample.search-editor .app-search {
  @include fontSize(19px);
  padding: 0.625rem 1rem;
  transition: width 1s;
  width: calc(100% - 40px);
  &.pre-init {
    width: 0;
  }
}

.view-sample.no-sample .theme-midnight .view-sample-editor,
.view-sample .theme-midnight .view-sample-editor-codemirror {
  // colour taken from CodeMirror
  $midnight: #0f192a;
  background-color: $midnight;
  scrollbar-color: $eu-jade $midnight;
}

.search-editor {
  $input-padding-left: 0.65rem;
  transition: margin-bottom 0.5s;

  &.search-error {
    margin-bottom: 3em;
  }

  .error {
    color: red;
    margin: 0 1.6em -1.6em;
  }

  .search {
    $search-dimension: 36px;
    $search-space: 0.625rem;

    height: $search-dimension;
    margin-left: $search-space;
    margin-right: -0.3em;
    min-width: $search-dimension;
    position: relative;
    transition: border-radius 0.5s;
    width: $search-dimension;

    &::before {
      content: '';
      display: block;
      height: 2em;
      left: -$search-space;
      position: absolute;
      width: $search-space;
    }
  }

  .search-form {
    flex-direction: row-reverse;
    justify-content: flex-start;
    right: 0;
  }

  .search-label {
    display: block;
    letter-spacing: 0;
    overflow: hidden;
    padding-bottom: 0;
    width: 100%;
  }

  .search-string {
    margin-left: -$input-padding-left;
    margin-right: 0;
  }

  &:not(.result-found) {
    &:not(.search-error) {
      margin-bottom: 1em;
    }

    .app-editor-drop-down {
      visibility: hidden;
    }

    .btns-set {
      display: none;
    }

    .search-label {
      overflow: hidden;
      transition: width 0.5s;
      width: 0;
      white-space: nowrap;
    }

    .search-string {
      // if there's no result... we should remain at full width
      border: 1px solid #777;
      padding: 0.2em $input-padding-left;
      transition: width 0.5s;
      width: 100%;
    }

    .view-sample-title {
      background: transparent;
      color: $eu-jade;
    }
  }

  // if there is a result then the width is dynamic
  &.result-found {
    .search {
      border-radius: 50%;
    }

    .search-string {
      border: 0;
      padding: 0;
      transition: none;
      width: 0;
    }

    // expand input...
    .search-string:focus,
    .search-string:hover,
    .search:hover ~ .search-string {
      border: 1px solid #777;
      padding: 0.2em $input-padding-left;
      transition: width 0.5s;
      width: 100%;
    }

    // ...contract label
    .search-string:focus,
    .search-string:hover,
    .search:hover {
      & ~ .search-label {
        overflow: hidden;
        transition: width 0.5s;
        width: 0;
        white-space: nowrap;
      }
    }
  }

  .view-sample-title {
    transition: background 0.5s;
  }
}
