$heightExpanded: 60vh;
$heightNormal: 40vh;

.cm-string {
  padding: 5px 0;

  &.link-active {
    background-color: rgba(180, 220, 200, 0.3);
    text-decoration: underline;
    cursor: pointer;
  }
}

codemirror {
  width: 100%;
}

.CodeMirror {
  height: auto;
  text-align: left;
  width: 100%;
}

.title-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.toggle-expand {
  $toggle-ctrl-width: 2em;
  background: $white;
  border-radius: 1em;
  color: green;
  display: block;
  height: $toggle-ctrl-width;
  min-width: $toggle-ctrl-width;
  pointer: cursor;
  position: relative;
  text-align: center;
  width: $toggle-ctrl-width;

  &::before {
    content: '.';
    display: block;
    font-size: 2em;
    font-weight: bold;
    left: 0;
    line-height: 0.5em;
    position: absolute;
    right: 0;
    text-align: center;
  }
}

.view-sample {
  display: flex;
  flex-direction: column;

  .step-display {
    background: $eu-jade-light;
    display: flex;
    padding: 0.5rem 1rem;
    span {
      width: 50%;
      & + span {
        margin-left: 2.4rem;
      }
    }
    width: 100%;
  }

  .view-sample-title {
    align-items: center;
    background-color: $eu-jade;
    color: $white;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    width: 100%;

    h3 {
      flex-grow: 1;
      font-weight: normal;
      margin-bottom: 0;
      padding: 1rem;
      word-break: break-all;
    }

    .smaller {
      font-size: $font-size-slightly-smaller;
    }

    .toggle-editor-ctrl {
      margin-right: 1rem;
    }
  }

  .view-sample-editor {
    background: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &.view-statistics {
    .view-sample-editor > div,
    .view-sample-editor > .stats-listing {
      border-bottom: 1px solid $offwhite;
      box-sizing: border-box;
      height: $heightNormal;
      overflow: auto;
      padding: 1rem;
      text-align: left;
      width: 100%;
    }
  }

  &.view-statistics.view-sample-expanded {
    .view-sample-editor > div,
    .view-sample-editor > .stats-listing {
      height: $heightExpanded;
    }
  }

  .view-sample-editor-codemirror {
    border-bottom: 1px solid $gray-lightest;
    box-sizing: border-box;
    height: 20vh;
    overflow: auto;
    width: 100%;
  }
}

.view-sample-expanded {
  .view-sample-editor-codemirror {
    height: $heightExpanded;
  }
}

.view-sample-compared,
.view-sample-transformed {
  .view-sample-editor-codemirror {
    position: relative;
    width: 49.7%;
  }
}

.view-sample-transformed {
  margin-bottom: 2em;
  button {
    background: $eu-jade;
    border: 1px solid $eu-jade;
    font-size: $font-size-slightly-smaller;
    margin: 0.5rem 1rem 0.5rem 0.5rem;

    &:hover,
    &.active {
      background: $white;
      color: $eu-jade;
    }

    &:active,
    &:focus {
      background: $eu-jade;
      color: $white;
    }
  }
}
