<div
  #elRefDropIn
  class="drop-in"
  libClickAware
  (clickOutside)="clickOutside()"
  [ignoreClasses]="['drop-in-source', 'drop-in-opener', 'btn-drop-in-expand']"
  (keyup.esc)="escape($event)"
  [ngClass]="{
    'view-suggest': viewMode() === 0,
    'view-pinned': viewMode() === 1,
    active: visible()
  }"
>
  <ng-container *ngIf="visible()">
    <div [ngClass]="{ open: viewMode() === ViewMode.PINNED }" class="tools">
      <span
        *ngFor="let conf of headerConf | keyvalue: headerConfUnsorted"
        class="grid-header"
        [ngClass]="{
          'sort-asc': sortField === conf.key && sortDirection === 1,
          'sort-desc': sortField === conf.key && sortDirection === -1
        }"
        ><a
          class="grid-header-link"
          tabindex="0"
          (keydown.enter)="sortModelData(conf.key)"
          (click)="sortModelData(conf.key)"
          >{{ conf.value }}</a
        ></span
      >
    </div>

    <span
      class="btn-drop-in-expand-wrapper"
      [ngClass]="{ hidden: viewMode() !== ViewMode.SUGGEST }"
    >
      <a
        (click)="toggleViewMode()"
        (keydown.enter)="toggleViewMode()"
        class="btn-drop-in-expand"
        title="open list view"
        tabindex="0"
        >+</a
      >
    </span>
  </ng-container>

  <div
    *ngIf="visible()"
    class="item-list"
    #scrollInfo="scrollInfo"
    appIsScrollable
    tabindex="-1"
    [ngClass]="{
      'scrollable-downwards': scrollInfo.canScrollFwd,
      'scrollable-upwards': scrollInfo.canScrollBack
    }"
  >
    <div class="item-list-inner">
      <ng-container *ngFor="let item of dropInModel(); let i = index">
        <a
          #identifier
          (focus)="inert.set(false)"
          [attr.tabindex]="i > 0 && inert() ? -1 : 0"
          class="item-identifier"
          (keyup.shift.enter)="toggleViewMode(identifier, $event)"
          (keydown.enter)="submit(item.id.value)"
          (click)="submit(item.id.value, true)"
        >
          {{ item.id.value }}
        </a>
        <span class="item-detail-wrapper">
          <span
            class="item-detail"
            (click)="toggleViewMode(identifier, $event)"
            onKeyPress="'SONAR_DISABLE'"
            #detail
            [ngStyle]="{
              transform:
                'translateY(' +
                getDetailOffsetY(i, scrollInfo.actualScroll(), detail, identifier) +
                'px)'
            }"
          >
            <!-- dynamic fields -->
            <ng-container *ngFor="let field of dynamicFields">
              <span
                class="detail-field {{ item[field].dropInClass ?? '' }}"
                [attr.title]="item[field].tooltip"
                [ngClass]="{ 'in-bubble': !!item[field].summaryInclude }"
              >
                @if(field === 'date'){
                {{ item[field].value | date: 'dd/MM/yyyy' }}
                } @else {
                {{ item[field].valueOverride ?? item[field].value }}
                }
              </span>
            </ng-container>
          </span>
        </span>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="visible()">
    <div [ngClass]="{ open: viewMode() === ViewMode.PINNED }" class="baseline"></div>
  </ng-container>
</div>
