@use 'shared-styles/assets/sass/scss/generic/variables-colours';

$max-items-in-view-suggest: 8;
$max-items-in-view-pinned: 12;

$edgeColorSuggest: variables-colours.$eu-grey-middle;
$edgeColorBubble: variables-colours.$eu-grey-dark;
$backgroundColorDetail: lemonchiffon;
$padding-v: 0em;

$line-height-item: 1.5em;
$item-v-padding: 0.25em;

.drop-in {
  $container-side-padding: 2em;
  padding: $padding-v $container-side-padding $padding-v 0;
  transform: translateY(calc(-100% - 1.5em));
  width: calc(100% - $container-side-padding);
  z-index: 2;
  &.active {
    position: absolute;
  }

  display: grid;
  grid-template-columns: auto auto auto auto;
}

.item-list {
  line-height: $line-height-item;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  .item-list-inner {
    direction: ltr;
  }
}

.item-detail {
  background-color: $backgroundColorDetail;
  cursor: pointer;
}

.item-identifier {
  background: #fff;
  border-left: 1px solid $edgeColorSuggest;
  border-right: 1px solid $edgeColorSuggest;
  padding: $item-v-padding 12px;
  position: relative;

  &:focus,
  &:hover {
    font-weight: bold;
  }

  &:focus-visible {
    outline: 0;
  }
}

.tools,
.baseline {
  z-index: 1;

  &.open {
    color: #fff;
    position: relative;

    & > * {
      //background-color: variables-colours.$eu-jade-dark;
      padding: 0.25em 12px;
    }
  }

  &:not(.open) {
    grid-column: 1;
    margin-right: 1.5em;
  }
}

.tools:not(.open) {
  border-top: 1px solid $edgeColorSuggest;
  .grid-header {
    display: none;
  }
}

.tools {
  background-color: variables-colours.$eu-jade-dark;

  .grid-header {
    $adjust-for-focus: 3px;
    position: relative;

    a {
      color: #fff;
      cursor: pointer;
      border: 1px solid variables-colours.$eu-jade-dark;
      &:focus {
        outline: 1px solid #fff;
      }
    }
    &:not(:last-child) a:focus {
      margin-right: $adjust-for-focus;
    }

    &.sort-asc,
    &.sort-desc {
      &::after {
        content: '\2304';
        position: absolute;
        bottom: 6px;
      }
    }
    &.sort-asc::after {
      transform: rotate(180deg);
      bottom: -1px;
    }
    &:last-child {
      margin-left: auto;
      position: relative;
      &::after {
        left: 0;
        position: absolute;
      }
      a:focus {
        margin-left: $adjust-for-focus;
      }
    }
  }
}

.baseline {
  border-top: none !important;
  position: relative;

  &::after,
  &::before {
    bottom: 1em;
    position: absolute;
    font-size: 20px;
    z-index: 2;
    height: 10px;
    top: 0;
    display: block;
  }

  &::after {
    color: $edgeColorSuggest;
    left: 0.5em;
    line-height: 0.5;
    width: 12px;
    content: '>';
    transform: rotateZ(90deg) translateX(-1px);
    background: #fff;
  }
  &::before {
    content: '';
    border-top: 1px solid $edgeColorSuggest;
    width: 100%;
  }
}

.item-list-inner,
.item-list,
.tools,
.baseline {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 5;
}

.detail-field {
  &.name {
    font-weight: bold;
  }
}

.view-pinned {
  background-color: #fff;
  color: variables-colours.$eu-jade-dark;

  &.drop-low {
    top: 12em;
  }

  // put wrapped elements into the grid
  .item-detail-wrapper {
    display: contents;
  }

  .item-detail {
    border: 1px solid variables-colours.$offwhite;
    display: grid;
    grid-column: 2 / 5;
    grid-template-columns: subgrid;

    background-color: transparent;
  }

  .detail-field {
    padding: $item-v-padding 12px;
  }

  .detail-field:last-child {
    text-align: right;
  }

  .item-list {
    max-height: ($line-height-item + (2 * $item-v-padding)) * ($max-items-in-view-pinned);

    .item-identifier {
      color: variables-colours.$eu-jade-dark;
      grid-column: 1;

      // stripes
      &:nth-child(4n + 1) {
        background-color: variables-colours.$offwhite;
        & + .item-detail-wrapper > * {
          background-color: variables-colours.$offwhite;
        }
      }

      // highlight
      &:focus {
        background-color: $backgroundColorDetail !important;
        & + .item-detail-wrapper .item-detail {
          background-color: $backgroundColorDetail;
        }
      }
    }
  }

  .hide-when-pinned {
    display: none;
  }
}

.jump-to-pinned {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 40px;

  .jump-to-pinned-inner {
    background-color: $backgroundColorDetail;
    border-radius: 3px;
    border: 1px solid $edgeColorBubble;
    color: 1px solid $edgeColorBubble;

    font-size: 0.875em;
    font-weight: bold;
    margin-top: 2em;
    padding: 4px 8px;
    position: relative;

    &:focus {
      border-color: variables-colours.$eu-light-orange;
      color: variables-colours.$eu-light-orange;
      outline: 0;
    }

    &::before {
      content: '';
      left: 0;
      right: 0;
      top: -2em;
      position: absolute;
      height: 2em;
    }

    &::after {
      background-color: $backgroundColorDetail;
      content: '>';
      height: 6px;
      font-weight: normal;
      line-height: 0.5;
      position: absolute;
      transform: rotateZ(270deg) translate(8px, -60px);
      width: 12px;
      z-index: 1;
    }
  }
}

.view-suggest {
  .item-list-inner {
    grid-template-columns: 1fr 3fr;
  }

  .detail-field {
    display: block;
    position: relative;
  }

  .item-detail-wrapper {
    grid-column: 2;
    margin-right: 2px;
    position: relative;
    visibility: hidden;

    .item-detail {
      border: 1px solid $edgeColorBubble;
      border-radius: 3px;
      position: absolute;
      padding: 4px 8px;
    }
  }

  .item-identifier {
    margin-right: 6px;
    &::after {
      background: $backgroundColorDetail;
      color: $edgeColorBubble;
      height: 8px;
      position: absolute;
      right: -8px;
      line-height: 8px;
      font-size: 20px;
      font-weight: normal;
      z-index: 1;
    }
  }

  // apply the hover and focus states exclusively
  .item-list:not(:has(:focus)) .item-identifier:hover,
  .item-identifier:focus {
    &::after {
      content: '<';
    }
    & + .item-detail-wrapper {
      visibility: visible;
    }
  }

  // jump-to-pinned
  .item-identifier:has(+ :focus-within),
  .item-identifier.fake-focus {
    &::after {
      content: '<';
    }
    & + .item-detail-wrapper {
      visibility: visible;
      .jump-to-pinned {
        opacity: 1;
      }
    }
  }

  .item-list {
    // left-aligned scrollbar
    direction: rtl;
    max-height: $max-items-in-view-suggest * ($line-height-item + (2 * $item-v-padding));
    min-height: 3 * ($line-height-item + (2 * $item-v-padding));
  }
}

// frosted glass effect
.view-pinned,
.view-suggest:has(:hover, :focus) {
  &::after,
  &::before {
    content: '';
    width: 100vw;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: -100vh;
    position: absolute;
  }
  &::before {
    background: #fff;
    opacity: 0.5;
  }
  &::after {
    backdrop-filter: blur(2.5px);
  }
}
