@import '../../assets/sass/scss/generic/variables';

.metis-welcome-message {
  color: $black;
  font-size: 1.125rem;
  padding: 1rem;

  strong {
    font-size: 1.25rem;
  }
}

.general-info-table {
  th {
    color: #37B98B;
    font-weight: bold;
    font-size: 16px;
  }
  th,
  td {
    width: 50%;
    vertical-align: middle;
    font-size: 16px;
    padding: 10px;
    .fa {
      color: #37B98B;
    }
    .btns-set {
      margin-bottom: 0;
      .btn {
        font-size: 18px;
      }
    }
  }
  td:nth-child(2) {
    font-size: 18px;
  }
  tr:last-child td {
    padding: 0;
  }
}

th, td {
  vertical-align: middle;
}

.progress {

  td {
    padding: 5px;
    white-space: nowrap;
    font-size: 16px;
    vertical-align: middle;
    .name {
      font-weight: bold;
    }
    .status {
      margin-top: 10px;
      font-size: smaller;
    }
    .btns-set {
      margin: 0;
      padding: 0;
      .btn {
        padding: 10px;
        font-size: 14px;
      }
    }
  }

  td:nth-child(1) {
    padding-left: 10px;
    width: 10%;
  }

  td:nth-child(2) {
    width: 40%;
    .bar-info {
      font-size: 14px;
      margin-top: -20px;
      .float-left {
        float: left;
      }
      .float-right {
        float: right;
      }
    }
    .bar {
      background-color: #EBEBEB;
	    border-radius: 5px;
      .done {
        border-radius: 5px;
        background-color: #1A8AC7;
        height: 10px;
        width: 60%;
      }
    }
  }

  td:nth-child(3) {
    padding-left: 10px;
    font-size: 14px;
  }

  td:nth-child(4) {
    font-size: 14px;
  }
}

.btn {
  font-size: 14px;
}

.fa.red {
  color: #E91E63;
}

.fa.orange {
  color: #FFAB91;
}

.load-more {
  text-align: center;
  td {
    font-weight: bold;
    color: #37B98B;
    .fa {
      color: #9FACB3;
    }
  }
}
