@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

app-notification {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  width: 100%;
}

hr {
  background: $gray-lighter;
  border: 0;
  clear: both;
  height: 1px;
  margin: 0 1rem 1rem 1rem;
}

.star {
  padding-left: 0.5rem;
  color: $gray-lighter;
  cursor: pointer;
}

.star-active {
  color: $eu-jade;
}

.tabbed-content {
  flex-wrap: wrap;
  padding: 1rem;

  @media (min-width: $bp-xl) {
    display: flex;
  }
}

.unfit-to-publish {
  color: red;
  font-weight: bold;
  margin: 0 0 1em 0;
}
