@import '../../assets/sass/scss/generic/variables';

.progress {

  td {
    font-size: 1rem;
    padding: 5px;
    vertical-align: middle;
    white-space: nowrap;

    .name {
      font-weight: bold;
    }

    .status {
      font-size: 0.875rem;
      margin-top: 1rem;
    }

    .btns-set {
      margin: 0;
      padding: 0;

      .btn {
        font-size: 0.875rem;
        padding: 1rem;
      }

    }

  }

  td:nth-child(1) {
    padding-left: 10px;
    width: 10%;
  }

  td:nth-child(2) {
    width: 40%;

    .bar-info {
      font-size: 0.875rem;
      margin-top: -20px;

      .float-left {
        float: left;
      }

      .float-right {
        float: right;
      }

    }

    .bar {
      background-color: #ebebeb;
      border-radius: $base-border-radius;

      .done {
        background-color: $eu-blue;
        border-radius: $base-border-radius;
        height: 10px;
        width: 60%;
      }
    }

  }

  td:nth-child(3) {
    font-size: 0.875rem;
    padding-left: 1rem;
  }

  td:nth-child(4) {
    font-size: 0.875rem;
  }
}

.btn {
  border: 0;
  font-size: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.fa.red {
  color: #e91e63;
}

.fa.orange {
  color: #ffab91;
}

.load-more {
  text-align: center;

  td {
    color: #37b98b;
    font-weight: bold;

    .fa {
      color: #9facb3;
    }

  }
}
