@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

app-notification {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  width: 100%;
}

.collapse-block {
  padding-bottom: 0;

  .general-actionbar {
    width: 75%;
  }

  .collapse-toggle-block {
    width: 25%;
  }
}

hr {
  background: $gray-lighter;
  border: 0;
  clear: both;
  height: 1px;
  margin: $space 0;
}

.svg-icon-dataset {
  display: inline-block;
  top: 0.5rem;
  margin-right: 0.2rem;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  background: white;

  &::before {
    top: 8px;
  }
}
