@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

app-notification {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  width: 100%;
}

.dataset-name {
  display: flex;
  align-items: center;
}

hr {
  background: $gray-lighter;
  border: 0;
  clear: both;
  height: 1px;
  margin: 0 1rem 1rem 1rem;
}

.svg-icon-dataset {
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  background: white;

  &::before {
    top: 8px;
  }
}

.star {
  padding-left: 0.5rem;
  color: $gray-lighter;
  cursor: pointer;
}

.star-active {
  color: $eu-jade;
}
