<h3>
  {{ 'allexecutions' | translate }}<span *ngIf="isLoading" class="svg-icon-spin showing"></span>
</h3>
<div *ngIf="executionSummary" class="executions-grid">
  <span class="grid-header">
    Dataset Name
  </span>
  <span class="grid-header">
    Workflows
  </span>
  <span class="grid-header">
    Processed / Records
  </span>
  <span class="grid-header">
    Start Time
  </span>
  <span class="grid-header">
    End Time
  </span>
  <!--
  <span class="grid-header">
    Next Actions
  </span>
-->
  <ng-container *ngFor="let execution of executionSummary">
    <app-gridrow #wrapper [dsExecution]="execution"></app-gridrow>
    <ng-content *ngTemplateOutlet="wrapper.childComponentTemplate"></ng-content>
  </ng-container>
</div>
