@import '../../../assets/sass/scss/generic/variables';
@import '../../../assets/sass/pandora/settings/metis-variables';

.grid-top-header {
  display: flex;
  .svg-icon-spin {
    margin-left: 0.5em;
  }
}

.executions-grid {
  background: $white;
  color: $gray-light;
  font-size: 0.8125rem;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 1em 1em 0;

  @media (min-width: $bp-med) {
    display: grid;
    grid-column: main;
    grid-column-gap: 1.75em;
    grid-template-columns: [start] 1fr [sub-start] minmax(8em, 2fr) 1fr [sub-date-start] auto auto [sub-date-end] auto;
    grid-template-rows: auto;
  }
}

.grid-header {
  display: none;
  @media (min-width: $bp-med) {
    display: block;
    font-weight: bold;
    margin: 1em 0;
  }
}
