<h3 class="grid-top-header">
  {{ 'allexecutions' | translate }}<span *ngIf="isLoading" class="svg-icon-spin showing"></span>
</h3>
<div *ngIf="dsOverview" class="executions-grid">
  <span class="grid-header">
    {{ 'datasetname' | translate }}
  </span>
  <span class="grid-header">
    {{ 'workflows' | translate }}
  </span>
  <span class="grid-header">
    {{ 'processed-records' | translate }}
  </span>
  <span class="grid-header">
    {{ 'starttime' | translate }}
  </span>
  <span class="grid-header last-header">
    {{ 'endtime' | translate }}
  </span>
  <ng-container *ngFor="let execution of dsOverview; let i = index">
    <app-gridrow
      #wrapper
      [expanded]="i === selectedIndex"
      [index]="i"
      [dsExecution]="execution"
      (closeExpanded)="setSelectedIndex($event)"
    ></app-gridrow>
    <ng-content *ngTemplateOutlet="wrapper.childComponentTemplate"></ng-content>
  </ng-container>
</div>

<div class="grid-footer">
  <a class="load-more-btn" (click)="loadNextPage()" *ngIf="hasMore">{{ 'loadmore' | translate }}</a
  ><span class="svg-icon-spin" [class.showing]="isLoadingMore"></span>
</div>
