<footer class="footer v2" role="contentinfo">
  <div class="lc">
    <div class="grid">
      <div class="l-contact">
        <div class="l-mission">
          <h4 class="title">Our mission</h4>
          <p>We transform the world with culture! We want to build on Europe’s rich heritage and make it easier for people to use, whether for work, for learning or just for fun.</p>
        </div>
        <div class="linklist l-linklist">
            <div class="tools-links">
                <div class="inner">
                        <h4 class="title">Tools</h4>
                    <ul>
                            <li class="cf">
                                <a href="http://google.com" class="item-line">
                                        <div class="link-text">API Docs</div>
                                </a>
                            </li>
                            <li class="cf">
                                <a href="http://google.com" class="item-line">
                                        <div class="link-text">Status</div>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>

      <div class="l-content">
        <div class="l-sitemap cf grid l-linklist">
            <div class="margin-bottom">
              <h4 class="title">More info</h4>
              <ul>
                <li class="cf">
                  <a href="http://google.com" class="item-line">
                    <div class="link-text">About</div> 
                  </a>
                </li>
                <li class="cf">
                  <a href="http://google.com" class="item-line">
                    <div class="link-text">Development updates</div> 
                  </a>
                </li>
                <li class="cf">
                  <a href="http://google.com" class="item-line">
                    <div class="link-text">All institutions</div> 
                  </a>
                </li>
                <li class="cf">
                  <a href="http://google.com" class="item-line">
                    <div class="link-text">Become our partner</div> 
                  </a>
                </li>
                <li class="cf">
                  <a href="http://google.com" class="item-line">
                    <div class="link-text">Contact us</div> 
                  </a>
                </li>
              </ul>
            </div>
            <div class="linklist l-linklist">
              <div class="inner">
                <h4 class="title">Help</h4>
                <ul>
                  <li class="cf">
                    <a href="http://google.com" class="item-line">
                        <div class="link-text">Search tips</div> 
                    </a>
                  </li>
                  <li class="cf">
                    <a href="http://google.com" class="item-line">
                        <div class="link-text">Terms of Use &amp; Policies</div> 
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="grid">
          <div class="l-othersites">
          </div>
        </div>
      </div>
        <div class="l-nextsteps">
          <div class="signup">
          <h4 class="title">Sign up for our newsletter</h4>

          <form class="inline-form newsletter-form">
            <label for="mce-EMAIL" class="field-label"><span class="is-vishidden">Sign up for our newsletter: </span>email address</label>
            <div class="inline-container">
              <input type="email" name="EMAIL" value="" id="mce-EMAIL" class="newsletter-field" aria-required="true">
              <button class="newsletter-submit">
                <svg class="icon icon-check">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg>
                <span class="is-vishidden">Subscribe</span>
              </button>
            </div>

            <fieldset class="newsletter-options">
              <legend class="is-vishidden">Choose a language:</legend>

              <input type="radio" name="LANGUAGE" value="English" id="mce-LANGUAGE-0" checked="checked">
              <label for="mce-LANGUAGE-0">
                English
              </label>
              <input type="radio" name="LANGUAGE" value="French" id="mce-LANGUAGE-1">
              <label for="mce-LANGUAGE-1">
                Français
              </label>
             </fieldset>
          </form>
        </div>
       <div class="social-links">

         <h4 class="title">Find us elsewhere:</h4>

         <a class="icon-social" href="https://www.facebook.com/Europeana">
           <svg class="icon icon-facebook">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
           </svg>
           <span class="is-vishidden">Facebook</span>
         </a>

         <a class="icon-social" href="https://www.pinterest.com/europeana/">
           <svg class="icon icon-pinterest">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest"></use>
           </svg>
           <span class="is-vishidden">Pinterest</span>
         </a>

         <a href="https://twitter.com/europeanaeu" title="Twitter">
           <svg class="icon icon-twitter">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
           </svg>
           <span class="is-vishidden">Twitter</span>
         </a>

         <a class="icon-social" href="https://plus.google.com/+europeana">
           <svg class="icon icon-googleplus">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-googleplus"></use>
           </svg>
           <span class="is-vishidden">Google Plus</span>
         </a>
       </div>

       </div>
     </div>
   </div>

   <div class="sub-footer lc">
     <ul class="nav">
       <li><a href="./">Home</a></li><li><a href="http://europeana.eu/portal/rights/terms-and-policies.html">Terms of use &amp; policies</a></li><li><a href="./">Contact us</a></li><li><a href="./">Sitemap</a></li>
     </ul>
     <p class="copyright">Co-funded by the European Union.</p>
   </div>
</footer>