@import '../../assets/sass/scss/generic/variables';
@import '../../assets/sass/pandora/settings/metis-variables';

.notfound {
  margin: 0 auto;
  padding-top: 2rem;
  width: 25rem;

  .notfound-body {
    background-color: $offwhite;
    box-sizing: border-box;
    padding: 2rem 1.2rem;
    width: auto;
  }
}
