<div class="metis-register-form metis-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" #formDir="ngForm" novalidate autocomplete="off">
    <div class="form-header">
      <h2>{{ 'register' | translate }}</h2>
    </div>

    <div class="messages">
      <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="success-message" *ngIf="successMessage">{{successMessage}}</div>
    </div>

    <div class="form-fields">

      <fieldset class="form-group">
        <legend>{{ 'email' | translate }}</legend>
        <label for="email">{{ 'email' | translate }}:</label>
        <input id="email" formControlName="email" placeholder="your@email.com">
        <div class="messages" *ngIf="registerForm.controls['email'].touched && !registerForm.controls['email'].valid">
          <div class="error-message">{{ 'emailerror' | translate }}</div>
        </div>
      </fieldset>

       <fieldset class="form-group" formGroupName="passwords">
        <legend>{{ 'password' | translate }}</legend>
        <label for="password">{{ 'password' | translate }}:</label>
        <input id="password" type="password" formControlName="password" (keyup)="onKeyupPassword()" placeholder="{{ 'password' | translate }}">
        <app-password-check [passwordToCheck]="password"></app-password-check>
        <input id="confirm" type="password" formControlName="confirm" placeholder="Confirm password">
        <div class="messages" *ngIf="registerForm.controls['passwords'].get('confirm')!.touched && !registerForm.controls['passwords'].get('confirm')!.valid">
          <div class="error-message">{{ 'passwordmatcherror' | translate }}</div>
        </div>
      </fieldset>

      <div class="form-group form-group-btns">
        <button class="submit-btn" type="submit" [disabled]="!registerForm.valid || loading" [ngClass]="{'svg-icon-spin-inbutton': loading===true}">
          {{ 'submit' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
