<div class="metis-register-form metis-form">
  <form action="" method="post" role="form">
    <div class="form-header">
      <h2>Register to Metis</h2>
    </div>
    <div class="messages" *ngIf="messages">
        <div class="error-message"><i class="fa fa-times" aria-hidden="true"></i> User already exists</div>
    </div>
    <div class="form-fields">
      <fieldset class="form-group">
        <label for="firstName">Name *</label>
        <input id="firstName" autocomplete="off" name="firstName" placeholder="First">
        <input id="lastName" autocomplete="off" name="lastName" placeholder="Last">
      </fieldset>
      <fieldset class="form-group">
        <label for="email">Email *</label>
        <input id="email" autocomplete="off" type="email" name="email" placeholder="your@email">
      </fieldset>
      <fieldset class="form-group">
        <label for="password">New Password *</label>
        <input id="password" autocomplete="off" type="password" name="password" placeholder="Create your password">
      </fieldset>
      <div class="form-requirements-warning">
        <p>* needed for registration</p>
      </div>
      <div class="form-group form-group-btns">
        <button class="submit-btn" type="button" (click)="onSubmit()">Submit</button>
        <button class="reset-btn" type="button" (click)="onReset()">Reset</button>
      </div>
    </div>
  </form>
</div>