@import 'shared-styles/assets/sass/scss/generic/variables';
@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$wizard-border-radius: 1.5em;

.buttons {
  display: flex;
  margin-top: 1.25em;
  justify-content: space-between;

  align-content: center;
  .inline-text {
    align-self: center;
  }
}

.errors {
  font-weight: bold;
  margin-top: 0.75em;

  .error-detail {
    font-weight: normal;
    list-style: disc;
    margin-left: 1em;
  }
}

.field-errors {
  display: block;
  margin-top: 1em;
}

select {
  width: 100%;
}

.wizard {
  background-color: $eu-light-jade-classic;
  border: 1px solid $eu-jade-dark;
  border-radius: $wizard-border-radius;
  margin: 7rem auto 1.5rem auto;
  max-width: 50em;
  width: 80%;
}

.wizard-head {
  background: $eu-jade-classic;
  border-bottom: 1px solid $eu-jade-dark;
  border-radius: $wizard-border-radius $wizard-border-radius 0 0;
  color: $white;

  label {
    font-size: 1.5em;
    text-align: center;
    top: 0.75em;
    padding-bottom: 0;
    position: relative;
  }
}

.wizard-content {
  margin: 3em 2em 2em 2em;
  label {
    color: $eu-jade-dark;
    cursor: pointer;
  }
}

.wizard-section {
  display: none;
  &.active {
    display: block;
  }
}

.submit-id-ctrls {
  display: flex;
  button {
    flex-basis: 5.75em;
    margin-left: 0.5rem;
    text-shadow: none;
    white-space: nowrap;
  }
  input {
    min-width: 0;
  }
}
