@import 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

$wizard-border-radius: 1.5em;

.inline-texts {
  margin-top: 2em;
}

.field-wrapper + button {
  margin-left: 2em;
}

.wizard {
  background-color: $eu-light-jade-classic;
  border: 1px solid $eu-jade-dark;
  border-radius: $wizard-border-radius;
  margin: 7rem auto 1.5rem auto;
  max-width: 50em;
  width: 80%;
}

.wizard-head {
  background: $eu-jade-classic;
  border-bottom: 1px solid $eu-jade-dark;
  border-radius: $wizard-border-radius $wizard-border-radius 0 0;
  color: $white;

  .header-text {
    font-size: 1.5em;
    text-align: center;
    top: 0.75em;
    padding-bottom: 0;
    position: relative;
  }
}

.wizard-content {
  margin: 3em 2em 2em 2em;
  label {
    color: $eu-jade-dark;
    cursor: pointer;
    &.tick {
      white-space: nowrap;
    }
  }
}

.wizard-section {
  display: none;
  &.active {
    display: block;
  }
}

@media (min-width: $bp-med) {
  .grid {
    display: grid;
    grid-template-columns: minmax(40%, 3fr) auto auto;
    row-gap: 12px;

    & > .cell-button {
      align-self: flex-end;
      display: flex;
      margin-left: 2em;

      & + .cell-button {
        align-self: flex-end;
        display: flex;
        margin-left: 1em;
      }
    }

    & > .cell-errors {
      grid-column: 1/4;
    }
  }
}
