<div class="wizard">
  <div
    class="wizard-head"
    [ngClass]="{ 'orbs-hidden': orbsHidden, 'orb-square': getOrbsAreSquare() }"
  >
    <ng-container *ngFor="let stepConf of wizardConf; let i = index" [ngSwitch]="stepConf.stepType">
      <label *ngIf="currentStepIndex === i">
        <ng-container *ngSwitchCase="EnumWizardStepType.SET_NAME">
          Enter a Dataset Name
        </ng-container>
        <ng-container *ngSwitchCase="EnumWizardStepType.SET_LANG_LOCATION">
          Enter the Details
        </ng-container>
        <ng-container *ngSwitchCase="EnumWizardStepType.PROGRESS_TRACK">
          Track Data Processing
        </ng-container>
        <ng-container *ngSwitchCase="EnumWizardStepType.PROTOCOL_SELECT">
          Configure the Data Source
        </ng-container>
      </label>
    </ng-container>

    <ul class="wizard-status">
      <li
        *ngFor="let stepConf of wizardConf; let i = index"
        [ngClass]="{ 'progress-orb': stepConf.stepType === EnumWizardStepType.PROGRESS_TRACK }"
      >
        <a
          (click)="setStep(i)"
          [ngClass]="{
            'is-set': stepIsComplete(i),
            active: currentStepIndex === i,
            'svg-icon-spin-inbutton': isBusy
          }"
          class="orb-status labelled"
          [attr.data-label]="i + 1"
        ></a>
      </li>
    </ul>
  </div>
  <div class="wizard-content">
    <div
      *ngFor="let stepConf of wizardConf; let i = index"
      [ngClass]="{ hidden: i !== currentStepIndex }"
    >
      <ng-container
        *ngFor="let field of stepConf.fields"
        [ngSwitch]="field.type"
        [formGroup]="getFormGroup(stepConf)"
      >
        <div class="form-group" *ngSwitchCase="'select'">
          <label *ngIf="field.label" for="{{ field.name }}">{{ field.label }}</label>
          <select id="{{ field.name }}" [formControlName]="field.name">
            <option
              *ngFor="let option of field.options"
              [ngValue]="option.code ? option.code : option"
              >{{ option.name ? option.name : option }}</option
            >
          </select>
        </div>

        <div class="form-group" *ngSwitchCase="'text'">
          <label *ngIf="field.label" for="{{ field.name }}">{{ field.label }}</label>
          <input id="{{ field.name }}" [formControlName]="field.name" />
        </div>
      </ng-container>

      <ng-container *ngIf="stepConf.stepType === EnumWizardStepType.PROTOCOL_SELECT">
        <lib-protocol-field-set
          [formGroup]="getFormGroup(stepConf)"
          [protocolForm]="formUpload"
          [protocolSwitchField]="'uploadProtocol'"
          visibleProtocols="[EnumProtocolType.ZIP_UPLOAD, EnumProtocolType.HTTP_HARVEST, EnumProtocolType.OAIPMH_HARVEST]"
          disabledProtocols="[EnumProtocolType.HTTP_HARVEST EnumProtocolType.OAIPMH_HARVEST]"
          [fileFormName]="fileFormName"
        >
        </lib-protocol-field-set>
      </ng-container>

      <ng-container *ngIf="stepConf.stepType === EnumWizardStepType.PROGRESS_TRACK">
        <form [formGroup]="formProgress" (ngSubmit)="onSubmitProgress()">
          <sb-progress-tracker
            *ngIf="progressData"
            [progressData]="progressData"
            [datasetId]="trackDatasetId"
          ></sb-progress-tracker>

          <div class="form-group">
            <label>Enter the id of the dataset to track </label>
            <div class="submit-track-id">
              <input formControlName="idToTrack" data-e2e="idToTrack" />
              <button
                type="submit"
                [disabled]="!formProgress.value.idToTrack"
                data-e2e="submitProgress"
              >
                track id
              </button>
            </div>
          </div>
        </form>
      </ng-container>
    </div>

    <form class="buttons" [formGroup]="formUpload" (ngSubmit)="onSubmitDataset()">
      <ng-container *ngIf="getIsProgressTrack(currentStepIndex)">
        <label class="inline-text"
          >Or <a (click)="setStep(0)" data-e2e="link-dataset-form">create a new dataset</a></label
        >
      </ng-container>
      <button
        [ngClass]="{
          hidden: orbsHidden || (getIsProgressTrack(currentStepIndex) && !formUpload.valid)
        }"
        [disabled]="!formUpload.valid"
        data-e2e="submit-upload"
        type="submit"
      >
        Upload
      </button>

      <div [ngClass]="{ hidden: orbsHidden }">
        <button
          class="orb-status labelled previous"
          [ngClass]="{ hidden: currentStepIndex < 1 }"
          (click)="setStep(currentStepIndex - 1)"
        ></button>
        <button
          class="orb-status labelled next"
          [ngClass]="{ hidden: currentStepIndex >= wizardConf.length - 1 }"
          (click)="setStep(currentStepIndex + 1)"
        ></button>
      </div>
    </form>
    <div *ngIf="error" class="errors">
      {{ error.statusText }}
      <ul class="error-detail">
        <li>{{ error.message }}</li>
      </ul>
    </div>
  </div>
</div>
