@use 'shared-styles/assets/sass/scss/generic/variables-bp';
@use 'shared-styles/assets/sass/scss/generic/variables-colours';
@use 'shared-styles/assets/sass/scss/iconography/svg-icons-metis';

.br::after {
  content: '\a';
  white-space: pre;
}

.inline-texts {
  margin-top: 2em;
}

.field-wrapper {
  position: relative;

  & + button {
    margin-left: 2em;
  }

  .drop-in-opener,
  .external-link {
    display: none;
    position: absolute;
    right: 2em;
    top: 0;

    &::after {
      top: 0;
    }
  }

  &:focus-within {
    input {
      padding-right: 2.5em;
    }
    .drop-in-opener,
    .external-link {
      display: flex;
    }
  }
}

.drop-in-opener {
  &::after {
    background-image: svg-icons-metis.svg-url-icon-hamburger(variables-colours.$gray-med);
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    right: -1.35em;
  }
}

.sandbox-navigation {
  margin: 4.8rem auto 8rem auto;
  max-width: 50em;
  min-width: 22rem;
  overflow: hidden;
  width: 100%;
}

.sandbox-navigation-head {
  .header-text {
    padding-bottom: 0;
  }
}

.sandbox-navigation-content label {
  cursor: pointer;
  &.tick {
    white-space: nowrap;
  }
}

.sandbox-navigation-section {
  display: none;
  &.active {
    display: block;
  }
}

.link-locked {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  a::after {
    content: '';
    width: 1em;
    height: 1em;
    margin-right: 4px;
    transform: translate(4px, 2.5px);
    display: inline-block;
  }
}

.inputs {
  display: grid;
  grid-template-columns: minmax(40%, 3fr) auto auto;
  row-gap: 12px;

  & > .cell-button {
    align-self: flex-end;
    display: flex;
    margin-left: 1em;

    .label {
      display: none;
    }

    @media (min-width: variables-bp.$bp-med) {
      margin-left: 2em;
      .label {
        display: block;
      }
    }

    & + .cell-button {
      align-self: flex-end;
      display: flex;
      margin-left: 1em;
    }
  }

  & > .cell-errors {
    grid-column: 1/4;
  }

  .tick::after {
    left: -2px;
    top: 1px;
  }
}
