<main class="sandbox-navigation">
  <div class="sandbox-navigation-head" [ngClass]="{ 'mini-nav': isMiniNav }">
    <ng-container *ngFor="let stepConf of sandboxNavConf; let i = index">
      <h1 class="header-text" *ngIf="currentStepIndex === i">
        @if(stepConf.stepType === EnumSandboxPageType.HOME){
        <span>Welcome to</span><span class="br">Metis Sandbox!</span>
        } @else if(![EnumSandboxPageType.COOKIE_POLICY,
        EnumSandboxPageType.PRIVACY_STATEMENT].includes(stepConf.stepType)) {
        {{ stepConf.stepTitle }}
        }
      </h1>
    </ng-container>

    <sb-navigation-orbs
      ariaLabel="Page Navigation"
      class="sb-navigation-orbs"
      [maxUncollapsed]="sandboxNavConf.length"
      [count]="sandboxNavConf.length - 2"
      [fnClassMapOuter]="getNavOrbConfigOuter.bind(this)"
      [fnClassMapInner]="getNavOrbConfigInner.bind(this)"
      [links]="getNavOrbLinks()"
      (clickEvent)="setPage($event, false, true, false)"
      [tooltips]="tooltips"
    ></sb-navigation-orbs>
  </div>
  <div class="sandbox-navigation-content">
    <router-outlet></router-outlet>

    <sb-upload
      [showing]="currentStepType === EnumSandboxPageType.UPLOAD"
      (notifySubmitted)="dataUploaded($event)"
      (notifyBusy)="setBusyUpload($event)"
    >
    </sb-upload>

    <sb-home
      [showing]="currentStepType === EnumSandboxPageType.HOME"
      (appEntryLink)="callSetPage($event, getStepIndex(SandboxPageType.PROGRESS_TRACK), ['link'])"
      (showAllRecent)="showAllRecent()"
    ></sb-home>

    <sb-progress-tracker
      *ngIf="progressData"
      class="sb-progress-tracker"
      [showing]="currentStepType === EnumSandboxPageType.PROGRESS_TRACK"
      [progressData]="progressData"
      [formValueDatasetId]="formProgress.value.datasetToTrack"
      [datasetId]="trackDatasetId"
      [isLoading]="sandboxNavConf[getStepIndex(SandboxPageType.PROGRESS_TRACK)].isPolling"
      (openReport)="openReport($event)"
    ></sb-progress-tracker>

    <div
      [ngClass]="{
        active: currentStepType === EnumSandboxPageType.PROBLEMS_DATASET
      }"
      class="sandbox-navigation-section"
    >
      <sb-problem-viewer
        *ngIf="problemPatternsDataset"
        [progressData]="progressRegistry[problemPatternsDataset.datasetId]"
        [problemPatternsDataset]="problemPatternsDataset"
        (openLinkEvent)="followProblemPatternLink($event)"
        [pageData]="sandboxNavConf[getStepIndex(SandboxPageType.PROBLEMS_DATASET)]"
      ></sb-problem-viewer>
    </div>

    <div
      [ngClass]="{
        active: currentStepType === EnumSandboxPageType.PROBLEMS_RECORD
      }"
      class="sandbox-navigation-section"
    >
      <sb-problem-viewer
        #problemViewerRecord
        *ngIf="problemPatternsRecord"
        [problemPatternsRecord]="problemPatternsRecord"
        (openLinkEvent)="followProblemPatternLink($event)"
        (onError)="
          sandboxNavConf[this.getStepIndex(EnumSandboxPageType.PROBLEMS_RECORD)].error = $event
        "
        [pageData]="sandboxNavConf[getStepIndex(SandboxPageType.PROBLEMS_RECORD)]"
      ></sb-problem-viewer>
    </div>

    <div
      [ngClass]="{ active: currentStepType === EnumSandboxPageType.REPORT }"
      [formGroup]="formRecord"
      class="sandbox-navigation-section"
      *ngIf="recordReport"
    >
      <sb-record-report [report]="recordReport" #reportComponent></sb-record-report>
    </div>

    <sb-privacy-statement
      [showing]="currentStepType === EnumSandboxPageType.PRIVACY_STATEMENT"
    ></sb-privacy-statement>

    <sb-cookie-policy
      [showing]="currentStepType === EnumSandboxPageType.COOKIE_POLICY"
    ></sb-cookie-policy>

    <div
      class="inputs"
      *ngIf="defaultInputsShown()"
      [ngStyle]="{
        'padding-top': pushInputsForDropIn() + 'px'
      }"
    >
      <span>
        <sb-drop-in
          #dropInDatasetId
          [dropInFieldName]="'datasetToTrack'"
          [form]="formProgress"
          [source]="dropInService.getUserDatasetsPolledObservable()"
          (refreshModelSignal)="dropInService.refreshUserDatsetPoller()"
          (pauseModelSignal)="dropInService.cleanup()"
          (requestPagePush)="dropInPush($event)"
          (requestDropInFieldFocus)="fnFocusDatasetToTrack($event)"
        ></sb-drop-in>
        <label
          i18n="track id label"
          for="dataset-to-track"
          [ngClass]="{ asterisked: !formProgress.valid, tick: formProgress.valid }"
          >Enter the id of a <strong>dataset</strong> to track
        </label>
        <span [formGroup]="formProgress" class="field-wrapper" [ngClass]="getConnectClasses('top')">
          <input
            #datasetToTrack
            formControlName="datasetToTrack"
            class="drop-in-source"
            data-e2e="datasetToTrack"
            autofocus
            autocomplete="off"
            id="dataset-to-track"
            (keyup.esc)="dropInDatasetId.fieldEscape()"
            (keydown.tab)="dropInDatasetId.close(false)"
            (keyup.enter)="
              dropInDatasetId.closeThenExecute(fnSubmitProgress.bind(this))
            "
            (keyup.shift.enter)="
              dropInDatasetId.closeThenExecute(fnSubmitProblems.bind(this))
            "
          />
          <ng-container *ngIf="!formProgress.value.datasetToTrack">
            <a
              *ngIf="dropInDatasetId.modelData().length"
              class="drop-in-opener"
              tabindex="0"
              title="Your datasets (esc)"
              (click)="dropInDatasetId.open(datasetToTrack)"
              (keyup.enter)="dropInDatasetId.open(datasetToTrack)"
              (keyup.esc)="dropInDatasetId.open(datasetToTrack)"
            ></a>
          </ng-container>

          <ng-container *ngIf="formProgress.value.datasetToTrack; let val">
            <a
              *ngIf="val.length > 0"
              class="external-link"
              tabindex="0"
              target="_blank"
              title="preview dataset in europeana"
              href="{{ apiSettings.previewUrlPrefix }}/search?query=edm_datasetName:{{ val }}_*"
            ></a>
          </ng-container>
        </span>
      </span>
      <span class="cell-button">
        <button
          class="submit-button"
          [disabled]="!formProgress.valid"
          data-e2e="submitProgress"
          i18n="track button|submits the track id button@@submitTrackId"
          (click)="onSubmitProgress(ButtonAction.BTN_PROGRESS, true)"
        >
          <span class="icon track"></span>
          <span class="label">Track</span>
        </button>
      </span>
      <span class="cell-button">
        <button
          [disabled]="!formProgress.valid"
          class="submit-button"
          i18n="dataset problems button|submits the dataset id button@@submitDatasetIdProblems"
          data-e2e="submitDatasetProblems"
          (click)="onSubmitProgress(ButtonAction.BTN_PROBLEMS, true)"
        >
          <span class="icon"></span>
          <span class="label">Issues (Overview)</span>
        </button>
      </span>

      <ng-container *ngIf="formProgress.get('datasetToTrack')?.errors; let errors">
        <span class="cell-errors field-errors" *ngIf="errors.invalid">
          <span class="errors" i18n="Field error@@invalidDatasetId"
            >Please provide a valid dataset id</span
          >
        </span>
      </ng-container>
      <span [ngClass]="getConnectClasses('bottom')">
        <label
          i18n="track id label"
          for="record-to-track"
          [attr.disabled]="formProgress.valid ? null : true"
          [ngClass]="{ asterisked: !formRecord.valid, tick: formRecord.valid }"
          >Enter the id of a <strong>record</strong>&nbsp;</label
        >
        <span [formGroup]="formRecord" class="field-wrapper">
          <input
            formControlName="recordToTrack"
            data-e2e="recordToTrack"
            autocomplete="off"
            id="record-to-track"
            (keyup.enter)="onSubmitRecord(ButtonAction.BTN_RECORD, true)"
            (keyup.shift.enter)="onSubmitRecord(ButtonAction.BTN_PROBLEMS, true)"
          />
          <ng-container *ngIf="formRecord.value.recordToTrack; let val">
            <a
              *ngIf="val.length > 0"
              class="external-link"
              tabindex="0"
              target="_blank"
              title="preview record in europeana"
              href="{{ apiSettings.previewUrlPrefix }}/item{{ val }}"
            ></a>
          </ng-container>
        </span>
      </span>
      <span class="cell-button">
        <button
          [formGroup]="formRecord"
          [disabled]="!formRecord.valid"
          class="submit-button"
          i18n="report button|submits the record id button@@submitRecordId"
          data-e2e="submitRecord"
          (click)="onSubmitRecord(ButtonAction.BTN_RECORD, true)"
        >
          <span class="icon report"></span>
          <span class="label">Tier Report</span>
        </button>
      </span>
      <span class="cell-button">
        <button
          [formGroup]="formRecord"
          [disabled]="!formRecord.valid"
          class="submit-button"
          i18n="report problems button|submits the record id button@@submitRecordIdProblems"
          data-e2e="submitRecordProblems"
          (click)="onSubmitRecord(ButtonAction.BTN_PROBLEMS, true)"
        >
          <span class="icon"></span>
          <span class="label">Issues (Record)</span>
        </button>
      </span>

      <ng-container *ngIf="formRecord.get('recordToTrack'); let recordField">
        <ng-container
          *ngIf="formRecord.value.recordToTrack?.length && recordField.errors; let errors"
        >
          <span class="cell-errors field-errors" *ngIf="errors.invalid">
            <span class="errors" i18n="Field error@@invalidRecordId"
              >Please provide a valid record id</span
            >
          </span>
        </ng-container>
      </ng-container>
    </div>
    <!-- end grid -->

    <ng-container *ngIf="defaultInputsShown()">
      <ul class="inline-texts">
        <li *ngIf="currentStepType !== EnumSandboxPageType.PROGRESS_TRACK">
          <label class="inline-text"
            >Or
            <a
              class="link-internal"
              (click)="callSetPage($event, getStepIndex(SandboxPageType.PROGRESS_TRACK), ['link'])"
              data-e2e="link-progress-form"
              href="/dataset/{{ trackDatasetId }}"
              >track a dataset</a
            ></label
          >
        </li>

        @if(keycloak.authenticated && dropInDatasetId){
        <sb-recent
          [listView]="true"
          [listOpened]="!this.trackDatasetId"
          [model]="dropInDatasetId.modelData()"
          (showAllRecent)="dropInDatasetId.openPinnedAll(datasetToTrack.nativeElement)"
        ></sb-recent>
        }

        <li [attr.title]="keycloak.authenticated ? undefined : '(log in to enable)'">
          <label
            class="inline-text"
            [ngClass]="{ 'link-locked': !keycloak.authenticated }"
            i18n="create link link@@createLinkInternal"
            >Or
            <a
              [attr.tabindex]="keycloak.authenticated ? 0 : -1"
              class="link-internal"
              (click)="callSetPage($event, getStepIndex(SandboxPageType.UPLOAD), ['link'], true)"
              data-e2e="link-dataset-form"
              href="/new"
              >create a new dataset</a
            ></label
          >
        </li>
      </ul>
    </ng-container>
    <sb-http-errors
      [error]="sandboxNavConf[currentStepIndex].error"
      [onClose]="clearError.bind(this)"
    ></sb-http-errors>
  </div>
</main>
